<div fxLayout="column" fxFlex fxLayoutAlign="center">

    <div id="gantt-svg-root"></div>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
        <button
            mat-raised-button
            *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.MONTH.value"
            (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.MONTH.value)">
            {{Constants.GANTT_CHART_VIEW_TYPE.MONTH.label | translate}}
        </button>
        <button
            mat-raised-button
            *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.WEEK.value"
            (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.WEEK.value)">
            {{Constants.GANTT_CHART_VIEW_TYPE.WEEK.label | translate}}
        </button>
        <button
            mat-raised-button
            *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.DAY.value"
            (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.DAY.value)">
            {{Constants.GANTT_CHART_VIEW_TYPE.DAY.label | translate}}
        </button>
    </div>

</div>
