app-gantt-chart-delay-onset-dashlet {
    #svg-root {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        max-height: 600px;
        overflow-y: scroll;
        margin-bottom: 10px;
   }
}
