<div fxLayout="column" fxFlex fxLayoutAlign="center">

    <div id="gantt-svg-root"></div>

    <ng-container
        *ngIf="ganttData[0]?.children?.length > 0">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
            <button
                mat-raised-button
                *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.MONTH.value"
                (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.MONTH.value)">
                {{Constants.GANTT_CHART_VIEW_TYPE.MONTH.label | translate}}
            </button>
            <button
                mat-raised-button
                *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.WEEK.value"
                (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.WEEK.value)">
                {{Constants.GANTT_CHART_VIEW_TYPE.WEEK.label | translate}}
            </button>
            <button
                mat-raised-button
                *ngIf="viewType !== Constants.GANTT_CHART_VIEW_TYPE.DAY.value"
                (click)="changeView(Constants.GANTT_CHART_VIEW_TYPE.DAY.value)">
                {{Constants.GANTT_CHART_VIEW_TYPE.DAY.label | translate}}
            </button>
        </div>
    </ng-container>

    <div
        *ngIf="!loading && ganttData[0]?.children?.length < 1">
        {{ 'LNG_PAGE_DASHLET_GANTT_CHART_NO_DATA_LABEL' | translate }}
    </div>
</div>
