<div class="side-filters">

    <button class="sidenav-toggle" mat-raised-button (click)="openSideNav()">
        <span class="xt-icon">filter</span>
    </button>

    <div class="page-overlay mat-drawer-backdrop" [class.mat-drawer-shown]="sideNav.opened"
         (click)="closeSideNav()"></div>

    <mat-sidenav-container>

        <mat-sidenav #sideNav mode="over" fixedInViewport>

            <form #form="ngForm" (submit)="apply(form)">

                <!-- Columns to display -->
                <div *ngIf="columns.length > 0" class="section columns-section">

                    <div class="title">
                        {{'LNG_SIDE_FILTERS_SECTION_COLUMNS_TO_DISPLAY_TITLE' | translate}}
                    </div>

                    <div class="actions">
                        <!-- #TODO -->
                    </div>

                </div>

                <!-- Filters -->
                <div *ngIf="filterOptions.length > 0" class="section filters-section" fxLayout="column">

                    <div class="title">
                        {{'LNG_SIDE_FILTERS_TITLE' | translate}}
                    </div>

                    <div class="actions">

                        <div fxFlex fxLayout="row" class="switch-buttons">
                            <button fxFlex type="button" mat-raised-button
                                    [color]="isFilterOperator(RequestFilterOperator.AND) ? 'primary' : ''"
                                    (click)="setFilterOperator(RequestFilterOperator.AND)">
                                {{'LNG_SIDE_FILTERS_OPERATOR_LABEL_AND' | translate}}
                            </button>
                            <button fxFlex type="button" mat-raised-button
                                    [color]="isFilterOperator(RequestFilterOperator.OR) ? 'primary' : ''"
                                    (click)="setFilterOperator(RequestFilterOperator.OR)">
                                {{'LNG_SIDE_FILTERS_OPERATOR_LABEL_OR' | translate}}
                            </button>

                            <input type="hidden" name="filter[operator]" [(ngModel)]="appliedFilterOperator"/>
                        </div>
                    </div>

                    <div *ngFor="let filter of appliedFilters; let i = index" class="applied-filter" fxLayout="column">

                        <div *ngIf="i > 0" class="operator">
                            {{appliedFilterOperator}}
                        </div>

                        <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
                            <mat-card class="filter-details" fxFlex>
                                <button
                                    *ngIf="appliedFilters.length > 1"
                                    class="filter-details-delete-button"
                                    type="button" mat-icon-button
                                    (click)="deleteFilter(i)">
                                    <span class="xt-icon">delete</span>
                                </button>

                                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                                    <!-- Filter Type -->
                                    <app-form-select
                                        [name]="'filter[filters][' + i + '][filter]'"
                                        [(ngModel)]="filter.filter"
                                        [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                                        [options]="filterOptions"
                                        optionLabelKey="fieldLabel"
                                        optionValueKey="self">
                                    </app-form-select>

                                    <!-- Filter Comparator -->
                                    <app-form-select
                                        *ngIf="filter.filter && filter.hasMoreThanOneComparator"
                                        class="filter-comparator"
                                        [name]="'filter[filters][' + i + '][comparator]'"
                                        [(ngModel)]="filter.comparator"
                                        [placeholder]="'LNG_SIDE_FILTERS_COMPARATOR_LABEL' | translate"
                                        [options]="filter.allowedComparators[filter.filter.type]">
                                    </app-form-select>
                                </div>

                                <!-- TEXT Filter -->
                                <app-form-input
                                    *ngIf="filter.filter?.type === FilterType.TEXT"
                                    [name]="'filter[filters][' + i + '][value]'"
                                    [(ngModel)]="filter.value"
                                    [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate">
                                </app-form-input>

                                <!-- SELECT / MULTI-SELECT Filter -->
                                <app-form-select
                                    *ngIf="filter.filter?.type === FilterType.SELECT || filter.filter?.type === FilterType.MULTISELECT"
                                    [name]="'filter[filters][' + i + '][value]'"
                                    [(ngModel)]="filter.value"
                                    [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                                    [options]="filter.filter.options$ | async"
                                    [multiple]="filter.filter.type === FilterType.MULTISELECT">
                                </app-form-select>

                                <!-- NUMBER RANGE Filter -->
                                <app-form-range
                                    *ngIf="filter.filter?.type === FilterType.RANGE_NUMBER"
                                    [name]="'filter[filters][' + i + '][value]'"
                                    [ngModel]="filter.value"
                                    (changed)="filter.value = $event;"
                                    [fromVisible]="filter.comparator === FilterComparator.BETWEEN || filter.comparator === FilterComparator.AFTER"
                                    [toVisible]="filter.comparator === FilterComparator.BETWEEN || filter.comparator === FilterComparator.BEFORE">
                                </app-form-range>

                                <!--DATE RANGE Filter-->
                                <app-form-daterange
                                    *ngIf="filter.filter?.type === FilterType.RANGE_DATE"
                                    [name]="'filter[filters][' + i + '][value]'"
                                    [ngModel]="filter.value"
                                    (changed)="filter.value = $event;"
                                    [startDateVisible]="filter.comparator === FilterComparator.BETWEEN || filter.comparator === FilterComparator.AFTER"
                                    [endDateVisible]="filter.comparator === FilterComparator.BETWEEN || filter.comparator === FilterComparator.BEFORE">
                                </app-form-daterange>

                            </mat-card>
                        </div>

                    </div>

                    <button fxFlex="50" type="button" mat-button color="primary" (click)="addFilter()">
                        {{'LNG_SIDE_FILTERS_ADD_ANOTHER_FILTER_BUTTON' | translate}}
                    </button>

                </div>

                <!-- Sort Criterias -->
                <div *ngIf="sortOptions.length > 0" class="section sort-section">

                    <div class="title">
                        {{'LNG_SIDE_FILTERS_SECTION_SORT_TITLE' | translate}}
                    </div>

                    <div class="actions">
                        <!-- #TODO -->
                    </div>

                </div>

                <button *ngIf="selectedColumns.length > 0 || appliedFilters.length > 0 || appliedSort.length > 0"
                        type="submit" class="button-primary" mat-raised-button color="primary">
                    {{'LNG_SIDE_FILTERS_APPLY_FILTERS_BUTTON' | translate}}
                </button>

            </form>

        </mat-sidenav>

    </mat-sidenav-container>

</div>
