@import '~styles/common';

// variables

// styles
.side-filters {
    position: absolute;
    top: 0;
    left: 0;

    .page-overlay {
        width: 100vw;
        height: 100vh;
    }

    mat-sidenav-container {
        position: absolute;
        z-index: 10;

        mat-sidenav {
            margin-top: 10vh;
            max-height: 80vh;
            width: 300px;
            padding: 15px;
            height: auto;
            bottom: unset !important;
            overflow-x: hidden;

            .side-filters-reset-button {
                float: right;
            }
        }
    }

    .sidenav-toggle {
        background-color: white;
        margin-top: 155px;
        padding: 7px 5px;
    }

    .section {

        &:not(:first-child) {
            margin-top: 20px;
        }

        .title {
            font-size: 22px;
            padding-bottom: 10px;
        }
    }

    .add-side-filter {
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
    }

    .filters-section {

        .applied-filter {

            .operator {
                padding-left: 20px;
            }

            .filter-container {
                margin: 10px 0;
                position: relative;

                .filter-details {
                    min-width: 90%;

                    .filter-details-delete-button {
                        position: absolute;
                        right: 0;
                        top: 50%;
                    }

                    .mat-form-field-infix {
                        width: auto;
                    }
                }
            }
        }
    }

    .sort-section {
        .applied-sort {
            .sort-container {
                margin: 10px 0;
                position: relative;

                .sort-details {
                    min-width: 90%;

                    .sort-details-delete-button {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    .mat-form-field-infix {
                        width: auto;
                    }
                }
            }
        }
    }
}
