<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<app-import-data
    [allowedExtensions]="allowedExtensions"
    [title]="'LNG_PAGE_IMPORT_CASE_DATA_TITLE'"
    [displayLoading]="displayLoading"
    (finished)="finished()"
    [importFileUrl]="importFileUrl"
    [importDataUrl]="importDataUrl"
    [model]="ImportServerModelNames.CASE"
    [fieldsWithoutTokens]="fieldsWithoutTokens"
    [addressFields]="addressFields"
    [useOutbreakLocations]="true"
    [requiredDestinationFields]="requiredDestinationFields"
    [savedImportPage]="Constants.APP_IMPORT_PAGE.CASE.value"
    [extraDataUsedToFormatData]="selectedOutbreak?.caseInvestigationTemplate"
    [formatDataBeforeUse]="formatDataBeforeUse"
    [asyncImport]="true">
</app-import-data>
