<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content create-outbreak-page">

    <mat-horizontal-stepper linear #stepper>

        <!-- step Details -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_TAB_DETAILS' | translate}}</ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="newOutbreakTemplate.name"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true">
                            </app-form-input>

                            <app-form-select
                                name="disease"
                                [(ngModel)]="newOutbreakTemplate.disease"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE_DESCRIPTION"
                                [options]="diseasesList$ | async">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="newOutbreakTemplate.periodOfFollowup"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="newOutbreakTemplate.frequencyOfFollowUpPerDay"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="newOutbreakTemplate.noDaysAmongContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysInChains"
                                [(ngModel)]="newOutbreakTemplate.noDaysInChains"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="newOutbreakTemplate.noDaysNotSeen"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="newOutbreakTemplate.noLessContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="newOutbreakTemplate.longPeriodsBetweenCaseOnset"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNewContacts"
                                [(ngModel)]="newOutbreakTemplate.noDaysNewContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT_DESCRIPTION"
                                type="number">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>

                <div class="stepper-wrapper">
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>

            </form>
        </mat-step>

        <!-- step Case Investigation - questionnaire -->
        <mat-step [stepControl]="caseInvestigationForm">
            <form #caseInvestigationForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_TAB_CASE_INVESTIGATION' | translate}}</ng-template>
                <!-- questions list -->
                <app-form-question-list
                    name="caseInvestigationTemplate"
                    [ngModel]="newOutbreakTemplate.caseInvestigationTemplate">
                </app-form-question-list>
                <!-- btn save case investigation questionnaire -->
                <div class="stepper-wrapper">
                    <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- step Contact Follow-up - questionnaire -->
        <mat-step [stepControl]="contactFollowUpForm">
            <form #contactFollowUpForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_TAB_CONTACT_FOLLOWUP' | translate}}</ng-template>
                <!-- questions list -->
                <app-form-question-list
                    name="contactFollowUpTemplate"
                    [ngModel]="newOutbreakTemplate.contactFollowUpTemplate">
                </app-form-question-list>
                <!-- btn save contact followup questionnaire -->
                <div class="stepper-wrapper">
                    <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- step Lab Results - questionnaire -->
        <mat-step [stepControl]="labResultsForm">
            <form #labResultsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_TAB_LAB_RESULTS' | translate}}</ng-template>
                <!-- questions list -->
                <app-form-question-list
                    name="labResultsTemplate"
                    [ngModel]="newOutbreakTemplate.labResultsTemplate">
                </app-form-question-list>
                <!-- btn save lab results questionnaire -->
                <div class="stepper-wrapper">
                    <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step - submit -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}</ng-template>
            <br><br><br>
            <div fxLayout="row" fxLayoutGap="50px" fxFlex fxFlexAlign="center">
                {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            </div>
            <br><br><br>
            <div class="stepper-wrapper">
                <button matStepperPrevious mat-raised-button type="button">{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button type="button" mat-raised-button color="accent"
                        (click)="createOutbreakTemplate([detailsForm, caseInvestigationForm, contactFollowUpForm, labResultsForm ])">
                    {{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_ACTION_CREATE_OUTBREAK_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>

</div>
