<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content create-outbreak-page">

    <mat-horizontal-stepper linear #stepper>

        <!-- step Details -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_TAB_DETAILS' | translate}}</ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="name"
                                [(ngModel)]="newOutbreakTemplate.name"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                app-general-async-validator
                                [asyncValidatorObservable]="outbreakTemplateNameValidator$">
                            </app-form-input>

                            <app-form-select
                                name="disease"
                                [(ngModel)]="newOutbreakTemplate.disease"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE_DESCRIPTION"
                                [options]="diseasesList$ | async">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="generateFollowUpsTeamAssignmentAlgorithm"
                                [(ngModel)]="newOutbreakTemplate.generateFollowUpsTeamAssignmentAlgorithm"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_TEAM_ASSIGNMENT_ALGORITHM' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_TEAM_ASSIGNMENT_ALGORITHM_DESCRIPTION"
                                optionTooltipKey="description"
                                [options]="followUpsTeamAssignmentAlgorithm$ | async"
                                [required]="true"
                                [clearable]="false">
                            </app-form-select>

                            <app-form-slide-toggle
                                name="generateFollowUpsOverwriteExisting"
                                [(ngModel)]="newOutbreakTemplate.generateFollowUpsOverwriteExisting"
                                [label]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_OVERWRITE_EXISTING' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_OVERWRITE_EXISTING_DESCRIPTION">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="generateFollowUpsKeepTeamAssignment"
                                [(ngModel)]="newOutbreakTemplate.generateFollowUpsKeepTeamAssignment"
                                [label]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_KEEP_TEAM_ASSIGNMENT' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_GENERATION_KEEP_TEAM_ASSIGNMENT_DESCRIPTION">
                            </app-form-slide-toggle>

                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="newOutbreakTemplate.periodOfFollowup"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="newOutbreakTemplate.frequencyOfFollowUpPerDay"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="newOutbreakTemplate.noDaysAmongContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysInChains"
                                [(ngModel)]="newOutbreakTemplate.noDaysInChains"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="newOutbreakTemplate.noDaysNotSeen"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="newOutbreakTemplate.noLessContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="newOutbreakTemplate.longPeriodsBetweenCaseOnset"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS_DESCRIPTION"
                                required="true"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNewContacts"
                                [(ngModel)]="newOutbreakTemplate.noDaysNewContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT_DESCRIPTION"
                                type="number">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-slide-toggle
                                name="isContactLabResultsActive"
                                [(ngModel)]="newOutbreakTemplate.isContactLabResultsActive"
                                [label]="'LNG_OUTBREAK_TEMPLATE_FIELD_IS_CONTACT_LAB_RESULTS_ACTIVE' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_IS_CONTACT_LAB_RESULTS_ACTIVE_DESCRIPTION">
                            </app-form-slide-toggle>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>

            </form>
        </mat-step>

        <!-- Final step - submit -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}</ng-template>
            <br><br><br>
            <div fxLayout="row" fxLayoutGap="50px" fxFlex fxFlexAlign="center">
                {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            </div>
            <br><br><br>
            <div class="stepper-navigation-buttons">
                <button matStepperPrevious mat-raised-button type="button">{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button type="button" mat-raised-button color="accent"
                        (click)="createOutbreakTemplate([detailsForm])">
                    {{'LNG_PAGE_CREATE_OUTBREAK_TEMPLATE_ACTION_CREATE_OUTBREAK_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>

</div>
