app-modify-reference-data-entry {
    .ref-data-color-picker {
        width: ~'calc(100% - 20px)';
        margin-right: 20px;
        height: 24px;
        border: 1px solid #CCC;
        text-align: center;
        font-weight: bold;
        color: black;
    }

    .fit-color-picker {
        overflow: visible !important;
    }
}
