app-form-ngx-wig {
    width: 100%;

    ngx-wig {
        .ng-wig {
            margin-bottom: 16px !important;

            img.ngx-wig-img:hover,
            img.ngx-wig-link:hover {
                cursor: pointer;
            }
        }
    }
}
