<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <form #form="ngForm" (submit)="changePassword(form)">

        <div fxLayout="column">

            <app-form-input
                type="password"
                name="oldPassword"
                [(ngModel)]="passwordChange.oldPassword"
                placeholder="Current Password"
                required="true">
            </app-form-input>

            <app-form-input
                type="password"
                name="newPassword"
                [(ngModel)]="passwordChange.newPassword"
                placeholder="New Password"
                required="true"
                app-passwordValidator
                app-triggerValidationFor="newPasswordConfirm">
            </app-form-input>

            <app-form-input
                type="password"
                name="newPasswordConfirm"
                [(ngModel)]="passwordConfirmModel"
                placeholder="Confirm New Password"
                required="true"
                app-equalValidator="newPassword">
            </app-form-input>

            <button mat-raised-button color="primary">Change Password</button>
        </div>

    </form>
</mat-card>
