<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="changePassword(form)">

    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_RESET_PASSWORD_TAB_CHANGE_PASSWORD_TITLE'| translate">

                <!-- Password Change section -->
                <mat-card class="page-section">
                    <div *ngIf="!passwordChanged">

                        <div fxLayout="column">

                            <div class="password-change-required" *ngIf="authUser.passwordChange">
                                {{'LNG_PAGE_CHANGE_PASSWORD_DESCRIPTION' | translate}}
                            </div>

                            <app-form-input
                                type="password"
                                name="oldPassword"
                                [(ngModel)]="passwordChange.oldPassword"
                                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CURRENT_PASSWORD' | translate"
                                tooltip="LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CURRENT_PASSWORD_DESCRIPTION"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                type="password"
                                name="newPassword"
                                [(ngModel)]="passwordChange.newPassword"
                                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD' | translate"
                                tooltip="LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD_DESCRIPTION"
                                required="true"
                                app-password-validator
                                app-trigger-validation-for="newPasswordConfirm">
                            </app-form-input>

                            <app-form-input
                                type="password"
                                name="newPasswordConfirm"
                                [(ngModel)]="passwordConfirmModel"
                                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD' | translate"
                                tooltip="LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD_DESCRIPTION"
                                required="true"
                                app-equal-validator="newPassword">
                            </app-form-input>

                        </div>

                    </div>

                    <div *ngIf="passwordChanged">

                        <div class="security-questions-notification">
                            {{'LNG_PAGE_CHANGE_PASSWORD_SECURITY_QUESTIONS_NOTIFICATION' | translate}}
                        </div>

                        <button mat-raised-button type="button" [routerLink]="['/account/set-security-questions']"
                                color="primary"> {{'LNG_PAGE_CHANGE_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate}}
                        </button>
                        <button type="button" [routerLink]="['/']" mat-raised-button color="basic">
                            {{'LNG_PAGE_CHANGE_PASSWORD_LATER_BUTTON' | translate}}
                        </button>

                    </div>
                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button color="accent">
            {{'LNG_PAGE_RESET_PASSWORD_BUTTON' | translate}}
        </button>
    </div>
</form>
