<app-create-view-modify-v2
  [action]="action"
  [loadingPage]="loadingPage"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [itemID]="itemData?.id"
  [tabData]="tabData">
</app-create-view-modify-v2>


<!--<form class="page-content form-section" #form="ngForm" (submit)="changePassword(form)">-->

<!--    <div class="form-content">-->

<!--        <mat-tab-group class="page-tabs-navbar">-->

<!--            <mat-tab [label]="'LNG_PAGE_RESET_PASSWORD_TAB_CHANGE_PASSWORD_TITLE' | translate">-->

<!--                &lt;!&ndash; Password Change section &ndash;&gt;-->
<!--                <mat-card class="page-section">-->
<!--                    <div *ngIf="!passwordChanged">-->
<!-- .... -->

<!--                    </div>-->

<!--                    <div *ngIf="passwordChanged">-->

<!--                        <div class="security-questions-notification">-->
<!--                            {{'LNG_PAGE_CHANGE_PASSWORD_SECURITY_QUESTIONS_NOTIFICATION' | translate}}-->
<!--                        </div>-->

<!--                        <button mat-raised-button type="button" [routerLink]="['/account/set-security-questions']"-->
<!--                                color="primary"> {{'LNG_PAGE_CHANGE_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate}}-->
<!--                        </button>-->
<!--                        <button type="button" [routerLink]="['/']" mat-raised-button color="basic">-->
<!--                            {{'LNG_PAGE_CHANGE_PASSWORD_LATER_BUTTON' | translate}}-->
<!--                        </button>-->

<!--                    </div>-->
<!--                </mat-card>-->

<!--            </mat-tab>-->

<!--        </mat-tab-group>-->
<!--    </div>-->

<!--    <div class="form-actions" *ngIf="!passwordChanged">-->
<!--        <div class="page-tabs-navbar-placeholder"></div>-->

<!--        <button mat-raised-button color="accent">-->
<!--            {{'LNG_PAGE_RESET_PASSWORD_BUTTON' | translate}}-->
<!--        </button>-->
<!--    </div>-->
<!--</form>-->
