/* AG Grid */
.gd-list-table-data {
  color: var(--gd-text);
  font-family: $gd-font-family;
  font-size: $gd-font-size;
  font-weight: 400;
  line-height: 2.4rem;

  &.ag-theme-balham {
    .ag-root-wrapper {
      border-color: rgba(var(--gd-secondary-rgb), 0.25);
    }

    /* AgGrid header */
    .ag-header {
      background-color: rgba(var(--gd-secondary-rgb), 0.1);
      border-bottom-color: rgba(var(--gd-secondary-rgb), 0.25);

      .ag-pinned-left-header {
        border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
      }

      .ag-pinned-right-header {
        border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
      }
  
      /* AgGrid header row */
      .ag-header-row {
        color: var(--gd-text);
        font-weight: 700;
      }
  
      /* AgGrid header cell */
      .ag-header-cell,
      .ag-header-group-cell {
        padding: 0.8rem;
  
        &:after {
          background-color: rgba(var(--gd-secondary-rgb), 0.25);
          height: 100%;
          top: 0;
        }
      }
    }

    /* AgGrid content */
    .ag-body-viewport {
      /* AgGrid content row */
      .ag-row {
        background-color: var(--gd-background);
        border-color: rgba(var(--gd-secondary-rgb), 0.25);
        color: var(--gd-text);

        &.ag-row-odd {
          background-color: var(--gd-background);
        }

        &.ag-row-hover {
          background-color: rgba(var(--gd-primary-rgb), 0.05);
        }

        &.ag-row-selected {
          background-color: rgba(var(--gd-primary-rgb), 0.1);
        }

        /* AgGrid content cell */
        .ag-cell {
          line-height: 2.4rem;
          padding: 0.8rem;

          &.ag-cell-last-left-pinned {
            &:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
              border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
            }
          }

          &.ag-cell-first-right-pinned {
            &:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
              border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
            }
          }

          &.gd-cell-button {
            .ag-cell-value {
              width: 100%;
            }

            .gd-list-table-button {
              button.mat-flat-button,
              a.mat-flat-button {
                line-height: 2.4rem;
                padding: 0;
                width: 100%;
  
                .mat-button-focus-overlay,
                .mat-ripple {
                  display: none;
                }
              }
            }
          }
        }
      }

      /* AgGrid row focused */
      &.ag-has-focus {
        .ag-cell-focus:not(.ag-cell-range-selected) {
          border-color: var(--gd-primary);
        }

        .ag-row {
          .ag-cell {
            &.ag-cell-last-left-pinned {
              &:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
                &.ag-cell-focus {
                  border-right-color: var(--gd-primary);

                  &.gd-cell-no-focus {
                    border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
                  }
                }
              }
            }
  
            &.ag-cell-first-right-pinned {
              &:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
                &.ag-cell-focus {
                  border-left-color: var(--gd-primary);

                  &.gd-cell-no-focus {
                    border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
                  }
                }
              }
            }

            &.gd-cell-no-focus {
              border-color: transparent;
            }
          }
        }
      }
    }

    /* AgGrid checkboxes */
    .ag-checkbox {
      &.ag-header-select-all {
        margin-right: 0;
      }

      .ag-checkbox-input-wrapper {
        background-color: transparent;
        font-family: 'Material Icons';
        font-size: 2.4rem;
        height: 2.4rem;
        line-height: 2.4rem;
        width: 2.4rem;

        &:after {
          color: var(--gd-secondary);
          content: '\e835';
        }

        &.ag-checked {
          &:after {
            color: var(--gd-primary);
            content: '\e834';
          }
        }

        &.ag-indeterminate {
          &:after {
            color: var(--gd-primary);
            content: '\e909';
          }
        }

        &:focus,
        &:focus-within,
        &:active {
          @include box-shadow(none);
        }
      }
    }
  }
}
