/* Drag & Drop */
.cdk-drop-list {
  .gd-drag-custom-placeholder {
    background: rgba(var(--gd-primary-alt-rgb), 0.25);
    border: 0.2rem dotted var(--gd-primary-alt);
    @include border-radius(0.4rem);
    @include transition(transform 250ms cubic-bezier(0, 0, 0.2, 1));
  }

  .cdk-drag-animating {
    @include transition(transform 250ms cubic-bezier(0, 0, 0.2, 1));
  }

  .cdk-drag {
    &.cdk-drag-preview {
      background: rgba(var(--gd-background-rgb), 0.75);
      @include border-radius(0.4rem);
      @include box-sizing(border-box);
      @include box-shadow(0 0.5rem 0.5rem -0.3rem rgb(0, 0, 0, 0.2),
                          0 0.8rem 1rem 0.1rem rgb(0, 0, 0, 0.14),
                          0 0.3rem 1.4rem 0.2rem rgb(0, 0, 0, 0.12));
    }
  }

  &.cdk-drop-list-dragging {
    .cdk-drag {
      @include opacity(0.5);
      @include transition(transform 250ms cubic-bezier(0, 0, 0.2, 1));

      &.cdk-drag-preview {
        @include opacity(1);
      }
    }
  }
}
