/* Menu Options */
.cdk-overlay-pane {
  &:not(.gd-cdk-overlay-pane-main-menu) {
    .mat-menu-panel {
      max-height: 50vh;

      .mat-menu-content:not(:empty) {
        padding: 0;
      }

      .mat-menu-item {
        color: var(--gd-text);
        font-family: $gd-font-family;
        height: 4rem;
        line-height: 4rem;

        &:hover {
          background: rgba(var(--gd-primary-rgb), 0.1);
          color: var(--gd-primary);
        }

        &[disabled],
        &:disabled {
          background: rgba(var(--gd-secondary-rgb), 0.15);
          color: var(--gd-secondary);
        }
      }

      &.gd-create-view-modify-top-title-buttons-buttons-quick-options {
        .mat-menu-content {
          > div {
            background: rgba(var(--gd-secondary-rgb), 0.05);
            border-bottom: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
            color: var(--gd-secondary);
            font-size: 1.2rem;
            margin: 0;
            padding: 0.8rem 1.6rem;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
