/* Menu Options */
.cdk-overlay-pane {
  &:not(.gd-cdk-overlay-pane-main-menu) {
    .mat-menu-panel {
      max-height: 50vh;
      min-height: 0;

      .mat-menu-content:not(:empty) {
        padding: 0;
      }

      .mat-menu-item {
        color: var(--gd-text);
        font-family: $gd-font-family;
        height: 4rem;
        line-height: 4rem;

        &:hover {
          background: rgba(var(--gd-primary-rgb), 0.1);
          color: var(--gd-primary);
        }

        &[disabled],
        &:disabled {
          background: rgba(var(--gd-secondary-rgb), 0.15);
          color: var(--gd-secondary);
        }
      }

      &.gd-create-view-modify-top-title-buttons-buttons-quick-options {
        .mat-menu-content {
          > div {
            background: rgba(var(--gd-secondary-rgb), 0.05);
            border-bottom: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
            color: var(--gd-secondary);
            font-size: 1.2rem;
            margin: 0;
            padding: 0.8rem 1.6rem;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }
      }

      .gd-top-right-user-menu-option-user {
        padding: 0.8rem 1.6rem;

        .gd-top-right-user-menu-option-user-name {
          font-weight: 500;
          text-transform: uppercase;
        }

        .gd-top-right-user-menu-option-user-email {
          color: var(--gd-secondary);
        }
      }

      .gd-top-right-user-menu-option-active {
        background: rgba(var(--gd-primary-rgb), 0.1);
        color: var(--gd-primary);
      }

      .gd-top-right-user-menu-option-danger {
        color: var(--gd-danger);
        @include transition(0.4s ease);

        &:hover {
          background: rgba(var(--gd-danger-rgb), 0.1);
          color: var(--gd-danger);
        }
      }

      .gd-list-table-actions-action-menu-button,
      .gd-list-table-selection-header-button {
        &.gd-list-table-actions-action-menu-warning,
        &.gd-list-table-selection-header-button-warning {
          &:not([aria-disabled=true]) {
            color: var(--gd-danger);

            &:hover {
              background: rgba(var(--gd-danger-rgb), 0.1);
              color: var(--gd-danger);
            }
          }
        }
      }
    }
  }
}
