/* Pagination */
.mat-paginator {
  background: var(--gd-background);
  @include border-radius(0 0 0.4rem 0.4rem);
  color: var(--gd-text);
  font-family: $gd-font-family;
  font-size: 1.2rem;

  .mat-paginator-container {
    flex-wrap: nowrap;
    min-height: 4.8rem;
    padding: 0.8rem;
  }

  /* Pagination select */
  .mat-paginator-page-size {
    @include flex_align_items(center);
    margin-right: 0;

    .mat-paginator-page-size-label {
      @include breakpoint('xxs') {
        display: none;
      }
    }

    .mat-paginator-page-size-select {
      height: auto;
      margin: 0;
      width: 7.5rem;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-subscript-wrapper {
        min-height: 0;
        padding: 0;
      }
    }

    .mat-form-field-infix {
      border: 0.1rem solid var(--gd-secondary);
      @include border-radius(0.4rem);
      padding: 0.8rem;
    }

    .mat-select-arrow {
      color: var(--gd-secondary);
    }

    .mat-focused {
      .mat-form-field-infix {
        border-color: var(--gd-primary);
      }

      .mat-select-arrow {
        color: var(--gd-primary);
      }
    }
  }

  .mat-paginator-range-label {
    margin: 0 2.4rem;

    @include breakpoint('xxs') {
      margin: 0 0.8rem;
    }
  }

  /* Pagination nav buttons */
  .mat-paginator-navigation-next {
    margin-left: 0.8rem;
  }

  button.mat-icon-button,
  a.mat-icon-button {
    font-size: 2rem;
    height: 3.2rem;
    min-width: 3.2rem;
    padding: 0.6rem;
    width: 3.2rem;

    svg.mat-paginator-icon {
      font-size: 2rem;
      height: 2rem;
      line-height: 1;
      width: 2rem;
    }
  }

  &.gd-list-table-bottom-disabled {
    @include opacity(0.5);
  }
}
