/* Slider */
.mat-slider {
  &.mat-slider-horizontal {
    width: 100%;

    &.mat-slider-min-value {
      &:not(.mat-slider-thumb-label-showing) {
        .mat-slider-wrapper {
          .mat-slider-thumb-container {
            .mat-slider-thumb {
              background-color: var(--gd-background);
            }
          }
        }
      }
    }

    .mat-slider-wrapper {
      .mat-slider-track-wrapper {
        .mat-slider-track-background {
          background-color: rgba(var(--gd-secondary-rgb), 0.25);
        }
      }
  
      .mat-slider-ticks-container {
        .mat-slider-ticks {
          background-image: repeating-linear-gradient(to right, rgba(var(--gd-secondary-rgb), 0.25), rgba(var(--gd-secondary-rgb), 0.25) 0.2rem, transparent 0, transparent);
          background-image: -moz-repeating-linear-gradient(0.0001deg, rgba(var(--gd-secondary-rgb), 0.25), rgba(var(--gd-secondary-rgb), 0.25) 0.2rem, transparent 0, transparent);
        }
      }
  
      .mat-slider-thumb-container {
        .mat-slider-focus-ring {
          background-color: rgba(var(--gd-secondary-rgb), 0.25);
        }
  
        .mat-slider-thumb {
          border-color: rgba(var(--gd-secondary-rgb), 0.25);
        }
      }
    }
  }

  &.mat-slider-has-ticks {
    .mat-slider-wrapper {
      &:after {
        border-color: rgba(var(--gd-secondary-rgb), 0.25);
      }
    }
  }

  &.mat-primary {
    .mat-slider-wrapper {
      .mat-slider-track-wrapper {
        .mat-slider-track-fill {
          background-color: var(--gd-primary);
        }
      }

      .mat-slider-thumb-container {
        .mat-slider-thumb {
          background-color: var(--gd-primary);
        }
  
        .mat-slider-thumb-label {
          background-color: var(--gd-primary);
        }
      }
    }
  }
}
