/* Tooltips */
/* Material */
.mat-tooltip-panel {
  pointer-events: none;

  .mat-tooltip {
    background: var(--gd-text);
    font-family: $gd-font-family;
    margin: 0.4rem;
    padding: 0.4rem 0.8rem;

    &.gd-tooltip-error {
      background: var(--gd-danger);
    }
  }
}

/* Popper */
div.ngxp__container {
  &.gd-form-input-v2-tooltip {
    background: var(--gd-text);
    border: 0 none;
    @include border-radius(0.4rem);
    @include box-shadow(none);
    color: var(--gd-background);
    font-family: $gd-font-family;
    font-size: 1rem;
    margin: 0;
    max-width: 25rem;
    overflow: hidden;
    padding: 0.4rem 0.8rem;
    text-overflow: ellipsis;

    .ngxp__arrow {
      display: none;
    }
  }

  &.ngxp__animation {
    animation: none;
  }
}
