app-team-workload {
    .team-workload-loading {
        height: 128px;
        text-align: center;

        @mat-spinner-width: 64px;
        @mat-spinner-height: 64px;
        mat-spinner {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            vertical-align: middle;
            width: @mat-spinner-width !important;
            height: @mat-spinner-height !important;

            svg {
                width: @mat-spinner-width !important;
                height: @mat-spinner-height !important;
            }
        }
    }

    a.team-workload-link {
        color: #0071e1;
        font-weight: bold;
        text-decoration: none;

        &:active {
            color: #0071e1;
            text-decoration: none;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .workload-table-wrapper {
        width: 100%;
        overflow: auto;
        min-height: 500px;
        max-height: 500px;
    }

    .team-workload-table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;

        th {
            height: 80px;
            text-align: left;
            padding: 8px;
            white-space: nowrap;
            /* Safari */
            -webkit-transform: rotate(-60deg);
            /* Firefox */
            -moz-transform: rotate(-60deg);
            /* IE */
            -ms-transform: rotate(-60deg);
            /* Opera */
            -o-transform: rotate(-60deg);
            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        }

        th:first-child {
            /* Safari */
            -webkit-transform: rotate(0deg);
            /* Firefox */
            -moz-transform: rotate(0deg);
            /* IE */
            -ms-transform: rotate(0deg);
            /* Opera */
            -o-transform: rotate(0deg);
            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
            border-right: 1px solid #ddd;
        }

        td {
            white-space: nowrap;
            text-align: center;
            padding: 8px;
            max-width: 200px;
        }

        tr td:first-child {
            border-right: 1px solid #ddd;
            text-align: left;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tr:first-child {
            border-bottom: 1px solid #ddd;
        }

    }
}
