<app-not-auth-template>

        <div class="not-auth-title">
            {{ 'LNG_PAGE_RESET_PASSWORD_TITLE' | translate }}
        </div>

        <form #form="ngForm" (submit)="resetPassword(form)">

            <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
                <div fxLayout="column" fxFlex>

                    <app-form-input
                        type="password"
                        name="newPassword"
                        [(ngModel)]="dataModel.newPassword"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD' | translate"
                        app-password-validator
                        app-trigger-validation-for="passwordConfirm">
                    </app-form-input>

                    <app-form-input
                        type="password"
                        name="passwordConfirm"
                        [(ngModel)]="passwordConfirmModel"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD' | translate"
                        required="true"
                        app-equal-validator="newPassword">
                    </app-form-input>

                    <button mat-raised-button class="not-auth-main-button">{{ 'LNG_PAGE_RESET_PASSWORD_BUTTON' | translate }}</button>

                </div>
            </div>

        </form>

</app-not-auth-template>
