<app-not-auth-template>
    <div class="not-auth-title">
        {{ 'LNG_PAGE_RESET_PASSWORD_TITLE' | translate }}
    </div>

    <form #form="ngForm" (submit)="resetPassword(form)" class="reset-password">

        <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
            <div fxLayout="column" fxFlex>

                <div
                    class="reset-pass-row-specific-height"
                    fxLayout="row">
                    <app-form-input
                        type="password"
                        name="newPassword"
                        [(ngModel)]="dataModel.newPassword"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD' | translate"
                        minlength="12"
                        required="true"
                        app-trigger-validation-for="passwordConfirm">
                    </app-form-input>
                </div>

                <div
                    class="reset-pass-row-specific-height"
                    fxLayout="row">
                    <app-form-input
                        type="password"
                        name="passwordConfirm"
                        [(ngModel)]="passwordConfirmModel"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD' | translate"
                        required="true"
                        app-equal-validator="newPassword">
                    </app-form-input>
                </div>

                <div fxLayout="column" class="app-theme">
                    <button mat-raised-button color="accent">
                        {{ 'LNG_PAGE_RESET_PASSWORD_BUTTON' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</app-not-auth-template>
