<mat-card class="page-section">

    <div style="text-align:center">
        <h1>
            Reset Password
        </h1>
    </div>


    <form #form="ngForm" (submit)="resetPassword(form)">

        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex>

                <app-form-input
                    type="password"
                    name="newPassword"
                    [(ngModel)]="dataModel.newPassword"
                    placeholder="New Password"
                    app-passwordValidator
                    app-triggerValidationFor="passwordConfirm">
                </app-form-input>

                <app-form-input
                    type="password"
                    name="passwordConfirm"
                    [(ngModel)]="passwordConfirmModel"
                    placeholder="Confirm New Password"
                    required="true"
                    app-equalValidator="newPassword">
                </app-form-input>

                <button mat-raised-button color="primary">Change Password</button>

            </div>
        </div>

    </form>

</mat-card>
