@import 'mixins';
@import 'font';

/* Spreadsheet Editor */
app-spreadsheet-editor-v2 {
  .gd-spreadsheet-editor {
    color: var(--gd-text);
    font-family: $gd-font-family;
    font-size: $gd-font-size;
    font-weight: 400;
    height: 100%;
    line-height: 2.4rem;
    min-height: 22rem;

    @media only screen and (max-height: 599px) {
      min-height: 0;
    }

    .ag-root-wrapper {
      border-color: rgba(var(--gd-secondary-rgb), 0.25);
      @include border-radius(0.4rem);
    }

    /* Spreadsheet header */
    .ag-header {
      background-color: rgba(var(--gd-secondary-rgb), 0.1);
      border-bottom-color: rgba(var(--gd-secondary-rgb), 0.25);

      .ag-pinned-left-header {
        border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
      }

      .ag-pinned-right-header {
        border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
      }

      /* Spreadsheet header row */
      .ag-header-row {
        color: var(--gd-text);
        font-weight: 700;
      }

      /* Spreadsheet header cell */
      .ag-header-cell {
        @include flex_align_items(flex-start);
        padding: 0;

        &:after {
          background-color: rgba(var(--gd-secondary-rgb), 0.25);
          height: 100%;
          top: 0;
        }

        &.ag-header-active {
          background-color: rgba(var(--gd-primary-rgb), 0.05);
        }

        &:not(.ag-column-hover) {
          &:first-of-type {
            &:not(.ag-header-cell-moving) {
              &:hover {
                background-color: rgba(var(--gd-primary-rgb), 0.05);
              }
            }
          }
        }

        &:not(.ag-column-resizing) {
          + .ag-header-cell {
            &:not(.ag-column-hover) {
              &:not(.ag-header-cell-moving) {
                &:hover {
                  background-color: rgba(var(--gd-primary-rgb), 0.05);
                }
              }
            }
          }
        }
      }
    }

    /* Spreadsheet content */
    .ag-body-viewport {
      /* Spreadsheet content row */
      .ag-row {
        background-color: var(--gd-background);
        border-bottom: 0 none;
        border-color: rgba(var(--gd-secondary-rgb), 0.25);
        color: var(--gd-text);

        &.ag-row-odd {
          background-color: var(--gd-background);
        }

        &.ag-row-hover {
          background-color: rgba(var(--gd-primary-rgb), 0.05);
        }

        &.ag-row-selected {
          background-color: rgba(var(--gd-primary-rgb), 0.1);

          &:before {
            display: none;
          }
        }

        /* Spreadsheet content cell */
        .ag-cell {
          line-height: 2.4rem;
          padding: 0.8rem;

          &.ag-cell-last-left-pinned {
            &:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
              border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
            }
          }

          &.ag-cell-first-right-pinned {
            &:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
              border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
            }
          }

          &.ag-column-hover {
            background-color: transparent;
          }
        }

        .gd-spreadsheet-editor-row-no {
          background-color: rgba(var(--gd-secondary-rgb), 0.1);
        }
      }

      /* Spreadsheet row focused */
      &.ag-has-focus {
        .ag-cell-focus:not(.ag-cell-range-selected) {
          border-color: var(--gd-primary);
        }

        .ag-row {
          .ag-cell {
            &.ag-cell-last-left-pinned {
              &:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
                &.ag-cell-focus {
                  border-right-color: var(--gd-primary);

                  &.gd-cell-no-focus {
                    border-right-color: rgba(var(--gd-secondary-rgb), 0.25);
                  }
                }
              }
            }

            &.ag-cell-first-right-pinned {
              &:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
                &.ag-cell-focus {
                  border-left-color: var(--gd-primary);

                  &.gd-cell-no-focus {
                    border-left-color: rgba(var(--gd-secondary-rgb), 0.25);
                  }
                }
              }
            }

            &.gd-cell-no-focus {
              border-color: transparent;
            }
          }
        }
      }
    }

    input[class^=ag-]:not([type]),
    input[class^=ag-][type=date],
    input[class^=ag-][type=datetime-local],
    input[class^=ag-][type=number],
    input[class^=ag-][type=tel],
    input[class^=ag-][type=text],
    textarea[class^=ag-] {
      border: 0.1rem solid var(--gd-secondary);
      @include border-radius(0);
      @include box-shadow(none);
      color: var(--gd-text);
      font-family: $gd-font-family;
      font-size: $gd-font-size;
      line-height: $gd-line-height;

      &:focus {
        border-color: var(--gd-primary);
      }
    }

    /* Spreadsheet Row Cell */
    .gd-spreadsheet-editor-v2-cell-row-no-renderer {
      border-width: 0.1rem;
      border-style: none solid solid none;
      border-color: transparent rgba(var(--gd-secondary-rgb), 0.25) rgba(var(--gd-secondary-rgb), 0.25) transparent;
      @include box-sizing(border-box);
      @include flex(flex);
      @include flex_align_items(center);
      height: 100%;
      width: 100%;

      .gd-spreadsheet-editor-v2-cell-row-no-renderer-value {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }

      &.gd-spreadsheet-editor-v2-cell-row-no-renderer-selected-partial {
        background-color: rgba(var(--gd-primary-rgb), 0.15);

        &.gd-spreadsheet-editor-v2-cell-row-no-renderer-invalid {
          background-color: rgba(var(--gd-danger-rgb), 0.35);
        }
      }

      &.gd-spreadsheet-editor-v2-cell-row-no-renderer-selected-full {
        background-color: var(--gd-primary);
        color: var(--gd-background);

        &.gd-spreadsheet-editor-v2-cell-row-no-renderer-invalid {
          background-color: var(--gd-danger);
          color: var(--gd-background);
        }
      }

      &.gd-spreadsheet-editor-v2-cell-row-no-renderer-invalid {
        background-color: rgba(var(--gd-danger-rgb), 0.25);
      }
    }

    /* Spreadsheet Cell */
    .gd-spreadsheet-editor-v2-cell-basic-renderer {
      /* Variables */
      --gd-spreadsheet-selected-cell-border-style: 0.1rem solid;
      --gd-spreadsheet-selected-cell-border-color: var(--gd-success);

      border-width: 0.1rem;
      border-style: solid;
      border-color: transparent rgba(var(--gd-secondary-rgb), 0.25) rgba(var(--gd-secondary-rgb), 0.25) transparent;
      @include box-sizing(border-box);
      display: block;
      height: 100%;
      width: 100%;

      .gd-spreadsheet-editor-v2-cell-basic-renderer-value {
        height: 100%;
        line-height: 2.6rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;

        > div {
          height: 100%;
          @include box-sizing(border-box);
          @include flex(flex);
          @include flex_direction(row);

          > div:first-child {
            overflow: hidden;
            text-overflow: ellipsis;

            &.gd-spreadsheet-editor-v2-cell-basic-renderer-value-text {
              @include box-sizing(border-box);
              @include flex_val(1 1 0);
            }
          }

          .gd-spreadsheet-editor-v2-cell-basic-renderer-value-icon {
            @include box-sizing(border-box);
            @include flex(flex);
            @include flex_direction(row);
            @include flex_align_items(center);

            &:hover {
              cursor: pointer;
            }
          }
        }

        .mat-icon {
          height: auto;
          width: auto;
        }

        img {
          height: 2rem;
          margin-right: 0.7rem;
          position: relative;
          top: 0.2rem;
          vertical-align: top;
          width: auto;
        }
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
        background-color: rgba(var(--gd-primary-rgb), 0.15);

        &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-fill {
          background-color: rgba(var(--gd-success-rgb), 0.15);
          cursor: cell;
        }
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-top {
        border-top: var(--gd-spreadsheet-selected-cell-border-style);
        border-top-color: var(--gd-spreadsheet-selected-cell-border-color);
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-bottom {
        border-bottom: var(--gd-spreadsheet-selected-cell-border-style);
        border-bottom-color: var(--gd-spreadsheet-selected-cell-border-color);
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-right {
        border-right: var(--gd-spreadsheet-selected-cell-border-style);
        border-right-color: var(--gd-spreadsheet-selected-cell-border-color);
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-left {
        border-left: var(--gd-spreadsheet-selected-cell-border-style);
        border-left-color: var(--gd-spreadsheet-selected-cell-border-color);
      }

      .gd-spreadsheet-editor-v2-cell-basic-renderer-fill {
        background-color: var(--gd-success);
        bottom: 0;
        @include box-sizing(border-box);
        display: none;
        height: 0.8rem;
        position: absolute;
        right: 0;
        width: 0.8rem;
        z-index: 99999;

        &.gd-spreadsheet-editor-v2-cell-basic-renderer-fill-visible {
          display: inline-block;
        }

        &:hover {
          cursor: cell;
        }
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-focused {
        border: 0.1rem solid var(--gd-success);
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-invalid {
        background-color: rgba(var(--gd-danger-rgb), 0.25);

        &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
          background-color: rgba(var(--gd-danger-rgb), 0.35);
        }
      }

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-readonly {
        background-color: rgba(var(--gd-secondary-rgb), 0.15);
        color: var(--gd-secondary);

        &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
          background-color: rgba(var(--gd-secondary-rgb), 0.25);
        }
      }
    }
  }
}
