<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [actionButton]="actionButton">

<!--  [loadingOverlayComponent]="AppListTableV2LoadingComponent"-->
<!--  [noRowsOverlayComponent]="AppListTableV2NoDataComponent"-->

  <!-- Spreadsheet Editor -->
  <ag-grid-angular
    class="ag-theme-balham gd-spreadsheet-editor"
    [modules]="modules"
    enableCellChangeFlash="true"
    undoRedoCellEditing="false"
    suppressRowClickSelection="true"
    suppressClipboardPaste="true"
    (gridReady)="gridReady($event)"
    (mouseleave)="gridMouseLeave()"
    (mousemove)="gridMouseMove($event)"
    (bodyScrollEnd)="gridBodyScrollEnd()">
  </ag-grid-angular>
</app-basic-page-v2>
