<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [actionButton]="actionButton">

<!--  [rowSelection]="groupActionsSingleRecord ? 'single' : 'multiple'"-->
<!--  suppressRowClickSelection="true"-->
<!--  suppressPropertyNamesCheck="true"-->
<!--  enableCellTextSelection="true"-->
<!--  suppressDragLeaveHidesColumns="true"-->
<!--  suppressCellFocus="true"-->
<!--  columnHoverHighlight="true"-->
<!--  [loadingOverlayComponent]="AppListTableV2LoadingComponent"-->
<!--  [noRowsOverlayComponent]="AppListTableV2NoDataComponent"-->
<!--  [getRowHeight]="getRowHeight"-->
<!--  [isFullWidthRow]="isFullWidthRow"-->
<!--  [fullWidthCellRenderer]="AppListTableV2DetailRowComponent"-->
<!--  [isExternalFilterPresent]="isExternalFilterPresent"-->
<!--  [doesExternalFilterPass]="doesExternalFilterPass"-->
<!--  (firstDataRendered)="firstDataRendered()"-->
<!--  (dragStopped)="saveVisibleAndOrderOfColumns($event)"-->
<!--  (selectionChanged)="selectionChanged()"-->

<!--  enableRangeSelection="true"-->
<!--  enableFillHandle="true"-->
<!--  enableCellTextSelection="true"-->
<!--  clipboardDelimiter=""-->

<!--  [getContextMenuItems]="getContextMenuItems"-->
<!--  columnHoverHighlight="true"-->


  <!-- Spreadsheet Editor -->
  <ag-grid-angular
    class="ag-theme-balham gd-spreadsheet-editor"
    [modules]="modules"
    singleClickEdit="false"
    rowSelection="multiple"
    [cdkContextMenuTriggerFor]="editorContextMenu"
    (gridReady)="gridReady($event)"
    (mouseleave)="gridMouseLeave()"
    (mousemove)="gridMouseMove($event)"
    (cellKeyDown)="cellKeyDown($event)"
    (bodyScroll)="gridBodyScroll()">
  </ag-grid-angular>

  <!-- Context menu for spreadsheet-editor -->
  <ng-template
    #editorContextMenu>
    <div
      cdkMenu
      class="gd-spreadsheet-editor-context-menu">
      <button
        class="gd-spreadsheet-editor-context-menu-item"
        cdkMenuItem
        [disabled]="editor.selection.selected.ranges.length < 1"
        (click)="cellCut()">
        Cut ...ctrl+x
      </button>
      <button
        class="gd-spreadsheet-editor-context-menu-item"
        cdkMenuItem
        [disabled]="editor.selection.selected.ranges.length < 1"
        (click)="cellCopy()">
        Copy...ctrl+c
      </button>
      <button
        class="gd-spreadsheet-editor-context-menu-item"
        cdkMenuItem>
        ...
      </button>
    </div>
  </ng-template>

</app-basic-page-v2>
