<div
  [id]="id"
  class="gd-spreadsheet-editor-v2-cell-basic-renderer"
  [ngSwitch]="colDef.columnDefinition?.type"
  [cdkContextMenuTriggerFor]="colDef.editor.cellContextMenu"
  (mouseenter)="mouseEnter($event)"
  (mousedown)="mouseDown($event)"
  (mouseup)="mouseUp()"
  (mouseleave)="mouseLeave()">

  <!-- Value -->
  <div
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-value">

    <!-- Single select -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.SINGLE_SELECT">

      <!-- Text -->
      <div
        fxFlex>
        {{ params.value && colDef.columnDefinition.optionsMap![params.value] ? (colDef.columnDefinition.optionsMap![params.value].label | translate) : params.value }}
      </div>

      <!-- Editor open -->
      <div
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell()">unfold_more</mat-icon>
      </div>
    </div>

    <!-- Date -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.DATE">

      <!-- Text -->
      <div
        fxFlex>
        {{ params.value | dateDefault }}
      </div>

      <!-- Editor open -->
      <div
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell(AppFormDateV2Component.ACTION_KEY_CALENDAR)">today</mat-icon>
      </div>
    </div>

    <!-- Location -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.LOCATION">

      <!-- Text -->
      <div
        fxFlex>
        {{ params.value && colDef.editor.locationNamesMap && colDef.editor.locationNamesMap[params.value] ? colDef.editor.locationNamesMap[params.value] : params.value }}
      </div>

      <!-- Editor open -->
      <div
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell()">location_on</mat-icon>
      </div>
    </div>

    <!-- Default: text, textarea ... -->
    <div
      *ngSwitchDefault>
      {{ params.value }}
    </div>

  </div>

  <!-- Selected -->
  <div
    [id]="selectedId"
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-selected"></div>

  <!-- Fill -->
  <div
    [id]="fillId"
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-fill"
    (mousedown)="fillMouseDown($event)"></div>

  <!-- Validation tooltip icon -->
  <!-- #TODO -->

  <!-- Loading spinner for async validation -->
  <!-- #TODO -->
</div>


