@import 'mixins';

/* Spreadsheet Cell */
.gd-spreadsheet-editor-v2-cell-basic-renderer {
  /* Variables */
  --gd-spreadsheet-selected-cell-border-style: 0.1rem solid;
  --gd-spreadsheet-selected-cell-border-color: var(--gd-success);

  border-width: 0.1rem;
  border-style: solid;
  border-color: transparent rgba(var(--gd-secondary-rgb), 0.25) rgba(var(--gd-secondary-rgb), 0.25) transparent;
  @include box-sizing(border-box);
  display: block;
  height: 100%;
  width: 100%;

  .gd-spreadsheet-editor-v2-cell-basic-renderer-value {
    height: 100%;
    line-height: 2.6rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    > div {
      height: 100%;

      > div:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mat-icon {
      height: auto;
      width: auto;
    }

    img {
      height: 2rem;
      margin-right: 0.4rem;
      position: relative;
      top: 0.2rem;
      vertical-align: top;
      width: auto;
    }
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
    background-color: rgba(var(--gd-primary-rgb), 0.15);

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-fill {
      background-color: rgba(var(--gd-success-rgb), 0.15);
      cursor: cell;
    }
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-top {
    border-top: var(--gd-spreadsheet-selected-cell-border-style);
    border-top-color: var(--gd-spreadsheet-selected-cell-border-color);
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-bottom {
    border-bottom: var(--gd-spreadsheet-selected-cell-border-style);
    border-bottom-color: var(--gd-spreadsheet-selected-cell-border-color);
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-right {
    border-right: var(--gd-spreadsheet-selected-cell-border-style);
    border-right-color: var(--gd-spreadsheet-selected-cell-border-color);
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-left {
    border-left: var(--gd-spreadsheet-selected-cell-border-style);
    border-left-color: var(--gd-spreadsheet-selected-cell-border-color);
  }

  .gd-spreadsheet-editor-v2-cell-basic-renderer-fill {
    background-color: var(--gd-success);
    bottom: 0;
    @include box-sizing(border-box);
    display: none;
    height: 0.8rem;
    position: absolute;
    right: 0;
    width: 0.8rem;
    z-index: 99999;

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-fill-visible {
      display: inline-block;
    }

    &:hover {
      cursor: cell;
    }
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-focused {
    border: 0.1rem solid var(--gd-success);
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-invalid {
    background-color: rgba(var(--gd-danger-rgb), 0.25);

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
      background-color: rgba(var(--gd-danger-rgb), 0.35);
    }
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-readonly {
    background-color: rgba(var(--gd-secondary-rgb), 0.15);
    color: var(--gd-secondary);

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
      background-color: rgba(var(--gd-secondary-rgb), 0.25);
    }
  }
}
