<div
  class="gd-spreadsheet-editor-v2-cell-basic-renderer"
  [ngSwitch]="colDef.columnDefinition?.type"
  [cdkContextMenuTriggerFor]="contextMenuTemplate"
  (mouseenter)="mouseEnter($event)"
  (mousedown)="mouseDown($event)"
  (mouseup)="mouseUp()"
  (mouseleave)="mouseLeave()">

  <!-- Value -->
  <div
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-value">

    <!-- Single select -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.SINGLE_SELECT"
      class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-select">

      <!-- Text -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-select-text"
        fxFlex>
        {{ params.value && colDef.columnDefinition.optionsMap![params.value] ? (colDef.columnDefinition.optionsMap![params.value].label | translate) : params.value }}
      </div>

      <!-- Editor open -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-select-editor"
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell()">unfold_more</mat-icon>
      </div>
    </div>

    <!-- Date -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.DATE"
      class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-date">

      <!-- Text -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-date-text"
        fxFlex>
        {{ params.value | dateDefault }}
      </div>

      <!-- Editor open -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-date-editor"
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell(AppFormDateV2Component.ACTION_KEY_CALENDAR)">today</mat-icon>
      </div>
    </div>

    <!-- Location -->
    <div
      *ngSwitchCase="V2SpreadsheetEditorColumnType.LOCATION"
      class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-location">

      <!-- Text -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-location-text"
        fxFlex>
        {{ params.value && colDef.editor.locationNamesMap && colDef.editor.locationNamesMap[params.value] ? colDef.editor.locationNamesMap[params.value] : params.value }}
      </div>

      <!-- Editor open -->
      <div
        class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-location-editor"
        fxGrow="0" fxLayoutAlign="start center">
        <mat-icon
          (click)="startEditCell()">location_on</mat-icon>
      </div>
    </div>

    <!-- Default: text, textarea ... -->
    <div
      *ngSwitchDefault
      class="gd-spreadsheet-editor-v2-cell-basic-renderer-value-default">
      {{ params.value }}
    </div>

  </div>

  <!-- Selected -->
  <div
    [id]="selectedId"
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-selected"></div>

  <!-- Fill -->
  <div
    [id]="fillId"
    class="gd-spreadsheet-editor-v2-cell-basic-renderer-fill"
    (mousedown)="fillMouseDown($event)"></div>
</div>

<!-- Context menu for spreadsheet-editor -->
<ng-template
  #contextMenuTemplate>
  <div
    cdkMenu
    class="gd-context-menu">

    <!-- Cut -->
    <button
      class="gd-context-menu-item"
      fxLayout="row"
      cdkMenuItem
      [disabled]="colDef.editor.selection.selected.ranges.length < 1">
      <!-- Label -->
      <div
        class="gd-context-menu-item-label"
        fxFlex fxLayoutAlign="start">
        {{'LNG_SHEET_CONTEXT_MENU_CUT' | translate}}
      </div>

      <!-- Shortcut -->
      <div
        fxGrow="0">
        Ctrl+X
      </div>
    </button>

    <!-- Copy -->
    <button
      class="gd-context-menu-item"
      fxLayout="row"
      cdkMenuItem
      [disabled]="colDef.editor.selection.selected.ranges.length < 1">
      <!-- Label -->
      <div
        class="gd-context-menu-item-label"
        fxFlex fxLayoutAlign="start">
        {{'LNG_SHEET_CONTEXT_MENU_COPY' | translate}}
      </div>

      <!-- Shortcut -->
      <div
        fxGrow="0">
        Ctrl+C
      </div>
    </button>

    <!-- Paste -->
    <button
      class="gd-context-menu-item"
      fxLayout="row"
      cdkMenuItem
      [disabled]="colDef.editor.selection.selected.ranges.length !== 1">
      <!-- Label -->
      <div
        class="gd-context-menu-item-label"
        fxFlex fxLayoutAlign="start">
        {{'LNG_SHEET_CONTEXT_MENU_PASTE' | translate}}
      </div>

      <!-- Shortcut -->
      <div
        fxGrow="0">
        Ctrl+V
      </div>
    </button>

    <!-- Delete -->
    <button
      class="gd-context-menu-item"
      fxLayout="row"
      cdkMenuItem
      [disabled]="colDef.editor.selection.selected.ranges.length !== 1">
      <!-- Label -->
      <div
        class="gd-context-menu-item-label"
        fxFlex fxLayoutAlign="start">
        {{'LNG_SHEET_CONTEXT_MENU_DELETE' | translate}}
      </div>

      <!-- Shortcut -->
      <div
        fxGrow="0">
        Delete
      </div>
    </button>


    <button
      class="gd-context-menu-item"
      cdkMenuItem
      [disabled]="colDef.editor.selection.selected.ranges.length < 1">
      Copy and configure
    </button>
    <button
      class="gd-context-menu-item"
      cdkMenuItem>
      Paste and configure...
    </button>
    <button
      class="gd-context-menu-item"
      cdkMenuItem>
      Undo / Redo...
    </button>
  </div>
</ng-template>

