.gd-spreadsheet-editor-v2-cell-basic-renderer {
  display: block;
  width: 100%;
  height: 100%;

  .gd-spreadsheet-editor-v2-cell-basic-renderer-value {
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    .gd-spreadsheet-editor-v2-cell-basic-renderer-value-select-editor,
    .gd-spreadsheet-editor-v2-cell-basic-renderer-value-date-editor,
    .gd-spreadsheet-editor-v2-cell-basic-renderer-value-location-editor {
      .mat-icon {
        font-size: 1.6rem;
      }
    }
  }

  .gd-spreadsheet-editor-v2-cell-basic-renderer-selected {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 99998;
    top: 0;
    left: 0;
    background-color: rgba(var(--gd-primary-rgb), 0.15);
    border-color: rgba(var(--gd-primary-rgb), 0.6);

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-visible {
      display: inline-block;

      &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-fill {
        background-color: rgba(var(--gd-secondary-rgb), 0.40);
        cursor: cell;
      }
    }
    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-left {
      border-left: 1px solid;
    }
    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-right {
      border-right: 1px solid;
    }
    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-top {
      border-top: 1px solid;
    }
    &.gd-spreadsheet-editor-v2-cell-basic-renderer-selected-border-bottom {
      border-bottom: 1px solid;
    }
  }

  .gd-spreadsheet-editor-v2-cell-basic-renderer-fill {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 0.6rem;
    height: 0.6rem;
    z-index: 99999;
    right: 0;
    bottom: 0;
    background-color: blue;

    &.gd-spreadsheet-editor-v2-cell-basic-renderer-fill-visible {
      display: inline-block;
    }

    &:hover {
      cursor: cell;
    }
  }

  &.gd-spreadsheet-editor-v2-cell-basic-renderer-focused {
    border: 2px solid rgba(blue, 0.6);
    // !!??
    .gd-spreadsheet-editor-v2-cell-basic-renderer-selected {
      border: 2px solid rgba(blue, 0.6);
    }
  }
  &.gd-spreadsheet-editor-v2-cell-basic-renderer-invalid {
    background-color: rgba(red, 0.40);
    // !!??
    .gd-spreadsheet-editor-v2-cell-basic-renderer-selected {
      background-color: rgba(red, 0.40);
    }
  }
}
