<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Details step -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_EVENT_TAB_DETAILS_TITLE' | translate}}</ng-template>

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="eventData.name"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                maxlength="100">
                            </app-form-input>

                            <app-form-datepicker
                                name="date"
                                [(ngModel)]="eventData.date"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_DESCRIPTION"
                                required="true"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfReporting"
                                [(ngModel)]="eventData.dateOfReporting"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
                                required="true"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="eventData.isDateOfReportingApproximate"
                                [label]="'LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE_DESCRIPTION">
                            </app-form-slide-toggle>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-textarea
                                name="description"
                                [(ngModel)]="eventData.description"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DESCRIPTION' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                                maxlength="500">
                            </app-form-textarea>
                        </div>
                    </div>
                </mat-card>

                <div>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Address step -->
        <mat-step [stepControl]="addressForm">
            <div class="address-min-height">
                <form #addressForm="ngForm">
                    <ng-template matStepLabel>{{ 'LNG_PAGE_CREATE_EVENT_TAB_ADDRESS_TITLE' | translate }}</ng-template>

                    <mat-card class="page-section">
                        <app-form-address
                            name="address"
                            [(ngModel)]="eventData.address">
                        </app-form-address>
                    </mat-card>

                    <div>
                        <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                        <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT'| translate}}</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL'| translate}}</ng-template>
            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            <div>
                <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button *app-selected-outbreak-is-active type="button" mat-button (click)="createNewEvent([detailsForm, addressForm])">
                    {{'LNG_PAGE_CREATE_EVENT_ACTION_CREATE_EVENT_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
