<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section">
    <h1>Create Role page</h1>

    <ul>
        <li><a [routerLink]="['/users']">Users list</a></li>
        <li><a [routerLink]="['/users/create']">Create new user</a></li>
        <li><a [routerLink]="['/users/5']">View User</a></li>
        <li><a [routerLink]="['/users/8/modify']">Modify User</a></li>
    </ul>
</mat-card>
