<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <form #form="ngForm" (submit)="createNewRole(form)">

        <div fxLayout="column">

            <app-form-input
                name="name"
                [(ngModel)]="newUserRole.name"
                [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_NAME' | translate"
                required="true">
            </app-form-input>

            <app-form-textarea
                name="description"
                [(ngModel)]="newUserRole.description"
                [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_DESCRIPTION' | translate">
            </app-form-textarea>

            <app-form-select
                name="permissionIds"
                [(ngModel)]="newUserRole.permissionIds"
                [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_PERMISSIONS' | translate"
                required="true"
                [options]="availablePermissions$ | async"
                optionLabelKey="label"
                optionValueKey="id"
                optionTooltipKey="description"
                multiple="true">
            </app-form-select>

            <button mat-raised-button color="primary">{{'LNG_COMMON_BUTTON_SAVE' | translate}}</button>
        </div>

    </form>
</mat-card>
