/* Loading dialog */
.gd-app-loading-dialog-v2 {
  text-align: center;

  .gd-app-loading-dialog-v2-spinner {
    margin-bottom: 1.6rem;
  }

  .gd-app-loading-dialog-v2-message {
    width: 100%;
  }
}
