.gd-app-loading-dialog-v2 {
  text-align: center;

  .gd-app-loading-dialog-v2-spinner {
    margin-bottom: 1.6rem;
  }

  .gd-app-loading-dialog-v2-message {
    height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
