<app-topnav #topNav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button
                    *ngIf="hasSysConfigWriteAccess()"
                    class="button-primary"
                    mat-raised-button
                    color="primary"
                    [routerLink]="'./create'">
                    {{'LNG_COMMON_BUTTON_ADD'| translate}} <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button type="button" mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button type="button" mat-raised-button (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="languagesList$ | async" matSort (matSortChange)="sortBy($event)">
        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_LANGUAGE_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER'| translate"
                            (optionChanged)="filterByTextField('name', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">
                        <button
                            mat-menu-item
                            (click)="downloadLanguage(item)">
                            {{ 'LNG_PAGE_LIST_LANGUAGES_ACTION_EXPORT_TOKENS' | translate }}
                        </button>

                        <button
                            *ngIf="hasSysConfigWriteAccess()"
                            mat-menu-item
                            [routerLink]="['/import-export-data', 'language-data', item.id, 'import-tokens']">
                            {{'LNG_PAGE_LIST_LANGUAGES_ACTION_IMPORT_TOKENS' | translate}}
                        </button>

                        <mat-divider></mat-divider>

                        <button
                            mat-menu-item
                            [routerLink]="['.', item.id, 'view']">
                            {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                        </button>

                        <ng-container
                            *ngIf="!item.readOnly && hasSysConfigWriteAccess()">
                            <button
                                mat-menu-item
                                [routerLink]="['.', item.id, 'modify']">
                                {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                            </button>

                            <button
                                mat-menu-item class="mat-menu-item-delete"
                                (click)="deleteLanguage(item)">
                                {{'LNG_PAGE_ACTION_DELETE' | translate}}
                            </button>
                        </ng-container>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableHeaderColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: tableHeaderColumns()"></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>
</mat-card>
