<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Filters -->
    <div class="reset-filters">
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <!-- Hover question effects / actions -->
    <app-hover-row-actions
        #hoverRow
    ></app-hover-row-actions>

    <mat-table #table [dataSource]="casesWithOnsetList$ | async">

        <!-- Primary Case => Case First Name -->
        <ng-container matColumnDef="primaryCase.firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_PRIMARY' | translate }} {{'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.primaryCase?.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Primary Case => Last Name -->
        <ng-container matColumnDef="primaryCase.lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_PRIMARY' | translate }} {{'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.primaryCase?.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Primary Case => Date of onset -->
        <ng-container matColumnDef="primaryCase.dateOfOnset">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_PRIMARY' | translate }} {{'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate }}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.primaryCase?.dateOfOnset | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Primary Case => Classification -->
        <ng-container matColumnDef="primaryCase.classification">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_PRIMARY' | translate }} {{'LNG_CASE_FIELD_LABEL_CLASSIFICATION' | translate}}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CASE_CLASSIFICATION"
                    [value]="item.primaryCase?.classification">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Secondary Case => Case First Name -->
        <ng-container matColumnDef="secondaryCase.firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_SECONDARY' | translate }} {{'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.secondaryCase?.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Secondary Case => Last Name -->
        <ng-container matColumnDef="secondaryCase.lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_SECONDARY' | translate }} {{'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.secondaryCase?.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Secondary Case => Date of onset -->
        <ng-container matColumnDef="secondaryCase.dateOfOnset">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_SECONDARY' | translate }} {{'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate }}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.secondaryCase?.dateOfOnset | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Secondary Case => Classification -->
        <ng-container matColumnDef="secondaryCase.classification">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_PAGE_LIST_CASES_LABEL_SECONDARY' | translate }} {{'LNG_CASE_FIELD_LABEL_CLASSIFICATION' | translate}}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CASE_CLASSIFICATION"
                    [value]="item.secondaryCase?.classification">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row
            *matRowDef="let item; columns: getTableColumns()"
            app-hover-row-actions
            [hoverRowActionsComponent]="hoverRow"
            [hoverRowActions]="recordActions"
            [hoverRowActionData]="item"
        ></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

</mat-card>
