app-cytoscape-graph {

    .full-screen {
        background-color: white;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
    }

    .full-screen-cy-zoom-buttons {
        position: fixed;
        margin: 5px 7px;
        top: 0;
        z-index: 900;
        left: 0;

        .cy-zoom-button {
            margin-bottom: 7px;
            min-width: 20px;
            min-height: auto;
            line-height: normal;
            height: auto;
            padding: 5px;
            font-weight: bold;
        }
    }

    .full-screen-graph-actions {
        position: fixed;
        top: 0;
        right: 20px;
        z-index: 1000;
    }

    .full-screen-bottomed-item {
        position: fixed;
        margin: 5px 7px;
        bottom: 0;
        left: 0;
    }

    .full-screen-graph-legend {
        position: fixed;
        top: 60px;
        background-color: #FFFFFF;
        font-size: 0.8em;
        right: 20px;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 75%;
        padding: 10px 10px;
        overflow-y: auto;
        z-index: 10;
        border: 1px solid #CCC;

        .legend-name {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;

            .legend-field-name {
                font-weight: normal;
                margin-left: 5px;
            }
        }

        .legend-item {
            margin-left: 10px;
            display: flex;
            align-items: center;

            >:first-child {
                margin-right: 3px;
            }

            .xt-icon {
                font-size: 18px;
            }
        }

        .legend-item:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        .legend-color {
            width: 10px;
            height: 10px;
        }

        .legend-icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .cy-zoom-buttons {
        position: absolute;
        margin: 5px 7px;
        z-index: 900;

        .cy-zoom-button {
            margin-bottom: 7px;
            min-width: 20px;
            min-height: auto;
            line-height: normal;
            height: auto;
            padding: 5px;
            font-weight: bold;
        }
    }

    .cytoscape-graph-container {
        position: relative;
    }

    .cy {
        width: 97%;
        min-height: 550px;
        display: block;
        padding: 20px;
        resize: vertical;
        overflow: hidden;
        border: 1px solid #d3d3d3;
    }

    .spinner-graph mat-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;
    }

    .spinner-graph {
        min-height: 550px;
        margin: 20px;
    }

    .graph-legend {
        background-color: #FFFFFF;
        font-size: 0.8em;
        position: absolute;
        top: 120px;
        right: 20px;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 75%;
        padding: 10px 10px;
        overflow-y: auto;
        z-index: 10;
        border: 1px solid #CCC;

        .legend-name {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;

            .legend-field-name {
                font-weight: normal;
                margin-left: 5px;
            }
        }

        .legend-item {
            margin-left: 10px;
            display: flex;
            align-items: center;

            >:first-child {
                margin-right: 3px;
            }

            .xt-icon {
                font-size: 18px;
            }
        }

        .legend-item:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        .legend-color {
            width: 10px;
            height: 10px;
        }

        .legend-icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .entities-no-dates{
        cursor: pointer;
    }

    .graph-actions {
        position: absolute;
        right: 15px;
        z-index: 1000;
    }
}
