<app-list-table-v2
  [pageTitle]="'LNG_PAGE_LIST_CONTACTS_OF_CONTACTS_TITLE'"
  [records$]="contactsOfContactsList$"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.CONTACT_OF_CONTACT_FIELDS"
  [sortColumn]="tableSortBy"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.CONTACTS_OF_CONTACTS.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event, { age: [ 'years', 'months' ] })"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)"></app-list-table-v2>
