<div fxLayout="column" fxFlex fxLayoutAlign="center">

    <!--<ngx-charts-bar-vertical-stacked-->
        <!--[scheme]="{ domain: ['#4DB0A0'] }"-->
        <!--[results]="chartData"-->
        <!--[xAxis]="true"-->
        <!--[yAxis]="true"-->
        <!--[legend]="true"-->
        <!--[showXAxisLabel]="true"-->
        <!--[showYAxisLabel]="true"-->
        <!--[yAxisTickFormatting]="axisFormat"-->
        <!--[xAxisLabel]="'LNG_PAGE_DASHBOARD_EPI_CURVE_DATE_OF_ONSET_LABEL' | translate"-->
        <!--[yAxisLabel]="'LNG_PAGE_DASHBOARD_EPI_CURVE_NO_CASES_LABEL' | translate">-->
        <!--<ng-template #tooltipTemplate let-model="model">-->
            <!--<div>-->
                <!--{{'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_SIZE_LABEL' | translate}}: {{model.name}}-->
            <!--</div>-->
            <!--<div>-->
                <!--{{'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_NUMBER_LABEL' | translate}}: {{model.value}}-->
            <!--</div>-->
        <!--</ng-template>-->
    <!--</ngx-charts-bar-vertical-stacked>-->


    <app-c3-stacked-bar-chart
    [chartData]="chartData"
    [chartDataColumns]="chartDataColumns"
    [chartDataCategories]="chartDataCategories">

    </app-c3-stacked-bar-chart>
</div>
