app-epi-curve-dashlet {
    .dashlet-no-data {
        height: 356px;
    }

    .dashlet-loading {
        height: 356px;
        text-align: center;

        @mat-spinner-width: 32px;
        @mat-spinner-height: 32px;

        mat-spinner {
            display: inline-block;
            width: @mat-spinner-width !important;
            height: @mat-spinner-height !important;
            position: absolute;
            top: ~'calc(50% - 16px)';

            svg {
                width: @mat-spinner-width !important;
                height: @mat-spinner-height !important;
            }
        }
    }
}
