app-form-date-range-slider {
    .form-date-range-slider {
        margin-bottom: 40px;

        .ng5-slider {
            .ng5-slider-ticks-values-under {
                .ng5-slider-tick-value {
                    transform: rotate(-60deg) translate(-50%, 0);
                    text-align: left;
                    bottom: auto;
                }
            }
        }
    }
}
