app-form-date-range-slider {
    .form-date-range-slider {
        margin: 20px 0px 100px 20px;

        .ngx-slider {
            .ngx-slider-ticks-values-under {
                .ngx-slider-tick-value {
                    transform: rotate(-60deg) translate(-80%, -190%);
                    text-align: left;
                    bottom: auto;
                }
            }

            .ngx-slider-pointer,
            .ngx-slider-selection,
            .ngx-slider-tick.ngx-slider-selected {
                //background-color: @color-accent-main;
            }

            &[disabled] {
                .ngx-slider-pointer,
                .ngx-slider-selection,
                .ngx-slider-tick.ngx-slider-selected {
                    background-color: #d8e0f3;
                }
            }
        }
    }
}
