<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="relationshipList$ | async">

        <!-- First Case => Case First Name -->
        <ng-container matColumnDef="people[0].firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.people[0]?.model.firstName }}
            </mat-cell>
        </ng-container>

        <!-- First Case => Last Name -->
        <ng-container matColumnDef="people[0].lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.people[0]?.model.lastName }}
            </mat-cell>
        </ng-container>

        <!-- First Case => Date of onset -->
        <ng-container matColumnDef="people[0].dateOfOnset">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate }}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.people[0]?.model.dateOfOnset | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Second Case => Case First Name -->
        <ng-container matColumnDef="people[1].firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.people[1]?.model.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Second Case => Last Name -->
        <ng-container matColumnDef="people[1].lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.people[1]?.model.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Second Case => Date of onset -->
        <ng-container matColumnDef="people[1].dateOfOnset">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate }}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.people[1]?.model.dateOfOnset | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Deference between dates of onset ( days ) -->
        <ng-container matColumnDef="differenceBetweenDatesOfOnset">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_LABEL_DIFFERENCE_BETWEEN_DATES' | translate }}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.differenceBetweenDatesOfOnset }}
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex="70px">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">
                    <button
                        mat-menu-item
                        [routerLink]="['/cases', item.people[0]?.model.id, 'view']"
                        [queryParams]="{ longPeriod: true }">
                        {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_VIEW' | translate:item.people[0].model }}
                    </button>

                    <button
                        mat-menu-item
                        [routerLink]="['/cases', item.people[1]?.model.id, 'view']"
                        [queryParams]="{ longPeriod: true }">
                        {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_VIEW' | translate:item.people[1].model }}
                    </button>

                    <button
                        mat-menu-item
                        [routerLink]="['/relationships', EntityType.CASE, item.people[0]?.model.id, item.id, 'view']">
                        {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_VIEW_RELATIONSHIP' | translate }}
                    </button>

                    <mat-divider></mat-divider>

                    <ng-container *app-selected-outbreak-is-active>
                        <ng-container *ngIf="hasCaseWriteAccess()">
                            <button
                                mat-menu-item [routerLink]="['/cases', item.people[0]?.model.id, 'modify']"
                                [queryParams]="{ longPeriod: true }">
                                {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_MODIFY' | translate:item.people[0].model }}
                            </button>

                            <button
                                mat-menu-item
                                [routerLink]="['/cases', item.people[1]?.model.id, 'modify']"
                                [queryParams]="{ longPeriod: true }">
                                {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_MODIFY' | translate:item.people[1].model }}
                            </button>

                            <button
                                mat-menu-item
                                [routerLink]="['/relationships', EntityType.CASE, item.people[0]?.model.id, item.id, 'modify']">
                                {{ 'LNG_PAGE_LIST_LONG_PERIOD_BETWEEN_ONSET_DATES_ACTION_MODIFY_RELATIONSHIP' | translate }}
                            </button>
                        </ng-container>
                    </ng-container>

                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
