<div class="form-select-container form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <mat-form-field>
        <mat-select [(ngModel)]="value" [attr.name]="name" [required]="required" [placeholder]="placeholder" [multiple]="multiple"
                    (blur)="onBlur()" [disabled]="disabled">

            <mat-option *ngFor="let option of options" [value]="option.value" [matTooltip]="option.tooltip">
                {{option.label}}
            </mat-option>

        </mat-select>

    </mat-form-field>

    <app-form-validation [controlContainer]="controlContainer" [controlName]="name" *ngIf="invalid" [messages]="failures"></app-form-validation>

</div>
