<div class="form-select-container form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <mat-form-field
        [class.clearable]="clearable && !multiple && !disabled">
        <mat-select
            #selectElement="ngModel"
            [(ngModel)]="value"
            [attr.name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [multiple]="multiple"
            (blur)="onBlur()"
            [disabled]="disabled"
            (selectionChange)="onChange(selectElement.value)">
            <mat-option
                *ngFor="let option of options"
                [value]="option[optionValueKey]"
                [matTooltip]="option[optionTooltipKey] | translate"
                [disabled]="option[optionDisabledKey]">
                {{ optionLabelPrefixKey && option[optionLabelPrefixKey] ? (option[optionLabelPrefixKey] | translate) + ' => ' : '' }}
                {{option[optionLabelKey] | translate}}
            </mat-option>
        </mat-select>

        <span
            *ngIf="clearable && !multiple && !disabled && value"
            class="xt-icon clear-dropdown"
            (click)="selectElement.reset(); $event.stopPropagation();">
            delete
        </span>
    </mat-form-field>

    <app-form-validation
        *ngIf="invalid"
        [controlContainer]="controlContainer"
        [controlName]="name"
        [messages]="failures">
    </app-form-validation>
</div>
