<div class="form-select-container form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <mat-form-field
        [class.display-filter-icon]="displayFilterIcon"
        [class.clearable]="clearable && !multiple && !disabled">

        <div
            *ngIf="displayFilterIcon"
            class="filter-icon">
            <span class="xt-icon">search</span>
        </div>

        <mat-select
            [class.filter-icon-input]="displayFilterIcon"
            #selectElement="ngModel"
            [(ngModel)]="value"
            [compareWith]="compareWith"
            [attr.name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [multiple]="multiple"
            (blur)="onBlur()"
            [disabled]="disabled"
            (selectionChange)="onChange(selectElement.value)">
            <mat-option
                *ngIf="clearable && !multiple"
                [value]="null">
                {{ noneLabel | translate }}
            </mat-option>
            <mat-option
                *ngFor="let option of options"
                [value]="option[optionValueKey]"
                [matTooltip]="option[optionTooltipKey] | translate"
                [disabled]="!allowSelectionOfDisabledItems && option[optionDisabledKey]">
                {{ optionLabelPrefixKey && option[optionLabelPrefixKey] ? (option[optionLabelPrefixKey] | translate) + ' => ' : '' }}
                {{option[optionLabelKey] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-form-validation
        *ngIf="invalid"
        [controlContainer]="controlContainer"
        [controlName]="name"
        [messages]="failures">
    </app-form-validation>
</div>
