<mgl-timeline [alternate]="false">
    <mgl-timeline-entry *ngFor="let entry of entries">
        <mgl-timeline-entry-header>
            {{ entry.date | dateDefault }}
        </mgl-timeline-entry-header>

        <mgl-timeline-entry-dot
            class="primary"
            [size]="27">
            <span>
                {{ entry.daysSincePreviousEvent }}
            </span>
        </mgl-timeline-entry-dot>

        <mgl-timeline-entry-side>
            {{ entry.itemTypeFollowUp ? ('LNG_PAGE_VIEW_CHRONOLOGY_CHRONOLOGY_ITEM_TYPE_FOLLOW_UP' | translate) : '' }}
            {{ entry.label | translate:entry.translateData }}
        </mgl-timeline-entry-side>
    </mgl-timeline-entry>
</mgl-timeline>
