<mgl-timeline [alternate]="false">
    <mgl-timeline-entry *ngFor="let entry of entries">
        <mgl-timeline-entry-header>
            {{ entry.date | dateDefault }}
        </mgl-timeline-entry-header>

        <mgl-timeline-entry-dot
            class="primary"
            [size]="14">
        </mgl-timeline-entry-dot>

        <mgl-timeline-entry-side>
            {{ entry.label | translate:entry.translateData }}
        </mgl-timeline-entry-side>
    </mgl-timeline-entry>
</mgl-timeline>
