@import 'mixins';
@import 'font';

.gd-chronology {
  height: calc(100% + 3.2rem);
  margin: -1.6rem;

  .cdk-virtual-scroll-content-wrapper {
    min-height: 100%;
    padding: 1.6rem;

    &:before {
      background: rgba(var(--gd-secondary-rgb), 0.25);
      content: "";
      display: block;
      height: 100%;
      left: 17.5rem;
      position: absolute;
      top: 0;
      width: 0.3rem;
    }

    &:after {
      border: solid rgba(var(--gd-secondary-rgb), 0.25);
      border-width: 0 0.3rem 0.3rem 0;
      content: "";
      display: inline-block;
      left: 16.8rem;
      padding: 0.7rem;
      position: absolute;
      @include rotate(-135deg);
      top: 0.4rem;
    }
  }

  .gd-chronology-item {
    @include flex_align_items(center);
    @include flex(flex);
    @include flex_direction(row);
    position: relative;

    .gd-chronology-item-date {
      background-color: rgba(var(--gd-primary-rgb), 0.15);
      @include border-radius(0.4rem);
      font-size: 1.6rem;
      font-weight: 700;
      padding: 0.8rem;
      white-space: nowrap;
    }

    .gd-chronology-item-number {
      @include flex_align_items(center);
      @include flex(flex);
      height: 100%;
      @include flex_justify(center);
      margin: 0 0.8rem;
      min-width: 10rem;
      width: 10rem;

      .gd-chronology-item-number-text {
        @include flex_align_items(center);
        background: var(--gd-primary);
        border: 0.2rem solid rgba(var(--gd-primary-rgb), 0.25);
        @include border-radius(2rem);
        color: var(--gd-background);
        @include flex(flex);
        height: 4rem;
        @include flex_justify(center);
        min-width: 4rem;
        padding: 0.4rem 0.8rem;
        width: auto;
      }
    }

    .gd-chronology-item-text {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      background-color: var(--gd-background);
      @include border-radius(0.4rem);
      @include box-shadow(0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19));
      display: -webkit-box;
      display: -moz-box;
      max-height: 5.4rem;
      max-width: 100%;
      overflow: hidden;
      padding: 0.8rem;
      position: relative;
      text-align: left;
      width: auto;
    }
  }
}
