app-hot-table-wrapper {
  --gd-basic-page-content-padding-left-right: 3.2rem;
  --gd-basic-page-content-padding-bottom: 1.6rem;

  border: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);

  .hot-wrapper-loading-location {
    border: none;
    height: 1.6rem;
    margin: 0;
    padding: 0;
  }
}
