<div *ngIf="personsAreCases" class="info-container">{{'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_PERSON_FOLLOW_UP_INFO' | translate : {personsToBeDisplayed: personsToBeDisplayed} }}</div>
<div>{{'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_SELECTED_CONTACTS' | translate}}</div>
<div fxLayout="row wrap" fxLayoutGap="20px">
    <a
        *ngFor="let contact of contacts"
        [routerLink]="[contact.type === EntityType.CASE ? '/cases' :'/contacts', contact.id, 'view']"
    >
        {{ contact.name }}
    </a>
</div>
