<app-list-table-v2
  [pageTitle]="appliedListFilter !== Constants.APPLY_LIST_FILTER.CASES_WITHOUT_RELATIONSHIPS ? 'LNG_PAGE_LIST_CASES_TITLE' : 'LNG_PAGE_DASHBOARD_CASES_WITHOUT_RELATIONSHIPS'"
  [records$]="casesList$"
  (refreshData)="needsRefreshList(true, false)"
  (refreshDataCount)="refreshListCount(false)"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="appliedListFilter !== Constants.APPLY_LIST_FILTER.CASES_WITHOUT_RELATIONSHIPS ? UserSettings.CASE_FIELDS : UserSettings.CASE_WITHOUT_RELATIONSHIPS_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.CASES.value"
  [advancedFilters]="advancedFilters"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event, { age: [ 'years', 'months' ] })"
  (filterBy)="filterBy($event)"></app-list-table-v2>

<!--
<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersApplied)="applySideFilters($event)"
    [savedFiltersType]="savedFiltersType">
</app-side-filters>

<mat-card class="page-section page-content">

    <div
        fxLayout="row">
        <div
            fxFlex
            class="reset-filters">
            <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="resetFiltersToSideFilters()">
                {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
            </button>
        </div>
    </div>
</mat-card>
-->
