<app-list-table-v2
  [pageTitle]="appliedListFilter !== Constants.APPLY_LIST_FILTER.CASES_WITHOUT_RELATIONSHIPS ? 'LNG_PAGE_LIST_CASES_TITLE' : 'LNG_PAGE_DASHBOARD_CASES_WITHOUT_RELATIONSHIPS'"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="appliedListFilter !== Constants.APPLY_LIST_FILTER.CASES_WITHOUT_RELATIONSHIPS ? UserSettings.CASE_FIELDS : UserSettings.CASE_WITHOUT_RELATIONSHIPS_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.CASES.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event, { age: [ 'years', 'months' ] })"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
