app-transmission-chains-graph {

    .quick-action {
        h1 {
            font-size: 22px;
            margin-bottom: 25px;
        }

        .section-title {
            font-weight: bold;
        }
    }

    .create-relationship {
        .person-role {
            font-weight: bold;
        }
    }
}
