<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button
                    class="button-primary"
                    mat-raised-button color="primary"
                    [routerLink]="['/transmission-chains', 'list']">
                    {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_LIST_BUTTON' | translate}}
                </button>
                <button
                    class="button-primary"
                    mat-raised-button color="primary"
                    [routerLink]="['/transmission-chains', 'map']">
                    {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_GEO_MAP_BUTTON' | translate}}
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

        <!-- Chains of transmission -->
        <app-transmission-chains-dashlet
            [sizeOfChainsFilter]="sizeOfChainsFilter"
            [personId]="personId"
            [selectedEntityType]="selectedEntityType"
            *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
        </app-transmission-chains-dashlet>

</mat-card>

