<!-- Chains of transmission -->
<app-transmission-chains-dashlet
  #cotDashletChild
  [sizeOfChainsFilter]="sizeOfChainsFilter"
  [snapshotId]="snapshotId"
  [showPersonContacts]="showPersonContacts"
  [showPersonContactsOfContacts]="showPersonContactsOfContacts"
  [personId]="personId"
  [selectedEntityType]="selectedEntityType"
  (nodeTapped)="onNodeTap($event)"
  (edgeTapped)="onEdgeTap($event)"
  (changeEditMode)="onEditModeChange($event)">
</app-transmission-chains-dashlet>

<!-- Edit Mode -->
<div
    fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="1.6rem"
    class="transmission-chain-edit-mode">
    <div
        *ngFor="let person of selectedNodes.nodes; let index = index"
        fxFlex
        fxLayout="column"
        class="person-summary-container"
        [class.multiple-selected]="selectedNodes.nodes.length > 1">
        <mat-card>
            <app-person-summary
                [person]="person"
                (remove)="removeSelectedNode(index)"
                (modifyPerson)="modifySelectedPerson($event)"
                (deletePerson)="deleteSelectedPerson($event)"
                (createContact)="createContactForSelectedPerson($event)"
                (createContactOfContact)="createContactOfContactForSelectedPerson($event)"
            ></app-person-summary>
        </mat-card>
    </div>

    <div
        *ngIf="selectedRelationship"
        fxFlex
        fxLayout="column"
        class="selected-relationship-details"
        [class.selected-relationship-edit]="selectedRelationship && currentNodeAction === NodeAction.MODIFY_EDGE">
        <mat-card>
            <app-relationship-summary
                [relationship]="selectedRelationship"
                (remove)="removeRelationship()"
                (modifyRelationship)="modifySelectedRelationship()"
                (deleteRelationship)="deleteSelectedRelationship()"
                (reverseRelationshipPersons)="refreshAfterReverseRelationshipPersons()">
            </app-relationship-summary>
        </mat-card>
    </div>

    <!-- Create relationship between 2 nodes -->
    <mat-card
        *ngIf="selectedNodes.canCreateRelationship"
        class="create-relationship"
        fxFlex fxLayout="column"
    >
        <div class="create-relationship-header">
            <h1>{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_RELATIONSHIP_TITLE' | translate}}</h1>
        </div>

        <form #form="ngForm" (submit)="createRelationship(form)" class="create-relationship-content">

            <div fxLayout="column">

                <div fxLayout="row" fxLayoutGap="1.6rem" fxLayoutAlign="start center" class="create-relationship-content-inner">
                    <div fxLayout="column" fxLayoutGap="0.8rem">
                        <div fxLayout="row" fxLayoutGap="0.8rem">
                            <span class="person-role">{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_RELATIONSHIP_LABEL_EXPOSURE' | translate}}:</span>
                            <span>{{selectedNodes.sourceNode.name}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutGap="0.8rem">
                            <span class="person-role">{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_RELATIONSHIP_LABEL_CONTACT' | translate}}:</span>
                            <span>{{selectedNodes.targetNode.name}}</span>
                        </div>
                    </div>

                    <button
                        *ngIf="canSwapRelationshipPersons"
                        mat-icon-button
                        color="primary"
                        type="button"
                        (click)="swapSelectedNodes()"
                    >
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>

                <app-form-relationship-quick
                    name="relationship"
                    [ngModel]="newRelationship"
                    required="true"
                ></app-form-relationship-quick>

                <div class="create-relationship-footer" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-flat-button color="primary" type="submit">
                        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_RELATIONSHIP_BUTTON' | translate}}
                    </button>
                </div>
            </div>

        </form>
    </mat-card>

    <!-- Modify Person -->
    <mat-card
        *ngIf="selectedNodes.nodes.length === 1 && currentNodeAction === NodeAction.MODIFY_PERSON"
        class="modify-person"
        fxFlex fxLayout="column"
    >
        <div class="modify-person-header">
            <h1>{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_MODIFY_PERSON_TITLE' | translate}}</h1>
        </div>

        <form #form="ngForm" (submit)="modifyPerson(form)">
            <app-form-case-quick
                *ngIf="selectedNodes.nodes[0].type === EntityType.CASE"
                name="person"
                [ngModel]="selectedNodes.nodes[0]"
            ></app-form-case-quick>

            <app-form-contact-quick
                *ngIf="selectedNodes.nodes[0].type === EntityType.CONTACT"
                name="person"
                [ngModel]="selectedNodes.nodes[0]"
            ></app-form-contact-quick>

            <app-form-event-quick
                *ngIf="selectedNodes.nodes[0].type === EntityType.EVENT"
                name="person"
                [ngModel]="selectedNodes.nodes[0]"
            ></app-form-event-quick>

            <app-form-contact-of-contact-quick
                *ngIf="selectedNodes.nodes[0].type === EntityType.CONTACT_OF_CONTACT"
                name="person"
                [ngModel]="selectedNodes.nodes[0]"
            ></app-form-contact-of-contact-quick>

            <div class="modify-person-footer" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" type="submit">
                    {{'LNG_COMMON_BUTTON_SAVE' | translate}}
                </button>
            </div>
        </form>
    </mat-card>

    <!-- Modify Relationship -->
    <mat-card
        *ngIf="selectedRelationship && currentNodeAction === NodeAction.MODIFY_EDGE"
        class="modify-person"
        fxFlex fxLayout="column"
    >
        <form #form="ngForm" (submit)="modifyRelationship(form)">
            <app-form-relationship-quick
                name="relationship"
                [ngModel]="selectedRelationship"
                required="true"
            >
            </app-form-relationship-quick>

            <div class="modify-person-footer" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" type="submit">
                    {{'LNG_COMMON_BUTTON_SAVE' | translate}}
                </button>
            </div>
        </form>
    </mat-card>

    <!-- Create new Contact for Case/Event -->
    <mat-card
        *ngIf="selectedNodes.canCreateContact && currentNodeAction === NodeAction.CREATE_CONTACT"
        class="create-contact"
        fxFlex fxLayout="column"
    >
        <div class="create-contact-header">
            <h1>{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_TITLE' | translate}}</h1>
        </div>
        
        <form #form="ngForm" (submit)="createContact(form)" class="create-contact-content">

            <div fxLayout="column" fxLayoutGap="0.8rem" fxLayoutAlign="start start">
                <span class="section-title">
                    {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_LABEL_CONTACT_FIELDS' | translate}}
                </span>

                <app-form-contact-quick
                    name="contact"
                    [ngModel]="newContact"
                ></app-form-contact-quick>

                <span class="section-title">
                    {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_LABEL_RELATIONSHIP_FIELDS' | translate}}
                </span>

                <app-form-relationship-quick
                    name="relationship"
                    [ngModel]="newRelationship"
                    required="true"
                ></app-form-relationship-quick>

                <div class="create-contact-footer" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-flat-button color="primary" type="submit">
                        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_BUTTON' | translate}}
                    </button>
                </div>
            </div>

        </form>
    </mat-card>

    <!-- Create new Contact of Contact for Contact -->
    <mat-card
        *ngIf="selectedNodes.canCreateContactOfContact && currentNodeAction === NodeAction.CREATE_CONTACT_OF_CONTACT"
        class="create-contact"
        fxFlex fxLayout="column"
    >
        <div class="create-contact-header">
            <h1>{{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_OF_CONTACT_TITLE' | translate}}</h1>
        </div>

        <form #form="ngForm" (submit)="createContactOfContact(form)">

            <div fxLayout="column" fxLayoutGap="10px">

                <span class="section-title">
                    {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_OF_CONTACT_LABEL_CONTACT_FIELDS' | translate}}
                </span>

                <app-form-contact-of-contact-quick
                    name="contact"
                    [ngModel]="newContact"
                ></app-form-contact-of-contact-quick>

                <span class="section-title">
                    {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_OF_CONTACT_LABEL_RELATIONSHIP_FIELDS' | translate}}
                </span>

                <app-form-relationship-quick
                    name="relationship"
                    [ngModel]="newRelationship"
                    required="true"
                ></app-form-relationship-quick>

                <div class="create-contact-footer" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-flat-button color="primary" type="submit">
                        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_OF_CONTACT_BUTTON' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
