<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button
                    class="button-primary"
                    mat-raised-button color="primary"
                    [routerLink]="['/transmission-chains', 'list']">
                    {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_LIST_BUTTON' | translate}}
                </button>
                <button
                    class="button-primary"
                    mat-raised-button color="primary"
                    [routerLink]="['/transmission-chains', 'map']">
                    {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_GEO_MAP_BUTTON' | translate}}
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

        <!-- Chains of transmission -->
        <app-transmission-chains-dashlet
            [sizeOfChainsFilter]="sizeOfChainsFilter"
            [personId]="personId"
            [selectedEntityType]="selectedEntityType"
            *ngIf="hasReadCasePermissions() && hasReadReportPermissions()"
            (nodeTapped)="onNodeTap($event)"
        ></app-transmission-chains-dashlet>

</mat-card>

<div class="page-content" fxLayout="row wrap" fxLayoutGap="20px">
    <mat-card
        *ngFor="let person of selectedNodes; let index = index"
        class="page-section"
        fxFlex="400px"
    >
        <app-person-summary [person]="person" (remove)="removeSelectedNode(index)"></app-person-summary>
    </mat-card>

    <mat-card
        *ngIf="selectedNodes.length === 2 && (selectedNodes[0].type !== EntityType.CONTACT || selectedNodes[1].type !== EntityType.CONTACT)"
        class="page-section"
        fxFlex
    >
        <form #form="ngForm" (submit)="createRelationship(form)">
            <app-form-relationship-quick
                name="relationship"
                [ngModel]="newRelationship"
                required="true"
            ></app-form-relationship-quick>

            <button mat-raised-button color="primary" class="button-primary" type="submit">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_RELATIONSHIP_BUTTON' | translate}}
            </button>
        </form>
    </mat-card>
</div>
