@import '~styles/common';

app-view-help-details-dialog {
    .page-section {
        margin: 0 !important;
        box-shadow: none !important;
        min-height: 100%;
    }

    .view-item-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .view-help-details-dialog-buttons {
        margin-top: 20px;
    }
}
