<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_BULK_ADD_CONTACTS_TITLE"
  [actionButton]="actionButton">
  <form class="form-section">
    <div class="form-content">
      <ng-container
        *ngIf="errorMessages && errorMessages.length > 0">
        <div
          class="bulk-modify-contacts-of-contacts-errors">
          <div
            class="bulk-modify-contacts-of-contacts-errors-title">
            {{ 'LNG_PAGE_BULK_MODIFY_CONTACTS_OF_CONTACTS_LABEL_ERRORS' | translate }}
          </div>
          <div
            *ngFor="let err of errorMessages">
            {{ err.message | translate:err.data }}
          </div>
        </div>
      </ng-container>

      <div class="sheet-wrapper" fxLayout="row" fxLayoutAlign="center">
        <input
          #inputForMakingFormDirty="ngModel"
          type="hidden"
          ngModel
          name="modifyContactsHidden"/>

        <app-hot-table-wrapper
          #hotTableWrapper
          [data]="data"
          [sheetContextMenu]="sheetContextMenu"
          [sheetColumns]="sheetColumns"
          (afterBecameDirty)="afterBecameDirty()"
          [startRows]="1"
          [minSpareRows]="0"
          widthReduction="320">
        </app-hot-table-wrapper>
      </div>
    </div>
  </form>
</app-basic-page-v2>
