<div class="form-radio-container form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <mat-radio-group class="radio-group" [(ngModel)]="value">
        <mat-radio-button class="radio-button" *ngFor="let option of options" [value]="option.value">
            {{option.label | translate}}
        </mat-radio-button>
    </mat-radio-group>

    <app-form-validation [controlContainer]="controlContainer" [controlName]="name" *ngIf="invalid" [messages]="failures"></app-form-validation>

</div>
