<!-- List page top -->
<div
  class="gd-list-top">

  <!-- Breadcrumbs -->
  <app-breadcrumb-v2
    [breadcrumbs]="breadcrumbs"
    (detectChanges)="resizeTable()"></app-breadcrumb-v2>

  <!-- Title & buttons -->
  <div
    fxLayout="row"
    class="gd-list-top-tile-buttons">

    <!-- Title -->
    <div
      fxFlex
      class="gd-list-top-tile-buttons-title">
      {{pageTitle | translate}}
    </div>

    <!-- Buttons -->
    <div
      fxFlex fxLayoutAlign="end"
      class="gd-list-top-tile-buttons-buttons">

      <!-- Hide / show groups -->
      <!-- TODO -->

      <!-- Quick actions -->
      <ng-container
        *ngIf="quickActions">

        <!-- Menu -->
        <!-- IMPORTANT: Menu of type icon isn't supported here -->
        <button
          class="gd-list-top-tile-buttons-button-quick"
          type="button"
          mat-flat-button
          [disabled]="quickActions.disable && quickActions.disable(null)"
          [matMenuTriggerFor]="quickMenu">
          {{quickActions.label | translate}}

          <^ css or mat-icon?
        </button>

        <!-- Floating menu -->
        <mat-menu
          #quickMenu="matMenu"
          class="gd-list-top-tile-buttons-button-quick-options">
          <ng-container
            *ngFor="let menuOption of quickActions.menuOptions">
            <ng-container
              *ngIf="!menuOption.visible || menuOption.visible(null)">

              <!-- Child Menu link -->
              <a
                *ngIf="menuOption.label; else divider"
                mat-menu-item
                class="d-list-top-tile-buttons-button-quick-options-option {{menuOption.cssClasses}}"
                [routerLink]="menuOption.action.link && (!menuOption.disable || !menuOption.disable(null)) ? menuOption.action.link(null) : undefined"
                [queryParams]="menuOption.action.linkQueryParams ? menuOption.action.linkQueryParams(null) : undefined"
                [disabled]="menuOption.disable && menuOption.disable(null)"
                (click)="menuOption.action.click ? menuOption.action.click(null) : undefined">
                {{menuOption.label | translate}}
              </a>

              <!-- Divider -->
              <ng-template
                #divider>
                <mat-divider></mat-divider>
              </ng-template>

            </ng-container>
          </ng-container>
        </mat-menu>

      </ng-container>

      <!-- Add -->
      <!-- TODO -->
    </div>
  </div>

  <!-- @TODO: Grouped data -->
  <div>
    grouped data... gradient color from referenceData.color to a lighter one...
  </div>
</div>

<!-- Table related -->
<mat-card
  class="gd-list-table">

  <!-- Table header -->
  <div
    fxLayout="row" fxLayoutAlign="space-between center"
    class="gd-list-table-header">

    <!-- Left -->
    <div
      fxFlex
      class="gd-list-table-header-left">
      more than enough...o sa fie text + un link cu text care o sa afiseze total count la on click (pb tb stilizat dupa ce implementam pt ca o sa sufere schimbari continutul html)
    </div>

    <!-- Right -->
    <div
      fxFlex fxLayout="row" fxGrow="0" fxLayoutGap="0.8rem"
      class="gd-list-table-header-right">

      <!-- Reset filters -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_RESET_FILTERS' | translate">
        <mat-icon class="material-icons-outlined">settings_backup_restore</mat-icon>
      </button>

      <!-- Advanced filters -->
      <button
        type="button"
        mat-flat-button
        color="primary">
        <mat-icon>filter_alt</mat-icon>
        {{'LNG_SIDE_FILTERS_TITLE' | translate}}
      </button>

      <!-- Refresh data -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_REFRESH_LIST' | translate">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- Pinned columns -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_PINNED_COLUMNS_LIST' | translate">
        <mat-icon>push_pin</mat-icon>
      </button>

      <!-- Visible columns -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_SIDE_COLUMNS_SECTION_COLUMNS_TO_DISPLAY_TITLE' | translate"
        (click)="setVisibleColumns()">
        <mat-icon>view_column</mat-icon>
      </button>

    </div>
  </div>

  <!-- Table -->
  <ag-grid-angular
    class="ag-theme-balham gd-list-table-data"
    [rowData]="records"
    [columnDefs]="columnDefs"
    [modules]="modules"
    headerHeight="48"
    rowHeight="48"
    rowSelection="multiple"
    suppressRowClickSelection="true"
    suppressPropertyNamesCheck="true"
    enableCellTextSelection="true"
    (firstDataRendered)="firstDataRendered($event)">
  </ag-grid-angular>

  <!-- Table paginator -->
  <div
    class="gd-list-table-bottom">
    <app-mat-paginator-extended
      [pageIndex]="0"
      [countData]="{count: 10, hasMore: true}"
      [pageSize]="500"
      [pageSizeOptions]="[50, 100, 500, 1000]">
    </app-mat-paginator-extended>
  </div>

</mat-card>
