<!-- List page top -->
<div
  class="gd-list-top">

  <!-- Breadcrumbs -->
  <app-breadcrumb-v2
    [breadcrumbs]="breadcrumbs"></app-breadcrumb-v2>

  <!-- Title & buttons -->
  <div
    fxLayout="row"
    class="gd-list-top-tile-buttons">

    <!-- Title -->
    <div
      fxFlex
      class="gd-list-top-tile-buttons-title">
      {{title | translate}}
    </div>

    <!-- Buttons -->
    <div
      fxFlex fxLayoutAlign="end"
      class="gd-list-top-tile-buttons-buttons">

      <!-- Hide / show groups -->
      <!-- TODO -->

      <!-- Quick actions -->
      <ng-container
        *ngIf="quickActions">

      </ng-container>

      <!-- Add -->
      <!-- TODO -->
    </div>
  </div>

  <!-- @TODO: Grouped data -->
  <div>
    grouped data... gradient color from referenceData.color to a lighter one...
  </div>
</div>

<!-- Table related -->
<mat-card
  class="gd-list-table">

  <!-- Table header -->
  <div
    fxLayout="row"
    class="gd-list-table-header">

    <!-- Left -->
    <div
      fxFlex
      class="gd-list-table-header-left">
      <div>
        <app-form-checkbox-v2
          placeholder="test checkbox"></app-form-checkbox-v2>

        <app-form-radio-button-v2
          placeholder="test radio group 1"
          [options]="[{label: 'G1R1', value: 'G1R1'}, {label: 'G1R2', value: 'G1R2'}]"></app-form-radio-button-v2>

        <app-form-radio-button-v2
          placeholder="test radio group 2"
          [options]="[{label: 'G2R1', value: 'G2R1'}, {label: 'G2R2', value: 'G2R2'}]"></app-form-radio-button-v2>

      </div>
      more than enough...o sa fie text + un link cu text care o sa afiseze total count la on click (pb tb stilizat dupa ce implementam pt ca o sa sufere schimbari continutul html)
    </div>

    <!-- Right -->
    <div
      fxGrow="0" fxLayoutGap="1rem"
      class="gd-list-table-header-right">

      <!-- Reset filters -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_RESET_FILTERS' | translate">
        <mat-icon>restart_alt</mat-icon>
      </button>

      <!-- Advanced filters -->
      <button
        type="button"
        mat-raised-button>
        <mat-icon>filter_alt</mat-icon>
        {{'LNG_SIDE_FILTERS_TITLE' | translate}}
      </button>

      <!-- Refresh data -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_REFRESH_LIST' | translate">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- Pinned columns -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_COMMON_BUTTON_PINNED_COLUMNS_LIST' | translate">
        <mat-icon>push_pin</mat-icon>
      </button>

      <!-- Visible columns -->
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'LNG_SIDE_COLUMNS_SECTION_COLUMNS_TO_DISPLAY_TITLE' | translate"
        (click)="setVisibleColumns()">
        <mat-icon>view_column</mat-icon>
      </button>

    </div>
  </div>

  <!-- Table -->
  <ag-grid-angular
    class="ag-theme-balham gd-list-table-data"
    [rowData]="records"
    [columnDefs]="columnDefs"
    [modules]="modules"
    rowSelection="multiple"
    suppressRowClickSelection="true"
    suppressPropertyNamesCheck="true"
    (firstDataRendered)="firstDataRendered($event)">
  </ag-grid-angular>

  <!-- Table paginator -->
  <div
    class="gd-list-table-bottom">
    <app-mat-paginator-extended
      [pageIndex]="0"
      [countData]="{count: 10, hasMore: true}"
      [pageSize]="500"
      [pageSizeOptions]="[50, 100, 500, 1000]">
    </app-mat-paginator-extended>
  </div>

</mat-card>
