<div
  class="gd-form-date-v2">

  <!-- Input data -->
  <mat-form-field
    *ngIf="!viewOnly; else viewOnlyTemplate"
    appearance="outline">

    <!-- Place holder -->
    <mat-label
      *ngIf="!neverFloatLabel">
      {{ placeholder | translate }}
    </mat-label>

    <!-- Left - Icon buttons -->
    <ng-container
      *ngIf="tooltipButton?.tooltip">
      <popper-content
        #popperContent>
        <div
          [innerHtml]="tooltipButton.tooltip | safeHtml">
        </div>
      </popper-content>
      <mat-icon
        tabindex="-1"
        matPrefix
        [popper]="popperContent"
        popperTrigger="hover"
        popperApplyClass="gd-form-input-v2-tooltip"
        popperPreventOverflow="true"
        popperPositionFixed="true"
        popperAppendTo="body">{{tooltipButton.icon}}</mat-icon>
    </ng-container>

    <!-- Input -->
    <input
      matInput
      [(ngModel)]="value"
      [errorStateMatcher]="errMatcher"
      [disabled]="disabled"
      [required]="required"
      [placeholder]="neverFloatLabel ? (placeholder | translate) : undefined"
      [autocomplete]="autocomplete"
      [max]="maxDate"
      [min]="minDate"
      [matDatepicker]="pickerStartDate"
      (click)="pickerStartDate.open()"
      (blur)="onTouchItem()"
      (ngModelChange)="onTouchItem()">
    <mat-datepicker-toggle
      tabindex="-1"
      matSuffix
      [for]="pickerStartDate"></mat-datepicker-toggle>
    <mat-datepicker
      #pickerStartDate></mat-datepicker>

    <!-- Errors -->
    <mat-error
      *ngIf="control?.invalid && control?.touched">
      {{ getErrorMessages() }}
    </mat-error>

  </mat-form-field>

  <!-- View only -->
  <ng-template
    #viewOnlyTemplate>
    <div
      fxLayout="row" fxLayoutGap="1.6rem"
      class="gd-form-date-v2-viewonly">
      <!-- Label -->
      <div
        class="gd-form-date-v2-viewonly-label">
        {{ placeholder | translate }}:
      </div>

      <!-- Value -->
      <div
        class="gd-form-date-v2-viewonly-value">
        {{value ? (value | dateDefault) : noValueLabel}}
      </div>
    </div>
  </ng-template>
</div>
