<div
  class="gd-form-date-v2">

  <!-- Input data -->
  <mat-form-field
    appearance="outline">

    <!-- Place holder -->
    <mat-label
      *ngIf="!neverFloatLabel">
      {{ placeholder | translate }}
    </mat-label>

    <!-- Left - Icon buttons -->
    <mat-icon
      *ngIf="tooltipButton"
      matPrefix
      [matTooltip]="tooltipButton.tooltip">{{tooltipButton.icon}}</mat-icon>

    <!-- Input -->
    <input
      matInput
      [(ngModel)]="value"
      [errorStateMatcher]="errMatcher"
      [disabled]="disabled"
      [required]="required"
      [placeholder]="neverFloatLabel ? (placeholder | translate) : undefined"
      [autocomplete]="autocomplete"
      [max]="maxDate"
      [min]="minDate"
      [matDatepicker]="pickerStartDate"
      (blur)="onTouchItem()">
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerStartDate"></mat-datepicker-toggle>
    <mat-datepicker
      #pickerStartDate></mat-datepicker>

    <!-- Errors -->
    <mat-error
      *ngIf="control?.invalid && control?.touched">
      {{ getErrorMessages() }}
    </mat-error>

  </mat-form-field>
</div>
