<div
  class="gd-dashlet-kpi"
  [class.gd-dashlet-kpi-expanded]="expanded">

  <!-- Title and actions -->
  <div
    class="gd-dashlet-kpi-top"
    fxLayout="row" fxLayoutAlign="none center">

    <!-- Title -->
    <div
      class="gd-dashlet-kpi-top-title"
      fxFlex>
      {{pageTitle | translate}}
    </div>

    <!-- Actions -->
    <div
      class="gd-dashlet-kpi-top-actions"
      fxGrow="0" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.8rem">

      <!-- Expanded options -->
      <ng-container
        *ngIf="expanded">

        <!-- Hidden items -->
        <span
          class="gd-dashlet-kpi-top-actions-counter"
          *ngIf="hiddenValues?.count > 0">

          <!-- Message -->
          <span>{{'LNG_PAGE_DASHBOARD_KPI_HIDDEN_NO' | translate:hiddenValues}}</span>

          <!-- Show button -->
          (<button
            type="button"
            mat-flat-button
            color="text"
            (click)="showAll()">{{'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_SHOW_ALL' | translate}}</button>)
        </span>

      </ng-container>

      <!-- Expand / Collapse -->
      <button
        type="button"
        mat-icon-button
        (click)="expanded = !expanded">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

  </div>

  <!-- KPI -->
  <div
    *ngIf="expanded"
    class="gd-dashlet-kpi-bottom gd-dashlet-kpi-bottom-{{pageTitle}}"
    cdkDropList [cdkDropListData]="valuesVisibleAndSorted" (cdkDropListDropped)="dropItem($event)">

    <!-- Render value -->
    <div
      *ngFor="let value of valuesVisibleAndSorted"
      class="gd-dashlet-kpi-bottom-value"
      fxLayout="row" fxLayoutAlign="space-between center"
      cdkDrag cdkDragLockAxis="y" [cdkDragData]="value" cdkDragBoundary=".gd-dashlet-kpi-bottom-{{pageTitle}}" (cdkDragStarted)="dragStarted()" cdkDragPreviewContainer="parent">

      <!-- Left -->
      <div
        class="gd-dashlet-kpi-bottom-value-left"
        fxLayout="row">

        <!-- Sort -->
        <button
          cdkDragHandle
          type="button"
          mat-icon-button
          color="text"
          [matTooltip]="'LNG_COMMON_BUTTON_DRAG' | translate"
          (mousedown)="notInvalidDragZone();"
          (click)="$event.stopPropagation();">
          <mat-icon>drag_indicator</mat-icon>
        </button>

        <div
          class="gd-dashlet-kpi-bottom-value-left-text">
          <!-- Prefix -->
          <span>{{value.prefix | translate:(value.prefixData ? value.prefixData() : undefined)}}</span>

          <!-- Input & Suffix -->
          <ng-container
            *ngIf="value.suffix">

            <!-- Input -->
            <app-form-number-v2
              [(ngModel)]="value.inputValue"
              autocomplete="off"
              (ngModelChange)="reloadValue(value)"></app-form-number-v2>

            <!-- Suffix -->
            <span>{{value.suffix | translate}}</span>

          </ng-container>
        </div>

        <!-- Hover icons -->
        <div
          class="gd-dashlet-kpi-bottom-value-left-actions"
          fxGrow="0">

          <!-- Hide -->
          <button
            type="button"
            mat-icon-button
            color="text"
            [matTooltip]="'LNG_COMMON_BUTTON_HIDE' | translate"
            (click)="hide(value); $event.stopPropagation();">
            <mat-icon>visibility_off</mat-icon>
          </button>

          <!-- View data -->
          <a
            *ngIf="value.link"
            mat-icon-button
            color="text"
            [matTooltip]="'LNG_COMMON_BUTTON_VIEW_DATA' | translate"
            [routerLink]="value.link"
            [queryParams]="value.linkQueryParams"
            (click)="$event.stopPropagation()">
            <mat-icon>visibility</mat-icon>
          </a>

          <!-- Help -->
          <ng-container
            *ngIf="value.helpTooltip">
            <button
              type="button"
              mat-icon-button
              color="text"
              [popper]="popperContent"
              popperTrigger="hover"
              popperApplyClass="gd-form-input-v2-tooltip"
              popperPreventOverflow="true"
              popperPositionFixed="true"
              popperAppendTo="body"
              (click)="$event.stopPropagation()">
              <mat-icon>help</mat-icon>
            </button>
            <popper-content
              #popperContent>
              <div
                [innerHtml]="value.helpTooltip | safeHtml">
              </div>
            </popper-content>
          </ng-container>

        </div>
      </div>

      <!-- Value -->
      <div
        class="gd-dashlet-kpi-bottom-value-right"
        fxGrow="0"
        [ngSwitch]="value.status">

        <!-- Loading -->
        <div
          *ngSwitchCase="DashletValueStatus.LOADING">
          <mat-progress-spinner
            mode="indeterminate"
            diameter="16"></mat-progress-spinner>
        </div>

        <!-- Error -->
        <div
          *ngSwitchCase="DashletValueStatus.ERROR">
          <mat-icon
            color="warn">error</mat-icon>
        </div>

        <!-- Value -->
        <div
          *ngSwitchCase="DashletValueStatus.LOADED"
          [style.color]="value.valueColor">
          {{value.value}}
        </div>
      </div>

    </div>

  </div>

</div>
