@import '~styles/common';

// variables
@topnav-height: 90px;

// styles
.topnav {

    &.mat-toolbar-single-row {
        /* overriding Material behavior */
        height: @topnav-height;
        padding: 0;
    }

    .topnav-list {
        height: @topnav-height;
        padding-top: 0;

        .mat-list-item {
            align-self: center;

            .mat-list-item-content {

                .logo {
                    line-height: 1;

                    img {
                        width: 44px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .dynamic-section {
            padding: 0 20px;
        }
    }
}
