@import '~styles/common';

// variables
@topnav-height: 90px;

// styles
.topnav {

    &.mat-toolbar-single-row {
        /* overriding Material behavior */
        height: @topnav-height;
        padding: 0;
    }

    .topnav-list {
        height: @topnav-height;
        padding-top: 0;

        .mat-list-item {
            align-self: center;

            .mat-list-item-content {

                .a-no-style {

                    img {
                        width: 44px;
                    }
                }
            }
        }

        .dynamic-section {
            padding: 0 20px;
        }

        .add-new-item {
            font-size: 30px;
            color: @color-accent-main;

            .mat-list-item-content {
                padding: 0 8px;
            }
        }
    }
}
