<mat-toolbar class="topnav">

    <mat-list class="topnav-list" fxLayout="row" fxFlex>

        <mat-list-item class="add-new-item">
            <a [routerLink]="addNewItemRoute" class="a-no-style"><span class="xt-icon">add</span></a>
        </mat-list-item>

        <mat-divider [vertical]="true"></mat-divider>

        <mat-list-item fxFlex>
            <!-- Dynamic content -->
            <ng-content select="[dynamic-section]"></ng-content>
        </mat-list-item>

        <mat-divider [vertical]="true"></mat-divider>

        <mat-list-item>Selected outbreak</mat-list-item>

        <mat-divider [vertical]="true"></mat-divider>

        <mat-list-item>Language</mat-list-item>

        <mat-divider [vertical]="true"></mat-divider>

        <mat-list-item>Profile</mat-list-item>

    </mat-list>

</mat-toolbar>
