app-case-summary-dashlet {

    ngx-charts-legend.chart-legend {
        width: auto;
        clear: both;
        display: block;
        margin:0 auto;

        & > div {
            display:block;
            width: auto !important;
        }
        .legend-wrap {
            min-width:150px;
            text-align:center;
            margin:0 auto;
            float:none;
        }
        .legend-title{
            display:none;
        }
        .legend-labels{
            width: auto;
            display:inline-block;
            text-align:center;
            margin:0 auto;
            background:none;
            float:none;
            padding:0;
            margin-left: -13%;
            margin-top: -13%;
        }
    }


    //ngx-charts-legend {
    //    min-width: 100px;
    //
    //}
    ////
    //.advanced-pie {
    //    height: 300px;
    //    //width: 100% !important;
    //}
    //
    //.advanced-pie-legend-wrapper {
    //    width: 100% !important;
    //    display: block !important;
    //}
    //
    //.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    //    margin-top: 0px !important;
    //}


}
