<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button *ngIf="hasUserWriteAccess()" class="button-primary" mat-raised-button color="primary" [routerLink]="'./create'">
                    {{'LNG_COMMON_BUTTON_ADD' | translate}} <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button mat-raised-button (click)="needsRefreshList()">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="usersList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_USER_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstNameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('firstName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header class="column-header">{{'LNG_USER_FIELD_LABEL_LAST_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="lastNameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('lastName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_USER_FIELD_LABEL_EMAIL' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="emailFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('email', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                {{ item.email }}
            </mat-cell>
        </ng-container>

        <!-- Role -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_USER_FIELD_LABEL_ROLES' | translate}}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="rolesFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate "
                            [options]="rolesList$ | async"
                            multiple="true"
                            (optionChanged)="filterBySelectField('roleIds', $event, 'id')"
                            optionLabelKey="name"
                            optionValueKey="id"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                <mat-chip-list>
                    <mat-chip *ngFor="let role of item.roles" [matTooltip]="role.description">{{ role.name }}</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button mat-menu-item [routerLink]="['.', item.id, 'view']">
                        {{'LNG_PAGE_ACTION_VIEW' | translate}}
                    </button>

                    <button *ngIf="hasUserWriteAccess()" mat-menu-item [routerLink]="['.', item.id, 'modify']">
                        {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                    </button>

                    <span [matTooltip]="(item.id === authUser.id ? 'You cannot delete your own account' : '')">
                        <button *ngIf="hasUserWriteAccess()" mat-menu-item [disabled]="item.id === authUser.id" (click)="deleteUser(item)">
                            {{'LNG_PAGE_ACTION_DELETE' | translate}}
                        </button>
                    </span>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <mat-paginator
        [length]="(usersListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
