<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button *ngIf="hasUserWriteAccess()" class="button-primary" mat-raised-button color="primary" [routerLink]="'./create'">
                    Add <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="usersList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>First Name</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstNameFilter"
                            ngModel
                            placeholder="Filter"
                            (optionChanged)="filterTextBy('firstName', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header>Last Name</div>
                    <div class="column-filter">
                        <app-form-input
                            name="lastNameFilter"
                            ngModel
                            placeholder="Filter"
                            (optionChanged)="filterTextBy('lastName', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                <div class="table-header-cell">
                    <div>Email</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                {{ item.email }}
            </mat-cell>
        </ng-container>

        <!-- Role -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                <div class="table-header-cell">
                    <div mat-sort-header>Role</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                <mat-chip-list>
                    <mat-chip *ngFor="let role of item.roles" [matTooltip]="role.description">{{ role.name }}</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button mat-menu-item [routerLink]="['.', item.id, 'modify']">
                        Modify
                    </button>

                    <span [matTooltip]="(item.id === authUser.id ? 'You cannot delete your own account' : '')">
                        <button mat-menu-item [disabled]="item.id === authUser.id" (click)="deleteUser(item)">
                            Delete
                        </button>
                    </span>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
