<app-list-table-v2
  [pageTitle]="'LNG_PAGE_LIST_USERS_TITLE'"
  [records$]="usersList$"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.USER_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [filtersApplied]="filtersApplied"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
<!-- FIXME: .USERS missing -->
<!-- [advancedFilterType]="Constants.APP_PAGE.USERS.value" -->


<!-- <mat-card class="page-section page-content">
    <mat-table #table [dataSource]="usersList$ | async" matSort (matSortChange)="sortBy($event)"> -->

        <!-- Phone number -->
        <!-- <ng-container matColumnDef="telephoneNumbers">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_USER_FIELD_LABEL_TELEPHONE_NUMBERS' | translate}}</div>
                    <div class="column-filter">
                        <div> -->
<!--                            <app-form-input-->
<!--                                name="phoneNumberFilter"-->
<!--                                ngModel-->
<!--                                [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"-->
<!--                                (optionChanged)="filterByPhoneNumber('telephoneNumbers.' + PhoneNumberType.PRIMARY_PHONE_NUMBER, $event)"-->
<!--                                app-reset-input-on-side-filter-->
<!--                                [displayFilterIcon]="true">-->
<!--                            </app-form-input>-->
                        <!-- </div>
                    </div>
                </div>
            </mat-header-cell> -->
            <!-- <mat-cell *matCellDef="let item">
                {{ item.telephoneNumbers[PhoneNumberType.PRIMARY_PHONE_NUMBER] | translate }}
            </mat-cell> -->
        <!-- </ng-container> -->

        <!-- Role -->
        <!-- <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header" fxLayout="row">
                        <span>{{'LNG_USER_FIELD_LABEL_ROLES' | translate}}</span>

                        <button
                            type="button"
                            mat-icon-button
                            class="column-actions-button"
                            [disableRipple]="true"
                            [matMenuTriggerFor]="columnActions"
                            color="accent"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #columnActions="matMenu"> -->
<!--                            <button-->
<!--                                mat-menu-item-->
<!--                                (click)="toggleColumn('role', true)">-->
<!--                                {{ 'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_EXPAND_ALL' | translate }}-->
<!--                            </button>-->
<!--                            <button-->
<!--                                mat-menu-item-->
<!--                                (click)="toggleColumn('role', false)">-->
<!--                                {{ 'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_COLLAPSE_ALL' | translate }}-->
<!--                            </button>-->
                        <!-- </mat-menu>
                    </div>
                    <div class="column-filter"> -->
<!--                        <app-form-select-->
<!--                            name="rolesFilter"-->
<!--                            ngModel-->
<!--                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"-->
<!--                            [options]="rolesList$ | async"-->
<!--                            multiple="true"-->
<!--                            (optionChanged)="filterBySelectField('roleIds', $event, 'id')"-->
<!--                            optionLabelKey="name"-->
<!--                            optionValueKey="id"-->
<!--                            app-reset-input-on-side-filter-->
<!--                            [allowSelectionOfDisabledItems]="true"-->
<!--                            [displayFilterIcon]="true">-->
<!--                        </app-form-select>-->
                    <!-- </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item"> -->
<!--                <ng-container *ngIf="!isCellExpanded('role', item.id)">-->
<!--                    <app-number-of-items-label-->
<!--                        [value]="item.roles?.length"-->
<!--                    ></app-number-of-items-label>-->

<!--                    <button-->
<!--                        type="button"-->
<!--                        mat-button-->
<!--                        color="accent"-->
<!--                        (click)="toggleCell('role', item.id, true)"-->
<!--                    >-->
<!--                        {{'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_EXPAND' | translate}}-->
<!--                    </button>-->
<!--                </ng-container>-->

<!--                <ng-container *ngIf="isCellExpanded('role', item.id)">-->
<!--                    <mat-chip-list>-->
<!--                        <mat-chip *ngFor="let role of item.roles" [matTooltip]="role.description">{{ role.name }}</mat-chip>-->
<!--                    </mat-chip-list>-->

<!--                    <button-->
<!--                        type="button"-->
<!--                        mat-button-->
<!--                        color="accent"-->
<!--                        (click)="toggleCell('role', item.id, false)"-->
<!--                    >-->
<!--                        {{'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_COLLAPSE' | translate}}-->
<!--                    </button>-->
<!--                </ng-container>-->
            <!-- </mat-cell>
        </ng-container> -->

        <!-- Available outbreaks -->
        <!-- <ng-container matColumnDef="availableOutbreaks">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_USER_FIELD_LABEL_AVAILABLE_OUTBREAKS' | translate}}
                    </div>
                    <div class="column-filter"> -->
<!--                        <app-form-select-->
<!--                            name="availableOutbreaksFilter"-->
<!--                            ngModel-->
<!--                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"-->
<!--                            [options]="outbreaksList$ | async"-->
<!--                            multiple="true"-->
<!--                            (optionChanged)="filterBySelectField('outbreakIds', $event, 'id')"-->
<!--                            optionLabelKey="name"-->
<!--                            optionValueKey="id"-->
<!--                            app-reset-input-on-side-filter-->
<!--                            [allowSelectionOfDisabledItems]="true"-->
<!--                            [displayFilterIcon]="true">-->
<!--                        </app-form-select>-->
                    <!-- </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <mat-chip-list>
                    <ng-container
                        *ngFor="let outbreakId of item.outbreakIds"
                    > -->
                        <!-- <mat-chip
                            *ngIf="outbreaksListMap[outbreakId]"
                            [matTooltip]="outbreaksListMap[outbreakId].description"
                        >
                            {{ outbreaksListMap[outbreakId].name }}
                        </mat-chip> -->
                    <!-- </ng-container>
                </mat-chip-list>
            </mat-cell>
        </ng-container> -->

        <!-- Teams -->
        <!-- <ng-container matColumnDef="teams">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_USER_FIELD_LABEL_TEAMS' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="teamsFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="teamsList$ | async"
                            multiple="true"
                            (optionChanged)="filterTeamField($event)"
                            optionLabelKey="name"
                            optionValueKey="id"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <mat-chip-list>
                    <ng-container
                        *ngFor="let team of userTeamMap[item.id]">
                        <mat-chip>
                            {{ team.name }}
                        </mat-chip>
                    </ng-container>
                </mat-chip-list>
            </mat-cell>
        </ng-container> -->

    <!-- </mat-table>
</mat-card> -->
