@import '~styles/common';

// styles
.side-columns {
    position: absolute;
    top: 0;
    left: 0;

    .page-overlay {
        width: 100vw;
        height: 100vh;
    }

    mat-sidenav-container {
        position: absolute;
        z-index: 10;

        mat-sidenav {
            margin-top: 10vh;
            max-height: 80vh;
            width: 300px;
            padding: 15px;
            height: auto;
            bottom: unset !important;
            overflow-x: hidden;

            .side-filters-reset-button {
                font-weight: 600
            }

            .buttons-container {
                display: flex;
                margin-top: 20px;

                .stretched-button {
                    flex: 1 auto;
                    font-weight: 600;
                    border-radius: 5px;
                }
            }
        }
    }

    .sidenav-toggle {
        background-color: white;
        margin-top: 155px;
        padding: 7px 5px;
    }

    .section {

        &:not(:first-child) {
            margin-top: 20px;
        }

        .title {
            font-size: 22px;
            padding-bottom: 10px;
        }

        .side-filter-columns-checkbox {
            .form-checkbox-container {
                margin: 5px 0;
                padding: 0;
                height: auto;
                min-height: 0;
            }
        }
    }
}
