<!-- Hover row -->
<div
    class="record-hover-row-effect"
    [class.visible]="visible"
    [ngStyle]="hoverRowStyle">
</div>

<!-- Hover actions -->
<div
    #actionsRow
    class="record-hover-actions"
    [class.partial-visible]="visible && !visibleActions"
    [class.full-visible]="visible && visibleActions"
    [class.right]="realPosition === HoverRowActionsPosition.RIGHT"
    [ngStyle]="hoverActionsStyle"
    (mouseenter)="actionsMouseEnter()"
    (mouseleave)="actionsMouseLeave()">
    <ng-container
        *ngFor="let buttonData of actions">
        <button
            mat-icon-button
            color="accent"
            type="button"
            (click)="buttonData.click(actionData)">
            <span class="xt-icon">{{ buttonData.icon }}</span>
        </button>
    </ng-container>
</div>
