app-hover-row-actions {
    .record-hover-row-effect {
        display: none;
        background-color: #000;
        opacity: 0.07;
        z-index: 998;
        position: fixed;
        pointer-events: none;

        &.visible {
            display: inline-block;
        }
    }

    .record-hover-actions {
        display: none;
        background-color: transparent;
        z-index: 999;
        position: fixed;
        opacity: 0;
        transition: opacity 200ms;
        width: auto;
        white-space: nowrap;
        padding: 0 5px;

        &.partial-visible {
            display: inline-block;
            opacity: 0.3;
        }

        &.full-visible {
            display: inline-block;
            background-color: #EDEDED;
            opacity: 1;
        }

        &.right {
            transform: translateX(-100%);
        }
    }
}
