<div class="address-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[typeId]'"
                        [(ngModel)]="address.typeId"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_TYPE' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_TYPE_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="required"
                        [options]="addressTypes$ | async"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('name')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-datepicker
                        [name]="name + '[date]'"
                        [(ngModel)]="address.date"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_DATE' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_DATE_DESCRIPTION"
                        [disabled]="disabled"
                        [maxDate]="serverToday"
                        app-date-validator
                        [dateSameOrBefore]="serverToday"
                        (optionChanged)="onChange()">
                    </app-form-datepicker>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('date')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-input
                        [name]="name + '[phoneNumber]'"
                        [(ngModel)]="address.phoneNumber"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_PHONE_NUMBER' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_PHONE_NUMBER_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="false"
                        (input)="onChange()">
                    </app-form-input>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('phoneNumber')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-input
                        [name]="name + '[emailAddress]'"
                        [(ngModel)]="address.emailAddress"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_EMAIL_ADDRESS_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="false"
                        app-email-validator
                        (input)="onChange()">
                    </app-form-input>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('email')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-location-dropdown
                        fxFlex
                        [name]="name + '[locationId]'"
                        [(ngModel)]="address.locationId"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_LOCATION' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_LOCATION_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="required"
                        [useOutbreakLocations]="true"
                        (changed)="onChange()"
                        (itemChanged)="locationChanged($event)">
                    </app-form-location-dropdown>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('locationId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex fxLayout="row" fxLayoutGap="5px">
                        <app-form-input
                            [name]="name + '[city]'"
                            [(ngModel)]="address.city"
                            [placeholder]="'LNG_ADDRESS_FIELD_LABEL_CITY' | translate"
                            tooltip="LNG_ADDRESS_FIELD_LABEL_CITY_DESCRIPTION"
                            [disabled]="disabled"
                            [required]="false"
                            (input)="onChange()">
                        </app-form-input>
                        <div
                            *ngIf="displayCopyField"
                            fxFlex="40px"
                            fxLayout="column"
                            fxLayoutAlign="center">
                            <button
                                class="copy-field-button"
                                type="button"
                                mat-icon-button
                                [title]="displayCopyFieldDescription"
                                (click)="triggerCopyValue('city')">
                                <span class="xt-icon">fileCopy</span>
                            </button>
                        </div>
                    </div>

                    <div fxFlex fxLayout="row" fxLayoutGap="5px">
                        <app-form-input
                            [name]="name + '[postalCode]'"
                            [(ngModel)]="address.postalCode"
                            [placeholder]="'LNG_ADDRESS_FIELD_LABEL_POSTAL_CODE' | translate"
                            tooltip="LNG_ADDRESS_FIELD_LABEL_POSTAL_CODE_DESCRIPTION"
                            [disabled]="disabled"
                            [required]="false"
                            (input)="onChange()">
                        </app-form-input>
                        <div
                            *ngIf="displayCopyField"
                            fxFlex="40px"
                            fxLayout="column"
                            fxLayoutAlign="center">
                            <button
                                class="copy-field-button"
                                type="button"
                                mat-icon-button
                                [title]="displayCopyFieldDescription"
                                (click)="triggerCopyValue('postalCode')">
                                <span class="xt-icon">fileCopy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-input
                        [name]="name + '[addressLine1]'"
                        [(ngModel)]="address.addressLine1"
                        [placeholder]="'LNG_ADDRESS_FIELD_LABEL_ADDRESS_LINE_1' | translate"
                        tooltip="LNG_ADDRESS_FIELD_LABEL_ADDRESS_LINE_1_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="false"
                        (input)="onChange()">
                    </app-form-input>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('addressLine1')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex fxLayout="row" fxLayoutGap="5px">
                            <app-form-input
                                #latInput
                                [name]="name + '[geoLocation][lat]'"
                                [ngModel]="address.geoLocation?.lat"
                                [placeholder]="'LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LAT' | translate"
                                tooltip="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LAT_DESCRIPTION"
                                [disabled]="disabled"
                                [required]="isLatLngRequired(lngInput.value)"
                                app-min-max-validator
                                [min]="-90"
                                [minNumber]="-90"
                                [max]="90"
                                [maxNumber]="90"
                                type="number"
                                (optionChanged)="onChangeLatLng('lat', $event)">
                            </app-form-input>
                            <div
                                *ngIf="displayCopyField"
                                fxFlex="40px"
                                fxLayout="column"
                                fxLayoutAlign="center">
                                <button
                                    class="copy-field-button"
                                    type="button"
                                    mat-icon-button
                                    [title]="displayCopyFieldDescription"
                                    (click)="triggerCopyValue('geoLocation[lat]')">
                                    <span class="xt-icon">fileCopy</span>
                                </button>
                            </div>
                        </div>

                        <div fxFlex fxLayout="row" fxLayoutGap="5px">
                            <app-form-input
                                #lngInput
                                [name]="name + '[geoLocation][lng]'"
                                [ngModel]="address.geoLocation?.lng"
                                [placeholder]="'LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LNG' | translate"
                                tooltip="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LNG_DESCRIPTION"
                                [disabled]="disabled"
                                [required]="isLatLngRequired(latInput.value)"
                                app-min-max-validator
                                [min]="-180"
                                [minNumber]="-180"
                                [max]="180"
                                [maxNumber]="180"
                                type="number"
                                (optionChanged)="onChangeLatLng('lng', $event)">
                            </app-form-input>
                            <div
                                *ngIf="displayCopyField"
                                fxFlex="40px"
                                fxLayout="column"
                                fxLayoutAlign="center">
                                <button
                                    class="copy-field-button"
                                    type="button"
                                    mat-icon-button
                                    [title]="displayCopyFieldDescription"
                                    (click)="triggerCopyValue('geoLocation[lng]')">
                                    <span class="xt-icon">fileCopy</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex fxLayout="row" fxLayoutGap="5px">
                        <app-form-slide-toggle
                            [name]="name + '[geoLocationAccurate]'"
                            [(ngModel)]="address.geoLocationAccurate"
                            [label]="'LNG_ADDRESS_FIELD_LABEL_MANUAL_COORDINATES' | translate"
                            tooltip="LNG_ADDRESS_FIELD_LABEL_MANUAL_COORDINATES_DESCRIPTION"
                            [disabled]="disabled"
                            (optionChanged)="onChange()">
                        </app-form-slide-toggle>
                        <div
                            *ngIf="displayCopyField"
                            fxFlex="40px"
                            fxLayout="column"
                            fxLayoutAlign="center">
                            <button
                                class="copy-field-button"
                                type="button"
                                mat-icon-button
                                [title]="displayCopyFieldDescription"
                                (click)="triggerCopyValue('geoLocationAccurate')">
                                <span class="xt-icon">fileCopy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
