<div class="address-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                <app-form-select
                    [name]="name + '[name]'"
                    [(ngModel)]="address.name"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_NAME' | translate"
                    [disabled]="disabled"
                    [required]="required"
                    [options]="addressTypes$ | async"
                    (optionChanged)="onChange()">
                </app-form-select>

                <app-form-datepicker
                    [name]="name + '[date]'"
                    [(ngModel)]="address.date"
                    [required]="required"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_DATE' | translate"
                    [maxDate]="Constants.today()"
                    app-date-validator
                    [dateSameOrBefore]="Constants.today()"
                    (optionChanged)="onChange()">
                </app-form-datepicker>

                <app-form-input
                    [name]="name + '[geoLocation][lat]'"
                    [ngModel]="address.geoLocation?.lat"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_LOCATION_LAT' | translate"
                    [required]="false"
                    [disabled]="disabled"
                    (input)="onChangeGeo('lat', $event)"
                    type="number"
                    app-all-or-none-required-validator
                    [requiredList]="[name + '[geoLocation][lng]']">
                </app-form-input>

                <app-form-input
                    [name]="name + '[geoLocation][lng]'"
                    [ngModel]="address.geoLocation?.lng"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_LOCATION_LNG' | translate"
                    [required]="false"
                    [disabled]="disabled"
                    (input)="onChangeGeo('lng', $event)"
                    type="number"
                    app-all-or-none-required-validator
                    [requiredList]="[name + '[geoLocation][lat]']">
                </app-form-input>
            </div>

            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                <app-form-location-dropdown
                    fxFlex
                    [name]="name + '[locationId]'"
                    [(ngModel)]="address.locationId"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_LOCATION' | translate"
                    [disabled]="disabled"
                    [required]="required"
                    (changed)="onChange()">
                </app-form-location-dropdown>
            </div>

            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                <app-form-input
                    [name]="name + '[city]'"
                    [(ngModel)]="address.city"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_CITY' | translate"
                    [disabled]="disabled"
                    [required]="required"
                    (input)="onChange()">
                </app-form-input>

                <app-form-input
                    [name]="name + '[postalCode]'"
                    [(ngModel)]="address.postalCode"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_POSTAL_CODE' | translate"
                    [disabled]="disabled"
                    [required]="required"
                    (input)="onChange()">
                </app-form-input>

                <app-form-input
                    [name]="name + '[addressLine1]'"
                    [(ngModel)]="address.addressLine1"
                    [placeholder]="'LNG_ADDRESS_FIELD_LABEL_ADDRESS_LINE_1' | translate"
                    [disabled]="disabled"
                    [required]="required"
                    (input)="onChange()">
                </app-form-input>

                <div fxFlex><!-- placeholder --></div>
            </div>
        </div>
    </form>
</div>
