<app-list-table-v2
  [pageTitle]="entityData.type === EntityType.CONTACT ? 'LNG_PAGE_LIST_FOLLOW_UPS_TITLE' : 'LNG_PAGE_LIST_FOLLOW_UPS_REGISTERED_AS_CONTACT_TITLE'"
  [records$]="followUpsList$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.CONTACT_RELATED_DAILY_FOLLOW_UP_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.INDIVIDUAL_CONTACT_FOLLOW_UPS.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
