app-cases-pending-lab-results-dashlet {
    .dashboard-box-header {
        background-color: #AA3206;
        cursor: pointer;
    }
    .dashboard-box-content {
        background-color: #d60000;
    }
}
