@color-case-dashlet-header: #aa3206;
@color-case-dashlet-content: #f44708;

app-cases-deceased-dashlet{
    .dashboard-box-header{
        background-color: @color-case-dashlet-header;
    }
    .dashboard-box-content{
        background-color: @color-case-dashlet-content;
    }
}
