<div class="form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div
            *ngFor="let inputValue of values; let i = index"
            fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-card
                fxFlex
                class="page-section">
                <div
                    fxLayout="row" fxLayoutGap="20px">
                    <app-form-input
                        [name]="name + '[' + i + '][name]'"
                        [(ngModel)]="values[i].name"
                        [placeholder]="namePlaceholder"
                        [tooltip]="nameTooltip"
                        [disabled]="disabled"
                        (optionChanged)="onChange()"
                        [required]="required">
                    </app-form-input>

                    <div fxFlex><!-- placeholder --></div>
                    <div fxFlex><!-- placeholder --></div>
                    <div fxFlex><!-- placeholder --></div>
                </div>
                <div
                    fxLayout="row" fxLayoutGap="20px">
                    <app-form-input
                        [name]="name + '[' + i + '][url]'"
                        [(ngModel)]="values[i].url"
                        [placeholder]="urlPlaceholder"
                        [tooltip]="urlTooltip"
                        [disabled]="disabled"
                        (optionChanged)="onChange()"
                        [required]="required">
                    </app-form-input>
                </div>
            </mat-card>

            <button type="button" mat-icon-button (click)="delete(i)">
                <span class="xt-icon">delete</span>
            </button>
        </div>

        <button type="button" mat-button color="primary" (click)="add()">{{ 'LNG_INPUT_LABEL_ADD_ITEM' | translate }}</button>
    </form>
</div>
