<div class="form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form
        #groupForm="ngForm"
        fxLayout="column">
        <div
            cdkDropList [cdkDropListData]="value" (cdkDropListDropped)="dropTable($event)">
            <div
                *ngFor="let inputValue of values; let i = index; trackBy: trackByIndex"
                cdkDrag (cdkDragStarted)="dragStarted($event)" [cdkDragData]="inputValue">

                <!-- Content -->
                <div
                    fxLayout="row">

                    <!-- Data -->
                    <mat-card
                        class="page-section"
                        fxFlex fxLayout="column">

                        <div
                            fxLayout="row" fxLayoutGap="20px">
                            <!-- Name -->
                            <app-form-input
                                [name]="name + '[' + i + '].name'"
                                [(ngModel)]="values[i].name"
                                [placeholder]="namePlaceholder"
                                [tooltip]="nameTooltip"
                                [disabled]="disabled"
                                (optionChanged)="onChange()"
                                [required]="required">
                            </app-form-input>

                            <!-- Type -->
                            <app-form-select
                                [name]="name + '[' + i + '].type'"
                                [(ngModel)]="values[i].type"
                                [placeholder]="typePlaceholder"
                                [disabled]="disabled"
                                (optionChanged)="onChange()"
                                [options]="outbreakMapServerTypesList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                [required]="required"
                                [tooltip]="typeTooltip">
                            </app-form-select>
                        </div>

                        <div
                            fxLayout="row" fxLayoutGap="20px">
                            <!-- URL -->
                            <app-form-input
                                [name]="name + '[' + i + '].url'"
                                [(ngModel)]="values[i].url"
                                [placeholder]="urlPlaceholder"
                                [tooltip]="urlTooltip"
                                [disabled]="disabled"
                                (optionChanged)="onChange()"
                                [required]="required">
                            </app-form-input>
                        </div>

                        <div
                            *ngIf="values[i].type === Constants.OUTBREAK_MAP_SERVER_TYPES.VECTOR_TILE_VECTOR_TILE_LAYER.value"
                            fxLayout="row" fxLayoutGap="20px">

                            <!-- Style URL -->
                            <app-form-input
                                fxFlex="3 1 auto"
                                [name]="name + '[' + i + '].styleUrl'"
                                [(ngModel)]="values[i].styleUrl"
                                [placeholder]="styleUrlPlaceholder"
                                [tooltip]="styleUrlTooltip"
                                [disabled]="disabled"
                                (optionChanged)="onChange()">
                            </app-form-input>

                            <!-- Style URL Source -->
                            <app-form-select
                                fxFlex="1 1 auto"
                                [name]="name + '[' + i + '].styleUrlSource'"
                                [(ngModel)]="values[i].styleUrlSource"
                                [placeholder]="styleUrlSourcePlaceholder"
                                [disabled]="disabled"
                                (optionChanged)="onChange()"
                                [options]="[]"
                                optionLabelKey="label"
                                optionValueKey="value"
                                [required]="values[i].styleUrl"
                                [tooltip]="styleUrlSourceTooltip">
                            </app-form-select>

                        </div>

                    </mat-card>

                    <!-- Buttons -->
                    <div
                        *ngIf="!disabled"
                        fxGrow="0" fxLayout="column" fxLayoutAlign="center">

                        <!-- Drag Row -->
                        <button
                            cdkDragHandle
                            type="button"
                            mat-icon-button
                            [matTooltip]="'LNG_COMMON_BUTTON_DRAG' | translate"
                            (mousedown)="notInvalidDragZone()">
                            <span class="xt-icon">drag</span>
                        </button>

                        <!-- Delete buttons -->
                        <button
                            type="button" mat-icon-button
                            (click)="delete(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div
            *ngIf="!disabled"
            fxLayout="row">
            <button type="button" mat-button color="primary" (click)="add()">{{ 'LNG_INPUT_LABEL_ADD_ITEM' | translate }}</button>
        </div>
    </form>
</div>
