<div class="address-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutGap="20px">
                <app-form-select
                    [name]="name + '[typeId]'"
                    [(ngModel)]="centerDateRange.typeId"
                    [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_RANGE_TYPE_ID' | translate"
                    [options]="dateTypeList$ | async"
                    [disabled]="disabled"
                    [required]="required"
                    [clearable]="false"
                    optionLabelKey="label"
                    optionValueKey="value"
                    (optionChanged)="onChange()">
                </app-form-select>

                <div fxFlex fxLayout="row">
                    <app-form-daterange
                        [name]="name"
                        [(ngModel)]="centerDateRange"
                        (changed)="onChange()"
                        (groupValidated)="validateGroup()"
                        [disabled]="disabled"
                        [fromTooltip]="fromTooltip"
                        [toTooltip]="toTooltip"
                        [minDate]="minDate"
                        [maxDate]="maxDate">
                    </app-form-daterange>
                </div>

                <app-form-select
                    [name]="name + '[centerName]'"
                    [(ngModel)]="centerDateRange.centerName"
                    [options]="dateRangeCentreNameList$ | async"
                    [placeholder]="centerNameLabel | translate"
                    [tooltip]="centerNameTooltip"
                    [disabled]="disabled"
                    [required]="false"
                    [clearable]="true"
                    optionLabelKey="label"
                    optionValueKey="value"
                    (optionChanged)="onChange()">
                </app-form-select>

                <app-form-location-dropdown
                    [name]="name + '[locationId]'"
                    [(ngModel)]="centerDateRange.locationId"
                    [useOutbreakLocations]="true"
                    (changed)="onChange()"
                    [placeholder]="'LNG_CASE_FIELD_LABEL_CENTER_DATES_LOCATION' | translate"
                    tooltip="LNG_CASE_FIELD_LABEL_CENTER_DATES_LOCATION_DESCRIPTION"
                    [required]="false"
                    [disabled]="disabled">
                </app-form-location-dropdown>
            </div>

            <div fxLayout="row">
                <app-form-textarea
                    [name]="name + '[comments]'"
                    [(ngModel)]="centerDateRange.comments"
                    (optionChanged)="onChange()"
                    [placeholder]="'LNG_CASE_FIELD_LABEL_CENTER_DATES_COMMENTS' | translate"
                    tooltip="LNG_CASE_FIELD_LABEL_CENTER_DATES_COMMENTS_DESCRIPTION"
                    required="false"
                    [disabled]="disabled">
                </app-form-textarea>
            </div>
        </div>
    </form>
</div>
