<div
    fxLayout="row"
    class="form-range"
    [id]="identifier">
    <app-form-input
        fxFlex
        [name]="name + '[from]'"
        [(ngModel)]="range.from"
        placeholder="From"
        type="number"
        (input)="onChange()">
    </app-form-input>
    <div
        class="form-range-separator"
    >-</div>
    <app-form-input
        fxFlex
        [name]="name + '[to]'"
        [(ngModel)]="range.to"
        placeholder="To"
        type="number"
        (input)="onChange()">
    </app-form-input>
</div>
