<div class="column-filter column-filter-range"
     [id]="identifier">
    <div>
        <app-form-input
            [name]="name + '[from]'"
            [(ngModel)]="range.from"
            placeholder="From"
            [type]="isNumber ? 'number' : 'text'"
            [pattern]="isNumber ? '' : '\\d*'"
            (input)="onChange()">
        </app-form-input>
    </div>
    <div>-</div>
    <div>
        <app-form-input
            [name]="name + '[to]'"
            [(ngModel)]="range.to"
            placeholder="To"
            [type]="isNumber ? 'number' : 'text'"
            [pattern]="isNumber ? '' : '\\d*'"
            (input)="onChange()">
        </app-form-input>
    </div>
</div>
