app-cytoscape-graph {

    .cytoscape-graph-container {
        position: relative;
    }

    .cy {
        width: 97%;
        min-height: 550px;
        display: block;
        padding: 20px;
        resize: vertical;
        overflow: hidden;
        border: 1px solid #d3d3d3;
    }

    .spinner-graph mat-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;
    }

    .spinner-graph {
        min-height: 550px;
        margin: 20px;
    }

    .graph-legend {
        background-color: #FFFFFF;
        font-size: 0.8em;
        position: absolute;
        top: 70px;
        right: 20px;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 75%;
        padding: 20px 10px;
        overflow-y: auto;
        z-index: 10;

        .legend-name {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;

            .legend-field-name {
                font-weight: normal;
                margin-left: 5px;
            }
        }

        .legend-item {
            margin-left: 10px;
        }

        .legend-item div {
            float: left;
        }

        .legend-item:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        .legend-color {
            width: 10px;
            height: 10px;
        }

        .legend-icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .entities-no-dates{
        cursor: pointer;
    }

    .toggle-legend {
        position: absolute;
        bottom: 15px;
        right: 25px;
    }

    .export-graph{
        position: absolute;
        bottom: 25px;
        left: 25px;
    }

}
