<div class="cytoscape-graph-container">
    <!-- dropdown with view types -->
    <app-form-select
        name="chainView"
        [(ngModel)]="transmissionChainViewType"
        required="true"
        [options]="transmissionChainViewTypes$ | async"
        (optionChanged)="updateView($event)"
        [clearable]="false">
    </app-form-select>
    <!-- spinner -->
    <div class="spinner-graph"
         *ngIf="showLoading">
        <mat-spinner>
        </mat-spinner>
    </div>

    <!-- legend -->
    <div class="graph-legend"
         *ngIf="legend && showLegend">
        <!-- node color -->
        <div *ngIf="legend.nodeColorKeys && legend.nodeColorKeys.length"
             class="legend-name">
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeColorLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeColorItem of legend.nodeColorKeys" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.nodeColor[nodeColorItem]">
            </div>
            <div>
                {{nodeColorItem | translate}}
            </div>
        </div>

        <!-- node name color -->
        <div *ngIf="legend.nodeNameColorKeys && legend.nodeNameColorKeys.length"
             class="legend-name">
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeNameColorLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeNameColorItem of legend.nodeNameColorKeys" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.nodeNameColor[nodeNameColorItem]">
            </div>
            <div>
                {{nodeNameColorItem | translate}}
            </div>
            <div *ngIf="transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
            || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
            || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value">
                - {{legend.nodeNameColorAdditionalInfo[nodeNameColorItem] | translate}}
            </div>
        </div>

        <!-- edge color -->
        <div *ngIf="legend.edgeColorKeys && legend.edgeColorKeys.length"
             class="legend-name">
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.edgeColorLabel | translate}}:</div>
        </div>

        <div
            *ngFor="let edgeColorItem of legend.edgeColorKeys" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.edgeColor[edgeColorItem]">
            </div>
            <div>
                {{edgeColorItem | translate}}
            </div>
        </div>

        <!-- node icon -->
        <div *ngIf="legend.nodeIconKeys && legend.nodeIconKeys.length"
             class="legend-name">
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeIconLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeIconItem of legend.nodeIconKeys" class="legend-item">
            <div
                class="legend-icon"
                [style.background-image]="'url(' + legend.nodeIcon[nodeIconItem] + ')'">
            </div>
            <div>
                {{nodeIconItem | translate}}
            </div>
        </div>

    </div>

    <!-- cytoscape element -->
    <div class="cy" id="cy"
         [fxShow]="!showLoading">
    </div>

    <div class="graph-actions" fxLayout="row" fxLayoutGap="30px">
        <!--  toggle Edit mode -->
        <app-form-slide-toggle
            name="toggleEditMode"
            [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_EDIT_MODE_LABEL' | translate"
            [(ngModel)]="editMode"
            (optionChanged)="toggleEditMode()"
        ></app-form-slide-toggle>

        <!--  show / hide legend -->
        <app-form-slide-toggle
            name="showLegend"
            [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_LEGEND_LABEL' | translate"
            [(ngModel)]="showLegend">
        </app-form-slide-toggle>
    </div>

</div>

<div *ngIf="showCaseNodesWithoutDates()"
     class="entities-no-dates">
    <a target="_blank"
       routerLink="/cases"
       [queryParams]="{applyListFilter: getCasesListFilter(), caseIds: elements.caseNodesWithoutDates}">
        {{elements.caseNodesWithoutDates.length}}
        {{ getCasesWithoutDatesTitle() | translate}}
    </a>
</div>
<div *ngIf="showContactNodesWithoutDates()"
     class="entities-no-dates">
    <a target="_blank"
       routerLink="/contacts"
       [queryParams]="{applyListFilter: getContactsListFilter(), contactIds: elements.caseNodesWithoutDates}">
        {{elements.contactNodesWithoutDates.length}}
        {{ getContactsWithoutDatesTitle() | translate}}
    </a>
</div>
<div *ngIf="showEventNodesWithoutDates()"
     class="entities-no-dates">
    <a target="_blank"
       routerLink="/events"
       [queryParams]="{applyListFilter: getEventsListFilter(), eventIds: elements.eventNodesWithoutDates}">
        {{elements.eventNodesWithoutDates.length}}
        {{ getEventsWithoutDatesTitle() | translate}}
    </a>
</div>

<button *ngIf="( transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
        || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
        || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value)"
    mat-raised-button
    (click)="switchTimelineView(timelineViewType === 'horizontal' ? 'vertical' : 'horizontal')">
    {{ ( timelineViewType === 'horizontal' ? 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_VERTICAL' : 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_HORIZONTAL' )| translate }}
</button>
