app-cytoscape-graph {
    .cy {
        min-width: 100%;
        min-height: 400px;
        display: block;
        margin: 20px;
    }

    .spinnerGraph mat-spinner{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;
    }

    .spinnerGraph {
        min-height: 400px;
        margin: 20px;
    }

}
