<div class="cytoscape-graph-container">
    <!-- dropdown with view types -->
    <app-form-select
        name="chainView"
        [(ngModel)]="transmissionChainViewType"
        required="true"
        [options]="transmissionChainViewTypes$ | async"
        (optionChanged)="updateView()"
        [clearable]="false">
    </app-form-select>
    <!-- spinner -->
    <div class="spinner-graph"
         *ngIf="showLoading">
        <mat-spinner>
        </mat-spinner>
    </div>

    <!-- legend -->
    <div class="graph-legend"
         *ngIf="legend">
        <!-- node color -->
        <div *ngIf="objectKeys(legend.nodeColor).length"
             class="legend-name">
            {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeColorLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeColorItem of objectKeys(legend.nodeColor)" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.nodeColor[nodeColorItem]">
            </div>
            <div>
                {{nodeColorItem | translate}}
            </div>
        </div>

        <!-- node name color -->
        <div *ngIf="objectKeys(legend.nodeNameColor).length"
             class="legend-name">
            {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeNameColorLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeNameColorItem of objectKeys(legend.nodeNameColor)" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.nodeNameColor[nodeNameColorItem]">
            </div>
            <div>
                {{nodeNameColorItem | translate}}
            </div>
        </div>

        <!-- edge color -->
        <div *ngIf="objectKeys(legend.edgeColor).length"
             class="legend-name">
            {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate}}
            <div class="legend-field-name">{{legend.edgeColorLabel | translate}}:</div>
        </div>

        <div
            *ngFor="let edgeColorItem of objectKeys(legend.edgeColor)" class="legend-item">
            <div
                class="legend-color"
                [style.background-color]="legend.edgeColor[edgeColorItem]">
            </div>
            <div>
                {{edgeColorItem | translate}}
            </div>
        </div>

        <!-- node icon -->
        <div *ngIf="objectKeys(legend.nodeIcon).length"
             class="legend-name">
            {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate}}
            <div class="legend-field-name">{{legend.nodeIconLabel | translate}}:</div>
        </div>
        <div
            *ngFor="let nodeIconItem of objectKeys(legend.nodeIcon)" class="legend-item">
            <div
                class="legend-icon"
                [style.background-image]="'url(' + legend.nodeIcon[nodeIconItem] + ')'">
            </div>
            <div>
                {{nodeIconItem | translate}}
            </div>
        </div>

    </div>

    <!-- cytoscape element -->
    <div class="cy"
         [fxShow]="!showLoading">
    </div>
</div>
