<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyFollowUp(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_DETAILS_TITLE' | translate">

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div
                            fxLayout="row" fxLayoutGap="20px" fxFlex
                            class="follow-ups-title">
                            <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT' | translate }}</div>
                            <div>
                                {{ followUpData.contact.name }}
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-datepicker
                                name="date"
                                [(ngModel)]="followUpData.date"
                                [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                                tooltip="LNG_FOLLOW_UP_FIELD_LABEL_DATE_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                app-date-validator>
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="targeted"
                                [(ngModel)]="followUpData.targeted"
                                [label]="'LNG_FOLLOW_UP_FIELD_LABEL_TARGETED' | translate"
                                tooltip="LNG_FOLLOW_UP_FIELD_LABEL_TARGETED_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <app-form-select
                                name="statusId"
                                [(ngModel)]="followUpData.statusId"
                                [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID' | translate"
                                tooltip="LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID_DESCRIPTION"
                                [options]="dailyStatusTypeOptions$ | async"
                                [disabled]="viewOnly"
                                [required]="true"
                                optionLabelKey="label"
                                optionValueKey="value">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <div class="section-title">{{ 'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_DETAILS_LABEL_ADDRESS' | translate }}</div>
                <mat-card class="page-section">
                    <app-form-address
                        name="address"
                        [ngModel]="followUpData.address"
                        [disabled]="true">
                    </app-form-address>
                </mat-card>
            </mat-tab>

            <mat-tab [label]="'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_QUESTIONNAIRE_TITLE' | translate">
                <app-form-fill-questionnaire
                    name="questionnaireAnswers"
                    [ngModel]="followUpData.questionnaireAnswers"
                    [questions]="selectedOutbreak.contactFollowUpTemplate"
                    [disabled]="viewOnly">
                </app-form-fill-questionnaire>
            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="viewOnly && hasFollowUpsWriteAccess()"
                mat-raised-button color="primary" class="button-primary"
                [routerLink]="['/contacts', contactId,'follow-ups', followUpId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT'| translate}}
        </button>

        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="primary" class="button-primary">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button
                type="button"
                routerLink="/contacts/follow-ups"
                mat-raised-button>
                {{ 'LNG_COMMON_BUTTON_CANCEL' | translate }}
            </button>
        </ng-container>

        <div class="page-tabs-navbar-placeholder"></div>

        <button
            *ngIf="hasContactReadAccess()"
            mat-raised-button
            type="button"
            [routerLink]="['/contacts', contactId, 'view']">
            {{ 'LNG_PAGE_MODIFY_FOLLOW_UP_ACTION_VIEW_CONTACT' | translate }}
        </button>


    </div>
</form>
