<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form
    #form="ngForm"
    class="page-content form-section"
    [class.form-view-only]="viewOnly"
    (submit)="modifyFollowUp(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">
            <mat-tab [label]="'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_QUESTIONNAIRE_TITLE' | translate">
                <app-form-fill-questionnaire
                    *ngIf="!!followUpData?.id"
                    name="questionnaireAnswers"
                    [ngModel]="followUpData.questionnaireAnswers"
                    [questions]="selectedOutbreak?.contactFollowUpTemplate"
                    [disabled]="viewOnly"
                    [componentTitle]="'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_QUESTIONNAIRE_TITLE' | translate">
                </app-form-fill-questionnaire>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <ng-container
            *app-selected-outbreak-is-active>
            <button
                *ngIf="viewOnly && FollowUpModel.canModify(authUser)"
                type="button"
                mat-raised-button color="accent"
                [routerLink]="['/contacts', contactId, 'follow-ups', followUpId, 'modify-questionnaire']">
                {{'LNG_COMMON_BUTTON_EDIT' | translate}}
            </button>

            <button
                *ngIf="!viewOnly"
                class="button-with-spinner"
                mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
        </ng-container>

        <button
            type="button"
            [routerLink]="['/contacts', contactId, 'follow-ups', followUpId, viewOnly ? 'view' : 'modify']"
            mat-raised-button>
            {{'LNG_COMMON_BUTTON_BACK' | translate}}
        </button>
    </div>
</form>
