<div
  class="gd-form-edit-questionnaire-v2">

  <!-- Top -->
  <div
    *ngIf="!viewOnly"
    class="gd-form-edit-questionnaire-v2-top"
    fxLayoutAlign="end">
    <button
      type="button"
      mat-flat-button
      color="primary"
      (click)="addQuestion(undefined)">
      {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BUTTON_ADD_NEW' | translate}}
    </button>
  </div>

  <!-- Records -->
  <div
    class="gd-form-edit-questionnaire-v2-list">

    <!-- Records -->
    <ng-container
      *ngIf="flattenedQuestions?.length > 0; else noQuestions">
      <cdk-virtual-scroll-viewport
        #cdkViewport
        class="gd-form-edit-questionnaire-v2-list-{{name}}"
        cdkDropList [cdkDropListData]="flattenedQuestions" [cdkDropListSortPredicate]="canDrop" (cdkDropListDropped)="dropItem($event)"
        [minBufferPx]="maxBufferPx ? maxBufferPx : bufferToRender"
        [maxBufferPx]="maxBufferPx ? maxBufferPx : bufferToRender"
        [itemSize]="45">

        <!-- Item -->
        <div
          *cdkVirtualFor="let item of flattenedQuestions; templateCacheSize: 0"
          class="gd-form-edit-questionnaire-v2-item"
          [class.gd-form-edit-questionnaire-v2-item-inactive]="item.data.inactive || item.oneParentIsInactive"
          cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".gd-form-edit-questionnaire-v2-list-{{name}}" [cdkDragData]="item" [cdkDragDisabled]="viewOnly" (cdkDragStarted)="dragStarted($event)"
          [ngSwitch]="item.type"
          [style.paddingLeft.px]="item.level * 20"
          style="height: 4.5rem">

          <!-- Custom drag&drop placeholder -->
          <div class="gd-drag-custom-placeholder" *cdkDragPlaceholder></div>

          <!-- Question -->
          <div
            *ngSwitchCase="FlattenType.QUESTION"
            class="gd-form-edit-questionnaire-v2-item-question"
            [class.gd-form-edit-questionnaire-v2-item-question-markup]="item.data.answerType === Constants.ANSWER_TYPES.MARKUP.value"
            fxLayout="row" fxLayoutAlign=" center">

            <!-- Sort -->
            <mat-icon
              *ngIf="!viewOnly"
              cdkDragHandle
              (mousedown)="notInvalidDragZone()">drag_indicator</mat-icon>

            <!-- Type -->
            <mat-icon
              fxGrow="0">help</mat-icon>

            <!-- Label & icons -->
            <div
              class="gd-form-edit-questionnaire-v2-item-question-content"
              fxFlex>

              <!-- Label -->
              <span
                class="gd-form-edit-questionnaire-v2-item-question-content-title">{{item.data.text}}</span>

              <!-- Icons -->
              <span
                *ngIf="renderMode !== RenderMode.SMALL"
                class="gd-form-edit-questionnaire-v2-item-question-content-icons">

                <!-- Answer type -->
                <mat-icon
                  [matTooltip]="item.data.answerType ? (item.data.answerType | translate) : undefined">spellcheck</mat-icon>

                <!-- Category -->
                <mat-icon
                  [matTooltip]="item.data.category ? (item.data.category | translate) : undefined">folder_special</mat-icon>

                <!-- Multiple answers -->
                <mat-icon
                  *ngIf="item.data.multiAnswer">format_list_numbered_rtl</mat-icon>

                <!-- Required -->
                <mat-icon
                  *ngIf="item.data.required">stars</mat-icon>

                <!-- Inactive -->
                <mat-icon
                  *ngIf="item.data.inactive"
                  color="warn">do_not_disturb</mat-icon>
              </span>

            </div>

            <!-- Buttons -->
            <div
              class="gd-form-edit-questionnaire-v2-item-question-buttons"
              fxGrow="0">

              <!-- Add answer -->
              <button
                *ngIf="!viewOnly && item.canHaveChildren"
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BUTTON_ADD_NEW' | translate"
                (click)="addAnswer(item.data)">
                <mat-icon>playlist_add</mat-icon>
              </button>

              <!-- Edit question -->
              <button
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_COMMON_BUTTON_UPDATE' | translate"
                (click)="viewEditQuestion(item.data, item.parent?.data)">
                <mat-icon>{{viewOnly ? 'visibility' : 'edit'}}</mat-icon>
              </button>

            </div>

          </div>

          <!-- Answer -->
          <div
            *ngSwitchCase="FlattenType.ANSWER"
            class="gd-form-edit-questionnaire-v2-item-answer"
            fxLayout="row" fxLayoutAlign=" center">

            <!-- Sort -->
            <mat-icon
              *ngIf="!viewOnly"
              cdkDragHandle
              (mousedown)="notInvalidDragZone()">drag_indicator</mat-icon>

            <!-- Type -->
            <mat-icon
              fxGrow="0">font_download</mat-icon>

            <!-- Label & icons -->
            <div
              class="gd-form-edit-questionnaire-v2-item-answer-content"
              fxFlex>

              <!-- Label -->
              <span
                class="gd-form-edit-questionnaire-v2-item-answer-content-title">{{item.data.label}}</span>

              <!-- Icons -->
              <span
                *ngIf="renderMode !== RenderMode.SMALL"
                class="gd-form-edit-questionnaire-v2-item-answer-content-icons">
                <!-- Alert -->
                <mat-icon
                  *ngIf="item.data.alert">notification_important</mat-icon>
              </span>

            </div>

            <!-- Buttons -->
            <div
              class="gd-form-edit-questionnaire-v2-item-answer-buttons"
              fxGrow="0">

              <!-- Add question -->
              <button
                *ngIf="!viewOnly"
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BUTTON_ADD_NEW' | translate"
                (click)="addQuestion(item.data)">
                <mat-icon>post_add</mat-icon>
              </button>

              <!-- Edit answer -->
              <button
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_COMMON_BUTTON_UPDATE' | translate"
                (click)="viewEditAnswer(item.data, item.parent.data)">
                <mat-icon>{{viewOnly ? 'visibility' : 'edit'}}</mat-icon>
              </button>

            </div>

          </div>

        </div>

      </cdk-virtual-scroll-viewport>
    </ng-container>

    <!-- No questions image -->
    <ng-template
      #noQuestions>
      <div>
        empty list image....
      </div>
    </ng-template>
  </div>

  <!-- Legend -->
  <div
    *ngIf="flattenedQuestions?.length > 0"
    class="gd-form-edit-questionnaire-v2-legend"
    fxLayout="row" fxLayoutAlign="start center">

    <!-- Header -->
    <div
      class="gd-form-edit-questionnaire-v2-legend-title">
      {{'LNG_COMMON_LABEL_LEGEND' | translate}}
    </div>

    <!-- Items -->
    <div
      class="gd-form-edit-questionnaire-v2-legend-items"
      fxLayout="row wrap" fxLayoutAlign="start center">

      <!-- Drag -->
      <div
        *ngIf="!viewOnly"
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>drag_indicator</mat-icon>
        <span>{{'LNG_COMMON_BUTTON_DRAG' | translate}}</span>
      </div>

      <!-- Answer type -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>spellcheck</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE' | translate}}</span>
      </div>

      <!-- Category -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>folder_special</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY' | translate}}</span>
      </div>

      <!-- Multiple answers -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>format_list_numbered_rtl</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_MULTI_ANSWER' | translate}}</span>
      </div>

      <!-- Required -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>stars</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_REQUIRED' | translate}}</span>
      </div>

      <!-- Inactive -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon
          color="warn">do_not_disturb</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_INACTIVE' | translate}}</span>
      </div>

      <!-- Alert -->
      <div
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon
          color="primary">notification_important</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ALERT' | translate}}</span>
      </div>

      <!-- Add question -->
      <div
        *ngIf="!viewOnly"
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>post_add</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BUTTON_ADD_NEW' | translate}}</span>
      </div>

      <!-- Add answers -->
      <div
        *ngIf="!viewOnly"
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>playlist_add</mat-icon>
        <span>{{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BUTTON_ADD_NEW' | translate}}</span>
      </div>

      <!-- Edit -->
      <div
        *ngIf="!viewOnly"
        class="gd-form-edit-questionnaire-v2-legend-items-item">
        <mat-icon>edit</mat-icon>
        <span>{{'LNG_COMMON_BUTTON_UPDATE' | translate}}</span>
      </div>

    </div>

  </div>

</div>
