<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyRelationship(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_CASE_RELATIONSHIP_TAB_DETAILS' | translate">

                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-datepicker
                                name="contactDate"
                                [(ngModel)]="relationshipData.contactDate"
                                required="true"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE' | translate">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="contactDateEstimated"
                                [(ngModel)]="relationshipData.contactDateEstimated"
                                required="true"
                                [label]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_ESTIMATED' | translate">
                            </app-form-slide-toggle>

                            <app-form-select
                                name="certaintyLevelId"
                                [(ngModel)]="relationshipData.certaintyLevelId"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL' | translate"
                                required="true"
                                [options]="certaintyLevelOptions$ | async">
                            </app-form-select>

                            <app-form-select
                                name="exposureTypeId"
                                [(ngModel)]="relationshipData.exposureTypeId"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE' | translate"
                                required="true"
                                [options]="exposureTypeOptions$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="exposureFrequencyId"
                                [(ngModel)]="relationshipData.exposureFrequencyId"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY' | translate"
                                required="true"
                                [options]="exposureFrequencyOptions$ | async">
                            </app-form-select>

                            <app-form-select
                                name="exposureDurationId"
                                [(ngModel)]="relationshipData.exposureDurationId"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION' | translate"
                                required="true"
                                [options]="exposureDurationOptions$ | async">
                            </app-form-select>

                            <app-form-select
                                name="socialRelationshipTypeId"
                                [(ngModel)]="relationshipData.socialRelationshipTypeId"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_RELATION' | translate"
                                [options]="socialRelationshipOptions$ | async">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-textarea
                                name="comment"
                                [(ngModel)]="relationshipData.comment"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_COMMENT' | translate">
                            </app-form-textarea>

                            <div fxFlex><!-- placeholder --></div>
                        </div>

                    </div>
                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *app-selected-outbreak-is-active mat-raised-button color="primary">
            {{'LNG_COMMON_BUTTON_SAVE' | translate}}
        </button>
        <button type="button" [routerLink]="'/cases'" mat-raised-button>
            {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
        </button>
    </div>


</form>
