<div
  class="gd-form-fill-questionnaire-v2">

  <!-- Records -->
  <div
    class="gd-form-fill-questionnaire-v2-list">
    <!-- Records -->
    <ng-container
      *ngIf="flattenedQuestions?.length > 0; else noQuestions">
      <cdk-virtual-scroll-viewport
        #cdkViewport
        [minBufferPx]="1024"
        [maxBufferPx]="1024"

        change123
        [itemSize]="45"
        style="height: 500px">
        <!-- Item -->
        <div
          *cdkVirtualFor="let item of flattenedQuestions; templateCacheSize: 0"
          class="gd-form-fill-questionnaire-v2-list-item"
          [ngSwitch]="item.type"

          change123
          [style.paddingLeft.px]="item.level * 20"
          style="height: 45px">

          <!-- Question -->
          <div
            *ngSwitchCase="FlattenType.QUESTION"
            class="gd-form-fill-questionnaire-v2-list-item-question"
            [class.gd-form-fill-questionnaire-v2-list-item-question-inactive]="item.data.inactive || item.oneParentIsInactive"
            [class.gd-form-fill-questionnaire-v2-list-item-question-markup]="item.data.answerType === Constants.ANSWER_TYPES.MARKUP.value"
            [class.gd-form-fill-questionnaire-v2-list-item-question-multiple]="item.data.multiAnswer"

            change123
            fxLayout="row">

            <!-- Collapse / Expand -->
            <mat-icon
              change123
              [style.visibility]="item.canCollapseOrExpand ? 'visible' : 'hidden'"
              (click)="expandCollapse(item)">{{item.data.collapsed ? 'expand_more' : 'expand_less'}}</mat-icon>

            <!-- Type -->
            <mat-icon
              change123
              fxGrow="0">help_center</mat-icon>

            <!-- Label -->
            <div
              change123
              fxFlex>
              <!-- Label -->
              <span>{{item.data.text}}</span>
            </div>

            <!-- Buttons -->
            <div
              *ngIf="!viewOnly && item.data.multiAnswer && !item.data.inactive"
              class="gd-form-fill-questionnaire-v2-list-item-question-buttons"
              fxGrow="0">

              <!-- Add answer -->
              <button
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_QUESTIONNAIRE_BUTTON_ADD_MULTI_ANSWER' | translate"
                (click)="addMultiAnswer(item)">
                <mat-icon>playlist_add</mat-icon>
              </button>

            </div>

          </div>

          <!-- ANSWER MULTI DATE -->
          <div
            *ngSwitchCase="FlattenType.ANSWER_MULTI_DATE"
            class="gd-form-fill-questionnaire-v2-list-item-answer-multi-date"
            [class.gd-form-fill-questionnaire-v2-list-item-answer-multi-date-inactive]="item.oneParentIsInactive"

            change123
            fxLayout="row">

            <!-- Collapse / Expand -->
            <!-- append padding and remove icon -->
            <mat-icon
              change123
              style="visibility: hidden">expand_more</mat-icon>

            <!-- Calendar -->
            <mat-icon
              change123
              fxGrow="0">event</mat-icon>

            <!-- Date -->
            <div
              change123
              fxFlex>
              <app-form-date-v2
                [(ngModel)]="value[item.parent.data.variable][item.index].date"
                [name]="item.name"
                autocomplete="off"
                app-date-validator
                [viewOnly]="viewOnly"
                (ngModelChange)="onChangeMultiDate(item)"></app-form-date-v2>
            </div>

            <!-- Buttons -->
            <div
              *ngIf="!viewOnly && !item.parent.data.inactive"
              class="gd-form-fill-questionnaire-v2-list-item-answer-multi-date-buttons"
              fxGrow="0">

              <!-- Remove answer -->
              <button
                type="button"
                mat-icon-button
                [matTooltip]="'LNG_QUESTIONNAIRE_BUTTON_REMOVE' | translate"
                (click)="removeMultiAnswer(item)">
                <mat-icon>delete</mat-icon>
              </button>

            </div>

          </div>

          <!-- ANSWER -->
          <div
            *ngSwitchCase="FlattenType.ANSWER"
            class="gd-form-fill-questionnaire-v2-list-item-answer"
            [class.gd-form-fill-questionnaire-v2-list-item-answer-inactive]="item.oneParentIsInactive"

            change123
            fxLayout="row">

            <!-- Collapse / Expand -->
            <!-- append padding and remove icon -->
            <mat-icon
              change123
              style="visibility: hidden">expand_more</mat-icon>

            <!-- Type -->
            <mat-icon
              change123
              fxGrow="0">font_download</mat-icon>

            <!-- Render answer accordingly to question type -->
            <ng-container
              [ngSwitch]="item.definition.type">

              <!-- Single select -->
              <app-form-select-single-v2
                *ngSwitchCase="FlattenAnswerDrawType.SINGLE_SELECT"
                [(ngModel)]="value[item.parent.data.variable][item.index].value"
                [name]="item.name"
                [options]="item.definition.options"
                [viewOnly]="viewOnly"
                (ngModelChange)="answersWithChildrenQuestionsChanged()"></app-form-select-single-v2>

              <!-- Multiple select -->
              <app-form-select-multiple-v2
                *ngSwitchCase="FlattenAnswerDrawType.MULTIPLE_SELECT"
                [(ngModel)]="value[item.parent.data.variable][item.index].value"
                [name]="item.name"
                [options]="item.definition.options"
                [viewOnly]="viewOnly"
                (changedAndClosed)="answersWithChildrenQuestionsChanged()"></app-form-select-multiple-v2>

              <!-- Text -->
              <app-form-input-v2
                *ngSwitchCase="FlattenAnswerDrawType.TEXT"
                [(ngModel)]="value[item.parent.data.variable][item.index].value"
                [name]="item.name"
                autocomplete="off"
                [viewOnly]="viewOnly"
                (ngModelChange)="onChange(value)"></app-form-input-v2>

              <!-- Number -->
              <app-form-number-v2
                *ngSwitchCase="FlattenAnswerDrawType.NUMBER"
                [(ngModel)]="value[item.parent.data.variable][item.index].value"
                [name]="item.name"
                autocomplete="off"
                [viewOnly]="viewOnly"
                (ngModelChange)="onChange(value)"></app-form-number-v2>

              <!-- Date -->
              <app-form-date-v2
                *ngSwitchCase="FlattenAnswerDrawType.DATE"
                [(ngModel)]="value[item.parent.data.variable][item.index].value"
                [name]="item.name"
                autocomplete="off"
                app-date-validator
                [viewOnly]="viewOnly"
                (ngModelChange)="onChange(value)"></app-form-date-v2>

              <!-- File -->
              <div
                *ngSwitchCase="FlattenAnswerDrawType.FILE">
                FILE UPLOAD
              </div>

            </ng-container>

          </div>

        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <!-- No questions image -->
    <ng-template
      #noQuestions>
      <div>
        empty list image....
      </div>
    </ng-template>
  </div>

  <!-- Legend -->
  <div
    *ngIf="flattenedQuestions?.length > 0"
    class="gd-form-fill-questionnaire-v2-legend">

    <!-- Header -->
    <div
      class="gd-form-fill-questionnaire-v2-legend-title">
      {{'LNG_COMMON_LABEL_LEGEND' | translate}}
    </div>

    <!-- Items -->
    <div
      class="gd-form-fill-questionnaire-v2-legend-items">
      TODO
    </div>

  </div>

</div>
