app-form-question {

    width: 100%;
    min-width: 100%;
    padding: 0px;
    margin: 0px;

    .question-wrapper {
        border-bottom: 1px solid #F2F2F2;
        background-color: #F0F0F0;
        padding: 15px;
    }

    .question-box {
        padding: 5px;
        margin: 5px;
    }

    .question-badge {
        border-radius: 20px;
        background: #999999;
        color: #FDFDFD;
        padding: 10px;
        height: 40px;
        width: 40px;
        margin: auto 5px;
    }
}


