<div class="form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">

        <div fxLayout="row" class="question-wrapper">

            <!-- question badge -->
            <div class="question-badge" fxFlex="40px">
                {{title}}
            </div>

            <!-- question text -->
            <div class="question-box" fxFlex="30">
                <app-form-input
                    [name]="name + '[text]'"
                    [ngModel]="question.text | translate"
                    [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_TEXT' | translate"
                    required="true"
                    [disabled]="viewOnly"
                    (optionChanged)="onChangeBind('text', $event)"
                    (initialized)="onInitializeBind('text', $event)">
                </app-form-input>
            </div>

            <!-- question variable -->
            <div class="question-box" fxFlex="10">
                <app-form-input
                    [name]="name + '[variable]'"
                    [(ngModel)]="question.variable"
                    [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE' | translate"
                    [disabled]="viewOnly"
                    (input)="onChange()"
                    required="false">
                </app-form-input>
            </div>

            <!-- question category -->
            <div class="question-box" fxFlex="15">
                <app-form-select
                    [name]="name + '[category]'"
                    [(ngModel)]="question.category"
                    [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY' | translate"
                    required="true"
                    [options]="questionCategoriesList$ | async"
                    [disabled]="viewOnly"
                    (optionChanged)="onChange()">
                </app-form-select>
            </div>

            <!-- question - answer type -->
            <div class="question-box" fxFlex>
                <app-form-select
                    [name]="name + '[answerType]'"
                    [(ngModel)]="question.answerType"
                    [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE' | translate"
                    required="true"
                    [options]="answerTypesList$ | async"
                    multiple="false"
                    [disabled]="viewOnly"
                    (optionChanged)="answerTypeChanged()">
                </app-form-select>
            </div>

            <!-- question actions -->
            <div class="question-box  text-right" fxFlex="215px" fxHide="{{viewOnly}}">
                <app-form-slide-toggle
                    [name]="name + '[required]'"
                    [(ngModel)]="question.required"
                    [label]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_REQUIRED' | translate"
                    required="false"
                    (optionChanged)="onChange()">
                </app-form-slide-toggle>

                <button mat-icon-button type="button" color="primary" (click)="duplicate()">
                    <span class="xt-icon">fileCopy</span>
                </button>
                <button *ngIf="displayRemove" mat-icon-button type="button" color="warn" (click)="delete()">
                    <span class="xt-icon">delete</span>
                </button>
            </div>
            <div class="question-box text-right" fxFlex="20" [fxHide]="!viewOnly">
                <div>{{ (question.required ? 'LNG_TEMPLATE_QUESTION_FIELD_ALERT_REQUIRED' : '') | translate}}</div>
            </div>
        </div>

        <div fxFlex fxLayout="row">
            <!-- answers list -->
            <app-form-answer-list
                class="app-form-answer-list-container"
                *ngIf="question.answerType === answerTypes.MULTIPLE_OPTIONS.value || question.answerType === answerTypes.SINGLE_SELECTION.value"
                [name]="name + '[answers]'"
                [ngModel]="question.answers"
                [viewOnly]="viewOnly"
                (changed)="onChange(false)"
                (groupValidated)="validateGroup()"
                [minItems]="2">
            </app-form-answer-list>
        </div>

    </form>
</div>
