<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <ng-container *app-selected-outbreak-is-active>
                    <button *ngIf="hasEntityWriteAccess()" class="button-primary" mat-raised-button color="primary"
                            [routerLink]="['/relationships', entityType, entityId, 'available-entities']">
                        {{'LNG_PAGE_LIST_ENTITY_RELATIONSHIPS_ACTION_ADD_RELATIONSHIP' | translate}} <span class="xt-icon">addCircle</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button mat-raised-button (click)="needsRefreshList()">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="relationshipsList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_PERSON_FIRST_NAME' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstNameFilter"
                            ngModel
                            placeholder="{{'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate}}"
                            (optionChanged)="filterByRelation('people').byTextMultipleProperties(['firstName', 'name'], $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                {{
                    item.relatedEntity(entityId)?.type === EntityType.EVENT ?
                        item.relatedEntity(entityId)?.model.name :
                        item.relatedEntity(entityId)?.model.firstName
                }}
            </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_PERSON_LAST_NAME' | translate}}
                    </div>
                    <div class="column-filter">
                        <!-- Placeholder -->
                        <app-form-input
                            name="lastNameFilter"
                            ngModel
                            placeholder="{{'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate}}"
                            (optionChanged)="filterByRelation('people').byTextMultipleProperties(['lastName', 'name'], $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                {{
                    item.relatedEntity(entityId)?.type === EntityType.EVENT ?
                        '' :
                        item.relatedEntity(entityId)?.model.lastName
                }}
            </mat-cell>
        </ng-container>

        <!-- Contact Date -->
        <ng-container matColumnDef="contactDate">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByDateRangeField('contactDate', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                {{ item.contactDate | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Certainty Level -->
        <ng-container matColumnDef="certaintyLevelId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="certaintyLevelFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate "
                            [options]="certaintyLevelList$ | async"
                            (optionChanged)="filterBySelectField('certaintyLevelId', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CERTAINTY_LEVEL"
                    [value]="item.certaintyLevelId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Exposure Type -->
        <ng-container matColumnDef="exposureTypeId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="exposureType"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="exposureTypeList$ | async"
                            (optionChanged)="filterBySelectField('exposureTypeId', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.EXPOSURE_TYPE"
                    [value]="item.exposureTypeId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Exposure Frequency -->
        <ng-container matColumnDef="exposureFrequencyId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="exposureFrequency"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="exposuresFrequencyList$ | async"
                            (optionChanged)="filterBySelectField('exposureFrequencyId', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.EXPOSURE_FREQUENCY"
                    [value]="item.exposureFrequencyId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Exposure Duration -->
        <ng-container matColumnDef="exposureDurationId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" >
                    <div class="column-header" mat-sort-header>
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="exposureDuration"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="exposureDurationList$ | async"
                            (optionChanged)="filterBySelectField('exposureDurationId', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.EXPOSURE_DURATION"
                    [value]="item.exposureDurationId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Relation -->
        <ng-container matColumnDef="socialRelationshipTypeId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{'LNG_RELATIONSHIP_FIELD_LABEL_RELATION' | translate}}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="relation"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="relationshipTypeList$ | async"
                            (optionChanged)="filterBySelectField('socialRelationshipTypeId', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [ngClass]="'cell-' + item.relatedEntity(entityId)?.type">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CONTEXT_OF_TRANSMISSION"
                    [value]="item.socialRelationshipTypeId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu #actionsMenu="matMenu">

                        <button mat-menu-item [routerLink]="['.', item.id, 'view']">
                            {{'LNG_PAGE_ACTION_VIEW' | translate}}
                        </button>

                        <ng-container *app-selected-outbreak-is-active>
                            <button *ngIf="hasEntityWriteAccess()" mat-menu-item [routerLink]="['.', item.id, 'modify']">
                                {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                            </button>

                            <button *ngIf="hasEntityWriteAccess()" mat-menu-item class="mat-menu-item-delete" (click)="deleteRelationship(item)">
                                {{'LNG_PAGE_ACTION_DELETE' | translate}}
                            </button>
                        </ng-container>

                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <mat-paginator
        [length]="(relationshipsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
