<app-list-table-v2
  [pageTitle]="relationshipType === RelationshipType.CONTACT ? 'LNG_PAGE_LIST_ENTITY_RELATIONSHIPS_CONTACTS_TITLE' : 'LNG_PAGE_LIST_ENTITY_RELATIONSHIPS_EXPOSURES_TITLE'"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.RELATIONSHIP_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.RELATIONSHIPS.value"
  [advancedFilters]="advancedFilters"
  keyField="relationship.id"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
