<app-create-view-modify-v2
  [action]="action"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [tabData]="tabData"
  listTitle="LNG_PAGE_LIST_CASES_TITLE"
  [expandListRecords$]="expandListRecords$"
  [expandListColumnRenderer]="expandListColumnRenderer"
  [expandListAdvancedFilterType]="Constants.APP_PAGE.CASES.value"
  [expandListAdvancedFilters]="expandListAdvancedFilters"
  [expandListQueryFields]="expandListQueryFields"
  expandListAdvancedFiltersCacheKey="/cases"
  (expandListRefreshData)="refreshExpandList($event)">
</app-create-view-modify-v2>
