@import '~handsontable/dist/handsontable.full.min.css';
@import '~styles/common';

app-bulk-modify-contacts {
    .min-height-location {
        min-height: @min-height-for-drop-down-containers;
    }

    .form-content {
        .bulk-modify-contacts-errors {
            margin-bottom: 20px;

            .bulk-modify-contacts-errors-title {
                font-weight: bold;
            }
        }
    }
}
