app-modify-contact-follow-ups-list {
    .list-questionnaire-title {
        margin-left: 20px;
    }

    .changes-title {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .info-container {
        margin-bottom: 10px;
    }
}
