<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Details step -->
        <mat-step [stepControl]="followDetailsForm">
            <form #followDetailsForm="ngForm">
                <ng-template matStepLabel>
                    {{'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_TAB_DETAILS_TITLE'| translate}}
                </ng-template>

                <div
                    *ngFor="let followUpData of followUps; trackBy: trackByFieldID; let i = index"
                    fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-card
                        fxFlex
                        class="page-section">
                        <div
                            fxLayout="column" fxLayoutGap="20px">

                            <div
                                fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <div>
                                    {{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT' | translate }}
                                </div>
                                <div>
                                    {{ followUpData.contact.name }}
                                </div>
                            </div>

                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px">
                                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                                    <app-form-datepicker
                                        [name]="'followUps[' + i + '][date]'"
                                        [(ngModel)]="followUpData.date"
                                        [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                                        tooltip="LNG_FOLLOW_UP_FIELD_LABEL_DATE_DESCRIPTION"
                                        required="true"
                                        app-date-validator>
                                    </app-form-datepicker>
                                    <div
                                        fxFlex="40px"
                                        fxLayout="column"
                                        fxLayoutAlign="center">
                                        <button
                                            class="copy-field-button"
                                            type="button"
                                            mat-icon-button
                                            [title]="'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_COPY_BUTTON_TITLE' | translate"
                                            (click)="copyValueToEmptyFields('date', followUpData)">
                                            <span class="xt-icon">fileCopy</span>
                                        </button>
                                    </div>
                                </div>

                                <app-form-slide-toggle
                                    [name]="'followUps[' + i + '][targeted]'"
                                    [ngModel]="followUpData.targeted"
                                    [label]="'LNG_FOLLOW_UP_FIELD_LABEL_TARGETED' | translate"
                                    tooltip="LNG_FOLLOW_UP_FIELD_LABEL_TARGETED_DESCRIPTION">
                                </app-form-slide-toggle>

                                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                                    <app-form-select
                                        [name]="'followUps[' + i + '][statusId]'"
                                        [(ngModel)]="followUpData.statusId"
                                        [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID' | translate"
                                        tooltip="LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID_DESCRIPTION"
                                        [options]="dailyStatusTypeOptions$ | async"
                                        [required]="true"
                                        optionLabelKey="label"
                                        optionValueKey="value">
                                    </app-form-select>
                                    <div
                                        fxFlex="40px"
                                        fxLayout="column"
                                        fxLayoutAlign="center">
                                        <button
                                            class="copy-field-button"
                                            type="button"
                                            mat-icon-button
                                            [title]="'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_COPY_BUTTON_TITLE' | translate"
                                            (click)="copyValueToEmptyFields('statusId', followUpData, undefined, checkIfStatusIsEmpty)">
                                            <span class="xt-icon">fileCopy</span>
                                        </button>
                                    </div>
                                </div>

                                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                                    <app-form-select
                                        [name]="'followUps[' + i + '][teamId]'"
                                        [ngModel]="followUpData.teamId"
                                        [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_TEAM' | translate"
                                        tooltip="LNG_FOLLOW_UP_FIELD_LABEL_TEAM_DESCRIPTION"
                                        [options]="teamsList$ | async"
                                        optionLabelKey="name"
                                        optionValueKey="id">
                                    </app-form-select>
                                </div>
                            </div>

                            <div
                                fxFlex fxLayout="column" fxLayoutGap="10px">
                                <div class="section-title">
                                    {{ 'LNG_PAGE_MODIFY_FOLLOW_UP_TAB_DETAILS_LABEL_ADDRESS' | translate }}
                                </div>
                                <app-form-address
                                    [name]="'followUps[' + i + '][address]'"
                                    [ngModel]="followUpData.address"
                                    [disabled]="true">
                                </app-form-address>
                            </div>

                        </div>
                    </mat-card>

                    <div
                        fxFlex="70px">
                        <button
                            *ngIf="followUps.length > 1"
                            type="button"
                            mat-icon-button
                            (click)="removeFollowUp(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </div>
                </div>

                <div class="stepper-wrapper">
                    <button
                        mat-raised-button color="accent" matStepperNext
                        (click)="invalidDisplayFields(followDetailsForm)">
                        {{'LNG_STEPPER_BUTTON_NEXT' | translate}}
                    </button>
                </div>
            </form>
        </mat-step>

        <!-- Questionnaire step -->
        <mat-step [stepControl]="followQuestionnaireForm">
            <form #followQuestionnaireForm="ngForm">
                <ng-template matStepLabel>
                    {{'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_TAB_QUESTIONNAIRE_TITLE'| translate}}
                </ng-template>

                <div
                    *ngFor="let followUpData of followUps; trackBy: trackByFieldID; let i = index"
                    fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <app-form-fill-questionnaire
                        fxFlex
                        [name]="'followUps[' + i + '][questionnaireAnswers]'"
                        [ngModel]="followUpData.questionnaireAnswers"
                        [questions]="selectedOutbreak?.contactFollowUpTemplate"
                        [displayCopyField]="true"
                        [displayCopyFieldDescription]="'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_COPY_BUTTON_TITLE' | translate"
                        (copyValue)="copyValueToEmptyFields('questionnaireAnswers[' + $event + ']', followUpData, followQuestionnaireForm)">
                        <div
                            fxLayout="row" fxLayoutGap="20px" fxFlex
                            class="list-questionnaire-title">
                            <div>
                                {{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT' | translate }}
                            </div>
                            <div>
                                {{ followUpData.contact.name }}
                            </div>
                        </div>
                    </app-form-fill-questionnaire>

                    <div
                        fxFlex="70px">
                        <button
                            *ngIf="followUps.length > 1"
                            type="button"
                            mat-icon-button
                            (click)="removeFollowUp(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </div>
                </div>

                <div class="stepper-wrapper">
                    <button mat-raised-button type="button" matStepperPrevious>
                        {{'LNG_STEPPER_BUTTON_BACK' | translate}}
                    </button>
                    <button
                        mat-raised-button color="accent" matStepperNext
                        (click)="invalidDisplayFields(followQuestionnaireForm)">
                        {{'LNG_STEPPER_BUTTON_NEXT' | translate}}
                    </button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>
                {{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}
            </ng-template>
            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            <div class="stepper-wrapper">
                <button mat-raised-button type="button" matStepperPrevious>
                    {{'LNG_STEPPER_BUTTON_BACK' | translate}}
                </button>
                <button
                    type="button"
                    mat-raised-button
                    color="accent"
                    (click)="updateFollowUps([followDetailsForm, followQuestionnaireForm])">
                    {{'LNG_PAGE_MODIFY_FOLLOW_UPS_LIST_ACTION_UPDATE_FOLLOW_UPS_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
