@import '~styles/_colors';

app-form-fill-questionnaire {
    font-size: 17px;

    .mat-card {
        padding: 0;
    }

    .questionnaire-category-title {
        font-weight: bold;
        padding: 5px 0 5px 0;
        text-transform: uppercase;
    }

    .questionnaire-category-question-markup {
        padding: 20px 20px 2px 20px;
        font-weight: bold;
        border-bottom: 1px solid #CCC;
    }

    .questionnaire-category-question {
        padding: 2px 20px;

        &:nth-child(odd) {
            background-color: @color-gray-background;

            .questionnaire-category-question-nr {
                background-color: white;
            }
        }

        &:nth-child(even) {
            background-color: white;

            .questionnaire-category-question-nr {
                background-color: @color-gray-background;
            }
        }

        .questionnaire-category-question-nr {
            padding: 10px;
            border-radius: 20px;
        }

        .questionnaire-category-question-text,
        .questionnaire-category-question-nr {
            font-weight: bold;
        }

        .questionnaire-category-question-additional {
            margin: 0 30px;
        }

        .questionnaire-category-question-remove-btn {
            margin-bottom: 16px;
        }

        .copy-field-button {
            width: 32px;
            height: 32px;
            line-height: 32px;

            margin-top: 16px;

            .xt-icon {
                font-size: 16px;
            }
        }
    }
}
