<div class="form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <mat-card class="page-section">
            <ng-content></ng-content>

            <div fxFlex fxLayout="column" fxLayoutGap="40px">
                <div
                    *ngFor="let categoryData of questionsGroupedByCategory"
                    fxFlex fxLayout="column" fxLayoutAlign="start stretch">
                    <div
                        *ngIf="!hideCategories"
                        fxFlex fxLayout="row" fxLayoutAlign="center"
                         class="questionnaire-category-title">
                        {{ categoryData.category | translate }}
                    </div>
                    <div>
                        <div
                            *ngFor="let question of categoryData.questions; let questionIndex = index"
                            fxFlex fxLayout="column" fxLayoutGap="20px"
                            class="questionnaire-category-question">
                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly stretch">
                                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                    <div
                                        class="questionnaire-category-question-nr">
                                        {{ ( 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BADGE' | translate )  + (questionIndex + 1) }}
                                    </div>
                                    <div
                                        class="questionnaire-category-question-text">
                                        {{ question.text | translate }}
                                    </div>
                                </div>
                                <div fxFlex>
                                    <div fxFlex fxLayout="row" fxLayoutGap="5px">
                                        <!-- Free text -->
                                        <app-form-input
                                            *ngIf="question.answerType === Constants.ANSWER_TYPES.FREE_TEXT.value || question.answerType === Constants.ANSWER_TYPES.NUMERIC.value"
                                            [name]="name + '[' + question.variable + ']'"
                                            [(ngModel)]="value[question.variable]"
                                            [placeholder]="'LNG_QUESTIONNAIRE_LABEL_WRITE_ANSWER' | translate"
                                            [required]="question.required"
                                            (optionChanged)="onChange()"
                                            [disabled]="disabled"
                                            [type]="question.answerType === Constants.ANSWER_TYPES.NUMERIC.value ? 'number' : 'text'">
                                        </app-form-input>

                                        <!-- Date / Time Picker -->
                                        <app-form-datepicker
                                            *ngIf="question.answerType === Constants.ANSWER_TYPES.DATE_TIME.value"
                                            [name]="name + '[' + question.variable + ']'"
                                            [(ngModel)]="value[question.variable]"
                                            [placeholder]="'LNG_QUESTIONNAIRE_LABEL_SELECT_DATE' | translate"
                                            [required]="question.required"
                                            [disabled]="disabled"
                                            (optionChanged)="onChange()"
                                            app-date-validator>
                                        </app-form-datepicker>

                                        <!-- Multiple selections -->
                                        <app-form-select
                                            *ngIf="question.answerType === Constants.ANSWER_TYPES.MULTIPLE_OPTIONS.value || question.answerType === Constants.ANSWER_TYPES.SINGLE_SELECTION.value"
                                            [name]="name + '[' + question.variable + ']'"
                                            [(ngModel)]="value[question.variable]"
                                            [placeholder]="(question.answerType === Constants.ANSWER_TYPES.SINGLE_SELECTION.value ? 'LNG_QUESTIONNAIRE_LABEL_SELECT_ANSWER' : 'LNG_QUESTIONNAIRE_LABEL_SELECT_ANSWERS') | translate"
                                            [required]="question.required"
                                            [options]="question.answers"
                                            optionLabelKey="label"
                                            optionValueKey="value"
                                            [multiple]="question.answerType === Constants.ANSWER_TYPES.MULTIPLE_OPTIONS.value"
                                            (optionChanged)="onChange()"
                                            [disabled]="disabled">
                                        </app-form-select>

                                        <div
                                            *ngIf="question.answerType === Constants.ANSWER_TYPES.FILE_UPLOAD.value"
                                            fxFlex fxLayout="row" fxLayoutGap="20px">
                                            <input
                                                hidden
                                                #importDataBtn
                                                type="file"
                                                ng2FileSelect
                                                [uploader]="uploaders[question.variable]"/>

                                            <app-form-input
                                                [name]="name + '[' + question.variable + '].................................................................'"
                                                ngModel
                                                [placeholder]="'LNG_QUESTIONNAIRE_LABEL_FILE_NAME' | translate"
                                                [required]="question.required"
                                                (optionChanged)="onChange()"
                                                [disabled]="disabled">
                                            </app-form-input>

                                            <div
                                                fxFlex fxLayout="row" fxLayoutGap="0">
                                                <div fxFlex>
                                                    {{ uploaders[question.variable].queue.length > 0 ? uploaders[question.variable].queue[0].file.name : ('LNG_QUESTIONNAIRE_LABEL_CHOOSE_FILE' | translate) }}
                                                </div>

                                                <div fxFlex="90px">
                                                    <button
                                                        type="button"
                                                        mat-raised-button
                                                        color="primary"
                                                        (click)="importDataBtn.click()">
                                                        {{ 'LNG_QUESTIONNAIRE_BUTTON_BROWSE' | translate }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- copy value button -->
                                        <div
                                            *ngIf="displayCopyField"
                                            fxFlex="40px"
                                            fxLayout="column"
                                            fxLayoutAlign="center">
                                            <button
                                                class="copy-field-button"
                                                type="button"
                                                mat-icon-button
                                                [title]="displayCopyFieldDescription"
                                                (click)="triggerCopyValue(question.variable)">
                                                <span class="xt-icon">fileCopy</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                *ngIf="(
                                        question.answerType === Constants.ANSWER_TYPES.MULTIPLE_OPTIONS.value ||
                                        question.answerType === Constants.ANSWER_TYPES.SINGLE_SELECTION.value
                                    ) && hasSubQuestions(question, value[question.variable])"
                                class="questionnaire-category-question-additional">
                                <div
                                    *ngFor="let answer of subQuestionsAnswer(question, value[question.variable])">
                                    <app-form-fill-questionnaire
                                        [name]="name"
                                        [ngModel]="value"
                                        [questions]="additionalQuestions[question.variable][answer]"
                                        [disabled]="disabled"
                                        [hideCategories]="true"
                                        (changed)="onChange(false)"
                                        (groupValidated)="validateGroup()">
                                    </app-form-fill-questionnaire>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>
