<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form
    #form="ngForm"
    class="page-content form-section"
    [class.form-view-only]="viewOnly"
    (submit)="modifyDevice(form)">

    <div class="form-content">

        <mat-card class="page-section">
            <div fxLayout="column">

                <div fxLayout="row" fxLayoutGap="20px">
                    <app-form-input
                        name="name"
                        [(ngModel)]="deviceData.name"
                        [placeholder]="'LNG_SYSTEM_DEVICE_FIELD_LABEL_NAME' | translate"
                        tooltip="LNG_SYSTEM_DEVICE_FIELD_LABEL_NAME_DESCRIPTION"
                        required="true"
                        maxlength="200"
                        [disabled]="viewOnly">
                    </app-form-input>
                </div>
                <div fxLayout="row" fxLayoutGap="20px">
                    <app-form-textarea
                        fxFlex
                        name="description"
                        [ngModel]="deviceData.description"
                        [placeholder]="'LNG_SYSTEM_DEVICE_FIELD_LABEL_DESCRIPTION' | translate"
                        tooltip="LNG_SYSTEM_DEVICE_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                        minRows="1"
                        [disabled]="viewOnly">
                    </app-form-textarea>

                </div>
            </div>
        </mat-card>

    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button
            *ngIf="viewOnly && DeviceModel.canModify(authUser)"
            mat-raised-button
            color="accent"
            type="button"
            [routerLink]="['/system-config/devices', deviceId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT'| translate}}
        </button>
        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button
                *ngIf="DeviceModel.canList(authUser)"
                type="button"
                mat-raised-button
                [routerLink]="'/system-config/devices'">
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>
    </div>

</form>
