<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

        </div>
    </ng-container>
</app-topnav>

<app-counted-items-list
    [items]="countedNewContactsGroupedByExposureType$ | async"
    (optionChanged)="filterByRelationshipExposureType($event)">
</app-counted-items-list>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="contactsList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>First Name</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstNameFilter"
                            ngModel
                            placeholder="Filter"
                            (optionChanged)="filterByTextField('firstName', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header>Last Name</div>
                    <div class="column-filter">
                        <app-form-input
                            name="lastNameFilter"
                            ngModel
                            placeholder="Filter"
                            (optionChanged)="filterByTextField('lastName', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.lastName }}
            </mat-cell>
        </ng-container>

         <!-- Age -->
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>Age</div>
                    <div class="column-filter">
                        <app-form-range
                            name="ageFilter"
                            ngModel
                            (changed)="filterByRangeField('age', $event)">
                        </app-form-range>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.age }}
            </mat-cell>
        </ng-container>

        <!-- Gender -->
        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>Gender</div>
                    <div class="column-filter">
                        <app-form-select
                            name="genderFilter"
                            ngModel
                            placeholder="Filter"
                            [options]="genderList$ | async"
                            (optionChanged)="filterBySelectField('gender', $event)"
                            multiple="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.gender }}
            </mat-cell>
        </ng-container>

        <!-- Phone number -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>Phone</div>
                    <div class="column-filter">
                        <app-form-input
                            name="phoneNumberFilter"
                            ngModel
                            placeholder="Filter"
                            (optionChanged)="filterByTextField('phoneNumber', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.phoneNumber }}
            </mat-cell>
        </ng-container>

        <!-- Risk Level -->
        <ng-container matColumnDef="riskLevel">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{ 'LNG_CONTACT_FIELD_LABEL_RISK_LEVEL' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="riskLevelFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="riskLevelsList$ | async"
                            (optionChanged)="filterBySelectField('riskLevel', $event)"
                            multiple="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.riskLevel }}
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <div *app-selected-outbreak-is-active>
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item *ngIf="hasFollowUpWriteAccess()" [routerLink]="['.', item.id, 'follow-ups', 'create' ]">
                            Add Follow-up
                        </button>

                        <mat-divider></mat-divider>

                    <button mat-menu-item [routerLink]="['/relationships', EntityType.CONTACT, item.id]">
                        {{'LNG_PAGE_ACTION_SEE_RELATIONSHIPS' | translate}}
                    </button>

                    <mat-divider></mat-divider>

                    <button mat-menu-item [routerLink]="['.', item.id, 'modify']">
                        Modify
                    </button>

                        <button mat-menu-item (click)="deleteContact(item)">
                            Delete
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
