<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <app-export-button
                    *ngIf="exportContactsUrl"
                    [label]="'LNG_PAGE_LIST_CONTACTS_EXPORT_BUTTON' | translate"
                    [message]="'LNG_PAGE_LIST_CONTACTS_EXPORT_TITLE' | translate"
                    [url]="exportContactsUrl"
                    [fileName]="contactsDataExportFileName"
                    [allowedExportTypes]="allowedExportTypes"
                    [displayEncrypt]="true"
                    [displayAnonymize]="true"
                    [anonymizeFields]="anonymizeFields">
                </app-export-button>

                <button
                    *ngIf="!appliedListFilter"
                    class="button-primary"
                    mat-raised-button
                    color="primary"
                    [routerLink]="['/import-export-data', 'contact-data', 'import']">
                    {{'LNG_PAGE_LIST_CONTACTS_IMPORT_BUTTON' | translate}}
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<app-counted-items-list
    [items]="countedNewContactsGroupedByExposureType$ | async"
    (optionChanged)="filterBySelectField('id', $event.ids, null)">
</app-counted-items-list>

<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersApplied)="applySideFilters($event)">
</app-side-filters>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button mat-raised-button (click)="needsRefreshList()">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="contactsList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{ "LNG_CONTACT_FIELD_LABEL_FIRST_NAME" | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstNameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('firstName', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header>{{ 'LNG_CONTACT_FIELD_LABEL_LAST_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="lastNameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER'| translate"
                            (optionChanged)="filterByTextField('lastName', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Age -->
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{'LNG_CONTACT_FIELD_LABEL_AGE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-range
                            name="ageFilter"
                            ngModel
                            (changed)="filterByRangeField('age', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-range>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.age }}
            </mat-cell>
        </ng-container>

        <!-- Gender -->
        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{ "LNG_CONTACT_FIELD_LABEL_GENDER" | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="genderFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER'| translate"
                            [options]="genderList$ | async"
                            (optionChanged)="filterBySelectField('gender', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter>
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.gender }}
            </mat-cell>
        </ng-container>

        <!-- Phone number -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{'LNG_CONTACT_FIELD_LABEL_PHONE'| translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="phoneNumberFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('phoneNumber', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                {{ item.phoneNumber }}
            </mat-cell>
        </ng-container>

        <!-- Risk Level -->
        <ng-container matColumnDef="riskLevel">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header>{{ 'LNG_CONTACT_FIELD_LABEL_RISK_LEVEL' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="riskLevelFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="riskLevelsList$ | async"
                            (optionChanged)="filterBySelectField('riskLevel', $event)"
                            multiple="true"
                            app-reset-input-on-side-filter>
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [style.color]="getRiskColor(item)">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.RISK_LEVEL"
                    [value]="item.riskLevel">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">
                    <ng-container *app-selected-outbreak-is-active>
                        <button mat-menu-item *ngIf="hasContactWriteAccess() && hasFollowUpWriteAccess()"
                                [routerLink]="['.', item.id, 'follow-ups', 'create' ]">
                            {{'LNG_PAGE_LIST_CONTACTS_ACTION_ADD_FOLLOW_UP' | translate}}
                        </button>
                        <mat-divider *ngIf="hasContactWriteAccess() && hasFollowUpWriteAccess()"></mat-divider>
                    </ng-container>

                    <button mat-menu-item [routerLink]="['/relationships', EntityType.CONTACT, item.id]">
                        {{'LNG_PAGE_ACTION_SEE_RELATIONSHIPS' | translate}}
                    </button>

                    <mat-divider></mat-divider>

                    <button mat-menu-item [routerLink]="['.', item.id, 'view']">
                        {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                    </button>

                    <button mat-menu-item [routerLink]="['.', item.id, 'movement']">
                        {{ 'LNG_PAGE_LIST_CONTACTS_ACTION_VIEW_MOVEMENT' | translate }}
                    </button>

                    <button mat-menu-item [routerLink]="['.', item.id, 'chronology']">
                        {{ 'LNG_PAGE_LIST_CONTACTS_ACTION_VIEW_CHRONOLOGY' | translate }}
                    </button>

                    <ng-container *app-selected-outbreak-is-active>
                        <button *ngIf="hasContactWriteAccess()" mat-menu-item [routerLink]="['.', item.id, 'modify']">
                            {{'LNG_PAGE_ACTION_MODIFY'| translate}}
                        </button>

                        <button *ngIf="hasContactWriteAccess()" mat-menu-item class="mat-menu-item-delete" (click)="deleteContact(item)">
                            {{ 'LNG_PAGE_ACTION_DELETE' | translate }}
                        </button>
                    </ng-container>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <mat-paginator
        [length]="(contactsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
