.column-filter-range > div {
    display: inline-block;
}
.column-filter-range > div:nth-child(1),
.column-filter-range > div:nth-child(3) {
    width: calc(50% - 20px);
}
.column-filter-range > div:nth-child(2) {
    width: 20px;
    text-align: center;
}
