<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">
    <mat-horizontal-stepper linear #stepper>

        <!-- Details step -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_CLIENT_APPLICATION_TAB_DETAILS_TITLE'| translate}}</ng-template>

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-input
                                    name="name"
                                    [(ngModel)]="clientApplicationData.name"
                                    [placeholder]="'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_NAME' | translate"
                                    tooltip="LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_NAME_DESCRIPTION"
                                    required="true">
                                </app-form-input>

                                <app-form-slide-toggle
                                    name="active"
                                    [(ngModel)]="clientApplicationData.active"
                                    [label]="'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_ACTIVE' | translate"
                                    tooltip="LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_ACTIVE_DESCRIPTION">
                                </app-form-slide-toggle>
                            </div>

                            <app-form-select
                                *ngIf="hasOutbreakReadAccess()"
                                name="outbreakIDs"
                                [ngModel]="clientApplicationData.outbreakIDs"
                                [placeholder]="'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_OUTBREAKS' | translate"
                                tooltip="LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_OUTBREAKS_DESCRIPTION"
                                [options]="outbreaksOptionsList$ | async"
                                optionLabelKey="name"
                                optionValueKey="id"
                                [multiple]="true">
                            </app-form-select>
                            <div
                                *ngIf="!hasOutbreakReadAccess()"
                                fxFlex>
                                <!-- placeholder -->
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-input
                                    name="credentials[clientId]"
                                    [(ngModel)]="clientApplicationData.credentials.clientId"
                                    [placeholder]="'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_CLIENT_ID' | translate"
                                    tooltip="LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_CLIENT_ID_DESCRIPTION"
                                    required="true">
                                </app-form-input>

                                <div
                                    fxFlex="100px">
                                    <button
                                        type="button"
                                        mat-raised-button
                                        color="primary"
                                        (click)="generateKey('credentials[clientId]')">
                                        {{'LNG_PAGE_CREATE_CLIENT_APPLICATION_GENERATE_KEY_BUTTON' | translate}}
                                    </button>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-input
                                    name="credentials[clientSecret]"
                                    [(ngModel)]="clientApplicationData.credentials.clientSecret"
                                    [placeholder]="'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_CLIENT_SECRET' | translate"
                                    tooltip="LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_CLIENT_SECRET_DESCRIPTION"
                                    required="true">
                                </app-form-input>

                                <div
                                    fxFlex="100px">
                                    <button
                                        type="button"
                                        mat-raised-button
                                        color="primary"
                                        (click)="generateKey('credentials[clientSecret]')">
                                        {{'LNG_PAGE_CREATE_CLIENT_APPLICATION_GENERATE_KEY_BUTTON' | translate}}
                                    </button>
                                </div>
                            </div>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <div>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>
                {{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}
            </ng-template>

            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}

            <div>
                <button mat-button matStepperPrevious>
                    {{'LNG_STEPPER_BUTTON_BACK' | translate}}
                </button>
                <button
                    type="button"
                    mat-button
                    (click)="createNewApplicationClient([detailsForm])">
                    {{'LNG_PAGE_CREATE_CLIENT_APPLICATION_ACTION_CREATE_UPSTREAM_SERVER_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
