<div
  class="gd-form-password-v2">

  <!-- Input data -->
  <mat-form-field
    appearance="outline">

    <!-- Place holder -->
    <mat-label>
      {{ placeholder | translate }}
    </mat-label>

    <!-- Left - Icon buttons -->
    <mat-icon
      *ngIf="tooltipButton"
      matPrefix
      [matTooltip]="tooltipButton.tooltip">{{tooltipButton.icon}}</mat-icon>

    <!-- Input -->
    <input
      matInput
      [(ngModel)]="value"
      (blur)="onTouchItem()"
      [errorStateMatcher]="errMatcher"
      [disabled]="disabled"
      [required]="required"
      [type]="type"
      autocomplete="off">

    <!-- Right - Icon buttons -->
    <button
      type="button"
      tabindex="-1"
      mat-icon-button
      matSuffix
      [matTooltip]="showHideButton.tooltip | translate"
      (click)="iconButtonClick($event, showHideButton)"><mat-icon>{{showHideButton.icon}}</mat-icon></button>

    <!-- Errors -->
    <mat-error
      *ngIf="control?.invalid && control?.touched">
      {{ getErrorMessages() }}
    </mat-error>

  </mat-form-field>

</div>
