<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_IMPORT_USER_DATA_TITLE">
  <app-import-data
    [allowedExtensions]="allowedExtensions"
    [title]="'LNG_PAGE_IMPORT_USER_DATA_TITLE'"
    (finished)="finished()"
    importFileUrl="importable-files"
    importDataUrl="users/import-importable-file-using-map"
    [model]="ImportServerModelNames.USER"
    [requiredDestinationFields]="requiredDestinationFields"
    [asyncImport]="true">
  </app-import-data>
</app-basic-page-v2>
