app-transmission-chains-geo-map {
    .mat-card {
        height: ~"calc(100% - 180px)";
        min-height: 300px;

        .form-slide-toggle-container {
            height: auto;
            padding-bottom: 10px;
        }

        .geo-map-no-data {
            text-align: center;
            height: 100%;
        }
    }
}
