<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">

                <button mat-raised-button color="accent"
                        [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container>

                        <button
                            mat-menu-item
                            [routerLink]="['/transmission-chains']">
                            {{'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_ACTION_GRAPH_BUTTON' | translate}}
                        </button>
                        <button
                            mat-menu-item
                            [routerLink]="['/transmission-chains', 'list']">
                            {{'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_ACTION_LIST_BUTTON' | translate}}
                        </button>

                        <button
                            mat-menu-item
                            [routerLink]="['/transmission-chains', 'case-count-map']">
                            {{'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_ACTION_CASE_COUNT_MAP_BUTTON' | translate}}
                        </button>
                    </ng-container>
                </mat-menu>

            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card
    class="page-section page-content">
    <!-- Legend & Filters -->
    <div
        #topHeaderDiv>
        <!-- Legend -->
        <div
            fxLayout="row wrap" fxLayoutGap="10px">
            <!-- Entity Type -->
            <div
                fxFlex
                class="top-section-wrapper">
                <app-color-list-legend
                    [title]="'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_ENTITY_TYPE_LABEL' | translate"
                    [referenceDataCategory]="ReferenceDataCategory.PERSON_TYPE">
                </app-color-list-legend>
            </div>

            <!-- Case Classification -->
            <div
                fxFlex
                class="top-section-wrapper">
                <app-color-list-legend
                    [title]="'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_CERTAINTY_LEVEL_LABEL' | translate"
                    [referenceDataCategory]="ReferenceDataCategory.CERTAINTY_LEVEL">
                </app-color-list-legend>
            </div>

            <!-- Certainty Level -->
            <div
                fxFlex
                class="top-section-wrapper">
                <app-color-list-legend
                    [title]="'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_CASE_CLASSIFICATION_LABEL' | translate"
                    [referenceDataCategory]="ReferenceDataCategory.CASE_CLASSIFICATION">
                </app-color-list-legend>
            </div>
        </div>

        <!-- Filter -->
        <div
            fxFlex>
            <app-form-slide-toggle
                name="displayLabels"
                [(ngModel)]="displayLabels"
                [label]="'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_DISPLAY_MARKER_LABELS_LABEL' | translate">
            </app-form-slide-toggle>
        </div>
    </div>

    <!-- Map  -->
    <div
        *ngIf="markers.length > 0 || displayLoading"
        [style.height]="headerHeight">
        <app-world-map
            width="100%"
            height="100%"
            [markers]="markers"
            [lines]="lines"
            [displayLabels]="displayLabels"
            [fitMapOnMarkersChange]="true"
            [displayLoading]="displayLoading">
        </app-world-map>
    </div>

    <!-- Loading spinner -->
    <div
        *ngIf="markers.length < 1 && !displayLoading"
        class="geo-map-no-data">
        <span>
            {{ 'LNG_PAGE_TRANSMISSION_CHAINS_GEO_MAP_NO_DATA' | translate }}
        </span>
    </div>
</mat-card>
