<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_CASE_COUNT_TITLE"
  [quickActions]="quickActions"
  [advancedFilterType]="Constants.APP_PAGE.CASE_COUNT_MAP.value"
  [advancedFilters]="advancedFilters"
  advancedFiltersHideOperator="true"
  (advancedFilterBy)="reloadCases($event)">
  <div class="gd-case-count-map-distance">
    <div class="gd-case-count-map-distance-button">
      <button
        type="button"
        mat-icon-button
        color="{{displayClusterDistance ? 'primary' : 'white'}}"
        matTooltip="{{ 'LNG_PAGE_CASE_COUNT_MAP_DISTANCE_LABEL' | translate }}"
        [title]="'LNG_PAGE_WORLD_MAP_DISCLAIMER' | translate"
        (click)="displayClusterDistance = !displayClusterDistance">
        <mat-icon>linear_scale</mat-icon>
      </button>
    </div>
    <div
      *ngIf="displayClusterDistance"
      class="gd-case-count-map-distance-content">
      <app-form-toggle-v2
        [(ngModel)]="clusterDistance"
        [options]="clusterDistanceOptions"
        vertical></app-form-toggle-v2>
    </div>
  </div>

  <!-- Count map -->
  <app-world-map
    *ngIf="displayLoading || markers.length > 0"
    #worldMap
    [markers]="markers"
    [fitMapOnMarkersChange]="false"
    [centerLocation]="markers[0]?.point"
    [displayLoading]="displayLoading"
    [fitLayer]="WorldMapMarkerLayer.CLUSTER"
    [clusterDistance]="clusterDistance">
  </app-world-map>

  <!-- No data -->
  <div
    *ngIf="!displayLoading && markers.length < 1"
    class="gd-case-count-map-no-data">
    {{ 'LNG_PAGE_CASE_COUNT_MAP_NO_DATA' | translate }}
  </div>
</app-basic-page-v2>
