<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card
    class="page-section page-content">
    <div
        fxFlex fxLayout="column">
        <div
            fxFlex="50px" fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="200px">
                {{ 'LNG_PAGE_CASE_COUNT_MAP_DISTANCE_LABEL' | translate }} ( {{ clusterDistance }} )
            </div>
            <mat-slider
                fxFlex
                [min]="10"
                [max]="150"
                [(ngModel)]="clusterDistance"
                [tickInterval]="10">
            </mat-slider>
        </div>

        <div
            fxFlex>
            <app-world-map
                *ngIf="markers.length > 0 || displayLoading"
                #worldMap
                [markers]="markers"
                [fitMapOnMarkersChange]="true"
                [displayLoading]="displayLoading"
                [fitLayer]="WorldMapMarkerLayer.CLUSTER"
                [clusterDistance]="clusterDistance">
            </app-world-map>
        </div>
    </div>
</mat-card>
