@import 'mixins';

app-case-count-map {
  .gd-case-count-map-distance {
    padding: 1.6rem;

    > div {
      white-space: nowrap;
    }
  }
  
  app-world-map {
    height: calc(100% - 8rem);

    @include breakpoint('lt-sm') {
      height: calc(100% - 10.9rem);
    }
  }

  .gd-case-count-map-no-data {
    color: var(--gd-secondary);
    font-style: italic;
    text-align: center;
  }
}
