<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_CASE_COUNT_TITLE"
  [quickActions]="quickActions"
  [advancedFilterType]="Constants.APP_PAGE.CASE_COUNT_MAP.value"
  [advancedFilters]="advancedFilters"
  advancedFiltersHideOperator="true"
  (advancedFilterBy)="reloadCases($event)">
  <div
    class="gd-case-count-map-distance"
    fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutAlign.lt-md="none start" fxLayoutGap="1.6rem" fxLayoutGap.lt-md="0.8rem">
    <div>
      {{ 'LNG_PAGE_CASE_COUNT_MAP_DISTANCE_LABEL' | translate }} ( {{ clusterDistance }} )
    </div>
    <mat-slider
      color="primary"
      [min]="10"
      [max]="150"
      [(ngModel)]="clusterDistance"
      [tickInterval]="10">
    </mat-slider>
  </div>

  <!-- Count map -->
  <app-world-map
    *ngIf="displayLoading || markers.length > 0"
    #worldMap
    [markers]="markers"
    [fitMapOnMarkersChange]="false"
    [centerLocation]="markers[0]?.point"
    [displayLoading]="displayLoading"
    [fitLayer]="WorldMapMarkerLayer.CLUSTER"
    [clusterDistance]="clusterDistance">
  </app-world-map>

  <!-- No data -->
  <div
    *ngIf="!displayLoading && markers.length < 1"
    class="gd-case-count-map-no-data">
    {{ 'LNG_PAGE_CASE_COUNT_MAP_NO_DATA' | translate }}
  </div>
</app-basic-page-v2>
