<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Details step -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_CLUSTER_TAB_DETAILS_TITLE' | translate}}</ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [ngModel]="clusterData.name"
                                [placeholder]="'LNG_CLUSTER_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_CLUSTER_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                maxlength="200">
                            </app-form-input>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>

                        <app-form-textarea
                            name="description"
                            [ngModel]="clusterData.description"
                            [placeholder]="'LNG_CLUSTER_FIELD_LABEL_DESCRIPTION' | translate"
                            tooltip="LNG_CLUSTER_FIELD_LABEL_DESCRIPTION_DESCRIPTION">
                        </app-form-textarea>

                    </div>
                </mat-card>

                <div class="stepper-wrapper">
                    <button mat-raised-button color="primary" class="button-primary" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL'| translate}}</ng-template>
            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            <div class="stepper-wrapper">
                <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button *app-selected-outbreak-is-active type="button" mat-raised-button color="primary" (click)="createNewCluster([detailsForm])">
                    {{'LNG_PAGE_CREATE_CLUSTER_ACTION_CREATE_CLUSTER_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
