@import 'mixins';

/* Spreadsheet Header Cell */
app-spreadsheet-editor-v2-cell-basic-header {
  height: 100%;
  width: 100%;

  .gd-spreadsheet-editor-v2-cell-basic-header {
    border: 0.1rem solid transparent;
    @include box-sizing(border-box);
    @include flex(flex);
    @include flex_align_items(center);
    height: 100%;
    padding: 0 0.8rem;
    width: 100%;

    &.gd-spreadsheet-editor-v2-cell-basic-header-selected-partial {
      background-color: rgba(var(--gd-primary-rgb), 0.15);
    }

    &.gd-spreadsheet-editor-v2-cell-basic-header-selected-full {
      background-color: var(--gd-primary);
      color: var(--gd-background);
    }

    &.gd-spreadsheet-editor-v2-cell-basic-header-invalid {
      background-color: rgba(var(--gd-danger-rgb), 0.25);
    }

    &.gd-spreadsheet-editor-v2-cell-basic-header-first-cell {
      padding: 0;

      .gd-spreadsheet-editor-v2-cell-basic-header-value {
        height: 100%;
        width: 100%;

        .gd-spreadsheet-editor-v2-cell-basic-header-first-cell-value {
          @include flex(flex);
          @include flex_align_items(center);
          @include flex_justify(center);
          height: 100%;
          width: 100%;
        }

        .mat-icon {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
