app-spreadsheet-editor-v2-cell-basic-header {
  width: 100%;
  height: 100%;

  .gd-spreadsheet-editor-v2-cell-basic-header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;

    &.gd-spreadsheet-editor-v2-cell-basic-header-selected-partial {
      display: inline-block;
      background-color: rgba(var(--gd-primary-rgb), 0.15);
    }
    &.gd-spreadsheet-editor-v2-cell-basic-header-selected-full {
      display: inline-block;
      background-color: rgba(var(--gd-primary-rgb), 0.50);
    }

    &.gd-spreadsheet-editor-v2-cell-basic-header-invalid {
      background-color: rgba(red, 0.40);
    }
  }
}
