app-contacts-lost-to-follow-up-dashlet {
    .dashboard-box-header{
        background-color: #6C8A2B;
        cursor: pointer;
    }
    .dashboard-box-content{
        background-color: #9BC53D;
    }
}
