<mat-card
    class="page-section page-content"
    fxLayout="column">

    <!-- Uploading / Saving data -->
    <div
        *ngIf="displayLoading"
        class="import-data-loading"
        fxLayout="row" fxLayoutAlign="center">
        <mat-spinner></mat-spinner>
        <span
            *ngIf="progress !== null"
            class="import-data-loading-progress">
            {{ progress }} %
        </span>
    </div>

    <!-- Select / Upload file -->
    <div
        *ngIf="!displayLoading && !importableObject"
        fxLayout="column" fxLayoutGap="12px"
        class="import-data">
        <div fxLayout="column">
            <input
                hidden
                #importDataBtn
                type="file"
                ng2FileSelect
                [uploader]="uploader"
                [accept]="allowedExtensions"/>

            <div
                fxLayout="row" fxLayoutAlign="center center"
                class="import-data-drop-zone"
                [class.import-data-file-over]="hasFileOver"
                ng2FileDrop
                [uploader]="uploader"
                (fileOver)="hoverDropZone($event)"
                (click)="importDataBtn.click()">
                {{ 'LNG_PAGE_IMPORT_DATA_LABEL_DRAG_AND_DROP_FILE_HERE' | translate:translationData }}
            </div>
        </div>

        <div
            class="import-data-file-or">
            {{ 'LNG_PAGE_IMPORT_DATA_LABEL_OR' | translate }}
        </div>

        <div
            class="import-data-file-input"
            fxLayout="row"
            (click)="importDataBtn.click()">
            <div
                class="import-data-file-input-label">
                {{ title | translate:translationData }}
            </div>
            <div
                fxFlex
                class="import-data-file-input-file">
                {{ uploader?.queue.length > 0 ? uploader.queue[0].file.name : ('LNG_PAGE_IMPORT_DATA_LABEL_CHOOSE_FILE' | translate) }}
            </div>
            <div
                class="import-data-file-input-browse">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_BROWSE' | translate }}
            </div>
        </div>

        <div fxLayout="row">
            <app-form-input
                name="decryptPassword"
                [(ngModel)]="decryptPassword"
                [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_DECRYPT_PASSWORD' | translate"
                tooltip="LNG_PAGE_IMPORT_DATA_LABEL_DECRYPT_PASSWORD_DESTINATION">
            </app-form-input>
        </div>

        <div fxLayout="row" fxLayoutAlign="end">
            <button
                mat-raised-button
                color="accent"
                [disabled]="!uploader || uploader.queue.length < 1"
                (click)="uploadFile()"
                type="button">
                {{ (isOneStep ? 'LNG_PAGE_IMPORT_DATA_BUTTON_IMPORT_FILE' : 'LNG_PAGE_IMPORT_DATA_BUTTON_UPLOAD_FILE') | translate }}
            </button>
        </div>
    </div>

    <!-- Map fields -->
    <div
        *ngIf="areMapFieldVisible"
        fxLayout="column"
        class="import-data-map-fields">
        <div
            *ngIf="savedImportPage"
            fxLayout="row" fxLayoutGap="20px">
            <app-form-select
                name="loadImportMapping"
                [ngModel]="loadedImportMapping?.id"
                [placeholder]="'LNG_PAGE_IMPORT_DATA_LOAD_SAVED_IMPORT_MAPPING_LABEL' | translate"
                [options]="savedMappingsList$ | async "
                (optionChanged)="loadSavedImportMapping($event)"
                optionLabelKey="name"
                optionValueKey="id"
                [clearable]="false">
            </app-form-select>

            <div
                fxFlex
                class="reset-import-mapping-container">
                <button
                    (click)="resetImportMapping()"
                    type="button"
                    mat-raised-button
                    color="accent">
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_RESET_IMPORT_MAPPING' | translate }}
                </button>
            </div>

            <div fxFlex><!-- placeholder --></div>
            <div fxFlex><!-- placeholder --></div>
        </div>

        <!-- Mapped Data -->
        <div
            #mappedDataTable
            fxLayout="column">

            <!-- Hover question effects / actions -->
            <app-hover-row-actions
                #hoverRow>
            </app-hover-row-actions>

            <!-- Headers -->
            <div
                fxLayout="row" fxLayoutGap="10px"
                class="import-data-header-row">

                <!-- Source -->
                <div
                    fxFlex="1 1" fxLayoutAlign="start end">
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_SOURCE_FILE_INFORMATION' | translate }}
                </div>

                <!-- Destination -->
                <div
                    fxFlex="1 1" fxLayoutAlign="start end">
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_MODEL_INFORMATION' | translate }}
                </div>

                <!-- Array indexes -->
                <div
                    fxFlex="1 1" fxLayoutAlign="start end">
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_MODEL_ARRAY_INDEX' | translate }}
                </div>

                <!-- Actions -->
                <div
                    fxFlex="50px">
                    <button
                        type="button"
                        mat-icon-button
                        [title]="'LNG_PAGE_IMPORT_DATA_BUTTON_ADD_NEW_FIELD' | translate"
                        (click)="addNewFieldMap()">
                        <span class="xt-icon">addCircle</span>
                    </button>
                </div>
            </div>

            <!-- Data - scrollable -->
            <cdk-virtual-scroll-viewport
                #virtualScrollViewport
                fxLayout="column"
                class="import-data-body-rows"
                [style.height]="importDataBodyRowsMaxHeight"
                autosize>

                <!-- Render each row -->
                <div
                    *cdkVirtualFor="let item of mappedFields; let elementIndex = index"
                    class="import-data-body-row"
                    fxLayout="column">

                    <!-- Source - destination - table view -->
                    <div
                        *ngIf="item !== elementInEditMode; else editMode"
                        class="import-data-body-row-basic"
                        fxLayout="column"
                        app-hover-row-actions
                        [hoverRowActionsComponent]="hoverRow"
                        [hoverRowActions]="recordActions"
                        [hoverRowActionData]="item"
                        [hoverRowActionIndex]="elementIndex">

                        <!-- Data -->
                        <div
                            class="import-data-body-row-basic-data"
                            fxLayout="row" fxLayoutGap="10px">
                            <!-- Source -->
                            <div
                                fxFlex="1 1" fxLayoutAlign="start end">
                                {{ item.sourceField ? item.sourceField : '-' }}
                            </div>

                            <!-- Destination -->
                            <div
                                fxFlex="1 1" fxLayoutAlign="start end">
                                {{ item.destinationField ? importableObject.modelPropertiesKeyValueMap[item.destinationField] : '-' }}
                            </div>

                            <!-- Array indexes -->
                            <div
                                fxFlex="1 1">
                                Levels...
                            </div>

                            <!-- Actions -->
                            <div
                                fxFlex="50px">
                                <!-- placeholder -->
                            </div>
                        </div>

                        <!-- Validation Info -->
                        <div
                            class="import-data-body-row-basic-validation">

                            <!-- Source -->
                            <div
                                class="import-data-body-row-basic-validation-source"
                                fxFlex="1 1" fxLayout="row" fxLayoutGap="20px">

                                <!-- Invalid value ? -->
                                <span
                                    *ngIf="!item.sourceField">
                                    {{'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate}}
                                </span>

                                <!-- Duplicate source ? -->
                                <span
                                    *ngIf="item.sourceField && usedSourceFields[item.sourceField] > 1">
                                    {{'LNG_FORM_VALIDATION_ERROR_DUPLICATE_VALUE' | translate}}
                                </span>

                            </div>

                            <!-- Destination -->
                            <div
                                class="import-data-body-row-basic-validation-destination"
                                fxFlex="1 1" fxLayout="row" fxLayoutGap="20px">

                                <!-- Required ? -->
                                <span
                                    *ngIf="item.readonly">
                                    {{'LNG_PAGE_IMPORT_DATA_INFO_REQUIRED' | translate}}
                                </span>

                                <!-- Invalid value ? -->
                                <span
                                    *ngIf="!item.destinationField">
                                    {{'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate}}
                                </span>

                            </div>

                            <!-- Array indexes -->
                            <div
                                fxFlex="1 1">
                                Levels...
                            </div>

                            <!-- Actions -->
                            <div
                                fxFlex="50px">
                                <!-- placeholder -->
                            </div>

                        </div>
                    </div>

                    <!-- Source - destination - edit mode view -->
                    <ng-template
                        #editMode>

                        <!-- Basic Details -->
                        <div
                            class="import-data-body-row-edit-basic"
                            fxLayout="row" fxLayoutGap="10px"
                            app-hover-row-actions
                            [hoverRowActionsComponent]="hoverRow"
                            [hoverRowActions]="recordActions"
                            [hoverRowActionData]="item"
                            [hoverRowActionIndex]="elementIndex">

                            <!-- Source -->
                            <div
                                fxFlex="1 1">
                                <app-form-select
                                    name="mapObjectSource"
                                    required="true"
                                    [ngModel]="item.sourceField"
                                    [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                                    [options]="importableObject.fileHeadersKeyValue"
                                    (optionChanged)="setSourceDestinationValueAndDetermineOptions(item, 'sourceField', $event)">
                                </app-form-select>
                            </div>

                            <!-- Destination -->
                            <div
                                fxFlex="1 1">
                                <app-form-select
                                    name="mapObjectDestination"
                                    required="true"
                                    [ngModel]="item.destinationField"
                                    [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                                    [options]="importableObject.modelPropertiesKeyValue"
                                    (optionChanged)="setSourceDestinationValueAndDetermineOptions(item, 'destinationField', $event)"
                                    [disabled]="item.readonly">
                                </app-form-select>
                            </div>

                            <!-- Array indexes -->
                            <div
                                fxFlex="1 1">
                                <div
                                    *ngIf="item.isSourceArray || item.isDestinationArray"
                                    fxFlex fxLayout="row" fxLayoutGap="10px">
                                    <div
                                        *ngFor="let levelMatch of item.numberOfMaxLevels; let levelIndex = index;"
                                        fxFlex>
                                        <app-form-select
                                            [name]="'sourceDestinationLevel[' + levelIndex + ']'"
                                            required="true"
                                            [ngModel]="item.getSourceDestinationLevel(levelIndex)"
                                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE_DESTINATION_LEVEL' | translate"
                                            [options]="possibleSourceDestinationLevels"
                                            (optionChanged)="setDestinationLevel(item, levelIndex, $event)">
                                        </app-form-select>
                                    </div>
                                </div>
                            </div>

                            <!-- Actions -->
                            <div
                                fxFlex="50px">
                                <!-- placeholder -->
                            </div>

                        </div>

                    </ng-template>

                    <!-- Render mapped options rows -->
                    <div
                        *ngIf="importableObject.distinctFileColumnValuesKeyValue &&
                            importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes] && (
                                !!importableObject.modelPropertyValuesMap[item.destinationField] ||
                                addressFields[item.destinationField]
                            )"
                        class="import-data-body-row-extra-details"
                        fxLayout="column">

                        <!-- Render each row -->
                        <div
                            *ngFor="let mappedOpt of item.mappedOptions; let optIndex = index">

                            <!-- Source - destination options - table view -->
                            <div
                                *ngIf="mappedOpt !== elementInEditMode; else editModeOptions"
                                fxLayout="row" fxLayoutGap="10px"
                                class="import-data-body-row-extra-details-row"
                                app-hover-row-actions
                                [hoverRowActionsComponent]="hoverRow"
                                [hoverRowActions]="recordActions"
                                [hoverRowActionData]="mappedOpt"
                                [hoverRowActionIndex]="optIndex">

                                <!-- Option Source -->
                                <div
                                    fxFlex="1 1">
                                    {{ mappedOpt.sourceOption ? mappedOpt.sourceOption : '-' }}
                                </div>

                                <!-- Option Destination -->
                                <div
                                    fxFlex="1 1">
                                    {{ importableObject.modelPropertyValuesMapChildMap[item.destinationField][mappedOpt.destinationOption] }}
                                </div>

                            </div>

                            <!-- Source - destination - edit mode view -->
                            <ng-template
                                #editModeOptions>

                                <!-- Basic Details -->
                                <div
                                    class="import-data-body-row-edit-extra-details-row"
                                    fxLayout="row" fxLayoutGap="10px"
                                    app-hover-row-actions
                                    [hoverRowActionsComponent]="hoverRow"
                                    [hoverRowActions]="recordActions"
                                    [hoverRowActionData]="mappedOpt"
                                    [hoverRowActionIndex]="optIndex">

                                    <!-- Source Option -->
                                    <div
                                        fxFlex="1 1">
                                        <app-form-select
                                            name="mapObjectOptionsSource"
                                            required="true"
                                            [ngModel]="mappedOpt.sourceOption"
                                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                                            [options]="mappedOpt.readOnly ? item.getOptionsForReadOnlySource(mappedOpt) : importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes]"
                                            (optionChanged)="mappedOpt.sourceOption = $event ? $event.value : $event;">
                                        </app-form-select>
                                    </div>

                                    <!-- Destination Option -->
                                    <div
                                        fxFlex="1 1">
                                        <app-form-select
                                            name="mapObjectOptionsDestination"
                                            required="true"
                                            [ngModel]="mappedOpt.destinationOption"
                                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                                            [options]="importableObject.modelPropertyValuesMap[item.destinationField]"
                                            optionValueKey="id"
                                            (optionChanged)="mappedOpt.destinationOption = $event ? $event.value : $event;">
                                        </app-form-select>
                                    </div>

                                </div>

                            </ng-template>

                        </div>


                    </div>

                </div>

            </cdk-virtual-scroll-viewport>

        </div>

        <!-- Action buttons -->
        <div
            class="import-data-action-buttons"
            fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
            <!-- Save import mapping -->
            <button
                *ngIf="savedImportPage"
                (click)="saveImportMapping()"
                type="button"
                mat-raised-button
                color="accent"
                [disabled]="true">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_SAVE_IMPORT_MAPPING' | translate }}
            </button>

            <!-- Map field sub-options / Import -->
            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="true">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_IMPORT_FILE' | translate }}
            </button>
        </div>




        <form
            *ngIf="false"
            #form="ngForm"
            (submit)="importData(form)"
            fxLayout="column">
            <div
                class="import-data-map-fields-header-columns"
                fxLayout="row" fxLayoutGap="20px"
            >
                <div fxFlex>
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_SOURCE_FILE_INFORMATION' | translate }}
                </div>
                <div fxFlex>
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_MODEL_INFORMATION' | translate }}
                </div>
                <div fxFlex="70px">
                    <!-- placeholder -->
                </div>
            </div>
            <div
                *ngFor="let item of mappedFields; trackBy: trackByFieldID; let indexMapField = index;"
                fxLayout="column"
            >
                <div fxLayout="row" fxLayoutGap="20px">
                    <app-form-select-change-detection-push
                        #sourceControl
                        [name]="'mapObject[' + item.id + '][source]'"
                        app-unique-validator="\]\[source\]$"
                        [valueReplacer]="DONEformatSourceValueForDuplicatesCallback"
                        required="true"
                        [ngModel]="item.sourceField"
                        [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                        [options]="importableObject.fileHeadersKeyValue"
                        (optionChanged)="setSourceDestinationValueAndDetermineOptions(item, 'sourceField', $event)">
                    </app-form-select-change-detection-push>

                    <app-form-select-change-detection-push
                        [name]="'mapObject[' + item.id + '][destination]'"
                        required="true"
                        [ngModel]="item.destinationField"
                        [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                        [options]="importableObject.modelPropertiesKeyValue"
                        (optionChanged)="setSourceDestinationValueAndDetermineOptions(item, 'destinationField', $event)"
                        [disabled]="item.readonly">
                    </app-form-select-change-detection-push>

                    <div
                        *ngIf="item.isSourceArray || item.isDestinationArray"
                        fxFlex fxLayout="row" fxLayoutGap="20px">
                        <div
                            *ngFor="let levelMatch of item.numberOfMaxLevels; let levelIndex = index;"
                            fxFlex>
                            <app-form-select-change-detection-push
                                [name]="'mapObject[' + item.id + '][sourceDestinationLevel][' + levelIndex + ']'"
                                required="true"
                                [ngModel]="item.sourceDestinationLevel[levelIndex]"
                                [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE_DESTINATION_LEVEL' | translate"
                                [options]="possibleSourceDestinationLevels"
                                (optionChanged)="DONEsetDestinationLevel(item, levelIndex, $event, sourceControl)">
                            </app-form-select-change-detection-push>
                        </div>
                    </div>

                    <div
                        fxFlex="80px">
                        <ng-container
                            *ngIf="!item.readonly">
                            <!-- Clone -->
                            <button
                                mat-icon-button
                                color="accent"
                                (click)="DONEcloneFieldMap(indexMapField)"
                                type="button">
                                <span class="xt-icon">fileCopy</span>
                            </button>

                            <!-- Delete -->
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="DONEremoveFieldMap(indexMapField)"
                                type="button">
                                <span class="xt-icon">delete</span>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div
                    *ngIf="
                        importableObject.distinctFileColumnValuesKeyValue &&
                        importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes] && (
                            !!importableObject.modelPropertyValuesMap[item.destinationField] ||
                            addressFields[item.destinationField]
                        )"
                    class="import-data-map-fields-children"
                    fxLayout="column">
                    <div
                        *ngFor="let mappedOpt of item.mappedOptions; trackBy: trackByFieldID; let indexMapOption = index"
                        fxLayout="row" fxLayoutGap="20px"
                        [class]="mappedOpt.readOnly ? 'import-data-map-fields-children-source-readonly' : ''">
                        <app-form-select-change-detection-push
                            [name]="'mapObject[' + item.id + '][options][' + mappedOpt.id + '][sourceOption]'"
                            app-unique-validator
                            [appUniqueValidatorExpression]="'\\[' + item.id + '\\]\\[options\\]\\[[^\\]]+\\]\\[sourceOption\\]$'"
                            required="true"
                            [ngModel]="mappedOpt.sourceOption"
                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                            [options]="mappedOpt.readOnly ? item.getOptionsForReadOnlySource(mappedOpt) : importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes]"
                            (optionChanged)="mappedOpt.sourceOption = $event ? $event.value : $event;"
                            [disabled]="mappedOpt.readOnly">
                        </app-form-select-change-detection-push>

                        <app-form-select-change-detection-push
                            *ngIf="!addressFields || !addressFields[item.destinationField]; else addressLocation"
                            [name]="'mapObject[' + item.id + '][options][' + mappedOpt.id + '][destinationOption]'"
                            required="true"
                            [ngModel]="mappedOpt.destinationOption"
                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                            [options]="importableObject.modelPropertyValuesMap[item.destinationField]"
                            optionValueKey="id"
                            (optionChanged)="mappedOpt.destinationOption = $event ? $event.value : $event;"
                            [disabled]="mappedOpt.readOnly">
                        </app-form-select-change-detection-push>

                        <ng-template
                            #addressLocation>
                            <app-form-location-dropdown
                                [name]="'mapObject[' + item.id + '][options][' + mappedOpt.id + '][destinationOption]'"
                                required="true"
                                [ngModel]="mappedOpt.destinationOption"
                                [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                                [useOutbreakLocations]="useOutbreakLocations"
                                [fixedDropPanel]="true"
                                [disabled]="mappedOpt.readOnly">
                            </app-form-location-dropdown>
                        </ng-template>

                        <div fxFlex="70px">
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="DONEremoveOptionMap(indexMapField, indexMapOption)"
                                type="button">
                                <span class="xt-icon">delete</span>
                            </button>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center">
                        <button
                            *ngIf="item.mappedOptions.length < importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes].length"
                            mat-raised-button
                            color="accent"
                            (click)="DONEaddNewOptionMap(indexMapField)"
                            type="button">
                            <span class="xt-icon">addCircle</span>
                            {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ADD_NEW_FIELD_OPTION' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <button
                    mat-raised-button
                    color="accent"
                    (click)="DONEaddNewFieldMap()"
                    type="button">
                    <span class="xt-icon">addCircle</span>
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ADD_NEW_FIELD' | translate }}
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <button
                    *ngIf="savedImportPage"
                    (click)="saveImportMapping()"
                    type="button"
                    mat-raised-button
                    color="accent">
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_SAVE_IMPORT_MAPPING' | translate }}
                </button>

                <button
                    mat-raised-button
                    color="accent"
                    type="submit">
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_IMPORT_FILE' | translate }}
                </button>

            </div>
        </form>
    </div>

    <!-- Import failed errors -->
    <div
        *ngIf="!displayLoading && importableObject && errMsgDetails"
        fxLayout="column" fxLayoutGap="10px"
        class="import-data-errors">
        <div class="import-data-errors-title">
            {{ 'LNG_PAGE_IMPORT_DATA_ERROR_SOME_RECORDS_NOT_IMPORTED' | translate }}
        </div>
        <div
            *ngFor="let err of errMsgDetails.details && errMsgDetails.details.failed ? errMsgDetails.details.failed : []"
            class="import-data-errors-err"
            fxLayout="column">
            <div
                fxLayout="row" fxLayoutGap="10px">
                <!-- More details -->
                <div
                    *ngIf="err.data?.file"
                    fxGrow="0">

                    <!-- Hide / Show details -->
                    <button
                        mat-raised-button color="accent"
                        class="import-data-errors-err-view-record-button"
                        (click)="err.showData = !err.showData">
                        {{ (err.showData ? 'LNG_PAGE_IMPORT_DATA_BUTTON_HIDE_ERR_RECORD_DETAILS' : 'LNG_PAGE_IMPORT_DATA_BUTTON_SHOW_ERR_RECORD_DETAILS') | translate }}
                    </button>
                </div>

                <!-- Errors -->
                <div
                    [ngSwitch]="err.error?.code"
                    fxLayoutAlign="start center">
                    <span *ngSwitchCase="ImportServerErrorCodes.DUPLICATE_RECORD">
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_NOT_IMPORTED_DUPLICATE' | translate:{ recordNo: err.recordNo } }}
                    </span>
                        <span *ngSwitchCase="ImportServerErrorCodes.INVALID_VISUAL_ID_MASK">
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_INVALID_VISUAL_ID_MASK' | translate:{ recordNo: err.recordNo } }}
                    </span>
                        <span *ngSwitchCase="ImportServerErrorCodes.ADDRESS_MUST_HAVE_USUAL_PLACE_OF_RESIDENCE">
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_ADDRESS_MUST_HAVE_USUAL_PLACE_OF_RESIDENCE' | translate:{ recordNo: err.recordNo } }}
                    </span>
                        <span *ngSwitchCase="ImportServerErrorCodes.ADDRESS_MULTIPLE_USUAL_PLACE_OF_RESIDENCE">
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_ADDRESS_MULTIPLE_USUAL_PLACE_OF_RESIDENCE' | translate:{ recordNo: err.recordNo } }}
                    </span>
                        <span *ngSwitchCase="ImportServerErrorCodes.ADDRESS_PREVIOUS_PLACE_OF_RESIDENCE_MUST_HAVE_DATE">
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_ADDRESS_PREVIOUS_PLACE_OF_RESIDENCE_MUST_HAVE_DATE' | translate:{ recordNo: err.recordNo } }}
                    </span>
                        <span *ngSwitchDefault>
                        {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_NOT_IMPORTED_GENERAL' | translate:{ recordNo: err.recordNo, message: err.error ? ( err.error.errmsg ? ( 'LNG_API_ERROR_CODE_UNKNOWN_ERROR' | translate ) : err.error.message ) : err.message } }}
                    </span>
                </div>
            </div>
            <div
                *ngIf="err.data?.file && err.showData"
                class="import-data-errors-err-view-record-details">
                <div
                    fxLayout="row" fxLayoutGap="20px">
                    <div
                        fxFlex
                        class="import-data-errors-err-view-record-details-code">
                        <div
                            class="view-record-details-code-title">
                            {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ERR_RECORD_DETAILS_FILE_TITLE' | translate }}
                        </div>
                        <div
                            class="view-record-details-code-data">
                            <code>
                                <pre>{{ err.data?.file | json }}</pre>
                            </code>
                        </div>
                    </div>
                    <div
                        *ngIf="err.data?.save"
                        fxFlex
                        class="import-data-errors-err-view-record-details-code">
                        <div
                            class="view-record-details-code-title">
                            {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ERR_RECORD_DETAILS_MODEL_TITLE' | translate }}
                        </div>
                        <div
                            class="view-record-details-code-data">
                            <code>
                                <pre>{{ err.data?.save | json }}</pre>
                            </code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
            <button
                mat-raised-button
                color="accent"
                type="button"
                (click)="tryAgain()">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_TRY_AGAIN' | translate }}
            </button>
        </div>
    </div>
</mat-card>
