@import 'mixins';
@import 'font';

app-import-data {
  .import-data-loading {
    text-align: center;

    /* Variables */
    --mat-spinner-height: 6.4rem;
    --mat-spinner-width: 6.4rem;

    mat-spinner {
      bottom: 0;
      display: inline-block;
      height: var(--mat-spinner-height)  !important;
      margin: auto;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: var(--mat-spinner-width)  !important;

      svg {
        height: var(--mat-spinner-height)  !important;
        width: var(--mat-spinner-width)  !important;
      }
    }

    .import-data-loading-progress {
      bottom: 0;
      display: inline-block;
      height: 1.8rem;
      margin: auto;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: var(--mat-spinner-width);
    }
  }

  .import-data {
    .import-data-drop-zone {
      background-color: rgba(var(--gd-secondary-rgb), 0.1);
      border: 0.3rem dashed rgba(var(--gd-secondary-rgb), 0.25);
      @include border-radius(0.4rem);
      color: var(--gd-secondary);
      cursor: pointer;
      font-size: 1.6rem;
      font-style: italic;
      padding: 1.6rem;
      @include transition(all 0.24s ease-in-out 0s);

      .mat-icon {
        color: rgba(var(--gd-secondary-rgb), 0.25);
        font-size: 6.4rem;
        height: 6.4rem;
        margin-bottom: 0.8rem;
        @include transition(all 0.24s ease-in-out 0s);
        width: 6.4rem;
      }

      &:hover {
        background-color: rgba(var(--gd-secondary-rgb), 0.2);
        border-color: rgba(var(--gd-secondary-rgb), 0.35);

        .mat-icon {
          color: rgba(var(--gd-secondary-rgb), 0.5);
        }
      }

      &.import-data-file-over {
        background-color: rgba(var(--gd-primary-rgb), 0.2);
        border-color: rgba(var(--gd-primary-rgb), 0.35);
        color: var(--gd-primary);

        .mat-icon {
          color: rgba(var(--gd-primary-rgb), 0.5);
        }
      }
    }

    .import-data-file-or {
      font-weight: 700;
      text-align: center;
    }

    /* Variables */
    --app-import-data-border: 0.1rem solid #CCC;
    --app-import-data-padding: 1rem;
    --app-import-data-bg-color: #EEE;
    --app-import-data-bg-color-hover: #CCC;

    .import-data-file-input {
      cursor: pointer;
      margin: 0;
      padding: 0;

      .import-data-file-input-label {
        background-color: var(--app-import-data-bg-color);
        border: var(--app-import-data-border);
        @include border-radius(0.5rem 0 0 0.5rem);
        font-weight: bold;
        padding: var(--app-import-data-padding);
      }

      .import-data-file-input-file {
        border: var(--app-import-data-border);
        padding: var(--app-import-data-padding);
      }

      .import-data-file-input-browse {
        background-color: var(--app-import-data-bg-color);
        border: var(--app-import-data-border);
        @include border-radius(0 0.5rem 0.5rem 0);
        font-weight: 700;
        padding: var(--app-import-data-padding);
        @include transition(all 0.24s ease-in-out 0s);

        &:hover {
          background-color: var(--app-import-data-bg-color-hover);
        }
      }
    }

    .gd-form-input-v2 {
      min-width: 20rem;
    }
  }

  .import-data-map-fields {
    /* Variables */
    --hover-index: 1000;
    --hover-bg-color: var(--gd-background);

    .gd-form-select-single-v2 {
      min-width: 30rem;
    }

    .import-data-map-fields-counters {
      @include breakpoint('xxs') {
        padding-bottom: 1.6rem;
      }
    }

    .import-data-table {
      margin: 0 -1.6rem;
    }

    .import-data-header-row {
      background: rgba(var(--gd-secondary-rgb), 0.1);
      border-top: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
      border-bottom: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
      font-weight: 700;
      overflow-y: scroll; // trick to have the same column width no matter of the browser used
      padding: 0.8rem 1.6rem;
      z-index: var(--hover-index); // hack to display it on top of hover actions

      &::-webkit-scrollbar {
        background: transparent;
      }

      .gd-form-input-v2 {
        .mat-form-field {
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              background: var(--gd-background);
            }
          }
        }
      }
    }

    .import-data-action-buttons {
      background: var(--hover-bg-color);
      border-top: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
      margin: 0 -1.6rem;
      padding: 2.2rem 1.6rem 0;
      z-index: var(--hover-index); // hack to display it on top of hover actions
    }

    .import-data-body-rows {
      min-height: 20rem; // adjust for smaller screens

      .import-data-body-row {
        border-bottom: 0.1rem solid rgba(var(--gd-secondary-rgb), 0.25);
        margin: 0;
        padding: 0;

        .import-data-body-row-basic {
          margin: 0;
          padding: 0 1.6rem;

          .import-data-body-row-basic-data {
            margin-top: 0.7rem;

            .import-data-body-row-basic-data-error {
              //color: @color-error;
            }
          }

          .import-data-body-row-basic-validation {
            //color: @color-error;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0.4rem 0;

            .import-data-body-row-basic-validation-source {
              padding-left: 0;
            }

            .import-data-body-row-basic-validation-destination {
              padding-left: 0;

              .import-data-body-row-basic-validation-destination-required {
                color: var(--gd-danger);
              }
            }
          }
        }

        .import-data-body-row-edit-basic {
          padding: 0.8rem 1.6rem;

          .import-data-body-row-edit-basic-validation-source {
            //color: @color-error;
            font-size: 12px;
            font-weight: 700;
          }
        }

        .import-data-body-row-extra-details {
          margin: 0 10rem 2rem;

          .import-data-body-row-extra-details-vscroll {

            .import-data-body-row-extra-details-row-basic {
              .import-data-body-row-extra-details-row {
                border-top: 0.1rem solid #CCC;
                margin: 0;
                padding: 1rem 0;
              }

              .import-data-body-row-extra-details-row-basic-validation {
                //color: @color-error;
                font-size: 1.2rem;
                font-weight: 700;
                margin-top: 0.3rem;
                margin-bottom: 1rem;

                .import-data-body-row-extra-details-row-basic-validation-source {
                  padding-left: 3rem;
                }

                .import-data-body-row-extra-details-row-basic-validation-destination {
                  padding-left: 3rem;
                }
              }
            }

            .import-data-body-row-edit-extra-details-row {
              border-top: 0.1rem solid #CCC;
              margin: 0;
              padding: 1rem 0;

              .import-data-body-row-edit-extra-details-row-validation-source {
                //color: @color-error;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }

            .import-data-body-row-edit-extra-details-row-location {
              padding-right: 10rem;
            }
          }
        }
      }
    }
  }

  .import-data-errors {
    .import-data-errors-err {
      .import-data-errors-err-view-record-details {
        padding: 0.5rem;

        .import-data-errors-err-view-record-details-code {
          border: 0.1rem solid #CCC;
          max-width: calc(50% - 1rem);

          .view-record-details-code-title {
            border-bottom: 0.1rem solid #CCC;
            font-weight: 700;
            padding: 0.5rem;
            text-align: center;
          }

          .view-record-details-code-data {
            max-height: 40rem;
            overflow: auto;

            pre {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .import-data-errors-details {
    color: var(--gd-primary-alt);
    font-size: 1.4rem;
    font-weight: 700;
    left: 1.6rem;
    position: sticky;
    top: 0.8rem;
    z-index: 8;

    @include breakpoint('xs') {
      margin-bottom: 1.6rem;
      position: static;
      top: 0;
    }

    &:before {
      background: var(--gd-background);
      content: '';
      display: block;
      height: 10.7rem;
      left: -3.2rem;
      position: absolute;
      top: -2.4rem;
      width: calc(100% + 4.8rem);
      z-index: -1;

      @include breakpoint('xs') {
        display: none;
      }
    }
  }

  .table-top-buttons {
    margin-top: -2.1rem;
    margin-bottom: 1.6rem;
    position: sticky;
    top: 0;
    z-index: 8;

    @include breakpoint('xs') {
      margin-top: 0;
      position: static;
    }
  }

  .mat-table {
    margin: 0 -1.6rem;

    @include breakpoint('xxs') {
      width: fit-content;
    }

    mat-header-row {
      position: sticky;
      top: 5.2rem;
      z-index: 8;

      @include breakpoint('xs') {
        position: static;
        top: 0;
      }
    }

    mat-row {
      @include breakpoint('xxs') {
        width: fit-content;
      }
    }
  }

  .cdk-column-recordNo {
    @include flex_val(0 0 10rem);
  }

  .cdk-column-error-details,
  .cdk-column-data {
    @include flex_val(0 0 12rem);
  }
}
