<mat-card class="page-section page-content">

    <!-- Uploading / Saving data -->
    <div
        class="import-data-loading"
        *ngIf="displayLoading">
        <mat-spinner></mat-spinner>
        <span
            *ngIf="progress !== null"
            class="import-data-loading-progress">
            {{ progress }} %
        </span>
    </div>

    <!-- Select / Upload file -->
    <div
        *ngIf="!displayLoading && !importableObject"
        fxFlex fxLayout="column" fxLayoutGap="12px"
        class="import-data">
        <div>
            <input
                hidden
                #importDataBtn
                type="file"
                ng2FileSelect
                [uploader]="uploader"
                [accept]="allowedExtensions"/>

            <div
                fxFlex fxLayoutAlign="center center"
                class="import-data-drop-zone"
                [class.import-data-file-over]="hasFileOver"
                ng2FileDrop
                [uploader]="uploader"
                (fileOver)="hoverDropZone($event)"
                (click)="importDataBtn.click()">
                {{ 'LNG_PAGE_IMPORT_DATA_LABEL_DRAG_AND_DROP_FILE_HERE' | translate:translationData }}
            </div>
        </div>

        <div
            class="import-data-file-or">
            {{ 'LNG_PAGE_IMPORT_DATA_LABEL_OR' | translate }}
        </div>

        <div
            class="import-data-file-input"
            fxFlex fxLayout="row"
            (click)="importDataBtn.click()">
            <div
                class="import-data-file-input-label">
                {{ title | translate:translationData }}
            </div>
            <div
                fxFlex
                class="import-data-file-input-file">
                {{ uploader?.queue.length > 0 ? uploader.queue[0].file.name : ('LNG_PAGE_IMPORT_DATA_LABEL_CHOOSE_FILE' | translate) }}
            </div>
            <div
                class="import-data-file-input-browse">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_BROWSE' | translate }}
            </div>
        </div>

        <div
            fxFlex fxLayout="row" fxLayoutAlign="end">
            <button
                mat-raised-button
                color="primary"
                class="button-primary"
                [disabled]="!uploader || uploader.queue.length < 1"
                (click)="uploadFile()"
                type="button">
                {{ (isOneStep ? 'LNG_PAGE_IMPORT_DATA_BUTTON_IMPORT_FILE' : 'LNG_PAGE_IMPORT_DATA_BUTTON_UPLOAD_FILE') | translate }}
            </button>
        </div>
    </div>

    <!-- Map fields -->
    <div
        *ngIf="!displayLoading && importableObject && !errMsgDetails"
        fxFlex fxLayout="column" fxLayoutGap="30px"
        class="import-data-map-fields">
        <form
            #form="ngForm"
            (submit)="importData(form)">
            <div
                fxFlex fxLayout="row" fxLayoutGap="20px"
                class="import-data-map-fields-header-columns">
                <div fxFlex>
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_SOURCE_FILE_INFORMATION' | translate }}
                </div>
                <div fxFlex>
                    {{ 'LNG_PAGE_IMPORT_DATA_LABEL_MODEL_INFORMATION' | translate }}
                </div>
                <div fxFlex="70px">
                    <!-- placeholder -->
                </div>
            </div>
            <div
                *ngFor="let item of mappedFields; trackBy: trackByFieldID; let indexMapField = index;">
                <div
                    fxFlex fxLayout="row" fxLayoutGap="20px">
                    <app-form-select
                        #sourceControl
                        [name]="'mapObject[' + item.id + '][source]'"
                        app-unique-validator="\]\[source\]$"
                        [valueReplacer]="formatSourceValueForDuplicatesCallback"
                        required="true"
                        [ngModel]="item.sourceField"
                        [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                        [options]="importableObject.fileHeadersKeyValue"
                        (optionChanged)="item.sourceField = $event ? $event.value : $event; addMapOptionsIfNecessary(item);">
                    </app-form-select>

                    <app-form-select
                        [name]="'mapObject[' + item.id + '][destination]'"
                        required="true"
                        [ngModel]="item.destinationField"
                        [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                        [options]="importableObject.modelPropertiesKeyValue"
                        (optionChanged)="item.destinationField = $event ? $event.value : $event; addMapOptionsIfNecessary(item);"
                        [disabled]="item.readonly">
                    </app-form-select>

                    <div
                        *ngIf="item.isSourceArray || item.isDestinationArray"
                        fxFlex fxLayout="row" fxLayoutGap="20px">
                        <div
                            *ngFor="let levelMatch of item.numberOfMaxLevels; let levelIndex = index;"
                            fxFlex>
                            <app-form-select
                                [name]="'mapObject[' + item.id + '][sourceDestinationLevel][' + levelIndex + ']'"
                                required="true"
                                [ngModel]="item.sourceDestinationLevel[levelIndex]"
                                [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE_DESTINATION_LEVEL' | translate"
                                [options]="possibleSourceDestinationLevels"
                                (optionChanged)="item.sourceDestinationLevel[levelIndex] = $event ? $event.value : $event; sourceControl.control.updateValueAndValidity();">
                            </app-form-select>
                        </div>
                    </div>

                    <div
                        fxFlex="70px">
                        <button
                            *ngIf="!item.readonly"
                            mat-icon-button
                            color="warn"
                            (click)="removeFieldMap(indexMapField)"
                            type="button">
                            <span class="xt-icon">delete</span>
                        </button>
                    </div>
                </div>
                <div
                    *ngIf="
                        importableObject.distinctFileColumnValuesKeyValue &&
                        importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes] &&
                        !!importableObject.modelPropertyValuesMap[item.destinationField]"
                    class="import-data-map-fields-children">
                    <div
                        *ngFor="let mappedOpt of item.mappedOptions; trackBy: trackByFieldID; let indexMapOption = index"
                        fxFlex fxLayout="row" fxLayoutGap="20px">
                        <app-form-select
                            [name]="'mapObject[' + item.id + '][options][' + mappedOpt.id + '][sourceOption]'"
                            app-unique-validator
                            [appUniqueValidatorExpression]="'\\[' + item.id + '\\]\\[options\\]\\[\\d+\\]\\[sourceOption\\]$'"
                            required="true"
                            [ngModel]="mappedOpt.sourceOption"
                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_SOURCE' | translate"
                            [options]="importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes]"
                            (optionChanged)="mappedOpt.sourceOption = $event ? $event.value : $event;">
                        </app-form-select>

                        <app-form-select
                            [name]="'mapObject[' + item.id + '][options][' + mappedOpt.id + '][destinationOption]'"
                            required="true"
                            [ngModel]="mappedOpt.destinationOption"
                            [placeholder]="'LNG_PAGE_IMPORT_DATA_LABEL_SELECT_DESTINATION' | translate"
                            [options]="importableObject.modelPropertyValuesMap[item.destinationField]"
                            optionValueKey="id"
                            (optionChanged)="mappedOpt.destinationOption = $event ? $event.value : $event;">
                        </app-form-select>

                        <div fxFlex="70px">
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="removeOptionMap(indexMapField, indexMapOption)"
                                type="button">
                                <span class="xt-icon">delete</span>
                            </button>
                        </div>
                    </div>

                    <div
                        fxFlex fxLayout="row" fxLayoutAlign="center">
                        <button
                            *ngIf="item.mappedOptions.length < importableObject.distinctFileColumnValuesKeyValue[item.sourceFieldWithoutIndexes].length"
                            mat-raised-button
                            color="primary"
                            class="button-primary"
                            (click)="addNewOptionMap(indexMapField)"
                            type="button">
                            <span class="xt-icon">addCircle</span>
                            {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ADD_NEW_FIELD_OPTION' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <div
                fxFlex fxLayout="row" fxLayoutAlign="center">
                <button
                    *ngIf="
                        mappedFields.length < importableObject.fileHeadersKeyValue.length ||
                        mappedFields.length < importableObject.modelPropertiesKeyValue.length
                    "
                    mat-raised-button
                    color="primary"
                    class="button-primary"
                    (click)="addNewFieldMap()"
                    type="button">
                    <span class="xt-icon">addCircle</span>
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_ADD_NEW_FIELD' | translate }}
                </button>
            </div>

            <div
                fxFlex fxLayout="row" fxLayoutAlign="end">
                <button
                    mat-raised-button
                    color="primary"
                    class="button-primary"
                    type="submit">
                    {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_IMPORT_FILE' | translate }}
                </button>
            </div>
        </form>
    </div>

    <!-- Map fields -->
    <div
        *ngIf="!displayLoading && importableObject && errMsgDetails"
        fxFlex fxLayout="column" fxLayoutGap="30px"
        class="import-data-errors">
        <div
            class="import-data-errors-title">
            {{ 'LNG_PAGE_IMPORT_DATA_ERROR_SOME_RECORDS_NOT_IMPORTED' | translate }}
        </div>
        <div
            *ngFor="let err of errMsgDetails.details && errMsgDetails.details.failed ? errMsgDetails.details.failed : []"
            class="import-data-errors-err">
            <span *ngIf="err.error.code === ImportServerErrorCodes.DUPLICATE_RECORD">
                {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_NOT_IMPORTED_DUPLICATE' | translate:{ recordNo: err.recordNo } }}
            </span>
            <span *ngIf="err.error.code !== ImportServerErrorCodes.DUPLICATE_RECORD">
                {{ 'LNG_PAGE_IMPORT_DATA_ERROR_RECORD_NOT_IMPORTED' | translate:{ recordNo: err.recordNo, fields: err.error.details ? Object.keys(err.error.details.codes).join(', ') : [] } }}
            </span>
        </div>
        <div
            fxFlex fxLayout="row" fxLayoutAlign="end">
            <button
                mat-raised-button
                color="primary"
                class="button-primary"
                type="button"
                (click)="tryAgain()">
                {{ 'LNG_PAGE_IMPORT_DATA_BUTTON_TRY_AGAIN' | translate }}
            </button>
        </div>
    </div>
</mat-card>
