<app-create-view-modify-v2
  [action]="action"
  [allowEdit]="selectedOutbreakIsActive"
  [loadingPage]="loadingPage"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [breadcrumbInfos]="breadcrumbInfos"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [itemID]="itemData?.id"
  [tabData]="tabData"
  [listTitle]="relationshipType === RelationshipType.CONTACT ? 'LNG_PAGE_LIST_ENTITY_RELATIONSHIPS_CONTACTS_TITLE' : 'LNG_PAGE_LIST_ENTITY_RELATIONSHIPS_EXPOSURES_TITLE'"
  [expandListRecords$]="expandListRecords$"
  [expandListColumnRenderer]="expandListColumnRenderer"
  [expandListAdvancedFilterType]="Constants.APP_PAGE.RELATIONSHIPS.value"
  [expandListAdvancedFilters]="expandListAdvancedFilters"
  [expandListQueryFields]="expandListQueryFields"
  [expandListAdvancedFiltersCacheKey]="undefined"
  (expandListRefreshData)="refreshExpandList($event)"
  (expandListChangeRecord)="expandListChangeRecord($event)">
</app-create-view-modify-v2>
