<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <div
        fxFlex fxLayout="column" fxLayoutGap="20px">
        <!-- location breadcrumb -->
        <app-location-breadcrumbs
            activeLocationBreadcrumb="LNG_PAGE_CREATE_LOCATION_NAME"></app-location-breadcrumbs>

        <mat-horizontal-stepper linear #stepper>

            <!-- Details step -->
            <mat-step [stepControl]="detailsForm">
                <form #detailsForm="ngForm">
                    <ng-template matStepLabel>{{'LNG_PAGE_CREATE_LOCATION_TAB_DETAILS_TITLE'| translate}}</ng-template>

                    <!-- Details section -->
                    <mat-card class="page-section">
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutGap="20px">
                                <app-form-input
                                    name="name"
                                    [(ngModel)]="locationData.name"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_NAME' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_NAME_DESCRIPTION"
                                    required="true">
                                </app-form-input>

                                <app-form-slide-toggle
                                    name="active"
                                    [(ngModel)]="locationData.active"
                                    [label]="'LNG_LOCATION_FIELD_LABEL_ACTIVE' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_ACTIVE_DESCRIPTION">
                                </app-form-slide-toggle>

                                <app-form-input
                                    name="populationDensity"
                                    [(ngModel)]="locationData.populationDensity"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_POPULATION_DENSITY' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_POPULATION_DENSITY_DESCRIPTION"
                                    type="number">
                                </app-form-input>

                                <app-form-select
                                    name="geographicalLevelId"
                                    [(ngModel)]="locationData.geographicalLevelId"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEOGRAPHICAL_LEVEL' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_GEOGRAPHICAL_LEVEL_DESCRIPTION"
                                    [options]="geographicalLevelsList$ | async"
                                    optionLabelKey="label"
                                    optionValueKey="value"
                                    required="false"
                                    multiple="false">
                                </app-form-select>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px">
                                <app-form-input
                                    #latInput
                                    name="geoLocation[lat]"
                                    [ngModel]="locationData.geoLocation?.lat"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LAT' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LAT_DESCRIPTION"
                                    [required]="isLatLngRequired(lngInput.value)"
                                    app-min-max-validator
                                    [min]="-90"
                                    [minNumber]="-90"
                                    [max]="90"
                                    [maxNumber]="90"
                                    type="number"
                                    (optionChanged)="onChangeLatLng('lat', $event)">
                                </app-form-input>

                                <app-form-input
                                    #lngInput
                                    name="geoLocation[lng]"
                                    [ngModel]="locationData.geoLocation?.lng"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LNG' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LNG_DESCRIPTION"
                                    [required]="isLatLngRequired(latInput.value)"
                                    app-min-max-validator
                                    [min]="-180"
                                    [minNumber]="-180"
                                    [max]="180"
                                    [maxNumber]="180"
                                    type="number"
                                    (optionChanged)="onChangeLatLng('lng', $event)">
                                </app-form-input>

                                <div fxFlex><!-- placeholder --></div>
                                <div fxFlex><!-- placeholder --></div>
                            </div>
                        </div>
                    </mat-card>

                    <!-- Synonyms section -->
                    <div class="section-title">
                        {{ 'LNG_LOCATION_FIELD_LABEL_SYNONYMS' | translate }}
                    </div>
                    <app-form-input-list
                        name="synonyms"
                        [ngModel]="locationData.synonyms"
                        type="text"
                        [placeholder]="'LNG_LOCATION_FIELD_LABEL_SYNONYM' | translate"
                        tooltip="LNG_LOCATION_FIELD_LABEL_SYNONYM_DESCRIPTION"
                        [required]="true"
                        [unique]="true">
                    </app-form-input-list>

                    <!--Identifiers section-->
                    <div class="section-title">
                        {{ 'LNG_LOCATION_FIELD_LABEL_IDENTIFIERS' | translate }}
                    </div>
                    <app-form-location-identifier-list
                        name="identifiers"
                        [ngModel]="locationData.identifiers"
                        [required]="true">
                    </app-form-location-identifier-list>

                    <div class="stepper-navigation-buttons">
                        <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                    </div>
                </form>
            </mat-step>

            <!-- Final step -->
            <mat-step>
                <ng-template matStepLabel>
                    {{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}
                </ng-template>

                {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button type="button" matStepperPrevious>
                        {{'LNG_STEPPER_BUTTON_BACK' | translate}}
                    </button>
                    <button
                        type="button" mat-raised-button color="accent"
                        (click)="createNewLocation([detailsForm])">
                        {{'LNG_PAGE_CREATE_LOCATION_ACTION_CREATE_LOCATION_BUTTON' | translate}}
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
