<div class="daterange-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <app-form-datepicker
                fxFlex="47"
                [name]="name + '[startDate]'"
                [(ngModel)]="dateRange.startDate"
                [placeholder]="'LNG_FORM_RANGE_FIELD_LABEL_FROM' | translate"
                [disabled]="disabled"
                [required]="required"
                (optionChanged)="onChange()"
                app-date-validator
                [dateSameOrBefore]="name + '[endDate]'">
            </app-form-datepicker>

            <app-form-datepicker
                fxFlex="47"
                [name]="name + '[endDate]'"
                [(ngModel)]="dateRange.endDate"
                [placeholder]="'LNG_FORM_RANGE_FIELD_LABEL_TO' | translate"
                [disabled]="disabled"
                [required]="required"
                (optionChanged)="onChange()"
                app-date-validator
                [dateSameOrAfter]="name + '[startDate]'">
            </app-form-datepicker>
        </div>
    </form>
</div>
