<div class="form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form
        #groupForm="ngForm"
        fxLayout="column"
    >
        <div
            *ngFor="let vaccine of values; let i = index; trackBy: trackByIndex"
            fxLayout="row" fxLayoutAlign="start center"
        >
            <mat-card
                class="page-section"
                fxFlex fxLayout="row" fxLayoutGap="15px"

            >
                <!--Vaccine-->
                <app-form-select
                    [name]="name + '[' + i + ']' + '[vaccine]'"
                    [(ngModel)]="vaccine.vaccine"
                    [options]="vaccinesList$ | async"
                    (optionChanged)="onChange(false)"
                    [placeholder]="'AAA'"
                    [required]="required"
                    [disabled]="disabled"
                    optionLabelKey="label"
                    optionValueKey="value"
                    (groupValidated)="validateGroup()"
                >
                </app-form-select>

                <!--Vaccine Date-->
                <app-form-datepicker
                    [name]="name + '[' + i + ']' + '[date]'"
                    [(ngModel)]="vaccine.date"
                    [maxDate]="serverToday"
                    app-date-validator
                    [placeholder]="'LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                    (optionChanged)="onChange(false)"
                    [disabled]="disabled">
                </app-form-datepicker>

                <!--Vaccine status-->
                <app-form-select
                    [name]="name + '[' + i + ']' + '[status]'"
                    [(ngModel)]="vaccine.status"
                    [options]="vaccinesStatusList$ | async"
                    (changed)="onChange(false)"
                    [placeholder]="'BBB'"
                    [required]="required"
                    [disabled]="disabled"
                    optionLabelKey="label"
                    optionValueKey="value"
                    (groupValidated)="validateGroup()">
                </app-form-select>

            </mat-card>

            <div fxLayout="column">
                <button *ngIf="!disabled" type="button" mat-icon-button (click)="delete(i)">
                    <span class="xt-icon">delete</span>
                </button>
            </div>
        </div>

        <div fxLayout="row">
            <button *ngIf="!disabled" type="button" mat-button color="primary" (click)="add()">
                {{'LNG_COMMON_BUTTON_ADD_DATE_RANGE' | translate}}
            </button>
        </div>
    </form>
</div>

