/* COT Bars */
app-transmission-chain-bars {
  --relationship-accent-color: var(--gd-danger);
  --gd-chart-left-width: 100px;

  .filters {
    margin-bottom: 2rem;
  }

  .gd-cot-bars-legend {
    .gd-cot-bars-legend-title-bar-button {
      background-color: rgba(var(--gd-secondary-rgb), 0.35);
      color: var(--gd-text);
      left: 1rem;
      position: absolute;
      top: 1rem;

      &.gd-cot-bars-legend-title-bar-button-expanded {
        background-color: var(--gd-primary);
        color: var(--gd-background);
      }
    }
  }

  #chart {
    // #TODO keep some padding for scrollbars when exporting the graph
    box-sizing: border-box;
    border: 0.1rem solid rgba(var(--gd-primary-rgb), 0.2);
    border-bottom: 0 none;
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;

    .gd-dates-section {
      border-right: 0.1rem solid rgba(var(--gd-primary-rgb), 0.2);
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: var(--gd-chart-left-width);

      // IMPORTANT: needed, otherwise header date rows and header case names aren't exported :)
      .gd-dates-section-header {
        background-color: rgba(var(--gd-primary-rgb), 0.05);
        border-bottom: 0.1rem solid rgba(var(--gd-primary-rgb), 0.2);
      }

      .gd-dates-section-container {
        background-color: rgba(var(--gd-primary-rgb), 0.05);
        overflow: hidden;
        padding-left: 1.4rem;

        .gd-dates-section-container-svg {
          width: 100%;
        }
      }
    }

    .gd-entities-section {
      display: inline-block;
      height: 100%;
      width: calc(100% - var(--gd-chart-left-width));

      .gd-entities-section-header {
        background-color: rgba(var(--gd-primary-rgb), 0.05);
        border-bottom: 0.1rem solid rgba(var(--gd-primary-rgb), 0.2);
        overflow: hidden;

        .gd-entities-section-header-svg {
          height: 100%;

          svg {
            overflow: visible;
          }
        }

        .gd-entities-section-header-entity-info {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .gd-entities-section-container {
        display: inline-block;
        overflow: auto;
        width: 100%;

        .gd-entities-section-container-svg {
          svg {
            overflow: visible;
          }
        }

        .gd-entities-section-container-relationship {
          &.accent {
            fill: var(--relationship-accent-color);
            stroke: var(--relationship-accent-color);
          }
        }

        .gd-entities-section-container-entity-bar {
          cursor: pointer;

          &.accent {
            rect {
              fill: rgba(var(--gd-danger-rgb), 0.05);
              stroke: var(--relationship-accent-color);
            }
          }
        }
      }
    }
  }
}

.gd-cot-bars-legend-content {
  max-width: 100%;
  min-width: 0;
  padding: 1.6rem 1.6rem 5rem;

  .gd-cot-bars-legend-colors {
    .legend-rect {
      border-radius: 0.2rem;
      display: inline-block;
      height: 1.6rem;
      vertical-align: text-bottom;
      width: 1.6rem;
    }
  }

  .gd-cot-bars-legend-cell-width {
    bottom: 0;
    margin-top: 1.6rem;
    position: absolute;
    width: 20rem;

    mat-slider {
      height: auto;
      min-width: 0;
      position: static;
      width: 100%;
    }
  }
}
