<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_TRANSMISSION_CHAIN_BARS_TITLE"
  [quickActions]="quickActions"
  [advancedFilterType]="Constants.APP_PAGE.COT_BAR_CHART.value"
  [advancedFilters]="advancedFilters"
  advancedFiltersHideOperator="true"
  (advancedFilterBy)="advancedFilterBy($event)">
  <div
    [fxShow]="!loadingData && !noData">
    <!-- Chart details -->
    <div
      [innerHTML]="('LNG_PAGE_TRANSMISSION_CHAIN_BARS_LEGEND_DETAILS' | translate:legendColors) | safeHtml"
      class="transmission-chain-bars-legend">
    </div>

    <!-- Chart cell width -->
    <div
      class="transmission-chain-bars-cell-width">
      <div>
        {{ 'LNG_PAGE_TRANSMISSION_CHAIN_BARS_CELL_WIDTH_LABEL' | translate }}
      </div>
      <mat-slider
        [min]="91"
        [max]="150"
        [ngModel]="cellWidth"
        [tickInterval]="10"
        (valueChange)="cellWidthChanged($event)">
      </mat-slider>
    </div>

    <!-- Chart -->
    <div
      #chart
      id="chart"
    ></div>
  </div>

  <div *ngIf="!loadingData && noData">
    {{'LNG_PAGE_TRANSMISSION_CHAIN_BARS_NO_DATA' | translate}}
  </div>

  <div *ngIf="loadingData">
    <mat-spinner></mat-spinner>
  </div>

</app-basic-page-v2>
