@relationship-accent-color: #da0000;
@gd-chart-left-width: 100px;

app-transmission-chain-bars {
    .filters {
        margin-bottom: 20px;
    }

    .transmission-chain-bars-legend {
        margin-bottom: 20px;
    }

    .legend-rect {
        display: inline-block;
        width: 10px;
        height: 10px;
    }

    .transmission-chain-bars-cell-width {
        position: absolute;
        width: 100px;
        margin-top: 50px;

        mat-slider {
            width: 100%;
            min-width: 0;
            height: auto;
            position: static;
        }
    }

  #chart {
    width: 100%;
    height: 100%;
    // #TODO keep some padding for scrollbars when exporting the graph
    box-sizing: border-box;

    .gd-dates-section {
      display: inline-block;
      width: @gd-chart-left-width;
      height: 100%;
      vertical-align: top;

      .gd-dates-section-container {
        overflow: hidden;

        .gd-dates-section-container-svg {
          width: 100%;
        }
      }
    }

    .gd-entities-section {
      display: inline-block;
      width: calc(100% - @gd-chart-left-width);
      height: 100%;

      .gd-entities-section-header {
        overflow: hidden;

        .gd-entities-section-header-svg {
          height: 100%;
        }

        .gd-entities-section-header-entity-info {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .gd-entities-section-container {
        display: inline-block;
        width: 100%;
        overflow: auto;

        .gd-entities-section-container-relationship {
          &.accent {
            stroke: @relationship-accent-color;
            fill: @relationship-accent-color;
          }
        }

        .gd-entities-section-container-entity-bar {
          cursor: pointer;

          &.accent {
            rect {
              stroke: @relationship-accent-color;
            }
          }
        }
      }
    }
  }
}
