<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_TRANSMISSION_CHAIN_BARS_TITLE"
  [quickActions]="quickActions"
  [advancedFilterType]="Constants.APP_PAGE.COT_BAR_CHART.value"
  [advancedFilters]="advancedFilters"
  advancedFiltersHideOperator="true"
  selectedOutbreakDisabled="false"
  (advancedFilterBy)="advancedFilterBy($event)">
  <div
    [fxShow]="!loadingData && !noData"
    style="height: 100%; width: 100%;">

    <!-- COT Bars Legend -->
    <div class="gd-cot-bars-legend">

      <!-- Title & Collapse / Expand -->
      <div class="gd-cot-bars-legend-title-bar">
        <!-- Collapse / Expand -->
        <button
          #legendDropdownTrigger="matMenuTrigger"
          class="gd-cot-bars-legend-title-bar-button"
          [class.gd-cot-bars-legend-title-bar-button-expanded]="legendDropdownTrigger.menuOpen"
          type="button"
          mat-flat-button
          [matMenuTriggerFor]="legendDropdown">
          Legend
        </button>
      </div>

      <!-- Legend content -->
      <mat-menu
        #legendDropdown="matMenu"
        class="gd-cot-bars-legend-content">
          <div
            [innerHTML]="('LNG_PAGE_TRANSMISSION_CHAIN_BARS_LEGEND_DETAILS' | translate:legendColors) | safeHtml"
            class="gd-cot-bars-legend-colors">
          </div>
  
          <div class="gd-cot-bars-legend-cell-width">
            <div>
              {{ 'LNG_PAGE_TRANSMISSION_CHAIN_BARS_CELL_WIDTH_LABEL' | translate }}
            </div>
            <app-form-toggle-v2
              [(ngModel)]="selectedCellWidthValue"
              [options]="cellWidthOptions"
              (ngModelChange)="cellWidthChanged()"></app-form-toggle-v2>
          </div>
      </mat-menu>
    </div>

    <!-- Chart -->
    <div
      #chart
      id="chart"></div>
  </div>

  <div
    *ngIf="!loadingData && noData"
    class="cot-bars-no-data"
    fxFlex fxLayoutAlign="center center">
    <span
      fxGrow="0">
      {{'LNG_PAGE_TRANSMISSION_CHAIN_BARS_NO_DATA' | translate}}
    </span>
  </div>

  <div
    *ngIf="loadingData"
    class="cot-bars-loading"
    fxFlex fxLayoutAlign="center center">
    <mat-progress-spinner
      diameter="32"
      mode="indeterminate"></mat-progress-spinner>
  </div>

</app-basic-page-v2>
