app-transmission-chain-bars {

    #bar {
        width: inherit;
        height: inherit;
    }

    .bar {
        fill: steelblue;

        &:hover {
            fill: brown;
        }
    }

    .axis--x path {
        display: none;
    }

    @date-cell-width: 90px;
    @cell-width: 40px;
    @cell-height: 25px;
    .graph {
        .date {
            width: @date-cell-width;
            height: @cell-height;
            display: flex;
            align-items: center;
        }

        .visual-id {
            height: 2 * @cell-height;
            font-size: 12px;
            word-wrap: break-word;
        }

        .case-column {
            width: @cell-width;
        }

        .case {
            border: 1px solid black;

            .date-of-onset,
            .isolation,
            .labresult {
                width: 100%;
                height: @cell-height;
            }

            .date-of-onset {
                // nothing
            }
            .isolation {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: steelblue;
                color: black;
            }
            .lab-result {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: darkred;
                color: white;
            }
        }
    }
}
