<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>


<form class="page-content form-section" #form="ngForm" (submit)="modifyOutbreakTemplate(form)">
    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar">

            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'LNG_PAGE_MODIFY_OUTBREAK_TEMPLATE_TAB_DETAILS' | translate}}
                </ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="outbreakTemplate.name"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-select
                                name="disease"
                                [(ngModel)]="outbreakTemplate.disease"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DISEASE_DESCRIPTION"
                                [options]="diseasesList$ | async"
                                [clearable]="false"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="outbreakTemplate.periodOfFollowup"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DURATION_FOLLOWUP_DAYS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="outbreakTemplate.frequencyOfFollowUpPerDay"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="outbreakTemplate.noDaysAmongContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysInChains"
                                [(ngModel)]="outbreakTemplate.noDaysInChains"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="outbreakTemplate.noDaysNotSeen"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NOT_SEEN_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="outbreakTemplate.noLessContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_LESS_THAN_X_CONTACTS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="outbreakTemplate.longPeriodsBetweenCaseOnset"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_LONG_PERIODS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNewContacts"
                                [(ngModel)]="outbreakTemplate.noDaysNewContacts"
                                [placeholder]="'LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT' | translate"
                                tooltip="LNG_OUTBREAK_TEMPLATE_FIELD_LABEL_DAYS_NEW_CONTACT_DESCRIPTION"
                                type="number"
                                [disabled]="viewOnly">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

    </div>

    <!-- outbreak form actions -->
    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>
        <button *ngIf="viewOnly && hasOutbreakTemplateWriteAccess()"
                mat-raised-button
                type="button"
                color="accent"
                [routerLink]="['/outbreak-templates', outbreakTemplateId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>
        <ng-container *ngIf="!viewOnly">
            <button
                mat-raised-button
                color="accent"
                type="submit">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
            <button type="button"
                    [routerLink]="['/outbreak-templates']"
                    mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>

        <div class="page-tabs-navbar-placeholder"></div>

        <button
            mat-raised-button
            type="button"
            [routerLink]="['/outbreak-templates', outbreakTemplateId, 'case-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_TEMPLATE_ACTION_CASE_INVESTIGATION_QUESTIONNAIRE' | translate }}
        </button>

        <button
            mat-raised-button
            type="button"
            [routerLink]="['/outbreak-templates', outbreakTemplateId, 'contact-follow-up-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_TEMPLATE_ACTION_CONTACT_FOLLOW_UP_QUESTIONNAIRE' | translate }}
        </button>

        <button
            mat-raised-button
            type="button"
            [routerLink]="['/outbreak-templates', outbreakTemplateId, 'case-lab-results-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_TEMPLATE_ACTION_CASE_LAB_RESULTS_QUESTIONNAIRE' | translate }}
        </button>
    </div>
</form>
