<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyRelationship(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_TAB_DETAILS' | translate">

                <mat-card class="page-section">

                    <div
                        fxLayout="row" fxLayoutGap="20px" fxFlex
                        class="follow-ups-title">
                        <div>{{ relationship.relatedEntity(entityId)?.type | translate }}</div>
                        <a
                            *ngIf="relationship.relatedEntity(entityId)"
                            [routerLink]="['', EntityModel.getLinkForEntityType(relationship.relatedEntity(entityId).type), relationship.relatedEntity(entityId).model.id, 'view']"
                        >
                            {{ relationship.relatedEntity(entityId).model.name }}
                        </a>
                    </div>

                    <app-form-relationship
                        name="relationship"
                        [ngModel]="relationship"
                        required="true"
                        [disabled]="viewOnly">
                    </app-form-relationship>

                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="viewOnly && hasEntityWriteAccess()"
            mat-raised-button type="button" color="accent"
            [routerLink]="['/relationships', entityType, entityId, relationshipTypeRoutePath, relationshipId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>

        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
            <button type="button" [routerLink]="['/relationships', entityType, entityId]" mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>
    </div>
</form>
