<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form
    #form="ngForm"
    class="page-content form-section"
    [class.form-view-only]="viewOnly"
    (submit)="modifyRelationship(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_TAB_DETAILS' | translate">

                <mat-card class="page-section" fxLayout="column">
                    <div
                        class="follow-ups-title"
                        fxLayout="row" fxLayoutGap="20px"
                    >
                        <div>{{ relationship.relatedEntity(entityId)?.type | translate }}</div>
                        <a
                            *ngIf="relationship.relatedEntity(entityId)"
                            [routerLink]="['', EntityModel.getLinkForEntityType(relationship.relatedEntity(entityId).type), relationship.relatedEntity(entityId).model.id, 'view']"
                        >
                            {{ relationship.relatedEntity(entityId).model.name }}
                        </a>
                    </div>

                    <app-form-relationship
                        name="relationship"
                        [ngModel]="relationship"
                        required="true"
                        [disabled]="viewOnly">
                    </app-form-relationship>
                </mat-card>

                <!-- Create / update by user information section -->
                <div class="section-title">
                    {{ 'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_TAB_PERSONAL_SECTION_RECORD_DETAILS_TITLE' | translate }}
                </div>
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="createdByUser"
                                [ngModel]="relationship.createdByUser?.name"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CREATED_BY'| translate"
                                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CREATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="createdAt"
                                [ngModel]="relationship.createdAt | dateTimeDefault"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CREATED_AT'| translate"
                                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CREATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedByUser"
                                [ngModel]="relationship.updatedByUser?.name"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_UPDATED_BY'| translate"
                                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_UPDATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedAt"
                                [ngModel]="relationship.updatedAt | dateTimeDefault"
                                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_UPDATED_AT'| translate"
                                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_UPDATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <ng-container
            *app-selected-outbreak-is-active
        >
            <button *ngIf="viewOnly && hasEntityWriteAccess()"
                mat-raised-button type="button" color="accent"
                [routerLink]="['/relationships', entityType, entityId, relationshipTypeRoutePath, relationshipId, 'modify']">
                {{'LNG_COMMON_BUTTON_EDIT' | translate}}
            </button>

            <ng-container *ngIf="!viewOnly">

                <ng-container *ngIf="canReverseRelation" >
                    <button
                        (click)="reverseExistingRelationship()"
                        [matTooltip]="'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_ACTION_REVERSE_RELATIONSHIP_TOOLTIP' | translate"
                        mat-raised-button
                        type="button"
                    >
                        {{ 'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_ACTION_REVERSE_RELATIONSHIP' | translate }}
                    </button>

                    <div class="page-tabs-navbar-placeholder"></div>
                </ng-container>

                <button mat-raised-button color="accent">
                    {{'LNG_COMMON_BUTTON_SAVE' | translate}}
                </button>
                <button type="button" [routerLink]="['/relationships', entityType, entityId, relationshipTypeRoutePath]" mat-raised-button>
                    {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
                </button>
            </ng-container>
        </ng-container>
    </div>
</form>
