<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyRelationship(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_ENTITY_RELATIONSHIP_TAB_DETAILS' | translate">

                <mat-card class="page-section">

                    <app-form-relationship
                        name="relationship"
                        [ngModel]="relationshipData"
                        required="true">
                    </app-form-relationship>

                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *app-selected-outbreak-is-active class="button-primary" mat-raised-button color="primary">
            {{'LNG_COMMON_BUTTON_SAVE' | translate}}
        </button>
        <button type="button" [routerLink]="['/relationships', entityType, entityId]" mat-raised-button>
            {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
        </button>
    </div>


</form>
