@import 'mixins';

/* Spreadsheet no rows */
.gd-spreadsheet-editor-v2-no-rows {
  .gd-spreadsheet-editor-v2-no-rows-image {
    background-image: url(../../../../../../assets/images/nothing-found.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    width: 25rem;
  }

  .gd-spreadsheet-editor-v2-no-rows-text {
    color: var(--gd-secondary);
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
