// colors
@color-error: red;
@color-success: green;

@color-error-secondary: #ff3333;

@color-button-error: #B20000;
@color-button-success: #184004;
@color-button-notice: #f45b3c;

@color-accent-main-light: #C9E7E2;
@color-accent-main: #4DB0A0;
@color-dark-1st: #4e4e4e;
@color-dark-2nd: #9a9a9a;

@color-gray-background: #F1F1F1;

@color-case-dashlet-header: #aa3206;
@color-case-dashlet-content: #f44708;

@color-contact-dashlet-header: #af740d;
@color-contact-dashlet-content: #faa613;

@color-contact-dashlet-chains-of-transmission-header: #65007d;
@color-contact-dashlet-chains-of-transmission-content: #9000b3;

