// colors
@color-error: red;
@color-success: green;

@color-accent-main: #4DB0A0;
@color-dark-1st: #4e4e4e;
@color-dark-2nd: #9a9a9a;

@color-gray-background: #F1F1F1;

@color-case: #d60000;
@color-contact: #dda200;
@color-event: #0071e1;
