@default-icon-size: 24px;

.xt-icon {
    font-size: @default-icon-size;
}

@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-stretch: normal;
    font-weight: 700;
    font-style: normal;
}
