@import '../assets/fonts/xtIcon/style.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@default-icon-size: 24px;

.xt-icon {
    font-size: @default-icon-size;
}

@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-stretch: normal;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-stretch: normal;
    font-weight: 700;
    font-style: normal;
}
