@import '_colors';
@import '_fonts';

/* variables */
// left margin to compensate the sidenav menu icon
@page-left-margin: 76px;
// right margin to compensate the "Language" topnav item
@page-right-margin: 128px;
// font family for table headers
@font-roboto: 'Roboto-Font';
