@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "external/materialdesignicons.min.css";
@import "external/googleapisfont.css";


//Imports:
@import '_fonts';
@import 'overrides';
@import 'common';

html, body, ul, li, div, span {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Generic styles */
.a-no-style {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.transparent {
    opacity: 0;
}

/* Commonly used styles */
.page-section {
    margin: 15px;
    box-shadow: -2px 2px 8px 1px rgba(0, 0, 0, .3) !important;

    &.form-content {
        margin-left: 0;
    }

    // Reset filters
    .reset-filters {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        padding-bottom: 10px;
    }

    /* Mat Table overrides */
    .mat-table {

        // variables
        @cell-padding-left: 20px;

        .mat-row {
            align-items: center !important;
            padding: 15px 0 !important;

            .mat-cell {
                font-size: 16px !important;
                padding-left: @cell-padding-left;

                &.cell-LNG_REFERENCE_DATA_CATEGORY_PERSON_TYPE_CASE {
                    color: @color-case;
                }
                &.cell-LNG_REFERENCE_DATA_CATEGORY_PERSON_TYPE_CONTACT {
                    color: @color-contact;
                }
                &.cell-LNG_REFERENCE_DATA_CATEGORY_PERSON_TYPE_EVENT {
                    color: @color-event;
                }
            }
        }

        .mat-header-row {
            padding: 0 !important;

            .mat-header-cell {
                font-size: 14px !important;
                font-weight: bold !important;
                padding-left: @cell-padding-left;

                .mat-sort-header-button {
                    text-align: left;
                }

                .mat-sort-header-arrow {
                    color: @color-accent-main
                }

                .table-header-cell {
                    display: flex;
                    flex-direction: column;

                    .mat-sort-header-container {
                        justify-content: space-between;
                    }

                    .column-filter {
                        padding-top: 10px;
                        // keep the height as a placeholder for columns without filters
                        height: 56px;
                    }
                }
            }
        }

        .mat-chip-list-wrapper {

            .mat-chip {
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }
        }

    }

    .save-button {
        background-color: @color-accent-main;
        color: #ffffff;
    }

    // form elements having dynamic width
    .form-element-host {
        flex: 1 1;
    }

    app-form-slide-toggle {
        display: inline-block;
    }
}

// handle the tooltips on input fields
.form-input-tooltip,
.form-datepicker-tooltip,
.form-select-tooltip,
.form-textarea-tooltip,
.form-slide-tooltip,
.form-locations-select-tooltip {
    .mat-input-element,
    .mat-select,
    .slide-with-icon,
    ng-select {
        width: ~'calc(100% - 24px)';
    }

    ng-select {
        display: inline-block;
    }

    .form-icon {
        display: inline !important;
        cursor: pointer;
        line-height: 0;
        float: right;
        margin-top: 7px;
    }
}

.page-content {
    margin-left: @page-left-margin;
}

.page-tabs-navbar {
    flex: 1 1;
}

.page-tabs-navbar-placeholder {
    height: 49px;
}

.form-section {
    display: flex;

    .form-content {
        flex: 1 1;
        margin-right: 10px;
    }

    // column on the right of forms
    .form-actions {
        // keep extra left-right margins of 10px
        width: @page-right-margin + 20px;
        display: flex;
        flex-direction: column;
        padding: 15px 0;

        button {
            width: @page-right-margin;
            margin: 0 0 7px 0;
        }
    }

}

.button-primary {
    background-color: @color-accent-main !important;
}

.link-primary {
   color: @color-accent-main !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.switch-buttons {
    button {
        border-radius: 5px;
    }
}

.mat-menu-item {
    &.mat-menu-item-delete,
    &.mat-menu-item-restore {
        color: darkred;
    }
}

.column-header {
    font-size: 16px;
    font-weight: bold;
    font-family: @font-roboto, sans-serif;
    color: black;
}

/* Ng Select Invalid Styles */
@material-invalid-color: #f44336;
ng-select {
    &.ng-invalid {
        &.ng-touched {
            .ng-select-container {
                .ng-value-container {
                    .ng-placeholder {
                        color: @material-invalid-color;
                    }
                }

                input {
                    color: @material-invalid-color;
                    caret-color: @material-invalid-color;
                }
            }
        }
    }
}
