@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//Imports:
@import '_fonts';
@import 'common';

html, body, ul, li, div, span {
    margin: 0;
    padding: 0;
    border: 0;
}

.page-section {
    margin: 10px 58px;
    box-shadow: -2px 2px 8px 1px rgba(0,0,0,.3) !important;
}
