@import '~handsontable/dist/handsontable.full.min.css';

app-bulk-create-contacts {
    .bulk-add-contacts-page-content {
        margin-left: 76px;

        .page-content {
            margin-left: 0 !important;
        }

        .min-height-location {
            min-height: 350px !important;
        }
    }

    .form-content {
        .bulk-create-contacts-errors {
            margin-bottom: 20px;

            .bulk-create-contacts-errors-title {
                font-weight: bold;
            }
        }

        .related-person {
            padding-bottom: 15px;
        }
    }
}
