app-form-address-list {
    .margin-bottom {
        margin-bottom: 95px !important;
    }

    .address-buttons-container{
        justify-content: space-around;
        align-content: space-around;
        height: 100% !important;
    }
}
