<app-topnav [addNewItemRoute]="'./create'">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="rolesList$ | async" matSort>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">
                Name
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="20">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                Description
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                {{ item.description }}
            </mat-cell>
        </ng-container>

        <!-- Permissions -->
        <ng-container matColumnDef="permissions">
            <mat-header-cell *matHeaderCellDef fxFlex>
                Permissions
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex>
                <mat-chip-list>
                    <mat-chip *ngFor="let permission of item.permissions" [matTooltip]="permission.description | translate">{{ permission.label | translate }}</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <span [matTooltip]="(authUser.hasRole(item.id) ? 'You cannot modify the role that is assigned to you' : '')">
                        <button mat-menu-item [disabled]="authUser.hasRole(item.id)" [routerLink]="['.', item.id, 'modify']">
                            Modify
                        </button>
                    </span>

                    <span [matTooltip]="(authUser.hasRole(item.id) ? 'You cannot delete the role that is assigned to you' : '')">
                        <button mat-menu-item [disabled]="authUser.hasRole(item.id)" (click)="deleteRole(item)">
                            Delete
                        </button>
                    </span>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
