<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button *ngIf="hasUserRoletWriteAccess()" class="button-primary" mat-raised-button color="primary"
                        [routerLink]="'./create'">
                    {{'LNG_COMMON_BUTTON_ADD' | translate}} <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="rolesList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef fxFlex="20">
                <div class="table-header-cell">
                    <div mat-sort-header>{{'LNG_USER_ROLE_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('name', $event)">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex="20">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef fxFlex="30">
                <div class="table-header-cell">
                    {{'LNG_USER_ROLE_FIELD_LABEL_DESCRIPTION' | translate}}
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="30">
                {{ item.description }}
            </mat-cell>
        </ng-container>

        <!-- Permissions -->
        <ng-container matColumnDef="permissions">
            <mat-header-cell *matHeaderCellDef fxFlex>
                <div class="table-header-cell">
                    {{'LNG_USER_ROLE_FIELD_LABEL_PERMISSIONS' | translate}}
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex>
                <mat-chip-list>
                    <mat-chip *ngFor="let permission of item.permissions"
                              [matTooltip]="permission.description | translate">{{ permission.label | translate }}
                    </mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button
                        mat-menu-item
                        [routerLink]="['.', item.id, 'view']">
                        {{'LNG_PAGE_ACTION_VIEW' | translate}}
                    </button>

                    <span
                        [matTooltip]="(authUser.hasRole(item.id) ? 'You cannot modify the role that is assigned to you' : '')">
                        <button mat-menu-item [disabled]="authUser.hasRole(item.id)"
                                [routerLink]="['.', item.id, 'modify']">
                            {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                        </button>
                    </span>

                    <span
                        [matTooltip]="(authUser.hasRole(item.id) ? 'You cannot delete the role that is assigned to you' : '')">
                        <button mat-menu-item [disabled]="authUser.hasRole(item.id)" (click)="deleteRole(item)"
                                class="mat-menu-item-delete">
                            {{'LNG_PAGE_ACTION_DELETE' | translate}}
                        </button>
                    </span>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
