.form-select-groups-container {
    @position-helper: 24px;
    .mat-form-field {
        width: 100%;

        .select-group-group-selected {
            white-space: normal;
        }
    }
}

.select-group-group-panel {
    max-height: 400px !important;

    .select-group-line {
        .select-group-line-label {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            vertical-align: top;

            font-weight: bold;
        }
    }

    .mat-optgroup-label {
        line-height: normal !important;
        height: auto !important;
        padding: 7px 16px 7px 3px !important;

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,.04);
        }
    }

    .mat-option {
        line-height: normal !important;
        height: auto !important;
        padding: 7px 16px !important;

        &.select-group-option {
            font-weight: bold;
        }

        &.mat-option-disabled {
            color: rgba(0,0,0,.87);
        }
    }
}
