<app-dashboard-custom-metric-dashlet
    [link]="'cases'"
    [params]="{applyListFilter: Constants.APPLY_LIST_FILTER.CASES_PREVIOUS_DAYS_CONTACTS, x: xDaysAmongContacts}"
    [value]="(this.percentageCases()) + '%'">
    <div fxLayout="row" fxLayoutGap="10px">

        <div>
            {{'LNG_PAGE_DASHBOARD_KPI_CASES_NEW_PREVIOUS_DAYS_CONTACTS_BEFORE_VALUE' | translate}}
        </div>

        <app-form-input
            type="number"
            name="daysFilter"
            [ngModel]="xDaysAmongContacts"
            (optionChanged)="onChangeSetting($event)">
        </app-form-input>

        <div fxFlexOffset="5px">
            {{'LNG_PAGE_DASHBOARD_KPI_CASES_NEW_PREVIOUS_DAYS_CONTACTS_AFTER_VALUE' | translate}}
        </div>

    </div>
</app-dashboard-custom-metric-dashlet>
