app-new-cases-previous-days-contacts-dashlet {
    .dashboard-box-header {
        background-color: #50409A;
        cursor: pointer;
    }
    .dashboard-box-content {
        background-color: #d60000;
    }
}
