<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button mat-raised-button color="accent" [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container *ngIf="hasReferenceDataWriteAccess()">
                        <button
                            mat-menu-item
                            [routerLink]="['/reference-data', 'manage-icons', 'list']">
                            {{'LNG_PAGE_REFERENCE_DATA_CATEGORIES_LIST_MANAGE_ICONS_BUTTON' | translate}}
                        </button>

                        <mat-divider></mat-divider>

                        <button
                            mat-menu-item
                            [routerLink]="['/import-export-data', 'reference-data', 'import']">
                            {{'LNG_PAGE_REFERENCE_DATA_CATEGORIES_LIST_IMPORT_BUTTON' | translate}}
                        </button>
                    </ng-container>

                    <app-export-button
                        [menuItem]="true"
                        [label]="'LNG_PAGE_REFERENCE_DATA_CATEGORIES_LIST_EXPORT_BUTTON' | translate"
                        [message]="'LNG_PAGE_REFERENCE_DATA_CATEGORIES_LIST_EXPORT_TITLE' | translate"
                        url="reference-data/export"
                        [fileName]="referenceDataExporFileName"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="referenceData$ | async">

        <!-- Category Name -->
        <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_REFERENCE_DATA_CATEGORY_FIELD_LABEL_CATEGORY_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name | translate }}
            </mat-cell>
        </ng-container>

        <!-- Entries List -->
        <ng-container matColumnDef="entries">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div class="column-header">{{'LNG_REFERENCE_DATA_CATEGORY_FIELD_LABEL_ENTRIES' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex>
                <mat-chip-list>
                    <ng-container *ngFor="let entry of item.entries">
                        <mat-chip
                            *ngIf="entry.active"
                            [matTooltip]="entry.description | translate">
                            <div
                                *ngIf="entry.colorCode"
                                class="ref-data-chip-bg-color"
                                [style.background-color]="entry.colorCode"></div>
                            {{ entry.value | translate }}
                        </mat-chip>
                    </ng-container>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">

                    <button mat-menu-item [routerLink]="['.', item.id]">
                        {{'LNG_PAGE_ACTION_VIEW' | translate}}
                    </button>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
