<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyCluster(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_CLUSTER_TAB_DETAILS_TITLE' | translate">

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [ngModel]="clusterData.name"
                                [placeholder]="'LNG_CLUSTER_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_CLUSTER_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>

                        <app-form-textarea
                            name="description"
                            [ngModel]="clusterData.description"
                            [placeholder]="'LNG_CLUSTER_FIELD_LABEL_DESCRIPTION' | translate"
                            tooltip="LNG_CLUSTER_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                            [disabled]="viewOnly">
                        </app-form-textarea>

                    </div>
                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>
        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="primary" class="button-primary">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button type="button" [routerLink]="'/clusters'" mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL'| translate}}
            </button>

            <div class="page-tabs-navbar-placeholder"></div>
        </ng-container>

        <button *ngIf="viewOnly && hasOutbreakWriteAccess()"
                mat-raised-button color="primary" class="button-primary"
                [routerLink]="['/clusters', clusterData.id, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>

        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="hasCaseReadAccess() || hasContactReadAccess()"
            mat-raised-button type="button" [routerLink]="['/clusters', clusterData.id, 'people']">
            {{ 'LNG_PAGE_MODIFY_CLUSTER_ACTION_VIEW_PEOPLE' | translate }}
        </button>

    </div>


</form>
