<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="title">
  <app-import-data
    [allowedExtensions]="allowedExtensions"
    [title]="title"
    [displayLoading]="displayLoading"
    (finished)="finished()"
    [importFileUrl]="importFileUrl"
    [importDataUrl]="importDataUrl"
    [model]="ImportServerModelNames.RELATIONSHIPS"
    [fieldsWithoutTokens]="fieldsWithoutTokens"
    [requiredDestinationFields]="requiredDestinationFields"
    [asyncImport]="true">
  </app-import-data>
</app-basic-page-v2>
