.form-input-container {

    @position-helper: 24px;
    .mat-form-field {
        width: 100%;

        &.display-filter-icon {
            .filter-icon {
                position: absolute;
                top: 6px;
                left: 6px;
                span {
                    font-size: 15px;
                }
            }

            .filter-icon-input {
                padding-left: @position-helper;
            }

            .mat-form-field-label {
                margin-left: @position-helper;
                width: ~'calc(100% - @{position-helper})'
            }
        }
    }
}

.form-input-password {
    input {
        width: ~'calc(100% - 24px)';
    }

    .form-password-icon {
        display: inline !important;
        cursor: pointer;
        line-height: 0;
        float: right;
        margin-top: 7px;
    }

}
