<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_REFERENCE_DATA_MANAGE_ICONS_CREATE_TITLE"
  [actionButton]="actionButton">
  <form
    #form="ngForm"
    class="page-content form-section">

    <!-- Uploading / Saving data -->
    <div
        *ngIf="displayLoading"
        class="manage-icon-loading">
        <mat-spinner></mat-spinner>
        <span
          *ngIf="progress !== null"
          class="manage-icon-loading-progress">
        {{ progress }} %
    </span>
    </div>

    <div
        *ngIf="!displayLoading"
        fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px">
            <app-form-input-v2
              fxFlex
              name="name"
              [ngModel]="icon.name"
              [placeholder]="'LNG_ICON_FIELD_LABEL_NAME' | translate"
              tooltip="LNG_ICON_FIELD_LABEL_NAME_DESCRIPTION"
              required="true">
            </app-form-input-v2>

            <div fxFlex><!-- placeholder --></div>
            <div fxFlex><!-- placeholder --></div>
            <div fxFlex><!-- placeholder --></div>
        </div>

        <div fxLayout="column" fxLayoutGap="12px">
            <div>
                <input
                    hidden
                    #importDataBtn
                    type="file"
                    ng2FileSelect
                    [uploader]="uploader"
                    [accept]="allowedExtensions"/>

                <div
                    fxLayoutAlign="center center"
                    class="manage-icon-drop-zone"
                    [class.manage-icon-file-over]="hasFileOver"
                    ng2FileDrop
                    [uploader]="uploader"
                    (fileOver)="hoverDropZone($event)"
                    (click)="importDataBtn.click()">
                    {{ 'LNG_PAGE_REFERENCE_DATA_MANAGE_ICONS_CREATE_LABEL_DRAG_AND_DROP_FILE_HERE' | translate:translationData }}
                </div>
            </div>

            <div
                class="manage-icon-file-or">
                {{ 'LNG_PAGE_REFERENCE_DATA_MANAGE_ICONS_CREATE_LABEL_OR' | translate }}
            </div>

            <div
                class="manage-icon-file-input"
                fxLayout="row"
                (click)="importDataBtn.click()">
                <div
                    class="manage-icon-file-input-label">
                    {{ 'LNG_ICON_FIELD_LABEL_ICON' | translate:translationData }}
                </div>
                <div
                    fxFlex
                    class="manage-icon-file-input-file">
                    {{ uploader?.queue.length > 0 ? uploader.queue[0].file.name : ('LNG_PAGE_REFERENCE_DATA_MANAGE_ICONS_CREATE_LABEL_CHOOSE_FILE' | translate) }}
                </div>
                <div
                    class="manage-icon-file-input-browse">
                    {{ 'LNG_PAGE_REFERENCE_DATA_MANAGE_ICONS_CREATE_BUTTON_BROWSE' | translate }}
                </div>
            </div>
        </div>
    </div>
  </form>
</app-basic-page-v2>
