<app-create-view-modify-v2
  [action]="action"
  [allowEdit]="selectedOutbreakIsActive"
  [loadingPage]="loadingPage"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [itemID]="itemData?.id"
  [tabData]="tabData"
  listTitle="LNG_PAGE_LIST_CASES_TITLE"
  [expandListRecords$]="expandListRecords$"
  [expandListColumnRenderer]="expandListColumnRenderer"
  [expandListAdvancedFilterType]="Constants.APP_PAGE.CASES.value"
  [expandListAdvancedFilters]="expandListAdvancedFilters"
  [expandListQueryFields]="expandListQueryFields"
  expandListAdvancedFiltersCacheKey="/cases"
  (expandListRefreshData)="refreshExpandList($event)"
  (expandListChangeRecord)="expandListChangeRecord($event)">
</app-create-view-modify-v2>

<!-- #TODO: Template cleanup -->
<!-- <div class="page-content">
    <div
        *ngIf="!displayLoading">
        <mat-horizontal-stepper linear #stepper>

            <!~~ Questionnaire step ~~>
            <mat-step [stepControl]="questionnaireForm">
                <form #questionnaireForm="ngForm">
                    <ng-template matStepLabel>{{ 'LNG_PAGE_CONTACT_MERGE_DUPLICATE_RECORDS_TAB_QUESTIONNAIRE_TITLE' | translate }}</ng-template>

                    <app-form-select
                        name="selectedQuestionnaireAnswers"
                        [(ngModel)]="uniqueOptions?.questionnaireAnswers.value"
                        [placeholder]="'LNG_CONTACT_FIELD_LABEL_QUESTIONNAIRE_ANSWERS' | translate"
                        [options]="uniqueOptions?.questionnaireAnswers.options"
                        (optionChanged)="changedQuestionnaireAnswers($event)"
                        [clearable]="false">
                    </app-form-select>

<!~~                    &lt;!&ndash; Questionnaire section &ndash;&gt;~~>
<!~~                    <app-form-fill-questionnaire~~>
<!~~                        name="questionnaireAnswers"~~>
<!~~                        [ngModel]="questionnaireAnswers"~~>
<!~~                        [questions]="selectedOutbreak?.contactInvestigationTemplate"~~>
<!~~                        [disabled]="true">~~>
<!~~                    </app-form-fill-questionnaire>~~>

                    <div class="stepper-navigation-buttons">
                        <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT'| translate}}</button>
                    </div>
                </form>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div> -->
