app-c3-stacked-bar-chart {
    .c3-legend-item {
        cursor: default !important;
    }

    .tick {
        font-size: 12px;
    }

    .c3-axis {
        fill: #000000;
    }
    .c3-axis line, .c3-axis path {
        stroke: #ccc;
        fill: none !important
    }
    .c3-axis-y .tick line {
        stroke: #fff;
        fill: #fff
    }

}
