<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_LAYOUT_MENU_ITEM_CLOUD_BACKUP_LABEL">
  <div
    fxLayout="column" fxLayoutGap="1.6rem" fxLayoutGap.lt-md="3.2rem">
    <div
      class="header-message">{{ 'LNG_PAGE_CLOUD_BACKUP_HEADER_TITLE' | translate}}</div>

    <div
      fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="start start" fxLayoutGap="1.6rem">
      <span
        fxFlex>
        {{'LNG_PAGE_CLOUD_BACKUP_APP_INSTALL' | translate}}
      </span>
      <span
        class="path-value">
        {{cloudBackup?.install}}
      </span>
      <button
        mat-flat-button
        color="secondary"
        type="button"
        (click)="copyToClipBoard(cloudBackup.install)">
        {{'LNG_PAGE_ACTION_COPY_TO_CLIPBOARD' | translate}}
      </button>
    </div>

    <div
      fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="start start" fxLayoutGap="1.6rem">
      <span
        fxFlex>
        {{'LNG_PAGE_CLOUD_BACKUP_APP_BACKUP_PATH' | translate}}
      </span>
      <span
        class="path-value">
        {{cloudBackup?.backUp}}
      </span>
      <button
        mat-flat-button
        color="secondary"
        type="button"
        (click)="copyToClipBoard(cloudBackup.backUp)">
        {{'LNG_PAGE_ACTION_COPY_TO_CLIPBOARD' | translate}}
      </button>
    </div>
  </div>
</app-basic-page-v2>
