.paths-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.value-wrapper {
    display: flex;
}
.cloud-backup-value {
    padding-right: 5px;
    font-weight: bold;
}
