app-case-lab-results-list {
    .epi-classification-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .epi-classification-info{
            margin-right: 10px;
        }
    }
}
