<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section">
    <form #form="ngForm" (submit)="createNewUser(form)">

        <div fxLayout="column">

            <app-form-input
                name="firstName"
                [(ngModel)]="newUser.firstName"
                placeholder="First Name"
                required="true">
            </app-form-input>

            <app-form-input
                name="lastName"
                [(ngModel)]="newUser.lastName"
                placeholder="Last Name"
                required="true">
            </app-form-input>

            <app-form-input
                name="email"
                [(ngModel)]="newUser.email"
                placeholder="Email"
                required="true"
                app-emailValidator>
            </app-form-input>

            <app-form-select
                name="roleId"
                [(ngModel)]="newUser.role.id"
                placeholder="Role"
                required="true"
                [options]="rolesListObs | async">
            </app-form-select>

            <button mat-raised-button color="primary">Save</button>
        </div>

    </form>
</mat-card>
