<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>
        <!-- Details step -->
        <mat-step [stepControl]="form">
            <form #form="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_USER_TAB_DETAILS_TITLE'| translate}}</ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="newUser.firstName"
                                [placeholder]="'LNG_USER_FIELD_LABEL_FIRST_NAME' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_FIRST_NAME_DESCRIPTION"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="newUser.lastName"
                                [placeholder]="'LNG_USER_FIELD_LABEL_LAST_NAME' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_LAST_NAME_DESCRIPTION"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                name="email"
                                [(ngModel)]="newUser.email"
                                [placeholder]="'LNG_USER_FIELD_LABEL_EMAIL' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_EMAIL_DESCRIPTION"
                                required="true"
                                app-email-validator>
                            </app-form-input>

                            <app-form-select
                                name="roleIds"
                                [(ngModel)]="newUser.roleIds"
                                [placeholder]="'LNG_USER_FIELD_LABEL_ROLES' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_ROLES_DESCRIPTION"
                                required="true"
                                [options]="rolesList$ | async"
                                optionLabelKey="name"
                                optionValueKey="id"
                                optionTooltipKey="description"
                                multiple="true">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                *ngIf="hasOutbreakReadAccess()"
                                name="outbreakIds"
                                [(ngModel)]="newUser.outbreakIds"
                                [placeholder]="'LNG_USER_FIELD_LABEL_AVAILABLE_OUTBREAKS' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_AVAILABLE_OUTBREAKS_DESCRIPTION"
                                optionLabelKey="name"
                                optionValueKey="id"
                                optionTooltipKey="description"
                                [options]="outbreaksList$ | async"
                                [multiple]="true">
                            </app-form-select>

                            <app-form-select
                                *ngIf="hasOutbreakReadAccess()"
                                name="activeOutbreakId"
                                [(ngModel)]="newUser.activeOutbreakId"
                                [placeholder]="'LNG_USER_FIELD_LABEL_ACTIVE_OUTBREAK' | translate"
                                tooltip="LNG_USER_FIELD_LABEL_ACTIVE_OUTBREAK_DESCRIPTION"
                                optionLabelKey="name"
                                optionValueKey="id"
                                optionTooltipKey="description"
                                [options]="outbreaksList$ | async">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                type="password"
                                name="password"
                                [(ngModel)]="newUser.password"
                                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD' | translate"
                                tooltip="LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD_DESCRIPTION"
                                required="true"
                                minlength="12"
                                app-trigger-validation-for="passwordConfirm">
                            </app-form-input>

                            <app-form-input
                                type="password"
                                name="passwordConfirm"
                                [(ngModel)]="passwordConfirmModel"
                                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD' | translate"
                                tooltip="LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD_DESCRIPTION"
                                required="true"
                                app-equal-validator="password">
                            </app-form-input>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>
        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>
                {{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}
            </ng-template>

            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}

            <div class="stepper-navigation-buttons">
                <button mat-raised-button type="button" matStepperPrevious>
                    {{'LNG_STEPPER_BUTTON_BACK' | translate}}
                </button>
                <button
                    type="button" mat-raised-button color="accent"
                    (click)="createNewUser(form)">
                    {{'LNG_PAGE_CREATE_USER_ACTION_CREATE_USER_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
