<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<!-- Side filters -->
<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersApplied)="applySideFilters($event)"
    [savedFiltersType]="savedFiltersType">
</app-side-filters>

<div class="page-content form-section">

    <div class="form-content">

        <mat-card class="page-section">

            <div class="top-section-wrapper">
                <!--List Color Legend-->
                <div>
                    <app-color-list-legend
                        [referenceDataCategory]="ReferenceDataCategory.PERSON_TYPE">
                    </app-color-list-legend>
                </div>

                <!--Reset Filters-->
                <div class="reset-filters">
                    <button
                        type="button"
                        mat-raised-button
                        color="accent"
                        (click)="resetFiltersToSideFilters()">
                        {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
                    </button>

                    <button
                        type="button"
                        mat-raised-button
                        color="accent"
                        (click)="needsRefreshList(true)">
                        {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
                    </button>
                </div>
            </div>

            <div
                *ngIf="isEmptyList"
                class="mat-table"
            >
                <div class="mat-row">
                    <div class="mat-cell">
                        {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
                    </div>
                </div>
            </div>

            <mat-paginator
                [length]="(entitiesListCount$ | async)?.count"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="changePage($event)">
            </mat-paginator>

        </mat-card>

    </div>

</div>
