@color-question-background: #f0f0f0;
@color-question-border: #dedede;

app-form-question-list {
    .question-card {
        padding: 0 !important;
        margin: 8px !important;
    }

    .app-form-question {

        .question-wrapper {
            background-color: @color-question-background;
            border-bottom: 1px solid @color-question-border;
            padding: 5px 10px;
        }

        .question-badge {
            border-radius: 20px;
            padding: 10px 0;
            height: 40px;
            width: 40px;
            text-align: center;
            background: #999999;
            color: #FDFDFD;
        }

        .question-answers {
            margin: 5px 10px 0 30px;
        }
    }
}
