<div fxFlex fxLayout="row" fxLayoutGap="20px">
    <app-form-input
        [name]="name + '[code]'"
        [(ngModel)]="identifierModel.code"
        [placeholder]="codePlaceholder | translate"
        [disabled]="disabled"
        required="true"
        (optionChanged)="onChange()">
    </app-form-input>

    <app-form-input
        [name]="name + '[description]'"
        [(ngModel)]="identifierModel.description"
        [placeholder]="descriptionPlaceholder | translate"
        [disabled]="disabled"
        required="false"
        (optionChanged)="onChange()">
    </app-form-input>
</div>

