<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<!--Total number of records from the list-->
<app-total-number-of-records
    [value]="(savedFiltersListCount$ | async)?.count">
</app-total-number-of-records>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="savedFiltersList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_PAGE_LIST_SAVED_FILTERS_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('name', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Public -->
        <ng-container matColumnDef="public">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header class="column-header">{{'LNG_PAGE_LIST_SAVED_FILTERS_FIELD_LABEL_PUBLIC' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="publicFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('description', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.isPublic"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Filter Keys -->
        <ng-container matColumnDef="filter-keys">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header class="column-header">{{'LNG_PAGE_LIST_SAVED_FILTERS_FIELD_LABEL_FOR_PAGE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="filterKeysFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('description', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.filterKey | translate}}
            </mat-cell>
        </ng-container>

         <!--Inline Actions-->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex="70px">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">

                    <button
                        [disabled]="item.readonly"
                        mat-menu-item
                        (click)="deleteFilter(item.id)">
                        {{ 'LNG_PAGE_SAVED_FILTERS_ACTION_DELETE_FILTER' | translate }}
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="(savedFiltersListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
