<div
    class="form-element"
    [ngClass]="{invalid: invalid}">

    <mat-form-field
        [class.clearable]="clearable && !disabled">

        <mat-select
            #selectElement="ngModel"
            [ngModel]="value"
            [attr.name]="name"
            [required]="required"
            [placeholder]="placeholder"
            (blur)="onBlur()"
            [disabled]="disabled"
            (selectionChange)="onChange(selectElement.value)"
            [disableOptionCentering]="true"
            (openedChange)="openedChange($event)">

            <!-- Option used to filter options -->
            <mat-option>
                <ngx-mat-select-search
                    [placeholderLabel]="filterOptionsPlaceholder | translate"
                    [noEntriesFoundLabel]="false"
                    [clearSearchInput]="true"
                    ngModel
                    (ngModelChange)="filterOptions($event)"
                    [disableScrollToActiveOnOptionsChanged]="true"
                    [preventHomeEndKeyPropagation]="true">
                </ngx-mat-select-search>
            </mat-option>

            <!-- vscroll -->
            <cdk-virtual-scroll-viewport
                class="mat-select-virtual-scroll-viewport"
                [itemSize]="48"
                [minBufferPx]="240"
                [maxBufferPx]="480">

                <!-- Empty option used to select nothing -->
                <mat-option
                    *ngIf="clearable"
                    class="mat-option-vscroll"
                    [value]="null">
                    {{ noneLabel | translate }}
                </mat-option>

                <!-- Options -->
                <mat-option
                    *cdkVirtualFor="let option of filteredOptions; templateCacheSize: 0"
                    class="mat-option-vscroll"
                    [value]="option[optionValueKey]"
                    [disabled]="option[optionDisabledKey]">
                    <!-- hack to fix matTooltip not working properly with cdkVirtualFor -->
                    <div
                        [matTooltip]="option[optionTooltipKey] | translate">
                        {{option[optionLabelKey] | translate}}
                    </div>
                </mat-option>

            </cdk-virtual-scroll-viewport>

            <!-- Selected option hack to handle not visible in virtual scroll options -->
            <mat-option
                class="mat-option-vscroll-selected"
                *ngIf="selectedOption"
                [value]="value">
                {{selectedOption[optionLabelKey] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-form-validation
        *ngIf="invalid"
        [controlContainer]="controlContainer"
        [controlName]="name"
        [messages]="failures">
    </app-form-validation>
</div>
