<app-list-table-v2
  pageTitle="LNG_PAGE_USERS_WORKLOAD_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="undefined"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.USER_WORKLOAD.value"
  [advancedFilters]="advancedFilters"
  [advancedFiltersConfig]="advancedFiltersConfig"
  paginatorDisabled="true"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount()"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
