.form-slide-toggle-container {
    // simulate the "form-input" dimmensions
    height: 45.5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mat-form-field {
        width: 100%;
    }

}
