.form-slide-toggle-container {
    // simulate the "form-input" dimmensions
    height: 65.5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .form-slide-toggle-inner {
        padding-bottom: 5px;
    }

    .mat-form-field {
        width: 100%;
    }

}
