<div class="modify-questionnaire-table">
    <!-- Question list general actions -->
    <div
        fxFlex fxLayout="row" fxLayoutAlign="end"
        class="modify-questionnaire-table-question-actions-top">
        <button
            type="button"
            mat-raised-button color="accent"
            (click)="addNewQuestion()"
            [disabled]="savingData || questionIndexInEditMode !== null">
            {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BUTTON_ADD_NEW'| translate}}
        </button>
    </div>

    <!-- Question list headers -->
    <div
        fxFlex fxLayout="row">

        <!-- Question Order -->
        <div
            fxFlex="50px"
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            <!-- placeholder -->
        </div>

        <!-- Question Text -->
        <div
            fxFlex
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_TEXT' | translate }}
        </div>

        <!-- Question Variable -->
        <div
            fxFlex="100px"
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE' | translate }}
        </div>

        <!-- Question Category -->
        <div
            fxFlex
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY' | translate }}
        </div>

        <!-- Answer Type -->
        <div
            fxFlex="200px"
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE' | translate }}
        </div>

        <!-- Required ? -->
        <div
            fxFlex="100px"
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_REQUIRED' | translate }}
        </div>

        <!-- Actions -->
        <div
            fxFlex="120px"
            class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
            <!-- placeholder -->
        </div>
    </div>

    <!-- Question Data -->
    <div
        fxFlex fxLayout="column">
        <div
            *ngFor="let question of questionnaireData; let questionIndex = index"
            [class.question-in-edit-mode]="questionIndex === questionIndexInEditMode">

            <!-- Question Row Data -->
            <div
                fxFlex fxLayout="row">
                <!-- Order -->
                <div
                    fxFlex="50px"
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ ('LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BADGE' | translate) + question.order }}
                </div>

                <!-- Question Text -->
                <div
                    fxFlex
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ question.text }}
                </div>

                <!-- Question Variable -->
                <div
                    fxFlex="100px"
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ question.variable }}
                </div>

                <!-- Question Category -->
                <div
                    fxFlex
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ question.category | translate }}
                </div>

                <!-- Answer Type -->
                <div
                    fxFlex="200px"
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ question.answerType | translate }}
                </div>

                <!-- Required ? -->
                <div
                    fxFlex="100px"
                    class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                    {{ (question.required ? 'LNG_COMMON_LABEL_YES' : 'LNG_COMMON_LABEL_NO') | translate }}
                </div>

                <!-- Actions -->
                <div
                    fxFlex="120px"
                    class="modify-questionnaire-cell-style">
                    <button
                        mat-icon-button
                        type="button"
                        [matMenuTriggerFor]="actionsMenu"
                        [disabled]="savingData || questionIndexInEditMode !== null">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu
                        #actionsMenu="matMenu"
                        class="table-max-sized-menu">

                        <ng-container
                            *ngIf="hasOutbreakWriteAccess()">
                            <button
                                mat-menu-item
                                type="button"
                                (click)="moveQuestionAbove(questionIndex)">
                                {{ 'LNG_QUESTIONNAIRE_TEMPLATE_ACTION_MOVE_QUESTION_UP' | translate }}
                            </button>

                            <button
                                mat-menu-item
                                type="button"
                                (click)="moveQuestionBellow(questionIndex)">
                                {{ 'LNG_QUESTIONNAIRE_TEMPLATE_ACTION_MOVE_QUESTION_DOWN' | translate }}
                            </button>

                            <mat-divider></mat-divider>
                        </ng-container>

                        <button
                            mat-menu-item
                            type="button"
                            (click)="viewQuestion(questionIndex)">
                            {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                        </button>

                        <ng-container
                            *ngIf="hasOutbreakWriteAccess()">
                            <button
                                mat-menu-item
                                type="button"
                                (click)="modifyQuestion(questionIndex)">
                                {{ 'LNG_PAGE_ACTION_MODIFY' | translate }}
                            </button>

                            <button
                                mat-menu-item
                                type="button"
                                (click)="cloneQuestion(questionIndex)">
                                {{ 'LNG_PAGE_ACTION_CLONE' | translate }}
                            </button>

                            <button
                                mat-menu-item
                                type="button"
                                class="mat-menu-item-delete"
                                (click)="deleteQuestion(questionIndex)">
                                {{ 'LNG_PAGE_ACTION_DELETE' | translate }}
                            </button>
                        </ng-container>
                    </mat-menu>
                </div>
            </div>

            <!-- Question Edit Mode -->
            <div
                *ngIf="questionIndex === questionIndexInEditMode"
                class="modify-questionnaire-edit-question"
                [id]="uniqueIDQuestion">
                <!-- Question Actions -->
                <div
                    fxFlex fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px"
                    class="modify-questionnaire-edit-question-card-buttons">
                    <button
                        type="button"
                        mat-raised-button
                        (click)="cancelModifyQuestion()">
                        {{'LNG_COMMON_BUTTON_CANCEL'| translate}}
                    </button>

                    <button
                        type="submit"
                        mat-raised-button
                        color="accent"
                        form="form">
                        {{'LNG_COMMON_BUTTON_SAVE' | translate}}
                    </button>
                </div>

                <!-- Question Form Data -->
                <mat-card
                    class="modify-questionnaire-edit-question-card">
                    <form
                        #form="ngForm"
                        id="form"
                        fxFlex fxLayout="column"
                        (submit)="saveModifyQuestion()">
                        <div
                            fxLayout="row"
                            fxLayoutGap="5px">
                            <!-- question order -->
                            <div
                                fxFlex="70px">
                                <app-form-input
                                    name="questionOrder"
                                    [ngModel]="questionInEditModeClone.order"
                                    type="number"
                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ORDER' | translate"
                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ORDER_DESCRIPTION"
                                    [required]="false"
                                    (optionChanged)="setOrderValue(questionInEditModeClone, $event)">
                                </app-form-input>
                            </div>

                            <!-- question text -->
                            <div
                                fxFlex>
                                <app-form-input
                                    name="questionText"
                                    [(ngModel)]="questionInEditModeClone.text"
                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_TEXT' | translate"
                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_TEXT_DESCRIPTION"
                                    [required]="true">
                                </app-form-input>
                            </div>

                            <!-- question variable -->
                            <div
                                fxFlex="200px">
                                <app-form-input
                                    name="questionVariable"
                                    [(ngModel)]="questionInEditModeClone.variable"
                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE' | translate"
                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE_DESCRIPTION"
                                    [required]="true"
                                    [readonly]="!questionInEditModeClone.new && questionInEditModeClone.variable">
                                </app-form-input>
                            </div>

                            <!-- question category -->
                            <div
                                fxFlex="200px">
                                <app-form-select
                                    name="questionCategory"
                                    [(ngModel)]="questionInEditModeClone.category"
                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY' | translate"
                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY_DESCRIPTION"
                                    [required]="true"
                                    [options]="questionCategoriesInstantList"
                                    [clearable]="false">
                                </app-form-select>
                            </div>

                            <!-- question - answer type -->
                            <div
                                fxFlex="200px">
                                <app-form-select
                                    name="questionAnswerType"
                                    [(ngModel)]="questionInEditModeClone.answerType"
                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE' | translate"
                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE_DESCRIPTION"
                                    [required]="true"
                                    [options]="answerTypesInstantList">
                                </app-form-select>
                            </div>

                            <!-- question required -->
                            <div
                                fxFlex="150px">
                                <app-form-slide-toggle
                                    name="questionRequired"
                                    [(ngModel)]="questionInEditModeClone.required"
                                    [label]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_FIELD_LABEL_REQUIRED' | translate"
                                    [required]="false">
                                </app-form-slide-toggle>
                            </div>
                        </div>

                        <!-- question answers -->
                        <div
                            *ngIf="questionInEditModeClone.answerType === answerTypes.MULTIPLE_OPTIONS.value || questionInEditModeClone.answerType === answerTypes.SINGLE_SELECTION.value"
                            fxFlex fxLayout="column">
                            <!-- Dummy field used to make form dirty -->
                            <input
                                #inputForMakingFormDirty="ngModel"
                                name="inputForMakingFormDirty"
                                ngModel
                                type="hidden"/>

                            <!-- Answers list general actions -->
                            <div
                                fxFlex fxLayout="row" fxLayoutAlign="end"
                                class="modify-questionnaire-table-answer-actions-top">
                                <button
                                    type="button"
                                    mat-raised-button color="accent"
                                    (click)="addNewAnswer()"
                                    [disabled]="savingData || questionAnswerIndexInEditMode !== null">
                                    {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BUTTON_ADD_NEW'| translate}}
                                </button>
                            </div>

                            <!-- Answer Headers -->
                            <div
                                fxFlex fxLayout="row">
                                <!-- Answer Order -->
                                <div
                                    fxFlex="50px"
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    <!-- placeholder -->
                                </div>

                                <!-- Answer label -->
                                <div
                                    fxFlex
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_LABEL' | translate }}
                                </div>

                                <!-- Answer value -->
                                <div
                                    fxFlex
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_VALUE' | translate }}
                                </div>

                                <!-- Answer Additional Questions ? -->
                                <div
                                    fxFlex="100px"
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_ADDITIONAL_QUESTIONS' | translate }}
                                </div>

                                <!-- Answer Alert ? -->
                                <div
                                    fxFlex="100px"
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ALERT' | translate }}
                                </div>

                                <!-- Actions -->
                                <div
                                    fxFlex="120px"
                                    class="modify-questionnaire-cell-default modify-questionnaire-cell-header modify-questionnaire-cell-style">
                                    <!-- placeholder -->
                                </div>
                            </div>

                            <!-- Answer Data -->
                            <div
                                *ngFor="let answer of questionInEditModeClone.answers; let answerIndex = index"
                                [class.answer-in-edit-mode]="answerIndex === questionAnswerIndexInEditMode">
                                <!-- Answer Row Data -->
                                <div fxFlex fxLayout="row">
                                    <!-- Order -->
                                    <div
                                        fxFlex="50px"
                                        class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                                        {{ ('LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BADGE' | translate) + answer.order }}
                                    </div>

                                    <!-- Answer Label -->
                                    <div
                                        fxFlex
                                        class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                                        {{ answer.label }}
                                    </div>

                                    <!-- Answer Value -->
                                    <div
                                        fxFlex
                                        class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                                        {{ answer.value }}
                                    </div>

                                    <!-- Additional Questions ? -->
                                    <div
                                        fxFlex="100px"
                                        class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                                        {{ (answer.additionalQuestionsShow ? 'LNG_COMMON_LABEL_YES' : 'LNG_COMMON_LABEL_NO') | translate }}
                                    </div>

                                    <!-- Answer Alert ? -->
                                    <div
                                        fxFlex="100px"
                                        class="modify-questionnaire-cell-default modify-questionnaire-cell-style">
                                        {{ (answer.alert ? 'LNG_COMMON_LABEL_YES' : 'LNG_COMMON_LABEL_NO') | translate }}
                                    </div>

                                    <!-- Actions -->
                                    <div
                                        fxFlex="120px"
                                        class="modify-questionnaire-cell-style">
                                        <button
                                            mat-icon-button
                                            type="button"
                                            [matMenuTriggerFor]="actionsMenu"
                                            [disabled]="savingData || questionAnswerIndexInEditMode !== null">
                                            <span class="xt-icon">moreVertical</span>
                                        </button>

                                        <mat-menu
                                            #actionsMenu="matMenu"
                                            class="table-max-sized-menu">

                                            <ng-container
                                                *ngIf="hasOutbreakWriteAccess()">
                                                <button
                                                    mat-menu-item
                                                    type="button"
                                                    (click)="moveAnswerAbove(answerIndex)">
                                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_ACTION_MOVE_QUESTION_ANSWER_UP' | translate }}
                                                </button>

                                                <button
                                                    mat-menu-item
                                                    type="button"
                                                    (click)="moveAnswerBellow(answerIndex)">
                                                    {{ 'LNG_QUESTIONNAIRE_TEMPLATE_ACTION_MOVE_QUESTION_ANSWER_DOWN' | translate }}
                                                </button>

                                                <mat-divider></mat-divider>
                                            </ng-container>

                                            <button
                                                mat-menu-item
                                                type="button"
                                                (click)="viewAnswer(answerIndex)">
                                                {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                                            </button>

                                            <ng-container
                                                *ngIf="hasOutbreakWriteAccess()">
                                                <button
                                                    mat-menu-item
                                                    type="button"
                                                    (click)="modifyAnswer(answerIndex)">
                                                    {{ 'LNG_PAGE_ACTION_MODIFY' | translate }}
                                                </button>

                                                <button
                                                    mat-menu-item
                                                    type="button"
                                                    (click)="cloneAnswer(answerIndex)">
                                                    {{ 'LNG_PAGE_ACTION_CLONE' | translate }}
                                                </button>

                                                <button
                                                    mat-menu-item
                                                    type="button"
                                                    class="mat-menu-item-delete"
                                                    (click)="deleteAnswer(answerIndex)">
                                                    {{ 'LNG_PAGE_ACTION_DELETE' | translate }}
                                                </button>
                                            </ng-container>
                                        </mat-menu>
                                    </div>
                                </div>

                                <!-- Answer Edit Mode -->
                                <div
                                    *ngIf="answerIndex === questionAnswerIndexInEditMode"
                                    class="modify-questionnaire-edit-answer"
                                    [id]="uniqueIDAnswer">
                                    <!-- Answer buttons -->
                                    <div
                                        fxFlex fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px"
                                        class="modify-questionnaire-edit-question-answer-card-buttons">
                                        <button
                                            type="button"
                                            mat-raised-button
                                            (click)="cancelModifyAnswer()">
                                            {{'LNG_COMMON_BUTTON_CANCEL'| translate}}
                                        </button>

                                        <button
                                            type="button"
                                            mat-raised-button
                                            color="accent"
                                            (click)="updateAnswerData()">
                                            {{'LNG_COMMON_BUTTON_CHANGE' | translate}}
                                        </button>
                                    </div>

                                    <!-- Answer Data -->
                                    <mat-card
                                        class="modify-questionnaire-edit-question-answer-card">
                                        <!-- Edit Answer Form -->
                                        <div
                                            fxLayout="row"
                                            fxLayoutGap="5px">
                                            <!-- answer order -->
                                            <div
                                                fxFlex="70px">
                                                <app-form-input
                                                    name="answerOrder"
                                                    [ngModel]="questionAnswerInEditModeClone.order"
                                                    type="number"
                                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ORDER' | translate"
                                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ORDER_DESCRIPTION"
                                                    [required]="false"
                                                    (optionChanged)="setOrderValue(questionAnswerInEditModeClone, $event)">
                                                </app-form-input>
                                            </div>

                                            <!-- answer label -->
                                            <div
                                                fxFlex>
                                                <app-form-input
                                                    name="answerLabel"
                                                    [(ngModel)]="questionAnswerInEditModeClone.label"
                                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_LABEL' | translate"
                                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_LABEL_DESCRIPTION"
                                                    required="true">
                                                </app-form-input>
                                            </div>

                                            <!-- answer value -->
                                            <div
                                                fxFlex>
                                                <app-form-input
                                                    name="answerValue"
                                                    [(ngModel)]="questionAnswerInEditModeClone.value"
                                                    [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_VALUE' | translate"
                                                    tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_VALUE_DESCRIPTION"
                                                    required="true">
                                                </app-form-input>
                                            </div>

                                            <!-- answer additional questions -->
                                            <div
                                                fxFlex="150px">
                                                <app-form-slide-toggle
                                                    name="answerAdditionalQuestionsShow"
                                                    [(ngModel)]="questionAnswerInEditModeClone.additionalQuestionsShow"
                                                    [label]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_ADDITIONAL_QUESTIONS' | translate"
                                                    required="false">
                                                </app-form-slide-toggle>
                                            </div>

                                            <!-- answer alert -->
                                            <div
                                                fxFlex="150px">
                                                <app-form-slide-toggle
                                                    name="answerAlert"
                                                    [(ngModel)]="questionAnswerInEditModeClone.alert"
                                                    [label]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ALERT' | translate"
                                                    required="false">
                                                </app-form-slide-toggle>
                                            </div>
                                        </div>

                                        <!-- Additional answer questions -->
                                        <app-form-modify-questionnaire
                                            *ngIf="questionAnswerInEditModeClone.additionalQuestionsShow"
                                            [parent]="questionAnswerDummyParent"
                                            (updateQuestionnaire)="updateAnswerAdditionalQuestions($event)">
                                        </app-form-modify-questionnaire>
                                    </mat-card>
                                </div>
                            </div>

                            <!-- Answers list general actions -->
                            <div
                                fxFlex fxLayout="row" fxLayoutAlign="end"
                                class="modify-questionnaire-table-answer-actions-bottom">
                                <button
                                    type="button"
                                    mat-raised-button color="accent"
                                    (click)="addNewAnswer()"
                                    [disabled]="savingData || questionAnswerIndexInEditMode !== null">
                                    {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BUTTON_ADD_NEW'| translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Question list general actions -->
    <div
        fxFlex fxLayout="row" fxLayoutAlign="end"
        class="modify-questionnaire-table-question-actions-bottom">
        <button
            type="button"
            mat-raised-button color="accent"
            (click)="addNewQuestion()"
            [disabled]="savingData || questionIndexInEditMode !== null">
            {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_BUTTON_ADD_NEW'| translate}}
        </button>
    </div>
</div>
