app-form-modify-questionnaire {
    .modify-questionnaire-table {
        .modify-questionnaire-cell-default {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 11px 3px 0 3px;
        }

        .modify-questionnaire-cell-style {
            border-bottom: 1px solid #CCC;
        }

        .modify-questionnaire-cell-header {
            padding-bottom: 5px;
            font-weight: bold;
        }
    }
}
