app-form-modify-questionnaire {
    @edit-form-distance: 10px;
    .modify-questionnaire-table {
        .modify-questionnaire-table-question-actions-top,
        .modify-questionnaire-table-answer-actions-top {
            // nothing
        }
        .modify-questionnaire-table-question-actions-bottom,
        .modify-questionnaire-table-answer-actions-bottom {
            margin-top: 10px;
        }

        .question-in-edit-mode,
        .answer-in-edit-mode {
            border: 3px solid #000;
        }

        .modify-questionnaire-cell-default {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 11px 3px 0 3px;
        }

        .modify-questionnaire-cell-style {
            border-bottom: 1px solid #CCC;
        }

        .modify-questionnaire-cell-header {
            padding-bottom: 5px;
            font-weight: bold;
            background-color: #DDD;
        }

        .modify-questionnaire-edit-question {
            margin-top: 5px;
            margin-bottom: @edit-form-distance;
        }

        @edit-card-sides-distance: 25px;
        .modify-questionnaire-edit-question-card-buttons,
        .modify-questionnaire-edit-question-answer-card-buttons {
            margin: 0 @edit-card-sides-distance;
        }

        .modify-questionnaire-edit-question-card,
        .modify-questionnaire-edit-question-answer-card {
            padding: 15px !important;
            margin: 0 @edit-card-sides-distance !important;
        }

        .modify-questionnaire-edit-answer {
            margin: 5px 5px @edit-form-distance 5px;
        }
    }
}
