<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyContact(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab label="Personal">

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="contactData.firstName"
                                placeholder="First name"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="contactData.middleName"
                                placeholder="Middle name">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="contactData.lastName"
                                placeholder="Last name">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="contactData.gender"
                                placeholder="Sex"
                                required="true"
                                [options]="gendersList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="phoneNumber"
                                [(ngModel)]="contactData.phoneNumber"
                                placeholder="Phone number">
                            </app-form-input>

                            <app-form-input
                                name="occupation"
                                [(ngModel)]="contactData.occupation"
                                placeholder="Occupation">
                            </app-form-input>

                            <div fxFlex fxLayout="row">
                                <button fxFlex type="button" mat-raised-button [color]="ageSelected ? 'primary' : ''"
                                        (click)="switchAgeDob(true)">
                                    Age
                                </button>
                                <button fxFlex type="button" mat-raised-button [color]="!ageSelected ? 'primary' : ''"
                                        (click)="switchAgeDob(false)">
                                    Date of birth
                                </button>
                            </div>

                            <div fxFlex>
                                <app-form-input [fxHide]="!ageSelected"
                                                name="age"
                                                [(ngModel)]="contactData.age"
                                                placeholder="Age">
                                </app-form-input>

                                <app-form-datepicker [fxHide]="ageSelected"
                                                     name="dob"
                                                     [(ngModel)]="contactData.dob"
                                                     placeholder="Date of birth">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">Documents</div>

                <div *ngFor="let document of contactData.documents; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="50">
                            <app-form-select
                                [name]="'documents[' + i + '][type]'"
                                [(ngModel)]="document.type"
                                placeholder="Document type"
                                [options]="documentTypesList$ | async">
                            </app-form-select>

                            <app-form-input
                                [name]="'documents[' + i + '][number]'"
                                [(ngModel)]="document.number"
                                placeholder="Document number">
                            </app-form-input>
                        </div>

                        <button type="button" mat-icon-button (click)="deleteDocument(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addDocument()">Add another document</button>


            </mat-tab>

            <mat-tab label="Address">

                <div *ngFor="let address of contactData.addresses; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex>

                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-input
                                    [name]="'addresses[' + i + '][name]'"
                                    [(ngModel)]="address.name"
                                    placeholder="Address name">
                                </app-form-input>

                                <div fxFlex><!-- placeholder --></div>
                                <div fxFlex><!-- placeholder --></div>
                                <div fxFlex><!-- placeholder --></div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-select
                                    [name]="'addresses[' + i + '][locationId]'"
                                    [(ngModel)]="address.locationId"
                                    placeholder="Area"
                                    [options]="locationsList$ | async"
                                    optionLabelKey="name"
                                    optionValueKey="id">
                                </app-form-select>

                                <app-form-input
                                    [name]="'addresses[' + i + '][city]'"
                                    [(ngModel)]="address.city"
                                    placeholder="City">
                                </app-form-input>

                                <app-form-input
                                    [name]="'addresses[' + i + '][postalCode]'"
                                    [(ngModel)]="address.postalCode"
                                    placeholder="ZIP">
                                </app-form-input>

                                <app-form-input
                                    [name]="'addresses[' + i + '][addressLine1]'"
                                    [(ngModel)]="address.addressLine1"
                                    placeholder="Address">
                                </app-form-input>
                            </div>

                        </div>

                        <button type="button" mat-icon-button (click)="deleteAddress(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>

                </div>

                <button type="button" mat-button color="primary" (click)="addAddress()">Add another address</button>

            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button color="primary">Save</button>
        <button type="button" [routerLink]="'/contacts'" mat-raised-button>Cancel</button>
    </div>


</form>
