<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyContact(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_CONTACT_TAB_PERSONAL_TITLE' | translate">

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="contactData.firstName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_FIRST_NAME'| translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_FIRST_NAME_DESCRIPTION"
                                required="true"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="contactData.middleName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_MIDDLE_NAME'| translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_MIDDLE_NAME_DESCRIPTION"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="contactData.lastName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_LAST_NAME' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_LAST_NAME_DESCRIPTION"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="contactData.gender"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_GENDER' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_GENDER_DESCRIPTION"
                                [options]="genderList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px">
                                <app-form-input
                                    name="phoneNumber"
                                    [(ngModel)]="contactData.phoneNumber"
                                    [placeholder]="'LNG_CONTACT_FIELD_LABEL_PHONE' | translate"
                                    tooltip="LNG_CONTACT_FIELD_LABEL_PHONE_DESCRIPTION"
                                    maxlength="50"
                                    [disabled]="viewOnly">
                                </app-form-input>

                                <app-form-select
                                    name="occupation"
                                    [(ngModel)]="contactData.occupation"
                                    [placeholder]="'LNG_CONTACT_FIELD_LABEL_OCCUPATION' | translate"
                                    tooltip="LNG_CONTACT_FIELD_LABEL_OCCUPATION_DESCRIPTION"
                                    [options]="occupationsList$ | async"
                                    [disabled]="viewOnly">
                                </app-form-select>
                            </div>

                            <app-form-age-dob
                                fxFlex
                                name="ageDob"
                                [(ngModel)]="contactData"
                                [disabled]="viewOnly"
                                ageButtonLabel="LNG_CONTACT_FIELD_LABEL_AGE_BUTTON"
                                dobButtonLabel="LNG_CONTACT_FIELD_LABEL_DATE_OF_BIRTH_BUTTON"
                                dobPlaceholder="LNG_CONTACT_FIELD_LABEL_DOB"
                                dobTooltip="LNG_CONTACT_FIELD_LABEL_DOB_DESCRIPTION"
                                ageTooltip="LNG_CONTACT_FIELD_LABEL_AGE_DESCRIPTION">
                            </app-form-age-dob>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-datepicker
                                fxFlex
                                name="dateOfReporting"
                                [(ngModel)]="contactData.dateOfReporting"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                fxFlex
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="contactData.isDateOfReportingApproximate"
                                [label]="'LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <app-form-select
                                name="followUp.status"
                                [ngModel]="contactData.followUp?.status"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_FOLLOW_UP_STATUS' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_FOLLOW_UP_STATUS_DESCRIPTION"
                                [options]="finalFollowUpStatus$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                        </div>

                    </div>
                </mat-card>

                <!-- Flag contact section -->
                <div class="section-title">
                    {{ 'LNG_PAGE_MODIFY_CONTACT_TAB_PERSONAL_SECTION_FLAG_CONTACT_TITLE' | translate }}
                </div>
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row">
                            <app-form-select
                                fxFlex="25"
                                name="riskLevel"
                                [(ngModel)]="contactData.riskLevel"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_RISK_LEVEL' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_RISK_LEVEL_DESCRIPTION"
                                [options]="riskLevelsList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>
                        </div>

                        <div fxLayout="row">
                            <app-form-textarea
                                name="riskReason"
                                [(ngModel)]="contactData.riskReason"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_RISK_REASON' | translate"
                                tooltip="LNG_CONTACT_FIELD_LABEL_RISK_REASON_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-textarea>
                        </div>
                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">{{'LNG_PAGE_MODIFY_CONTACT_TAB_PERSONAL_DOCUMENTS_TITLE'| translate}}</div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="contactData.documents"
                    [required]="true"
                    [disabled]="viewOnly">
                </app-form-document-list>

            </mat-tab>

            <mat-tab [label]="'LNG_PAGE_MODIFY_CONTACT_TAB_ADDRESS_TITLE' | translate">
                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="contactData.addresses"
                    [disabled]="viewOnly">
                </app-form-address-list>
            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button type="button" [routerLink]="'/contacts'" mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>

            <div class="page-tabs-navbar-placeholder"></div>
        </ng-container>

        <button *ngIf="viewOnly && hasContactWriteAccess()"
                mat-raised-button type="button" color="accent"
                [routerLink]="['/contacts', contactData.id, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>

        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button type="button" [routerLink]="['/relationships', EntityType.CONTACT, contactData.id]">
            {{ 'LNG_COMMON_BUTTON_RELATIONSHIPS' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/contacts', contactData.id, 'movement']">
            {{ 'LNG_PAGE_MODIFY_CONTACT_ACTION_VIEW_MOVEMENT' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/contacts', contactData.id, 'chronology']">
            {{ 'LNG_PAGE_MODIFY_CONTACT_ACTION_VIEW_CHRONOLOGY' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/contacts/contact-related-follow-ups', contactData.id]">
            {{ 'LNG_PAGE_MODIFY_CONTACT_ACTION_VIEW_FOLLOW_UPS' | translate }}
        </button>
    </div>
</form>
