app-color-list-legend {
    .colors-legend-container {
        .color-legend-title {
            margin-left: 20px;
            font-weight: bold;
            white-space: nowrap;
        }

        .color-container{
            margin: 0 20px;
            display: flex;
        }

        .color-dot {
            margin-right: 5px;
        }
    }
}
