app-color-list-legend {
    .colors-legend-container {
        @media only screen and (max-width: 599px) {
            flex-direction: column !important;
        }

        > div {
            @media only screen and (max-width: 599px) {
                flex-wrap: wrap !important;
            }
        }

        .color-legend-title {
            margin-left: 20px;
            font-weight: bold;
            white-space: nowrap;
        }

        .color-container{
            margin: 0 0.8rem;
            display: flex;
        }

        .color-dot {
            margin-right: 5px;
        }
    }
}
