<div
  class="gd-dashlet-histogram"
  [class.gd-dashlet-histogram-expanded]="expanded"
  fxLayout="column">

  <!-- Title / Description -->
  <div
    class="gd-dashlet-histogram-top"
    fxLayout="row" fxLayoutAlign="none center">

    <!-- Title -->
    <div
      class="gd-dashlet-histogram-top-title"
      fxFlex>
      <span>
        {{ 'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_SIZE_TITLE' | translate }}
      </span>
    </div>

    <!-- Description -->
    <div
      class="gd-dashlet-histogram-top-actions"
      fxGrow="0" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.8rem">
      <!-- Tooltip -->
      <app-fancy-tooltip
        tooltip="LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_SIZE_TITLE_DESCRIPTION">
      </app-fancy-tooltip>

      <!-- Expand / Collapse -->
      <button
        type="button"
        mat-icon-button
        (click)="expanded = !expanded">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>

  <!-- Expanded -->
  <ng-container
    *ngIf="expanded">
    <!-- Chart -->
    <ng-container
      *ngIf="!displayLoading && histogramResults?.length > 0">
      <!-- Chart -->
      <div
        class="gd-dashlet-histogram-bottom"
        fxLayoutAlign="center">
        <ngx-charts-bar-vertical
          class="histogram-size-chains"
          [scheme]="{ domain: [caseRefDataColor] }"
          [results]="histogramResults"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisTickFormatting]="axisFormat"
          [xAxisLabel]="'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_SIZE_LABEL' | translate"
          [yAxisLabel]="'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_NUMBER_LABEL' | translate"
          (select)="onSelectChart($event)">
          <ng-template let-model="model">
            <div>
              {{'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_SIZE_LABEL' | translate}}: {{model.name}}
            </div>
            <div>
              {{'LNG_PAGE_DASHBOARD_HISTOGRAM_CHAINS_OF_TRANSMISSION_NUMBER_LABEL' | translate}}: {{model.value}}
            </div>
          </ng-template>
        </ngx-charts-bar-vertical>
      </div>
    </ng-container>

    <!-- No data -->
    <ng-container
      *ngIf="!displayLoading && histogramResults?.length < 1">
      <div
        class="dashlet-no-data"
        fxFlex fxFlexAlign="center center">
        <div>
          {{ 'LNG_PAGE_DASHLET_SIZE_OF_CHAINS_OF_TRANSMISSION_NO_DATA_LABEL' | translate }}
        </div>
      </div>
    </ng-container>

    <!-- Loading data -->
    <div
      *ngIf="displayLoading"
      fxFlex fxLayoutAlign="center center">
      <mat-progress-spinner
        diameter="24"
        mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
</div>
