<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyOutbreak(form)">
    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar" (selectedTabChange)="selectTab($event)">

            <!-- tab Details -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_DETAILS' | translate}}
                </ng-template>
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="outbreak.name"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_NAME' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-select
                                name="disease"
                                [(ngModel)]="outbreak.disease"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DISEASE' | translate"
                                [options]="diseasesList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>
                            <app-form-select
                                name="countries"
                                [(ngModel)]="outbreak.countries"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_COUNTRIES' | translate"
                                [options]="countriesList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                multiple="true"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-select>
                            <div fxFlex>
                                <!-- placeholder -->
                            </div>
                        </div>

                        <app-form-textarea
                            name="description"
                            [(ngModel)]="outbreak.description"
                            [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DESCRIPTION' | translate"
                            required="true"
                            [disabled]="viewOnly">
                        </app-form-textarea>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-datepicker
                                name="startDate"
                                [(ngModel)]="outbreak.startDate"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_START_DATE' | translate"
                                required="true"
                                app-date-validator
                                [dateSameOrBefore]="'endDate'"
                                [disabled]="viewOnly">
                            </app-form-datepicker>
                            <app-form-datepicker
                                name="endDate"
                                [(ngModel)]="outbreak.endDate"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_END_DATE' | translate"
                                app-date-validator
                                [dateSameOrAfter]="'startDate'"
                                [disabled]="viewOnly">
                            </app-form-datepicker>
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="outbreak.periodOfFollowup"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DURATION_FOLLOWUP_DAYS' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUp"
                                [(ngModel)]="outbreak.frequencyOfFollowUp"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_FOLLOWUP_FRECQUENCY' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="outbreak.frequencyOfFollowUpPerDay"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="caseIdMask"
                                [(ngModel)]="outbreak.caseIdMask"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_CASE_ID_MASK' | translate"
                                required="true"
                                [tooltip]="'LNG_OUTBREAK_FIELD_LABEL_CASE_ID_MASK_TOOLTIP' | translate"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="outbreak.noDaysAmongContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="noDaysInChains"
                                [(ngModel)]="outbreak.noDaysInChains"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="outbreak.noDaysNotSeen"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_NOT_SEEN' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="outbreak.noLessContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_LESS_THAN_X_CONTACTS' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="outbreak.longPeriodsBetweenCaseOnset"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_LONG_PERIODS' | translate"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNewContacts"
                                [(ngModel)]="outbreak.noDaysNewContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_NEW_CONTACT' | translate"
                                type="number"
                                [disabled]="viewOnly">
                            </app-form-input>

                        </div>
                    </div>
                </mat-card>

            </mat-tab>

            <!-- tab Case Investigation -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_CASE_INVESTIGATION' | translate}}
                </ng-template>
                <app-form-question-list
                    name="caseInvestigationTemplate"
                    [ngModel]="outbreak.caseInvestigationTemplate"
                    [viewOnly]="viewOnly"
                    [minItems]="1"
                    [variableReadOnly]="true">
                </app-form-question-list>
            </mat-tab>

            <!-- tab Contact Follow-up -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_CONTACT_FOLLOWUP' | translate}}
                </ng-template>
                <app-form-question-list
                    name="contactFollowUpTemplate"
                    [ngModel]="outbreak.contactFollowUpTemplate"
                    [viewOnly]="viewOnly"
                    [minItems]="1"
                    [variableReadOnly]="true">
                </app-form-question-list>
            </mat-tab>

            <!-- tab Lab Results -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_LAB_RESULTS' | translate}}
                </ng-template>
                <app-form-question-list
                    name="labResultsTemplate"
                    [ngModel]="outbreak.labResultsTemplate"
                    [viewOnly]="viewOnly"
                    [minItems]="1"
                    [variableReadOnly]="true">
                </app-form-question-list>
            </mat-tab>

        </mat-tab-group>
    </div>
    <!-- outbreak form actions -->
    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="!viewOnly"
                mat-raised-button
                color="primary"
                class="button-primary">
            {{'LNG_COMMON_BUTTON_SAVE' | translate}}
        </button>

        <button *ngIf="viewOnly && hasOutbreakWriteAccess()"
                mat-raised-button
                type="button"
                color="primary"
                class="button-primary"
                (click)="editOutbreak()">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>
    </div>
</form>



