<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyOutbreak(form)">
    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar" (selectedTabChange)="selectTab($event)">

            <mat-tab label="Details">
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="outbreak.name"
                                placeholder="Outbreak name"
                                required="true">
                            </app-form-input>
                            <app-form-select
                                name="disease"
                                [(ngModel)]="outbreak.disease"
                                placeholder="Disease"
                                [options]="diseasesList$ | async">
                            </app-form-select>
                            <app-form-select
                                name="countries"
                                [(ngModel)]="outbreak.countries"
                                placeholder="Countries"
                                [options]="countriesList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                multiple="true"
                                required="true"
                            >
                            </app-form-select>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                        <app-form-textarea
                            name="description"
                            [(ngModel)]="outbreak.description"
                            placeholder="Description"
                            required="true">
                        </app-form-textarea>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-datepicker
                                name="startDate"
                                [(ngModel)]="outbreak.startDate"
                                placeholder="Start Date"
                                required="true">
                            </app-form-datepicker>
                            <app-form-datepicker
                                name="endDate"
                                [(ngModel)]="outbreak.endDate"
                                placeholder="End Date">
                            </app-form-datepicker>
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="outbreak.periodOfFollowup"
                                placeholder="Duration for the follow-up ( days) "
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUp"
                                [(ngModel)]="outbreak.frequencyOfFollowUp"
                                placeholder="Follow-up frecquency"
                                required="true">
                            </app-form-input>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="outbreak.frequencyOfFollowUpPerDay"
                                placeholder="Follow-up frecquency per day"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="caseIdMask"
                                [(ngModel)]="outbreak.caseIdMask"
                                placeholder="Case Id Mask"
                                required="true"
                                tooltip="Example of mask: RX-0000. It will generate Ids in the range: RX-0001 and RX-9999.">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="outbreak.noDaysAmongContacts"
                                placeholder="KPI - days among known contacts"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="noDaysDaysInChains"
                                [(ngModel)]="outbreak.noDaysDaysInChains"
                                placeholder="KPI - days in known transmission chains"
                                required="true">
                            </app-form-input>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="outbreak.noDaysNotSeen"
                                placeholder="KPI - days not seen"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="outbreak.noLessContacts"
                                placeholder="KPI - less than X contacts"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="outbreak.longPeriodsBetweenCaseOnset"
                                placeholder="Long Periods ( days )"
                                required="true">
                            </app-form-input>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

            </mat-tab>
            <mat-tab label="Case Investigation">
                <br>
                <button fxFlexOffset="15px" fxShow="{{!viewOnlyCaseInvestigation}}" type="button" mat-button
                        color="primary" (click)="addNewQuestion('case-investigation')">Add Question
                </button>
                <question *ngFor="let question of caseInvestigationTemplateQuestions"
                          [question]="question"
                          [viewOnly]="viewOnlyCaseInvestigation"
                          (deleteQuestion)="deleteQuestion('case-investigation',question)"
                          (deleteAnswer)="deleteAnswer('case-investigation',$event)"
                          (linkAnswer)="linkAnswer('case-investigation',$event)"
                          (duplicateQuestion)="duplicateQuestion('case-investigation',question)"></question>
            </mat-tab>
            <mat-tab label="Contact Follow-up">
                <br>
                <button fxFlexOffset="15px" fxShow="{{!viewOnlyContactFollowup}}" type="button" mat-button
                        color="primary" (click)="addNewQuestion('contact-followup')">Add Question
                </button>
                <question *ngFor="let question of contactFollowupTemplateQuestions"
                          [question]="question"
                          [viewOnly]="viewOnlyContactFollowup"
                          (deleteQuestion)="deleteQuestion('contact-followup',question)"
                          (deleteAnswer)="deleteAnswer('contact-followup',$event)"
                          (linkAnswer)="linkAnswer('contact-followup',$event)"
                          (duplicateQuestion)="duplicateQuestion('contact-followup',question)"></question>
            </mat-tab>
            <mat-tab label="Lab Results">
                <br>
                <button fxFlexOffset="15px" fxShow="{{!viewOnlyLabResults}}" type="button" mat-button
                        color="primary" (click)="addNewQuestion('lab-results')">Add Question
                </button>
                <question *ngFor="let question of labResultsTemplateQuestions" [question]="question"
                          [viewOnly]="viewOnlyLabResults"
                          (deleteQuestion)="deleteQuestion('lab-results',question)"
                          (deleteAnswer)="deleteAnswer('lab-results',$event)"
                          (linkAnswer)="linkAnswer('lab-results',$event)"
                          (duplicateQuestion)="duplicateQuestion('lab-results',question)"></question>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <!-- buttons for details tab -->
        <button fxShow="{{currentTabIndex == 0 }}" mat-raised-button color="primary">Save</button>
        <button fxShow="{{currentTabIndex == 0 }}" type="button" [routerLink]="'/outbreaks'" mat-raised-button>Cancel
        </button>

        <!-- buttons for case investigation tab -->
        <button fxShow="{{!viewOnlyCaseInvestigation && currentTabIndex == 1 }}" mat-raised-button color="primary">
            Save
        </button>
        <button fxShow="{{viewOnlyCaseInvestigation && currentTabIndex == 1 }}" mat-raised-button type="button"
                color="primary"
                (click)="enableEdit('case-investigation')">
            Edit
        </button>
        <button fxShow="{{!viewOnlyCaseInvestigation && currentTabIndex == 1 }}" mat-raised-button type="button"
                type="button" (click)="disableEdit('case-investigation')">
            View
        </button>

        <!-- buttons for contact followup tab -->
        <button fxShow="{{!viewOnlyContactFollowup && currentTabIndex == 2 }}" mat-raised-button color="primary">Save
        </button>
        <button fxShow="{{viewOnlyContactFollowup && currentTabIndex == 2 }}" mat-raised-button type="button"
                color="primary"
                (click)="enableEdit('contact-followup')">
            Edit
        </button>
        <button fxShow="{{!viewOnlyContactFollowup && currentTabIndex == 2 }}" mat-raised-button type="button"
                type="button" (click)="disableEdit('contact-followup')">
            View
        </button>

        <!-- buttons for lab results tab -->
        <button fxShow="{{!viewOnlyLabResults && currentTabIndex == 3 }}" mat-raised-button color="primary">Save
        </button>
        <button fxShow="{{viewOnlyLabResults && currentTabIndex == 3 }}" mat-raised-button type="button" color="primary"
                (click)="enableEdit('lab-results')">
            Edit
        </button>
        <button fxShow="{{!viewOnlyLabResults && currentTabIndex == 3 }}" mat-raised-button type="button" type="button"
                (click)="disableEdit('lab-results')">
            View
        </button>
    </div>
</form>



