@import '~styles/common';

.outbreak-tabs .mat-tab-body{
    min-height: 500px;
    padding: 40px 20px;
}
.date-picker .mat-input-wrapper{
    display: inline-block;
    max-width: 180px;
}
.alert-label{
    color: #FF6262;
}
