<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form
    #form="ngForm"
    class="page-content form-section"
    [class.form-view-only]="viewOnly"
    (submit)="modifyOutbreak(form)">
    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar">

            <!-- tab Details -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_DETAILS' | translate}}
                </ng-template>
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="name"
                                [(ngModel)]="outbreak.name"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                app-general-async-validator
                                [asyncValidatorObservable]="outbreakNameValidator$">
                            </app-form-input>
                            <app-form-select
                                name="disease"
                                [(ngModel)]="outbreak.disease"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DISEASE' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DISEASE_DESCRIPTION"
                                [options]="diseasesList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>
                            <app-form-select
                                name="countries"
                                [(ngModel)]="outbreak.countries"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_COUNTRIES' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_COUNTRIES_DESCRIPTION"
                                [options]="countriesList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                multiple="true"
                                [disabled]="viewOnly"
                                [compareWith]="compareCountryWith">
                            </app-form-select>
                            <app-form-location-dropdown
                                fxFlex
                                name="locationIds"
                                [(ngModel)]="outbreak.locationIds"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_LOCATIONS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_LOCATIONS_DESCRIPTION"
                                multiple="true"
                                [disabled]="viewOnly">
                            </app-form-location-dropdown>
                        </div>

                        <div fxLayout="row">
                            <app-form-textarea
                                name="description"
                                [(ngModel)]="outbreak.description"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DESCRIPTION' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-textarea>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-datepicker
                                name="startDate"
                                [(ngModel)]="outbreak.startDate"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_START_DATE' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_START_DATE_DESCRIPTION"
                                required="true"
                                app-date-validator
                                [dateSameOrBefore]="['endDate', serverToday]"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday">
                            </app-form-datepicker>
                            <app-form-datepicker
                                name="endDate"
                                [(ngModel)]="outbreak.endDate"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_END_DATE' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_END_DATE_DESCRIPTION"
                                app-date-validator
                                [dateSameOrAfter]="'startDate'"
                                [dateSameOrBefore]="serverToday"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday">
                            </app-form-datepicker>
                            <app-form-input
                                name="caseIdMask"
                                [(ngModel)]="outbreak.caseIdMask"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_CASE_ID_MASK' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_CASE_ID_MASK_DESCRIPTION"
                                [disabled]="viewOnly"
                                pattern="^(?:9*[^9()]*|[^9()]*9*[^9()]*|[^9()]*9*)$"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="contactIdMask"
                                [(ngModel)]="outbreak.contactIdMask"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_CONTACT_ID_MASK' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_CONTACT_ID_MASK_DESCRIPTION"
                                [disabled]="viewOnly"
                                pattern="^(?:9*[^9()]*|[^9()]*9*[^9()]*|[^9()]*9*)$"
                                required="true">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="outbreak.periodOfFollowup"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DURATION_FOLLOWUP_DAYS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DURATION_FOLLOWUP_DAYS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUpPerDay"
                                [(ngModel)]="outbreak.frequencyOfFollowUpPerDay"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_FOLLOWUP_FRECQUENCY_PER_DAY_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="outbreak.noDaysAmongContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DAYS_AMONG_KNOWN_CONTACTS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysInChains"
                                [(ngModel)]="outbreak.noDaysInChains"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DAYS_IN_KNOWN_TRANSMISSION_CHAINS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="outbreak.noDaysNotSeen"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_NOT_SEEN' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DAYS_NOT_SEEN_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="outbreak.noLessContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_LESS_THAN_X_CONTACTS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_LESS_THAN_X_CONTACTS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="outbreak.longPeriodsBetweenCaseOnset"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_LONG_PERIODS' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DAYS_LONG_PERIODS_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                type="number">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNewContacts"
                                [(ngModel)]="outbreak.noDaysNewContacts"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_DAYS_NEW_CONTACT' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_DAYS_NEW_CONTACT_DESCRIPTION"
                                type="number"
                                [disabled]="viewOnly">
                            </app-form-input>

                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">

                            <app-form-select
                                name="reportingGeographicalLevelId"
                                [(ngModel)]="outbreak.reportingGeographicalLevelId"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_LOCATION_GEOGRAPHICAL_LEVEL' | translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_LOCATION_GEOGRAPHICAL_LEVEL_DESCRIPTION"
                                [options]="geographicalLevelsList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                multiple="false"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <!-- Create / update by user information section -->
                <div class="section-title">
                    {{ 'LNG_PAGE_MODIFY_OUTBREAK_TAB_PERSONAL_SECTION_RECORD_DETAILS_TITLE' | translate }}
                </div>
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="createdByUser"
                                [ngModel]="outbreak.createdByUser?.name"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_CREATED_BY'| translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_CREATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="createdAt"
                                [ngModel]="outbreak.createdAt | dateTimeDefault"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_CREATED_AT'| translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_CREATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedByUser"
                                [ngModel]="outbreak.updatedByUser?.name"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_UPDATED_BY'| translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_UPDATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedAt"
                                [ngModel]="outbreak.updatedAt | dateTimeDefault"
                                [placeholder]="'LNG_OUTBREAK_FIELD_LABEL_UPDATED_AT'| translate"
                                tooltip="LNG_OUTBREAK_FIELD_LABEL_UPDATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>

            <!-- tab Map Servers -->
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'LNG_PAGE_MODIFY_OUTBREAK_TAB_MAP_SERVERS' | translate}}
                </ng-template>
                <app-form-name-url-list
                    name="arcGisServers"
                    [ngModel]="outbreak.arcGisServers"
                    [disabled]="viewOnly"
                    [namePlaceholder]="'LNG_OUTBREAK_FIELD_LABEL_MAP_SERVER_NAME' | translate"
                    nameTooltip="LNG_OUTBREAK_FIELD_LABEL_MAP_SERVER_NAME_DESCRIPTION"
                    [urlPlaceholder]="'LNG_OUTBREAK_FIELD_LABEL_MAP_SERVER_URL' | translate"
                    urlTooltip="LNG_OUTBREAK_FIELD_LABEL_MAP_SERVER_URL_DESCRIPTION"
                    [required]="true"
                    [componentTitle]="'LNG_PAGE_MODIFY_OUTBREAK_TAB_MAP_SERVERS' | translate">
                </app-form-name-url-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- outbreak form actions -->
    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>
        <button *ngIf="viewOnly && OutbreakModel.canModify(authUser)"
                mat-raised-button
                type="button"
                color="accent"
                [routerLink]="['/outbreaks', outbreakId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>
        <ng-container *ngIf="!viewOnly">
            <button
                mat-raised-button
                color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
            <button
                *ngIf="OutbreakModel.canList(authUser)"
                type="button"
                [routerLink]="['/outbreaks']"
                mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>

        <div
            *ngIf="(viewOnly && OutbreakModel.canModify(authUser)) || (!viewOnly && OutbreakModel.canList(authUser))"
            class="page-tabs-navbar-placeholder"></div>

        <button
            *ngIf="OutbreakModel.canModifyCaseQuestionnaire(authUser)"
            mat-raised-button
            type="button"
            [routerLink]="['/outbreaks', outbreakId, 'case-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_ACTION_CASE_INVESTIGATION_QUESTIONNAIRE' | translate }}
        </button>

        <button
            *ngIf="OutbreakModel.canModifyContactFollowUpQuestionnaire(authUser)"
            mat-raised-button
            type="button"
            [routerLink]="['/outbreaks', outbreakId, 'contact-follow-up-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_ACTION_CONTACT_FOLLOW_UP_QUESTIONNAIRE' | translate }}
        </button>

        <button
            *ngIf="OutbreakModel.canModifyCaseLabResultQuestionnaire(authUser)"
            mat-raised-button
            type="button"
            [routerLink]="['/outbreaks', outbreakId, 'case-lab-results-questionnaire']">
            {{ 'LNG_PAGE_MODIFY_OUTBREAK_ACTION_CASE_LAB_RESULTS_QUESTIONNAIRE' | translate }}
        </button>
    </div>
</form>



