<form #groupForm="ngForm">
    <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxLayoutGap="20px">
            <app-form-datepicker
                [name]="name + '[contactDate]'"
                [(ngModel)]="relationship.contactDate"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_DESCRIPTION"
                [disabled]="disabled"
                [required]="required"
                (optionChanged)="onChange()"
                [maxDate]="currentDate"
                app-date-validator
                [dateSameOrBefore]="currentDate"
                [dateSameOrAfter]="minimumDate"
                [minDate]="minimumDate">
            </app-form-datepicker>

            <app-form-slide-toggle
                [name]="name + '[contactDateEstimated]'"
                [(ngModel)]="relationship.contactDateEstimated"
                [label]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_ESTIMATED' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_ESTIMATED_DESCRIPTION"
                [disabled]="disabled"
                (optionChanged)="onChange()">
            </app-form-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">

            <app-form-select
                [name]="name + '[certaintyLevelId]'"
                [(ngModel)]="relationship.certaintyLevelId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL_DESCRIPTION"
                [options]="certaintyLevelOptions$ | async"
                [disabled]="disabled"
                [required]="required"
                optionLabelKey="label"
                optionValueKey="value"
                (optionChanged)="onChange()">
            </app-form-select>

            <div fxFlex><!-- placeholder --></div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <app-form-select
                [name]="name + '[exposureTypeId]'"
                [(ngModel)]="relationship.exposureTypeId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE_DESCRIPTION"
                [options]="exposureTypeOptions$ | async"
                [disabled]="disabled"
                [required]="false"
                optionLabelKey="label"
                optionValueKey="value"
                (optionChanged)="onChange()">
            </app-form-select>

            <app-form-select
                [name]="name + '[exposureFrequencyId]'"
                [(ngModel)]="relationship.exposureFrequencyId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY_DESCRIPTION"
                [options]="exposureFrequencyOptions$ | async"
                [disabled]="disabled"
                [required]="false"
                optionLabelKey="label"
                optionValueKey="value"
                (optionChanged)="onChange()">
            </app-form-select>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <app-form-select
                [name]="name + '[exposureDurationId]'"
                [(ngModel)]="relationship.exposureDurationId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION_DESCRIPTION"
                [options]="exposureDurationOptions$ | async"
                [disabled]="disabled"
                [required]="false"
                optionLabelKey="label"
                optionValueKey="value"
                (optionChanged)="onChange()">
            </app-form-select>

            <app-form-select
                [name]="name + '[clusterId]'"
                [(ngModel)]="relationship.clusterId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CLUSTER' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CLUSTER_DESCRIPTION"
                [options]="clusterOptions$ | async"
                [disabled]="disabled"
                required="false"
                optionLabelKey="name"
                optionValueKey="id"
                (optionChanged)="onChange()">
            </app-form-select>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <app-form-select
                [name]="name + '[socialRelationshipTypeId]'"
                [(ngModel)]="relationship.socialRelationshipTypeId"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_RELATION' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_RELATION_DESCRIPTION"
                [options]="socialRelationshipOptions$ | async"
                [disabled]="disabled"
                required="false"
                optionLabelKey="label"
                optionValueKey="value"
                (optionChanged)="onChange()">
            </app-form-select>

            <app-form-input
                [name]="name + '[socialRelationshipDetail]'"
                [(ngModel)]="relationship.socialRelationshipDetail"
                [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_RELATIONSHIP' | translate"
                tooltip="LNG_RELATIONSHIP_FIELD_LABEL_RELATIONSHIP_DESCRIPTION"
                [disabled]="disabled"
                optionLabelKey="label"
                optionValueKey="value"
                required="false"
                (optionChanged)="onChange()">
            </app-form-input>
        </div>
    </div>
</form>
