@import '~styles/common';

.mat-dialog-container {
    padding: 24px 9px 9px 24px;
    // add max-height in vh so the modal will not exceed the viewport making impossible to click on the buttons or see all content
    max-height: 95vh !important;
}

.follow-up-questionnaire-dialog-main {
    font-family: @font-roboto;
    font-size: 14px;
    color: #8e8e8e;

    .ng-star-inserted .mat-button,
    .ng-star-inserted .mat-flat-button,
    .ng-star-inserted .mat-icon-button,
    .ng-star-inserted .mat-stroked-button {
        line-height: normal;
        padding: 9px 16px;
    }
}
