<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <form #form="ngForm" (submit)="modifyUser(form)">

        <div fxLayout="column">

            <app-form-input
                name="firstName"
                [(ngModel)]="user.firstName"
                [placeholder]="'LNG_USER_FIELD_LABEL_FIRST_NAME' | translate"
                required="true"
                [disabled]="viewOnly">
            </app-form-input>

            <app-form-input
                name="lastName"
                [(ngModel)]="user.lastName"
                [placeholder]="'LNG_USER_FIELD_LABEL_LAST_NAME' | translate"
                required="true"
                [disabled]="viewOnly">
            </app-form-input>

            <app-form-input
                name="email"
                [(ngModel)]="user.email"
                [placeholder]="'LNG_USER_FIELD_LABEL_EMAIL' | translate"
                required="true"
                app-email-validator
                [disabled]="viewOnly">
            </app-form-input>

            <app-form-select
                name="roleIds"
                [(ngModel)]="user.roleIds"
                [placeholder]="'LNG_USER_FIELD_LABEL_ROLES' | translate"
                required="true"
                [options]="rolesList$ | async"
                optionLabelKey="name"
                optionValueKey="id"
                optionTooltipKey="description"
                [disabled]="authUser.id === user.id || viewOnly"
                multiple="true">
            </app-form-select>

            <app-form-select
                *ngIf="hasOutbreakReadAccess()"
                name="activeOutbreakId"
                [(ngModel)]="user.activeOutbreakId"
                [placeholder]="'LNG_USER_FIELD_LABEL_ACTIVE_OUTBREAK' | translate"
                optionLabelKey="name"
                optionValueKey="id"
                optionTooltipKey="description"
                [options]="outbreaksList$ | async"
                [disabled]="viewOnly">
            </app-form-select>


            <app-form-input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_NEW_PASSWORD' | translate"
                app-password-validator
                app-trigger-validation-for="passwordConfirm"
                [disabled]="viewOnly">
            </app-form-input>

            <app-form-input
                type="password"
                name="passwordConfirm"
                [(ngModel)]="passwordConfirmModel"
                [placeholder]="'LNG_PAGE_RESET_PASSWORD_FIELD_LABEL_CONFIRM_NEW_PASSWORD' | translate"
                [required]="!!user.password"
                app-equal-validator="password"
                [disabled]="viewOnly">
            </app-form-input>

            <button *ngIf="viewOnly && hasUserWriteAccess()" mat-raised-button color="primary"
            [routerLink]="['/users', userId, 'modify']">{{'LNG_COMMON_BUTTON_EDIT' | translate}}</button>
            <button *ngIf="!viewOnly" mat-raised-button color="primary">{{'LNG_COMMON_BUTTON_SAVE' | translate}}</button>
        </div>

    </form>
</mat-card>
