<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section">
    <form #form="ngForm" (submit)="modifyUser(form)">

        <div fxLayout="column">

            <app-form-input
                name="firstName"
                [(ngModel)]="user.firstName"
                placeholder="First Name"
                required="true">
            </app-form-input>

            <app-form-input
                name="lastName"
                [(ngModel)]="user.lastName"
                placeholder="Last Name"
                required="true">
            </app-form-input>

            <app-form-input
                name="email"
                [(ngModel)]="user.email"
                placeholder="Email"
                required="true"
                app-emailValidator>
            </app-form-input>

            <app-form-select
                name="roleId"
                [(ngModel)]="user.roleId"
                placeholder="Role"
                required="true"
                [options]="rolesListObs | async"
                [disabled]="authUser.id === user.id">
            </app-form-select>

            <app-form-input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                placeholder="New Password"
                app-passwordValidator
                app-triggerValidationFor="passwordConfirm">
            </app-form-input>

            <app-form-input
                type="password"
                name="passwordConfirm"
                [(ngModel)]="passwordConfirmModel"
                placeholder="Confirm New Password"
                [required]="!!user.password"
                app-equalValidator="password">
            </app-form-input>

            <button mat-raised-button color="primary">Save</button>
        </div>

    </form>
</mat-card>
