<div
  [id]="chartId"
  class="app-pie-donut-chart-main"
  fxLayout="column">

  <!-- Title / Description -->
  <div
    fxGrow="0" fxLayout="row" fxLayoutGap="10px">

    <!-- Title -->
    <div
      fxFlex
      class="app-pie-donut-chart-main-left-title">
      <span
        [matTooltip]="graphTitle | translate">
        {{ graphTitle | translate }}
      </span>
    </div>

    <!-- Description -->
    <div
      fxGrow="0">
      <!-- Tooltip -->
      <app-fancy-tooltip
        [tooltip]="description">
      </app-fancy-tooltip>

      <!-- Expand / Collapse -->
      <button
        type="button"
        mat-icon-button
        (click)="expanded = !expanded">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>

  <!-- Expanded -->
  <ng-container
    *ngIf="expanded">

    <!-- Loading data -->
    <div
      *ngIf="loadingData; else dataLoaded"
      fxFlex fxLayoutAlign="center center">
      <mat-progress-spinner
        mode="indeterminate"
        [diameter]="32">
      </mat-progress-spinner>
    </div>

    <!-- Data loaded -->
    <ng-template
        #dataLoaded>
        <!-- No Data -->
        <div
          *ngIf="!data || data.length < 1; else hasData"
          fxFlex fxLayoutAlign="center center"
          class="app-pie-donut-chart-main-no-data">
          <span
            fxGrow="0">
            {{ noDataLabel | translate }}
          </span>
        </div>

        <!-- Legend & Chart -->
        <ng-template
            #hasData>
            <div
                fxFlex fxLayout="row" fxLayoutGap="10px">

                <!-- Left side -->
                <div
                    fxFlex="45%" fxLayout="column"
                    class="app-pie-donut-chart-main-left">

                    <!-- Legend -->
                    <div
                        class="app-pie-donut-chart-main-left-legend">

                        <!-- Legend -->
                        <div
                            class="app-pie-donut-chart-main-left-legend-items"
                            fxLayout="column" fxLayoutGap="7px">

                            <!-- Legend items -->
                            <div
                                *ngFor="let item of data"
                                [id]="'legend' + item.id"
                                fxLayout="row" fxLayoutGap="10px"
                                class="app-pie-donut-chart-main-left-legend-items-item"
                                [class.app-pie-donut-chart-main-left-legend-items-item-selected]="_graph?.selectedArc?.details.id === item.id"
                                (mouseenter)="findAndSelectArc(item)"
                                (mouseleave)="findAndDeselectArc()">

                                <!-- Legend item visible -->
                                <div
                                    fxFlex="16px" fxLayoutAlign="start start">
                                    <div
                                        class="app-pie-donut-chart-main-left-legend-items-item-check"
                                        [style.backgroundColor]="item.color"
                                        (click)="checkUncheckItem(item, !item.checked)">

                                        <!-- Check -->
                                        <svg
                                            *ngIf="item.checked"
                                            width="16px"
                                            height="16px">
                                            <path fill="none" stroke="white" d="M2.87,8.89 6.419,12.32 14.21,4.41"></path>
                                        </svg>

                                    </div>
                                </div>

                                <!-- Legend item -->
                                <div
                                    fxFlex
                                    class="app-pie-donut-chart-main-left-legend-items-item-text"
                                    (click)="clickItem.emit(item)">

                                    <!-- Text -->
                                    <span
                                        [matTooltip]="item.value + ' ' + (item.label | translate)">

                                        <!-- No. of items -->
                                        <span>
                                            {{ item.valueText }}
                                        </span>

                                        <!-- Label -->
                                        <span>
                                            {{ item.label | translate }}
                                        </span>

                                    </span>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- Chart -->
                <div
                    fxFlex fxLayout="column" fxLayoutGap="2px"
                    class="app-pie-donut-chart-main-graph">

                    <!-- Graph -->
                    <div
                        #chart
                        class="app-pie-donut-chart-main-graph-pie">
                    </div>

                    <!-- Total -->
                    <div
                        *ngIf="graphTotal"
                        fxGrow="0" fxFlexAlign="center"
                        class="app-pie-donut-chart-main-graph-total">
                        {{ graphTotal | translate:_graph?.rendered }}
                    </div>

                </div>

            </div>
        </ng-template>

    </ng-template>

  </ng-container>
</div>
