.app-pie-donut-chart-main {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;

    // Chart data
    .app-pie-donut-chart-main-left {

        // title
        .app-pie-donut-chart-main-left-title {
            font-size: 25px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        // Legend
        .app-pie-donut-chart-main-left-legend {
            margin-top: 20px;

            // legend items
            .app-pie-donut-chart-main-left-legend-items {
                font-size: 16px;
                max-height: 260px;
                overflow: auto;

                .app-pie-donut-chart-main-left-legend-items-item {
                    cursor: pointer;
                    color: #777;

                    .app-pie-donut-chart-main-left-legend-items-item-check {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                    }

                    .app-pie-donut-chart-main-left-legend-items-item-text {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &.app-pie-donut-chart-main-left-legend-items-item-selected {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    // graph
    .app-pie-donut-chart-main-graph {
        // hack to force resize down
        overflow: hidden;

        // graph
        .app-pie-donut-chart-main-graph-pie {
            display: block;
            width: 100%;
            height: 100%;
        }

        // total
        .app-pie-donut-chart-main-graph-total {
            font-weight: bold;
            font-size: 14px;
        }
    }
}
