<app-list-table-v2
  pageTitle="LNG_PAGE_LIST_AUDIT_LOGS_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columnActions]="tableColumnActions"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.AUDIT_LOG_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
