.demo-logo {
    display: inline-block;
    width: 250px;
    height: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    z-index: 100000;
    pointer-events: none;

    position: fixed;
    top: -42px;
    right: -90px;
    transform: rotate(45deg);

    .demo-logo-text {
        display: inline-block;
        margin: 0;
        padding: 0;

        position: relative;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
    }
}
