<div class="gd-person-summary" fxLayout="column">
  <div class="gd-person-summary-header" fxLayout="row" fxLayoutAlign="space-between center">

    <span class="gd-person-summary-header-title">
      {{person.type | translate}}
    </span>

    <button class="gd-person-summary-header-close" type="button" mat-icon-button color="secondary" (click)="onRemove()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="gd-person-summary-content">
    <div fxLayout="column" fxLayoutGap="0.8rem">
      <div *ngFor="let data of personData" fxLayout="row" fxLayoutGap="0.8rem">
        <span class="gd-person-summary-content-label">
          {{data.label | translate}}:
        </span>
        <span class="gd-person-summary-content-value">
          {{data.value | translate}}
        </span>
      </div>
    </div>
  </div>

  <div class="gd-person-summary-footer" fxLayout="column" fxLayoutGap="0.8rem">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.8rem">
      <a *ngIf="person.canModify(authUser)" mat-flat-button color="primary" (click)="onModifyPerson()">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_MODIFY_PERSON' | translate}}
      </a>

      <a *ngIf="(this.person.type === EntityType.EVENT || this.person.type === EntityType.CASE) && ContactModel.canCreate(authUser)"
        mat-flat-button color="primary" (click)="onCreateContact()">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_FOR_PERSON' | translate}}
      </a>

      <a *ngIf="this.person.type === EntityType.CONTACT && ContactOfContactModel.canCreate(authUser)" mat-flat-button
        color="primary" (click)="onCreateContactOfContact()">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_CREATE_CONTACT_OF_CONTACT_FOR_PERSON' | translate}}
      </a>

      <a *ngIf="person.canDelete(authUser)" mat-flat-button color="warn" (click)="onDeletePerson()">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_DELETE_PERSON' | translate}}
      </a>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.8rem">
      <a [href]="personLink" target="_blank" mat-flat-button color="secondary">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_VIEW_PERSON' | translate}}
      </a>

      <a [href]="personChainLink" target="_blank" mat-flat-button color="secondary">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_VIEW_PERSON_CHAIN' | translate}}
      </a>
    </div>
  </div>

</div>
