@import '~styles/common';

app-person-summary {
    .xt-icon {
        cursor: pointer;
    }

    .person-summary-wrapper {
        height: 195px;
        overflow-y: auto;

        .label {
            color: @color-dark-2nd;
        }
    }
}
