@import 'mixins';
@import 'font';

/* Select dropdown */
 .cdk-overlay-pane {
   &.gd-cdk-overlay-pane-dropdown-groups {
    margin-top: 3.5rem;
    transform: translateX(-1.6rem) !important;

    .mat-select-panel-wrap {
      .mat-select-panel {
        min-width: calc(100% + 2.2rem) !important;
      }
    }
   }
 }

/* Select */
.gd-form-select-groups-v2 {
  @include flex(flex);
  width: 100%;

  .mat-form-field {
    width: 100%;
    font-family: $gd-font-family;
    font-size: $gd-font-size;
    line-height: $gd-line-height;

    .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;

      .mat-form-field-flex {
        margin-top: 0;
        padding: 0 1.6rem;

        /* Select borders */
        .mat-form-field-outline {
          color: var(--gd-secondary);
          top: 0;

          .mat-form-field-outline-start,
          .mat-form-field-outline-gap,
          .mat-form-field-outline-end {
            border-width: 0.1rem;
          }

          .mat-form-field-outline-start {
            @include border-radius(0.4rem 0 0 0.4rem);
          }

          .mat-form-field-outline-gap {
            @include border-radius(0);
          }

          .mat-form-field-outline-end {
            @include border-radius(0 0.4rem 0.4rem 0);
          }
        }

        /* Select borders on focus */
        .mat-form-field-outline-thick {
          color: var(--gd-primary);

          .mat-form-field-outline-start,
          .mat-form-field-outline-gap,
          .mat-form-field-outline-end {
            border-width: 0.1rem;
          }

          .mat-form-field-outline-start {
            @include border-radius(0.4rem 0 0 0.4rem);
          }

          .mat-form-field-outline-gap {
            @include border-radius(0);
          }

          .mat-form-field-outline-end {
            @include border-radius(0 0.4rem 0.4rem 0);
          }
        }

        /* Select prefix */
        .mat-form-field-prefix {
          left: -0.4rem;
          top: 0.3rem;

          .mat-icon {
            color: rgba(var(--gd-text-rgb), 0.75);
            font-size: 2rem;
            line-height: 1;
            text-align: center;
          }

          .mat-icon-button {
            font-size: 1.6rem;
            height: 2.4rem;
            width: 2.4rem;
          }
        }

        /* Select middle */
        .mat-form-field-infix {
          border-top: 0 none;
          @include flex(flex);
          padding: 0.8rem 0;
          width: 10rem;

          .mat-select {
            font-family: $gd-font-family;
            font-size: $gd-font-size;
            height: 2.4rem;
            line-height: 2.4rem;
            margin-top: 0;

            /* Select arrow trigger */
            .mat-select-trigger {
              height: 2.4rem;

              .mat-select-value {
                color: var(--gd-text);

                .mat-select-value-text {
                  mat-select-trigger {
                    @include flex(flex);
                    @include flex_align_items(center);
                  }
                }
              }

              .mat-select-arrow-wrapper {
                position: relative;
                top: 0;
                @include transform(none);

                .mat-select-arrow {
                  color: var(--gd-secondary);
                  @include transition(all 0.24s ease-in-out 0s);
                }
              }
            }

            /* Select multiple */
            &.mat-select-multiple {
              height: auto;

              .mat-select-trigger {
                height: auto;
                width: calc(100% + 1rem);

                .mat-select-value {
                  overflow: initial;
                  text-overflow: initial;
                  white-space: normal;

                  .mat-select-value-text {
                    overflow: initial;
                    text-overflow: initial;
                    white-space: normal;

                    mat-select-trigger {
                      width: 100%;

                      > div {
                        @include flex_align_items(center);
                        width: 100%;
                      }
                    }

                    .gd-form-select-groups-v2-group-selected {
                      height: auto;
                      max-height: 7.2rem;
                      overflow-y: auto;
                      padding-right: 3rem;
                    }

                    .gd-form-select-groups-v2-group-selected-clear {
                      @include flex(flex);

                      .mat-icon {
                        color: var(--gd-danger);
                        font-size: 1.6rem;
                        height: 1.6rem;
                        margin-right: 0.8rem;
                        width: 1.6rem;
                      }
                    }
                  }
                }

                .mat-select-arrow-wrapper {
                  @include flex(flex);
                  @include flex_align_items(center);
                  height: 100%;
                  position: absolute;
                  right: 1.6rem;
                }
              }
            }

            &[aria-expanded="true"] {
              .mat-select-trigger {
                .mat-select-arrow-wrapper {
                  .mat-select-arrow {
                    @include rotate(180deg);
                  }
                }
              }
            }
          }

          .mat-form-field-label-wrapper {
            .mat-form-field-label {
              color: var(--gd-secondary);
              line-height: 2.4rem;
              margin-top: 0;

              &.mat-form-field-empty {
                margin-top: -0.6rem;
              }

              .mat-placeholder-required {
                color: var(--gd-danger);
              }
            }
          }
        }

        /* Select suffix */
        .mat-form-field-suffix {
          top: 0.3rem;

          .mat-icon {
            color: rgba(var(--gd-text-rgb), 0.75);
            font-size: 2rem;
            line-height: 1;
            text-align: center;
          }

          .mat-icon-button {
            font-size: 1.6rem;
            height: 2.4rem;
            width: 2.4rem;

            + .mat-icon-button {
              margin-left: 0.4rem;
            }
          }
        }
      }

      /* Form input error */
      .mat-form-field-subscript-wrapper {
        font-size: 1.2rem;
        line-height: 1;
        margin-top: 0;
        min-height: 1.6rem;
        padding: 0;
        position: static;
        top: 0;

        .mat-error {
          color: var(--gd-danger);
        }
      }
    }

    /* Select focused */
    &:focus,
    &.mat-focused {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                color: var(--gd-primary);
                margin-top: -0.7rem;
                transform: translateY(-1.6rem) scale(0.75);
                width: 100%;
              }
            }
          }
        }
      }
    }

    /* Select disabled */
    &.mat-form-field-disabled {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background: rgba(var(--gd-secondary-rgb), 0.15);

          .mat-form-field-outline {
            color: rgba(var(--gd-secondary-rgb), 0.5);
          }

          .mat-form-field-prefix {
            .mat-icon {
              color: var(--gd-secondary);
            }
          }

          .mat-form-field-infix {
            .mat-select {
              .mat-select-trigger {
                .mat-select-value {
                  color: var(--gd-secondary);

                  .mat-select-value-text {
                    .mat-icon {
                      color: var(--gd-secondary);
                    }
                  }
                }

                .mat-select-arrow-wrapper {
                  .mat-select-arrow {
                    color: var(--gd-secondary);
                  }
                }
              }
            }

            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                color: var(--gd-secondary);
              }
            }
          }

          .mat-form-field-suffix {
            .mat-icon {
              color: var(--gd-secondary);
            }
          }
        }
      }
    }

    /* Select invalid */
    &.mat-form-field-invalid {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background: rgba(var(--gd-danger-rgb), 0.15);

          .mat-form-field-outline {
            color: var(--gd-danger);
          }

          .mat-form-field-infix {
            .mat-select {
              .mat-select-trigger {
                .mat-select-value {
                  color: var(--gd-danger);
                }

                .mat-select-arrow-wrapper {
                  .mat-select-arrow {
                    color: var(--gd-danger);
                  }
                }
              }
            }

            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                color: var(--gd-danger);
              }
            }
          }
        }
      }
    }
  }
}
