<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyLocation(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_LOCATION_TAB_DETAILS_TITLE'| translate">

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="locationData.name"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_NAME' | translate"
                                required="true">
                            </app-form-input>

                            <app-form-slide-toggle
                                name="active"
                                [(ngModel)]="locationData.active"
                                [label]="'LNG_LOCATION_FIELD_LABEL_ACTIVE' | translate">
                            </app-form-slide-toggle>

                            <app-form-input
                                name="populationDensity"
                                [(ngModel)]="locationData.populationDensity"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_POPULATION_DENSITY' | translate"
                                type="number">
                            </app-form-input>

                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>

                <!-- Synonyms section -->
                <div class="section-title">
                    {{ 'LNG_LOCATION_FIELD_LABEL_SYNONYMS' | translate }}
                </div>
                <app-form-input-list
                    name="synonyms"
                    [ngModel]="locationData.synonyms"
                    type="text"
                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_SYNONYM' | translate"
                    [required]="true"
                    [unique]="true">
                </app-form-input-list>
            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button color="primary" class="button-primary">
            {{'LNG_COMMON_BUTTON_SAVE' | translate}}
        </button>
        <button type="button" [routerLink]="locationData.parentLocationId ? ['/locations', locationData.parentLocationId, 'children'] : ['/locations']" mat-raised-button>
            {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
        </button>
    </div>
</form>
