<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyLocation(form)">

    <div class="form-content">

        <!-- location breadcrumb -->
        <app-location-breadcrumbs
            [activeLocationBreadcrumb]="viewOnly ? 'LNG_PAGE_VIEW_LOCATION_NAME': 'LNG_PAGE_MODIFY_LOCATION_NAME'"></app-location-breadcrumbs>

        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_LOCATION_TAB_DETAILS_TITLE'| translate">

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="locationData.name"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_LOCATION_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-slide-toggle
                                name="active"
                                [(ngModel)]="locationData.active"
                                [label]="'LNG_LOCATION_FIELD_LABEL_ACTIVE' | translate"
                                tooltip="LNG_LOCATION_FIELD_LABEL_ACTIVE_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <app-form-input
                                name="populationDensity"
                                [(ngModel)]="locationData.populationDensity"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_POPULATION_DENSITY' | translate"
                                tooltip="LNG_LOCATION_FIELD_LABEL_POPULATION_DENSITY_DESCRIPTION"
                                type="number"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-select
                                name="geographicalLevelId"
                                [(ngModel)]="locationData.geographicalLevelId"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEOGRAPHICAL_LEVEL' | translate"
                                tooltip="LNG_LOCATION_FIELD_LABEL_GEOGRAPHICAL_LEVEL_DESCRIPTION"
                                [options]="geographicalLevelsList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                required="false"
                                multiple="false"
                                [disabled]="viewOnly">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-location-dropdown
                                fxFlex
                                name="parentLocationId"
                                [ngModel]="locationData.parentLocationId"
                                [placeholder]="'LNG_LOCATION_FIELD_LABEL_PARENT_LOCATION' | translate"
                                tooltip="LNG_LOCATION_FIELD_LABEL_PARENT_LOCATION_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-location-dropdown>

                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px">
                                <app-form-input
                                    #latInput
                                    name="geoLocation[lat]"
                                    [ngModel]="locationData.geoLocation?.lat"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LAT' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LAT_DESCRIPTION"
                                    [required]="isLatLngRequired(lngInput.value)"
                                    app-min-max-validator
                                    [min]="-90"
                                    [minNumber]="-90"
                                    [max]="90"
                                    [maxNumber]="90"
                                    [disabled]="viewOnly"
                                    type="number"
                                    (optionChanged)="onChangeLatLng('lat', $event)">
                                </app-form-input>

                                <app-form-input
                                    #lngInput
                                    name="geoLocation[lng]"
                                    [ngModel]="locationData.geoLocation?.lng"
                                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LNG' | translate"
                                    tooltip="LNG_LOCATION_FIELD_LABEL_GEO_LOCATION_LNG_DESCRIPTION"
                                    [required]="isLatLngRequired(latInput.value)"
                                    app-min-max-validator
                                    [min]="-180"
                                    [minNumber]="-180"
                                    [max]="180"
                                    [maxNumber]="180"
                                    [disabled]="viewOnly"
                                    type="number"
                                    (optionChanged)="onChangeLatLng('lng', $event)">
                                </app-form-input>
                            </div>
                        </div>
                    </div>
                </mat-card>

                <!-- Synonyms section -->
                <div class="section-title">
                    {{ 'LNG_LOCATION_FIELD_LABEL_SYNONYMS' | translate }}
                </div>
                <app-form-input-list
                    name="synonyms"
                    [ngModel]="locationData.synonyms"
                    type="text"
                    [placeholder]="'LNG_LOCATION_FIELD_LABEL_SYNONYM' | translate"
                    tooltip="LNG_LOCATION_FIELD_LABEL_SYNONYM_DESCRIPTION"
                    [required]="true"
                    [unique]="true"
                    [disabled]="viewOnly">
                </app-form-input-list>
            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <ng-container
            *ngIf="viewOnly">
            <button
                *ngIf="hasLocationWriteAccess()"
                mat-raised-button
                color="primary"
                class="button-primary"
                [routerLink]="['/locations', locationId, 'modify']">
                {{'LNG_COMMON_BUTTON_EDIT'| translate}}
            </button>
            <button
                type="button"
                [routerLink]="backToCurrent ? ['/locations', locationId, 'children'] : (locationData.parentLocationId ? ['/locations', locationData.parentLocationId, 'children'] : ['/locations'])"
                mat-raised-button>
                {{'LNG_COMMON_BUTTON_BACK' | translate}}
            </button>
        </ng-container>
        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="primary" class="button-primary">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
            <button type="button"
                    [routerLink]="backToCurrent ? ['/locations', locationId, 'children'] : (locationData.parentLocationId ? ['/locations', locationData.parentLocationId, 'children'] : ['/locations'])"
                    mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>
    </div>
</form>
