@import 'mixins';

/* Spreadsheet Header Cell */
app-spreadsheet-editor-v2-header-left-top-corner {
  height: 100%;
  width: 100%;

  .gd-spreadsheet-editor-v2-header-left-top-corner {
    border: 0.1rem solid transparent;
    @include box-sizing(border-box);
    @include flex(flex);
    @include flex_align_items(center);
    height: 100%;
    padding: 0;
    width: 100%;

    &.gd-spreadsheet-editor-v2-cell-basic-header-invalid {
      background-color: rgba(var(--gd-danger-rgb), 0.25);
    }

    .gd-spreadsheet-editor-v2-header-left-top-corner-value {
      height: 100%;
      width: 100%;

      > div:first-child {
        @include flex(flex);
        @include flex_align_items(center);
        @include flex_justify(center);
        height: 100%;
        width: 100%;

        .mat-icon {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
