<app-list-table-v2
  [pageTitle]="'LNG_PAGE_LIST_OUTBREAKS_TITLE'"
  [records$]="outbreaksList$"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [addAction]="addAction"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.OUTBREAK_FIELDS"
  [sortColumn]="tableSortBy"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.OUTBREAKS.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true, false)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">></app-list-table-v2>