<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <app-export-button
                    [label]="'LNG_PAGE_LIST_OUTBREAKS_EXPORT_BUTTON' | translate"
                    [message]="'LNG_PAGE_LIST_OUTBREAKS_EXPORT_TITLE' | translate"
                    url="outbreaks/export"
                    [fileName]="outbreaksDataExporFileName"
                    [allowedExportTypes]="allowedExportTypes"
                    [displayEncrypt]="true"
                    [displayAnonymize]="true"
                    [anonymizeFields]="anonymizeFields">
                </app-export-button>

                <button *ngIf="hasOutbreakWriteAccess()" class="button-primary" mat-raised-button color="primary"
                        [routerLink]="'./create'">
                    {{'LNG_COMMON_BUTTON_ADD' | translate}} <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button mat-raised-button (click)="needsRefreshList()">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="outbreaksList$ | async" matSort (matSortChange)="sortBy($event)">

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate "
                            (optionChanged)="filterByTextField('name', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let outbreak">
                {{outbreak.name}}
            </mat-cell>
        </ng-container>

        <!-- Disease -->
        <ng-container matColumnDef="disease">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_DISEASE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="diseaseFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate "
                            [options]="diseasesList$ | async"
                            multiple="true"
                            (optionChanged)="filterBySelectField('disease', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let outbreak">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.DISEASE"
                    [value]="outbreak.disease">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Country -->
        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_COUNTRIES' | translate}}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.COUNTRY"
                    [value]="outbreak.countries">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Start Date -->
        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_START_DATE' | translate}}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let outbreak">
                {{outbreak.startDate | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- End Date -->
        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_END_DATE' | translate}}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let outbreak">
                {{outbreak.endDate | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Active -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_OUTBREAK_FIELD_LABEL_ACTIVE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="activeFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate "
                            [options]="activeOptionsList$ | async"
                            (optionChanged)="filterByActiveOutbreak('id', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let outbreak">
                <app-yes-no-label [value]="outbreak.id == authUser.activeOutbreakId"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button *ngIf="item.id != authUser.activeOutbreakId" mat-menu-item
                            (click)="setActive(item)">
                        {{ 'LNG_PAGE_LIST_OUTBREAKS_ACTION_SET_ACTIVE' | translate}}
                    </button>

                    <button mat-menu-item [routerLink]="['.', item.id, 'view']">
                        {{ 'LNG_PAGE_ACTION_VIEW' | translate}}
                    </button>
                    <ng-container *ngIf="hasOutbreakWriteAccess()">
                        <button mat-menu-item [routerLink]="['.', item.id, 'modify']">
                            {{ 'LNG_PAGE_ACTION_MODIFY' | translate}}
                        </button>

                        <button mat-menu-item class="mat-menu-item-delete" (click)="delete(item)">
                            {{ 'LNG_PAGE_ACTION_DELETE' | translate}}
                        </button>
                    </ng-container>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="['name', 'disease', 'country', 'startDate', 'endDate', 'active','actions' ]"></mat-header-row>
        <mat-row
            *matRowDef="let item; columns: ['name', 'disease', 'country', 'startDate', 'endDate', 'active','actions' ]"></mat-row>

    </mat-table>
</mat-card>




