<app-topnav [addNewItemRoute]="'./create'">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section">

    <mat-table #table [dataSource]="outbreaksListObs | async" matSort>
        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.name}}
            </mat-cell>
        </ng-container>
        <!-- Disease -->
        <ng-container matColumnDef="disease" mat-sort-header>
            <mat-header-cell *matHeaderCellDef>
                Disease
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.disease}}
            </mat-cell>
        </ng-container>
        <!-- Country -->
        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef>
                Country
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.country}}
            </mat-cell>
        </ng-container>
        <!-- Start Date -->
        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>
                Start Date
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.startDate | date: 'dd/MM/yyy' }}
            </mat-cell>
        </ng-container>
        <!-- End Date -->
        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>
                End Date
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.endDate | date: 'dd/MM/yyy'}}
            </mat-cell>
        </ng-container>
        <!-- Active -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>
                Active?
            </mat-header-cell>
            <mat-cell *matCellDef="let outbreak">
                {{outbreak.active ? 'YES' : 'NO'}}
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button mat-menu-item [routerLink]="['.', item.id, 'modify']">
                        Modify
                    </button>

                    <button mat-menu-item (click)="delete(item)">
                        Delete
                    </button>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name', 'disease', 'country', 'startDate', 'endDate', 'active','actions' ]"></mat-header-row>
        <mat-row *matRowDef="let item; columns: ['name', 'disease', 'country', 'startDate', 'endDate', 'active','actions' ]"></mat-row>

    </mat-table>
</mat-card>




