<div class="relationship-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <div fxLayout="column" fxFlex>
            <div class="relationship-title" fxLayout="row" fxLayoutGap="20px">
                <div>{{relatedObject?.type | translate}}</div>

                <div>{{ relatedObject?.name }}</div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-datepicker
                        [name]="name + '[contactDate]'"
                        [(ngModel)]="relationship.contactDate"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_DESCRIPTION"
                        [disabled]="disabled"
                        [required]="required"
                        (optionChanged)="onChange()"
                        [maxDate]="serverToday"
                        app-date-validator
                        [dateSameOrBefore]="serverToday">
                    </app-form-datepicker>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('contactDate')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <app-form-slide-toggle
                    [name]="name + '[contactDateEstimated]'"
                    [(ngModel)]="relationship.contactDateEstimated"
                    [label]="'LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_ESTIMATED' | translate"
                    tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CONTACT_DATE_ESTIMATED_DESCRIPTION"
                    [disabled]="disabled"
                    (optionChanged)="onChange()">
                </app-form-slide-toggle>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[certaintyLevelId]'"
                        [(ngModel)]="relationship.certaintyLevelId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CERTAINTY_LEVEL_DESCRIPTION"
                        [options]="certaintyLevelOptions$ | async"
                        [disabled]="disabled"
                        [required]="required"
                        optionLabelKey="label"
                        optionValueKey="value"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('certaintyLevelId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[exposureTypeId]'"
                        [(ngModel)]="relationship.exposureTypeId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_TYPE_DESCRIPTION"
                        [options]="exposureTypeOptions$ | async"
                        [disabled]="disabled"
                        optionLabelKey="label"
                        optionValueKey="value"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('exposureTypeId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[exposureFrequencyId]'"
                        [(ngModel)]="relationship.exposureFrequencyId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_FREQUENCY_DESCRIPTION"
                        [options]="exposureFrequencyOptions$ | async"
                        [disabled]="disabled"
                        optionLabelKey="label"
                        optionValueKey="value"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('exposureFrequencyId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[exposureDurationId]'"
                        [(ngModel)]="relationship.exposureDurationId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_EXPOSURE_DURATION_DESCRIPTION"
                        [options]="exposureDurationOptions$ | async"
                        [disabled]="disabled"
                        optionLabelKey="label"
                        optionValueKey="value"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('exposureDurationId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[socialRelationshipTypeId]'"
                        [(ngModel)]="relationship.socialRelationshipTypeId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_RELATION' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_RELATION_DESCRIPTION"
                        [options]="socialRelationshipOptions$ | async"
                        [disabled]="disabled"
                        required="false"
                        optionLabelKey="label"
                        optionValueKey="value"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('socialRelationshipTypeId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-input
                        [name]="name + '[socialRelationshipDetail]'"
                        [(ngModel)]="relationship.socialRelationshipDetail"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_RELATIONSHIP' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_RELATIONSHIP_DESCRIPTION"
                        [disabled]="disabled"
                        optionLabelKey="label"
                        optionValueKey="value"
                        required="false"
                        (optionChanged)="onChange()">
                    </app-form-input>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('socialRelationshipDetail')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-select
                        [name]="name + '[clusterId]'"
                        [(ngModel)]="relationship.clusterId"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_CLUSTER' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_CLUSTER_DESCRIPTION"
                        [options]="clusterOptions$ | async"
                        [disabled]="disabled"
                        required="false"
                        optionLabelKey="name"
                        optionValueKey="id"
                        (optionChanged)="onChange()">
                    </app-form-select>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('clusterId')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>

                <div fxFlex><!-- placeholder --></div>

                <div fxFlex><!-- placeholder --></div>

                <div fxFlex><!-- placeholder --></div>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <app-form-textarea
                        [name]="name + '[comment]'"
                        [(ngModel)]="relationship.comment"
                        [placeholder]="'LNG_RELATIONSHIP_FIELD_LABEL_COMMENT' | translate"
                        tooltip="LNG_RELATIONSHIP_FIELD_LABEL_COMMENT_DESCRIPTION"
                        [disabled]="disabled"
                        required="false"
                        (optionChanged)="onChange()">
                    </app-form-textarea>
                    <div
                        *ngIf="displayCopyField"
                        fxFlex="40px"
                        fxLayout="column"
                        fxLayoutAlign="center">
                        <button
                            class="copy-field-button"
                            type="button"
                            mat-icon-button
                            [title]="displayCopyFieldDescription"
                            (click)="triggerCopyValue('comment')">
                            <span class="xt-icon">fileCopy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
