@import 'font';

/* Breadcrumbs */
.gd-breadcrumbs {
  font-family: $gd-font-family;
  font-size: $gd-font-size;
  font-weight: 400;
  line-height: 2rem;

  .gd-breadcrumbs-bread {
    .gd-breadcrumbs-bread-separator {
      color: var(--gd-secondary);
      margin: 0 0.8rem;
    }

    .gd-breadcrumbs-bread-label-active {
      color: var(--gd-secondary);
      cursor: default;
    }
  }
}
