@import 'font';
@import 'mixins';

/* Breadcrumbs */
.gd-breadcrumbs {
  font-family: $gd-font-family;
  font-size: $gd-font-size;
  font-weight: 400;
  line-height: 2rem;

  .gd-breadcrumbs-bread {
    .gd-breadcrumbs-bread-separator {
      color: var(--gd-secondary);
      margin: 0 0.8rem;
    }

    .gd-breadcrumbs-bread-label-active {
      color: var(--gd-secondary);
      cursor: default;
    }
  }

  .gd-breadcrumbs-bread-infos {
    @include flex_align_items(center);
    @include flex(inline-flex);
    @include flex_direction(row);

    .gd-breadcrumbs-bread-infos-info {
      background: var(--gd-primary);
      @include border-radius(1rem);
      color: var(--gd-background);
      @include flex(flex);
      font-size: 1.2rem;
      line-height: 1.1rem;
      margin-left: 0.4rem;
      padding: 0.4rem 0.8rem;
      cursor: help;
    }
  }
}
