<div
    class="total-number-container">

    <!-- Display loading while loading data -->
    <div
        *ngIf="!value || value.count === null; else pageInfo">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Counted items -->
    <ng-template
        #pageInfo>
        {{ (value.hasMore ? ('LNG_COMMON_LABEL_PAGINATOR_COUNT_BEFORE_LENGTH' | translate) + ' ' : '') + (value.count | number) + (value.hasMore ? ' ' + ('LNG_COMMON_LABEL_PAGINATOR_COUNT_AFTER_LENGTH' | translate) : '') }}
    </ng-template>
</div>
