@import '~styles/common';

app-total-number-of-records {
    .total-number-container {
        padding-top: 15px;
        padding-left: 100px;
        font-weight: bold;
        font-size: medium;
        font-family: @font-roboto;
        color: @color-dark-2nd;

        @mat-spinner-width: 12px;
        @mat-spinner-height: 12px;
        mat-spinner {
            display: inline-block;
            width: @mat-spinner-width !important;
            height: @mat-spinner-height !important;

            svg {
                width: @mat-spinner-width !important;
                height: @mat-spinner-height !important;
            }
        }
    }

    @media @mobile-devices {
        .total-number-container {
            padding-top: 0;
        }
    }
}
