@import '~styles/common';

app-total-number-of-records {
    .total-number-container {
        padding-left: 116px;
        margin-top: 15px;
        font-weight: 500;
        font-family: 'Roboto-Font';
        color: @color-dark-2nd;
    }
}
