<div class="form-element"
    [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <div fxLayout="row">
        <!-- btn to add a new question -->
        <button mat-button type="button" *ngIf="!viewOnly"
                color="primary" class="link-primary"
                (click)="addNewQuestion()">
            {{'LNG_TEMPLATE_QUESTION_BUTTON_ADD_NEW' | translate}}
        </button>
    </div>

    <form #groupForm="ngForm">
        <!-- list of questions -->
        <div *ngFor="let question of values; let i = index" fxFlex fxLayout="row"
             fxLayoutAlign="start center">
            <mat-card class="page-section question-card" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <div class="app-form-question">
                    <div fxLayout="row" class="question-wrapper">

                        <!-- question badge -->
                        <div class="question-badge" fxFlex="40px">
                            {{ ('LNG_TEMPLATE_QUESTION_BADGE' | translate) + (i + 1) }}
                        </div>

                        <!-- question text -->
                        <div class="question-box" fxFlex="30">
                            <app-form-input
                                [name]="name + '[' + i + '][text]'"
                                [ngModel]="question.text | translate"
                                [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_TEXT' | translate"
                                [tooltip]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_TEXT_DESCRIPTION' | translate"
                                required="true"
                                [disabled]="viewOnly"
                                (optionChanged)="onChangeBind(i, 'text', $event)"
                                (initialized)="onInitializeBind(i, 'text', $event)">
                            </app-form-input>
                        </div>

                        <!-- question variable -->
                        <div class="question-box" fxFlex="10">
                            <app-form-input
                                [name]="name + '[' + i + '][variable]'"
                                [(ngModel)]="values[i].variable"
                                [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE' | translate"
                                [tooltip]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_VARIABLE_DESCRIPTION' | translate"
                                required="true"
                                [readonly]="!question.new && question.variable && variableReadOnly"
                                [disabled]="viewOnly"
                                (optionChanged)="onChange()"
                                app-unique-validator="\]\[variable\]$"
                                [additionalControlsToCheck]="parentControls">
                            </app-form-input>
                        </div>

                        <!-- question category -->
                        <div class="question-box" fxFlex="15">
                            <app-form-select
                                [name]="name + '[' + i + '][category]'"
                                [(ngModel)]="values[i].category"
                                [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY' | translate"
                                [tooltip]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_CATEGORY_DESCRIPTION' | translate"
                                required="true"
                                [options]="questionCategoriesList$ | async"
                                [disabled]="viewOnly || defaultQuestionCategory"
                                (optionChanged)="onChange()">
                            </app-form-select>
                        </div>

                        <!-- question - answer type -->
                        <div class="question-box" fxFlex>
                            <app-form-select
                                [name]="name + '[' + i + '][answerType]'"
                                [(ngModel)]="values[i].answerType"
                                [placeholder]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE' | translate"
                                [tooltip]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_ANSWER_TYPE_DESCRIPTION' | translate"
                                required="true"
                                [options]="answerTypesList$ | async"
                                multiple="false"
                                [disabled]="viewOnly"
                                (optionChanged)="onChangeAnswerType(i)">
                            </app-form-select>
                        </div>

                        <!-- question actions -->
                        <div class="question-box  text-right" fxFlex="215px" *ngIf="!viewOnly">
                            <app-form-slide-toggle
                                [name]="name + '[' + i + '][required]'"
                                [(ngModel)]="values[i].required"
                                [label]="'LNG_TEMPLATE_QUESTION_FIELD_LABEL_REQUIRED' | translate"
                                required="false"
                                (optionChanged)="onChange()">
                            </app-form-slide-toggle>

                            <button mat-icon-button type="button" color="primary" (click)="duplicateQuestion(question)">
                                <span class="xt-icon">fileCopy</span>
                            </button>
                            <button *ngIf="values.length > minItems" mat-icon-button type="button" color="warn" (click)="delete(i)">
                                <span class="xt-icon">delete</span>
                            </button>
                        </div>
                        <div class="question-box text-right" fxFlex="20" *ngIf="viewOnly">
                            <div>{{ (question.required ? 'LNG_TEMPLATE_QUESTION_FIELD_ALERT_REQUIRED' : '') | translate}}</div>
                        </div>
                    </div>

                    <div fxFlex fxLayout="row">
                        <!-- answers list -->
                        <app-form-sub-answer-list
                            class="app-form-answer-list-container"
                            *ngIf="question.answerType === answerTypes.MULTIPLE_OPTIONS.value || question.answerType === answerTypes.SINGLE_SELECTION.value"
                            [name]="name + '[' + i + '][answers]'"
                            [ngModel]="question.answers"
                            [viewOnly]="viewOnly"
                            (changed)="onChange(false)"
                            (groupValidated)="validateGroup()"
                            [minItems]="2">
                        </app-form-sub-answer-list>
                    </div>
                </div>
            </mat-card>
        </div>
    </form>
</div>
