@import '~styles/common';

.login-form {

    .password-input {
        min-width: ~'calc(100% - 24px)';

        input {
            box-sizing: border-box;
            padding-right: 37px;
            width: ~'calc(100% - 24px)';
        }
    }

    .mat-raised-button {

        &.reset-pass-button {
            color: @color-accent-main;
            flex: none;
            background-color: white;
            min-width: auto;
            width: 125px;
            min-height: auto;
            height: 27px;
            position: relative;
            right: 24px;
            padding: 0;
            margin: 10px 0 0 -127px;
            border-radius: 4px;
            line-height: 27px;
        }

        .mat-button-wrapper {
            font-size: 13px;
        }
    }
}
