<div
  class="gd-login"
  fxLayout="row" fxLayoutAlign="start stretch">

  <!-- Left side -->
  <div
    *ngIf="renderMode !== RenderMode.SMALL"
    class="gd-login-left"
    fxLayout="column" fxLayoutAlign="space-between start">

    <!-- Left - top -->
    <div
      class="gd-login-left-top">
      Go.Data
    </div>

    <!-- Left - bottom -->
    <div
      class="gd-login-left-bottom">
      <img src="../../../../assets/images/gd-logomark.svg" alt="Go.Data Logo" />
    </div>

  </div>

  <!-- Right side -->
  <div
    class="gd-login-right"
    fxLayout="column" fxLayoutAlign="space-between center">

    <!-- Right - top -->
    <div
      class="gd-login-right-top"
      fxFlexAlign="end">
      <app-select-language-v2></app-select-language-v2>
    </div>

    <!-- Right - middle -->
    <div
      class="gd-login-right-middle">

      <!-- Right - middle - logo -->
      <div
        class="gd-login-right-middle-logo">
        <img src="../../../../assets/images/gd-logo.svg" alt="Go.Data Logo" />
      </div>

      <!-- Right - middle - title -->
      <div
        class="gd-login-right-middle-title">
        {{ (pageType === CaptchaDataFor.LOGIN ? 'LNG_PAGE_LOGIN_WELCOME_MESSAGE' : 'LNG_PAGE_FORGOT_PASSWORD_TITLE') | translate }}
      </div>

      <!-- Details -->
      <div
        *ngIf="pageType === CaptchaDataFor.FORGOT_PASSWORD"
        class="gd-login-right-middle-details">
        {{ 'LNG_PAGE_FORGOT_PASSWORD_DESCRIPTION' | translate }}
      </div>

      <!-- Right - middle - form -->
      <div
        class="gd-login-right-middle-form">

        <!-- Login / Forgot password form -->
        <form
          #form="ngForm"
          (submit)="pageType === CaptchaDataFor.LOGIN ? login(form) : forgotPassword(form)">

          <!-- Login -->
          <ng-container
            *ngIf="pageType === CaptchaDataFor.LOGIN">

            <!-- Email -->
            <app-form-input-v2
              ngModel
              name="email"
              placeholder="LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS"
              required="true"
              app-email-validator>
            </app-form-input-v2>

            <!-- First step -->
            <ng-container
              *ngIf="!twoFA; else twoFACode">

              <!-- Password -->
              <app-form-password-v2
                ngModel
                name="password"
                placeholder="LNG_COMMON_FIELD_LABEL_PASSWORD"
                required="true">
              </app-form-password-v2>

              <!-- Forgot password -->
              <div
                class="gd-login-right-middle-form-forgot-button">
                <button
                  mat-flat-button
                  type="button"
                  color="text"
                  routerLink="/auth/forgot-password"
                  tabindex="-1">
                  {{ 'LNG_PAGE_LOGIN_FORGOT_PASSWORD_LABEL' | translate }}
                </button>
              </div>

            </ng-container>

            <!-- 2FA code -->
            <ng-template
              #twoFACode>

              <!-- 2FA Code -->
              <app-form-input-v2
                ngModel
                name="code"
                placeholder="LNG_COMMON_FIELD_LABEL_CODE"
                required="true"
                autocomplete="off">
              </app-form-input-v2>

            </ng-template>
          </ng-container>

          <!-- Email -->
          <app-form-input-v2
            *ngIf="pageType === CaptchaDataFor.FORGOT_PASSWORD"
            ngModel
            name="email"
            placeholder="LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS"
            required="true"
            app-email-validator>
          </app-form-input-v2>

          <!-- Captcha -->
          <div
            *ngIf="displayCaptcha">

            <!-- Captcha SVG -->
            <div
              *ngIf="captchaData$ | async as captchaData; else loadingCaptcha">
                <!-- SVG -->
                <div [innerHTML]="captchaData"></div>

                <!-- Captcha SVG refresh -->
                <button
                  type="button"
                  mat-icon-button
                  tabindex="-1"
                  (click)="refreshCaptcha()">
                  <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <!-- Captcha loading -->
            <ng-template
                #loadingCaptcha>
                <mat-progress-spinner
                  mode="indeterminate"
                  diameter="24">
                </mat-progress-spinner>
            </ng-template>

            <!-- Captcha value -->
            <app-form-input-v2
              [(ngModel)]="captcha"
              name="captcha"
              placeholder="LNG_COMMON_FIELD_LABEL_CAPTCHA"
              required="true"
              autocomplete="off">
            </app-form-input-v2>
          </div>

          <!-- Login -->
          <div
            class="gd-login-right-middle-form-login-button">
            <button
              mat-flat-button
              color="primary">
              {{ (pageType === CaptchaDataFor.LOGIN ? 'LNG_PAGE_LOGIN_ACTION_LOGIN_BUTTON' : 'LNG_PAGE_FORGOT_PASSWORD_BUTTON') | translate }}
            </button>
          </div>

          <!-- Other forgot password buttons -->
          <div
            *ngIf="pageType === CaptchaDataFor.FORGOT_PASSWORD"
            class="gd-login-right-middle-form-reset-buttons"
            fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

            <!-- Reset password with security questions -->
            <button
              mat-flat-button
              type="button"
              color="text"
              routerLink="/auth/reset-password-questions">
              {{ 'LNG_PAGE_FORGOT_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate }}
            </button>

            <!-- Reset password with security questions -->
            <button
              mat-flat-button
              type="button"
              color="text"
              routerLink="/auth/login">
              {{ 'LNG_COMMON_BUTTON_BACK_TO_LOGIN' | translate }}
            </button>

          </div>

        </form>

      </div>

    </div>

    <!-- Right - bottom -->
    <div
      class="gd-login-right-bottom">
      {{ 'LNG_LAYOUT_MENU_VERSION_LABEL' | translate: { version: versionData.version, build: versionData.build } }}
    </div>

  </div>
</div>
