<app-not-auth-template>

        <div class="not-auth-title">
                {{ 'LNG_PAGE_LOGIN_WELCOME_MESSAGE' | translate }}
        </div>

        <form #form="ngForm" (submit)="login(form)" class="login-form">

            <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
                <div fxLayout="column" fxFlex>

                    <app-form-input
                        name="email"
                        [(ngModel)]="user.email"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                        required="true"
                        app-email-validator
                    ></app-form-input>

                    <div fxLayoutAlign="row">
                        <app-form-input
                            class="password-input"
                            type="password"
                            name="password"
                            [(ngModel)]="user.password"
                            [placeholder]="'LNG_COMMON_FIELD_LABEL_PASSWORD' | translate"
                            required="true"></app-form-input>

                        <button
                            mat-raised-button
                            type="button"
                            class="reset-pass-button"
                            routerLink="/auth/forgot-password">
                            {{ 'LNG_PAGE_LOGIN_FORGOT_PASSWORD_LABEL' | translate }}
                        </button>
                    </div>

                    <div fxLayout="column" class="app-theme">
                        <button mat-raised-button color="accent">
                            {{ 'LNG_PAGE_LOGIN_ACTION_LOGIN_BUTTON' | translate }}
                        </button>
                    </div>
                </div>
            </div>

        </form>

</app-not-auth-template>
