<div
    fxFlex fxLayout="row"
    class="login-page">
    <div
        fxFlex fxLayoutAlign="start end"
        class="login-page-left">
        <div class="login-page-logo-container">
            <img src="/assets/images/logo-wide.png" />
        </div>
    </div>
    <div
        fxFlex fxLayoutAlign="center center" fxLayout="column"
        class="login-page-right">

        <div
            class="login-page-welcome">
            {{ 'LNG_PAGE_LOGIN_WELCOME_MESSAGE' | translate }}
        </div>

        <form #form="ngForm" (submit)="login(form)">

            <div fxLayout="column">

                <app-form-input
                    name="email"
                    [(ngModel)]="user.email"
                    [placeholder]="'LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                    required="true"
                    app-emailValidator></app-form-input>

                <div
                    fxFlex fxLayoutAlign="row">
                    <app-form-input
                        class="password-input"
                        type="password"
                        name="password"
                        [(ngModel)]="user.password"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_PASSWORD' | translate"
                        required="true"></app-form-input>

                    <button
                        mat-raised-button
                        type="button"
                        class="reset-pass-button"
                        routerLink="/auth/forgot-password"
                        [matTooltip]="'LNG_PAGE_LOGIN_FORGOT_PASSWORD_LABEL' | translate">?</button>
                </div>

                <button
                    mat-raised-button
                    class="login-button">Login</button>
            </div>

        </form>
    </div>
</div>
