app-reset-password-questions {
    .login-spinner {
        width: 24px !important;
        height: 24px !important;

        svg {
            width: 24px !important;
            height: 24px !important;
        }
    }
}

.reset-password-with-qeustions {
    .login-captcha-row {
        height: 50px;
        margin-bottom: 1.25em;

        .login-captcha-row-svg {
            width: 200px;

            .login-captcha-row-svg-loading {
                text-align: center;

                @mat-spinner-width: 32px;
                @mat-spinner-height: 32px;
                mat-spinner {
                    display: inline-block;
                    width: @mat-spinner-width !important;
                    height: @mat-spinner-height !important;

                    svg {
                        width: @mat-spinner-width !important;
                        height: @mat-spinner-height !important;
                    }
                }
            }
        }
    }
}
