<div
  class="gd-reset-password-questions"
  fxLayout="row" fxLayoutAlign="start stretch">

  <!-- Left side -->
  <div
    *ngIf="renderMode !== RenderMode.SMALL"
    class="gd-reset-password-questions-left"
    fxLayout="column" fxLayoutAlign="space-between start">

    <!-- Left - top -->
    <div
      class="gd-reset-password-questions-left-top">
      Go.Data
    </div>

    <!-- Left - bottom -->
    <div
      class="gd-reset-password-questions-left-bottom">
      <img src="../../../../assets/images/gd-logomark.svg" alt="Go.Data Logo" />
    </div>

  </div>

  <!-- Right side -->
  <div
    class="gd-reset-password-questions-right"
    fxLayout="column" fxLayoutAlign="space-between center">

    <!-- Right - top -->
    <div
      class="gd-reset-password-questions-right-top"
      fxFlexAlign="end">
      <app-select-language-v2></app-select-language-v2>
    </div>

    <!-- Right - middle -->
    <div
      class="gd-reset-password-questions-right-middle">

      <!-- Right - middle - logo -->
      <div
        class="gd-reset-password-questions-right-middle-logo">
        <img src="../../../../assets/images/gd-logo.svg" alt="Go.Data Logo" />
      </div>

      <!-- Right - middle - title -->
      <div
        class="gd-reset-password-questions-right-middle-title">
        {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_TITLE' | translate }}
      </div>

      <!-- Details -->
      <div
        class="gd-reset-password-questions-right-middle-details">
        {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_DESCRIPTION' | translate }}
      </div>

      <!-- Right - middle - form -->
      <div
        class="gd-reset-password-questions-right-middle-form">

        <!-- Form -->
        <form
          #form="ngForm"
          (submit)="resetPassword(form)">

          <!-- Email -->
          <app-form-input-v2
            ngModel
            name="email"
            placeholder="LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS"
            required="true"
            app-email-validator>
          </app-form-input-v2>

          <!-- Security question 1 -->
          <app-form-select-single-v2
            ngModel
            name="questions[0][question]"
            placeholder="LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_QUESTION1"
            [options]="securityQuestionsOptions"
            required="true">
          </app-form-select-single-v2>

          <!-- Answer 1 -->
          <app-form-input-v2
            ngModel
            name="questions[0][answer]"
            placeholder="LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_ANSWER1"
            required="true">
          </app-form-input-v2>

          <!-- Security question 2 -->
          <app-form-select-single-v2
            ngModel
            name="questions[1][question]"
            placeholder="LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_QUESTION2"
            [options]="securityQuestionsOptions"
            required="true">
          </app-form-select-single-v2>

          <!-- Answer 2 -->
          <app-form-input-v2
            ngModel
            name="questions[1][answer]"
            placeholder="LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_ANSWER2"
            required="true">
          </app-form-input-v2>

          <!-- Captcha -->
          <div
            *ngIf="displayCaptcha"
            class="gd-reset-password-questions-right-middle-form-captcha"
            fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

            <!-- Captcha SVG -->
            <div
              *ngIf="captchaData$ | async as captchaData; else loadingCaptcha"
              fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
              <!-- SVG -->
              <div [innerHTML]="captchaData"></div>

              <!-- Captcha SVG refresh -->
              <button
                type="button"
                mat-icon-button
                tabindex="-1"
                (click)="refreshCaptcha()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>

            <!-- Captcha loading -->
            <ng-template
              #loadingCaptcha>
              <mat-progress-spinner
                mode="indeterminate"
                diameter="24">
              </mat-progress-spinner>
            </ng-template>

            <!-- Captcha value -->
            <app-form-input-v2
              [(ngModel)]="captcha"
              name="captcha"
              placeholder="LNG_COMMON_FIELD_LABEL_CAPTCHA"
              required="true"
              autocomplete="off">
            </app-form-input-v2>
          </div>

          <!-- Reset -->
          <div
            class="gd-reset-password-questions-right-middle-form-reset-button">
            <button
              mat-flat-button
              color="primary">
              {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate }}
            </button>
          </div>

          <!-- Other forgot password buttons -->
          <div
            class="gd-reset-password-questions-right-middle-form-reset-buttons"
            fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

            <!-- Back -->
            <button
              mat-flat-button
              type="button"
              color="text"
              routerLink="/auth/login">
              {{ 'LNG_COMMON_BUTTON_BACK_TO_LOGIN' | translate }}
            </button>

          </div>

        </form>

      </div>

    </div>

    <!-- Right - bottom -->
    <div
      class="gd-reset-password-questions-right-bottom">
      {{ 'LNG_LAYOUT_MENU_VERSION_LABEL' | translate: { version: versionData.version, build: versionData.build } }}
    </div>

  </div>
</div>
