<mat-card class="page-section" style="width: 600px; margin: 100px auto;">

    <div style="text-align:center">
        <h1>
            Reset Password
        </h1>
    </div>


    <form #form="ngForm" (submit)="resetPassword(form)">

        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex>

                <app-form-input
                    name="email"
                    [(ngModel)]="dataModel.email"
                    placeholder="Email"
                    required="true">
                </app-form-input>
                <br><br>
                <app-form-select
                    name="question0"
                    [(ngModel)]="dataModel.questions[0].question"
                    placeholder="Question 1"
                    [options]="securityQuestionsList$"
                    required="true"
                >
                </app-form-select>
                <app-form-input
                    name="answer0"
                    [(ngModel)]="dataModel.questions[0].answer"
                    placeholder="Answer"
                    required="true">
                </app-form-input>
                <br><br>
                <app-form-select
                    name="question1"
                    [(ngModel)]="dataModel.questions[1].question"
                    placeholder="Question 2"
                    [options]="securityQuestionsList$"
                    required="true">
                </app-form-select>
                <app-form-input
                    name="answer1"
                    [(ngModel)]="dataModel.questions[1].answer"
                    placeholder="Answer"
                    required="true">
                </app-form-input>
                <br><br>
                <app-form-input
                    name="newPassword"
                    type="password"
                    [(ngModel)]="dataNewPassword.newPassword"
                    placeholder="New Password"
                    app-passwordValidator
                    app-triggerValidationFor="passwordConfirm"
                    required="true">
                </app-form-input>
                <app-form-input
                    type="password"
                    name="passwordConfirm"
                    [(ngModel)]="confirmPassword"
                    placeholder="Confirm New Password"
                    app-equalValidator="newPassword"
                    required="true">
                </app-form-input>

                <button mat-raised-button color="primary">Change Password</button>
            </div>
        </div>

    </form>

</mat-card>
