<!-- Language select -->
<app-topnav-unauthenticated></app-topnav-unauthenticated>

<app-not-auth-template>
    <div class="not-auth-title">
        {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_TITLE' | translate }}
    </div>

    <mat-spinner
        *ngIf="loading"
        class="login-spinner">
    </mat-spinner>

    <form
        *ngIf="!loading"
        #form="ngForm"
        (submit)="resetPassword(form)"
        class="reset-password-with-qeustions">
        <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
            <div fxLayout="column" fxFlex>

                <div class="not-auth-description">
                    {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_DESCRIPTION' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-input
                        name="email"
                        [(ngModel)]="dataModel.email"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                        required="true">
                    </app-form-input>
                </div>

                <div fxLayout="row">
                    <app-form-select
                        name="questions[0][question]"
                        [(ngModel)]="dataModel.questions[0].question"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_QUESTION1' | translate"
                        [options]="securityQuestionsList$ | async"
                        optionLabelKey="question"
                        optionValueKey="question"
                        required="true"
                    ></app-form-select>
                </div>

                <div fxLayout="row">
                    <app-form-input
                        name="questions[0][answer]"
                        [(ngModel)]="dataModel.questions[0].answer"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_ANSWER1' | translate"
                        required="true">
                    </app-form-input>
                </div>

                <div fxLayout="row">
                    <app-form-select
                        name="questions[1][question]"
                        [(ngModel)]="dataModel.questions[1].question"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_QUESTION2' | translate"
                        [options]="securityQuestionsList$ | async"
                        optionLabelKey="question"
                        optionValueKey="question"
                        required="true">
                    </app-form-select>
                </div>

                <div fxLayout="row">
                    <app-form-input
                        name="questions[1][answer]"
                        [(ngModel)]="dataModel.questions[1].answer"
                        [placeholder]="'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_FIELD_LABEL_ANSWER2' | translate"
                        required="true">
                    </app-form-input>
                </div>

                <!-- Captcha input -->
                <div
                    *ngIf="displayCaptcha"
                    class="login-captcha-row"
                    fxLayout="row">
                    <!-- Captcha SVG -->
                    <div
                        class="login-captcha-row-svg">
                        <div
                            fxLayout="row" fxLayoutAlign="start center"
                            *ngIf="captchaData$ | async as captchaData; else loadingCaptcha">
                            <!-- SVG -->
                            <div [innerHTML]="captchaData"></div>

                            <!-- Captcha SVG refresh -->
                            <button
                                fxGrow="0"
                                type="button"
                                mat-icon-button
                                (click)="refreshCaptcha()">
                                <span class="xt-icon">refresh</span>
                            </button>
                        </div>

                        <!-- Loading data -->
                        <ng-template
                            #loadingCaptcha>
                            <div
                                class="login-captcha-row-svg-loading">
                                <mat-spinner></mat-spinner>
                            </div>
                        </ng-template>
                    </div>

                    <!-- Captcha SVG input -->
                    <app-form-input
                        [tabIndex]="3"
                        name="captcha"
                        [(ngModel)]="dataModel.captcha"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_CAPTCHA' | translate"
                        required="true"
                        autocomplete="off">
                    </app-form-input>
                </div>

                <div fxLayout="column" class="app-theme">
                    <button mat-raised-button color="accent">
                        {{ 'LNG_PAGE_RESET_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate }}
                    </button>
                </div>

                <div fxLayout="column" class="app-theme back-to-login-button">
                    <button mat-raised-button color="primary"
                        routerLink="/auth/login">
                        {{ 'LNG_COMMON_BUTTON_BACK_TO_LOGIN' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</app-not-auth-template>
