@import '~styles/common';

.dialog-view-cot-edge {
    .small-dialog;

    .dialog-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
        font-family: @font-roboto;
        text-align: center;
    }

    .label-value {
        .dialog-label-value;
    }

    a {
        .dialog-simple-link;
    }
}
