<div>
    <!-- Title -->
    <div
        #dialogTitle
        class="dialog-title">
        {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_TITLE' | translate }}
    </div>

    <!-- Specific model fields -->
    <div
        class="dialog-data-content"
        [style.maxHeight]="dialogDataMaxHeight">
        <div
            *ngFor="let info of relationshipInfo"
            class="label-value">
            <span>{{info.label | translate}}</span>
            <span>{{info.value | translate}}</span>
        </div>
    </div>

    <!-- Buttons and Links -->
    <div
        #dialogButtons
        fxLayout="row" fxLayoutAlign="space-between">
        <!-- Links -->
        <div
            fxLayout="row" fxGrow="0">
            <!-- Link to resource -->
            <a
                *ngIf="resourceViewPageLink"
                [href]="resourceViewPageLink"
                target="_blank">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_ACTION_VIEW_FULL_RESOURCE' | translate}}
            </a>
        </div>

        <!-- Buttons -->
        <div
            fxFlex fxLayoutAlign="end">
            <button
                mat-button
                (click)="closeDialog()"
                type="button">
                {{ 'LNG_COMMON_BUTTON_CANCEL' | translate | uppercase }}
            </button>
        </div>
    </div>
</div>
