app-contacts-on-followup-list-dashlet{
    .dashboard-box-header{
        background-color: #af740d;
        cursor: pointer;
    }
    .dashboard-box-content{
        background-color: #faa613;
    }
}
