@import '~styles/common';

app-contacts-on-followup-list-dashlet{
    .dashboard-box-header{
        background-color: @color-contact-dashlet-header;
        cursor: pointer;
    }
    .dashboard-box-content{
        background-color: @color-contact-dashlet-content;
    }
}
