<app-dashboard-custom-metric-dashlet
    [link]="ContactModel.canList(authUser) ? '/contacts' : ''"
    [params]="getDashletParamsIncludingGlobalFilters({applyListFilter: Constants.APPLY_LIST_FILTER.CONTACTS_FOLLOWUP_LIST})"
    [value]="contactsOnFollowUpListCount"
    (hide)="onHide()"
    (moveBefore)="onMoveBefore()"
    (moveAfter)="onMoveAfter()"
    [displayLoading]="displayLoading">
    {{ "LNG_PAGE_DASHBOARD_KPI_CONTACTS_FOLLOWUP_LIST_TITLE" | translate:{date: (dataForDate | dateDefault)} }}
</app-dashboard-custom-metric-dashlet>
