<div fxLayout="row" fxFlex>
    <div class="answer-badge align-center" fxFlex="40px">
        A{{index+1}}
    </div>
    <div class="answer-box align-center" fxFlex="40">
        <app-form-input
            name="answer[value]"
            [(ngModel)]="answer.value"
            placeholder="Answer Value"
            required="true"
            disabled="{{viewOnly}}">
        </app-form-input>
    </div>
    <div class="answer-box align-center" fxFlex="20">
        <app-form-input
            name="answer[label]"
            [(ngModel)]="answer.label"
            placeholder="Answer Label"
            required="true"
            disabled="{{viewOnly}}">
        </app-form-input>
    </div>
    <div class="answer-box align-center" fxFlex="15">
        <app-form-select
            name="answer[type]"
            [(ngModel)]="answer.type"
            placeholder="Answer Type"
            required="true"
            [options]="[{'value':'Free text','label':'Free text'}]"
            multiple="false"
            disabled="{{viewOnly}}">
        </app-form-select>
    </div>
    <div class="answer-box align-right" fxFlex="25" fxHide="{{viewOnly}}" >

        <app-form-slide-toggle
            name="answer[alert]"
            [(ngModel)]="answer.alert"
            label="Alert?">
        </app-form-slide-toggle>

        <button mat-icon-button type="button" color="primary" (click)="link()">
            <span class="xt-icon">link</span>
        </button>
        <button mat-icon-button type="button" (click)="delete()" color="warn">
            <span class="xt-icon">delete</span>
        </button>
    </div>
    <div class="answer-box align-center" fxFlex="20" fxHide="{{!viewOnly}}">
        <div class="alert-label">{{ answer.alert ? "ALERT" : ""}}</div>
    </div>

</div>

