<div fxLayout="row">
    <div class="answer-badge" fxFlex="40px">
        A{{index + 1}}
    </div>
    <div fxFlex="25" class="answer-box">
        <app-form-input
            [name]="name + '[answers][' + index + '][new]'"
            [(ngModel)]="answer.new"
            hidden="true">
        </app-form-input>
        <app-form-input
            [name]="name + '[answers][' + index + '][label]'"
            [(ngModel)]="answer.label"
            placeholder="Answer Label"
            required="true"
            disabled="{{viewOnly}}">
        </app-form-input>
    </div>
    <div fxFlex class="answer-box">
        <app-form-input
            [name]="name + '[answers][' + index + '][value]'"
            [(ngModel)]="answer.value"
            placeholder="Answer Value"
            required="true"
            disabled="{{viewOnly}}">
        </app-form-input>
    </div>

    <div fxFlex="50" class="answer-box text-right">

        <div [fxHide]="viewOnly">
            <app-form-slide-toggle
                [name]="name + '[answers][' + index + '][alert]'"
                [(ngModel)]="answer.alert"
                label="Alert?">
            </app-form-slide-toggle>

            <!-- TODO Link button will be used to add questions dependent on some answers. -->
            <!--<button mat-icon-button type="button" color="primary" (click)="link()">-->
            <!--<span class="xt-icon">link</span>-->
            <!--</button>-->
            <button mat-icon-button type="button" (click)="delete()" color="warn">
                <span class="xt-icon">delete</span>
            </button>
        </div>
        <div [fxHide]="!viewOnly">
            <div>{{ answer.alert ? "Alert" : ""}}</div>
        </div>

    </div>


</div>

