<app-list-table-v2
  [pageTitle]="'LNG_PAGE_LIST_CLUSTERS_TITLE'"
  [records$]="clustersList$"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.CLUSTER_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.CLUSTERS.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
