app-new-cases-previous-days-transmission-chains-dashlet{
    .dashboard-box-header{
        background-color: #B17405;
        cursor: pointer;
    }
    .dashboard-box-content{
        background-color: #d60000;
    }
}
