<app-list-table-v2
  [pageTitle]="relationshipType === RelationshipType.EXPOSURE ? 'LNG_PAGE_LIST_ENTITY_ASSIGN_EXPOSURES_TITLE' : 'LNG_PAGE_LIST_ENTITY_ASSIGN_CONTACTS_TITLE'"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.SHARE_RELATIONSHIPS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.PEOPLE_TO_SHARE_RELATIONSHIPS_WITH.value"
  [advancedFilters]="advancedFilters"
  keyField="relationship.id"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event, { age: [ 'years', 'months' ] })"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>

<!-- TODO: "Select" and "Cancel" buttons need to be added -->
<!-- <form class="page-content form-section" #form="ngForm" (submit)="selectEntities()">

    <div class="form-actions">
        <button
            mat-raised-button
            color="accent">
            {{'LNG_COMMON_BUTTON_SELECT' | translate}}
        </button>
        <button type="button" [routerLink]="['/relationships', entityType, this.entityId, this.relationshipTypeRoutePath]" mat-raised-button>
            {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
        </button>
    </div>

</form> -->
