<app-basic-page-v2
  [breadcrumbs]="breadcrumbs"
  pageTitle="LNG_PAGE_BULK_ADD_CONTACTS_OF_CONTACTS_TITLE"
  [actionButton]="actionButton">
  <form
    class="form-section">
    <div
      class="form-content">
      <div
        class="info-container">
        <div>
          {{ 'LNG_PAGE_BULK_ADD_CONTACTS_OF_CONTACTS_VISUAL_ID_INFO_LABEL' | translate: contactOfContactVisualIdModel }}
        </div>
      </div>

      <ng-container
        *ngIf="errorMessages && errorMessages.length > 0">
        <div
          class="bulk-create-contacts-of-contacts-errors">
          <div
            class="bulk-create-contacts-of-contacts-errors-title">
            {{ 'LNG_PAGE_BULK_ADD_CONTACTS_OF_CONTACTS_LABEL_ERRORS' | translate }}
          </div>
          <div
            class="bulk-create-contacts-of-contacts-errors-container">
            <div
              *ngFor="let err of errorMessages">
              {{ err.message | translate:err.data }}
            </div>
          </div>
        </div>
      </ng-container>

      <div
        class="related-person"
        fxLayout="row" fxLayoutGap="0.8rem">
        <span>{{relatedEntityData?.type | translate}}:</span>
        <div>{{relatedEntityData?.name}}</div>
      </div>

      <div
        class="sheet-wrapper"
        fxLayout="row" fxLayoutAlign="center">
        <input
          #inputForMakingFormDirty="ngModel"
          type="hidden"
          ngModel
          name="addContactsHidden"/>

        <app-hot-table-wrapper
          #hotTableWrapper
          [sheetContextMenu]="sheetContextMenu"
          [sheetColumns]="sheetColumns"
          (afterBecameDirty)="afterBecameDirty()"
          [startRows]="20"
          [minSpareRows]="1"
          (afterChange)="afterChange($event)">
        </app-hot-table-wrapper>
      </div>
    </div>
  </form>
</app-basic-page-v2>
