<app-list-table-v2
  [pageTitle]="!this.caseData ? 'LNG_PAGE_LIST_FOLLOW_UPS_TITLE' : 'LNG_PAGE_LIST_FOLLOW_UPS_FOR_RELATED_CONTACTS_TITLE'"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="!!this.caseData ? UserSettings.CASE_RELATED_DAILY_FOLLOW_UP_FIELDS : UserSettings.CONTACT_DAILY_FOLLOW_UP_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.DAILY_FOLLOW_UPS.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!-- TODO: DatePicker, "display missed follow-ups" toggle and "in the last n days" number input need to be implemented -->
<!-- <mat-card class="page-section page-content">
    <div
        fxLayout="row" fxLayoutAlign="start center">

        <!~~ Contact information ~~>
        <div
            fxFlex fxLayout="column">
            <div
                fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                <!~~ Date filter ~~>
                <div
                    class="search-filter-details">
                    {{ 'LNG_PAGE_LIST_FOLLOW_UPS_LABEL_SHOW_FOLLOW_UPS_FOR_DATE' | translate }}
                </div>
                <div>
                    <app-form-datepicker
                        #followUpDate
                        name="followUpDateFilter"
                        [ngModel]="dateFilterDefaultValue"
                        [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                        (optionChanged)="filterByFollowUpDate($event)"
                        app-reset-input-on-side-filter
                        [resetToPristineValue]="false"
                        [disableCachedFilterOverwrite]="true">
                    </app-form-datepicker>
                </div>

                <!~~ Not performed follow-ups ~~>
                <ng-container
                    *ngIf="!!dateFilterValue">

                    <!~~ Enable missed follow-ups filter ~~>
                    <mat-slide-toggle
                        labelPosition="before"
                        [(ngModel)]="displayMissedFollowUps"
                        (ngModelChange)="filterByFollowUpDate(dateFilterValue)">
                        {{ 'LNG_PAGE_LIST_FOLLOW_UPS_LABEL_SHOW_MISSED_FOLLOW_UPS' | translate }}
                    </mat-slide-toggle>

                    <!~~ Number of days ~~>
                    <div>
                        <app-form-input
                            *ngIf="displayMissedFollowUps"
                            [(ngModel)]="displayMissedFollowUpsNoDays"
                            (ngModelChange)="filterByFollowUpDate(dateFilterValue)"
                            [placeholder]="'LNG_PAGE_LIST_FOLLOW_UPS_LABEL_SHOW_MISSED_FOLLOW_UPS_NO_DAYS' | translate"
                            type="number">
                        </app-form-input>
                    </div>

                </ng-container>
            </div>
        </div>
    </div>

</mat-card>-->
