<app-topnav [activeOutbreakEditable]="!caseId">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button
                    *ngIf="(authUser.activeOutbreakId === selectedOutbreak?.id && FollowUpModel.canGenerate(authUser)) ||
                        (!appliedListFilter && printFollowUpsUrl && FollowUpModel.canExportDailyForm(authUser)) ||
                        (!appliedListFilter && exportFollowUpsUrl && FollowUpModel.canExport(authUser))"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container *app-selected-outbreak-is-active>
                        <button
                            *ngIf="FollowUpModel.canGenerate(authUser)"
                            mat-menu-item
                            (click)="generateFollowUps()">
                            {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GENERATE_BUTTON' | translate }}
                        </button>
                    </ng-container>

                    <app-export-button
                        *ngIf="!appliedListFilter && printFollowUpsUrl && FollowUpModel.canExportDailyForm(authUser)"
                        [menuItem]="true"
                        [label]="'LNG_PAGE_LIST_FOLLOW_UPS_PRINT_DAILY_FORM_BUTTON' | translate"
                        [message]="'LNG_PAGE_LIST_FOLLOW_UPS_PRINT_DAILY_FORM_TITLE' | translate"
                        [url]="printFollowUpsUrl"
                        [fileName]="printFollowUpsFileName"
                        [fileType]="ExportDataExtension.PDF"
                        [extraDialogFields]="printFollowUpsDialogFields"
                        [extraAPIData]="printFollowUpsDialogExtraAPIData"
                        [queryBuilder]="queryBuilder"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>

                    <app-export-button
                        *ngIf="!appliedListFilter && exportFollowUpsUrl && FollowUpModel.canExport(authUser)"
                        [menuItem]="true"
                        [label]="'LNG_PAGE_LIST_FOLLOW_UPS_EXPORT_BUTTON' | translate"
                        [message]="'LNG_PAGE_LIST_FOLLOW_UPS_EXPORT_TITLE' | translate"
                        [url]="exportFollowUpsUrl"
                        [fileName]="followUpsDataExportFileName"
                        [allowedExportTypes]="allowedExportTypes"
                        [displayEncrypt]="true"
                        [displayAnonymize]="true"
                        [displayUseQuestionVariable]="true"
                        [anonymizeFields]="anonymizeFields"
                        [queryBuilder]="queryBuilder"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<!-- Side columns -->
<app-side-columns
    [tableColumnsUserSettingsKey]="caseId ?
        UserSettings.CASE_RELATED_DAILY_FOLLOW_UP_FIELDS :
        UserSettings.CONTACT_DAILY_FOLLOW_UP_FIELDS"
    [tableColumns]="tableColumns"
    (visibleColumnsChanged)="applySideColumnsChanged($event)">
</app-side-columns>

<div fxLayout fxLayoutAlign="space-between end">
    <!--Total number of records from the list-->
    <app-total-number-of-records
        [value]="(followUpsListCount$ | async)?.count">
    </app-total-number-of-records>

    <!--Contacts grouped by risk level-->
    <a
        *ngIf="!appliedListFilter && !showCountPills; else countPills"
        class="xlink-button margin-right-x"
        (click)="showCountPills = true">
        {{ 'LNG_PAGE_LIST_FOLLOW_UPS_ACTION_SHOW_GROUP_BY_TEAM_PILLS' | translate }}
    </a>
    <ng-template
        #countPills>
        <app-counted-items-list
            *ngIf="!appliedListFilter"
            fxFlex
            [items]="countedFollowUpsGroupedByTeams$ | async"
            (optionChanged)="filterBySelectField('teamId', $event.ids, null)">
        </app-counted-items-list>
    </ng-template>
</div>

<!-- Side filters -->
<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersApplied)="applySideFilters($event)"
    [savedFiltersType]="savedFiltersType">
</app-side-filters>

<mat-card class="page-section page-content">
    <div
        fxLayout="row" fxLayoutAlign="start center">
        <!-- Contact information -->
        <div
            fxFlex fxLayout="column">
            <div
                fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <div
                    class="search-filter-details">
                    {{ 'LNG_PAGE_LIST_FOLLOW_UPS_LABEL_SHOW_FOLLOW_UPS_FOR_DATE' | translate }}
                </div>
                <div>
                    <app-form-datepicker
                        #followUpDate
                        name="dateFilter"
                        [ngModel]="dateFilterDefaultValue"
                        [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                        (optionChanged)="filterByFollowUpDate($event)"
                        app-reset-input-on-side-filter
                        [resetToPristineValue]="false">
                    </app-form-datepicker>
                </div>
            </div>
        </div>

        <!-- Reset Filters -->
        <div
            class="reset-filters">
            <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="resetFiltersToSideFilters()">
                {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
            </button>
            <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="needsRefreshList(true)">
                {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
            </button>
        </div>
    </div>

    <!-- Hover question effects / actions -->
    <app-hover-row-actions
        #hoverRow
        [active]="!refreshingList"
        leftSideClass="hover-row-actions-mat-table-left"
    ></app-hover-row-actions>

    <mat-table #table [dataSource]="followUpsList$ | async" matSort (matSortChange)="sortBy($event)">
        <!-- Checkbox -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="60px">
                <div class="table-header-cell">
                    <div>
                        <button
                            type="button"
                            class="bulk-actions-button"
                            mat-icon-button
                            [disableRipple]="true"
                            [matMenuTriggerFor]="actionsMenuMultipleRecords"
                            color="accent"
                            [matTooltip]="'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_TOOLTIP' | translate"
                            [disabled]="isEmptyList"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #actionsMenuMultipleRecords="matMenu">
                            <button
                                *ngIf="!checkedAllRecords"
                                mat-menu-item
                                (click)="checkAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_CHECK_ALL' | translate }}
                            </button>

                            <ng-container
                                *ngIf="checkedRecords.length > 0">
                                <button
                                    mat-menu-item
                                    (click)="uncheckAllRecords()">
                                    {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_UNCHECK_ALL' | translate }}
                                </button>

                                <mat-divider></mat-divider>

                                <button
                                    *ngIf="FollowUpModel.canBulkModify(authUser)"
                                    mat-menu-item
                                    (click)="modifySelectedFollowUps(table)">
                                    {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_MODIFY_SELECTED_FOLLOW_UPS' | translate }}
                                </button>

                                <button
                                    *ngIf="exportFollowUpsUrl && FollowUpModel.canExport(authUser)"
                                    mat-menu-item
                                    (click)="exportSelectedFollowUps()">
                                    {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_EXPORT_SELECTED_FOLLOW_UPS' | translate }}
                                </button>

                                <button
                                    *ngIf="FollowUpModel.canBulkDelete(authUser)"
                                    [disabled]="!checkedOnlyNotDeletedRecords"
                                    mat-menu-item
                                    (click)="deleteSelectedFollowUps()">
                                    <div
                                        [matTooltip]="'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_DELETE_SELECTED_FOLLOW_UPS_DESCRIPTION' | translate">
                                        {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_DELETE_SELECTED_FOLLOW_UPS' | translate }}
                                    </div>
                                </button>

                                <button
                                    *ngIf="FollowUpModel.canBulkRestore(authUser)"
                                    [disabled]="!checkedOnlyDeletedRecords"
                                    mat-menu-item
                                    (click)="restoreSelectedFollowUps()">
                                    <div
                                        [matTooltip]="'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_RESTORE_SELECTED_FOLLOW_UPS_DESCRIPTION' | translate">
                                        {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_RESTORE_SELECTED_FOLLOW_UPS' | translate}}
                                    </div>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item;" fxFlex="60px">
                <app-form-checkbox
                    #listCheckedIndividual
                    [name]="'listCheckedIndividual[' + item.id + ']'"
                    class="table-checkbox"
                    ngModel
                    (optionChanged)="checkedRecord(item, $event)">
                </app-form-checkbox>
            </mat-cell>
        </ng-container>

        <!-- Contact Last Name -->
        <ng-container matColumnDef="contact.lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_LAST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="contactLastName"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByRelation('contact').byText('lastName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.person?.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Contact First Name -->
        <ng-container matColumnDef="contact.firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_FIRST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="contactFirstName"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByRelation('contact').byText('firstName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.person?.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Contact Visual ID -->
        <ng-container matColumnDef="contact.visualId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_VISUAL_ID' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="contactVisualId"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByRelation('contact').byText('visualId', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.person?.visualId }}
            </mat-cell>
        </ng-container>

        <!-- Date of Last Contact -->
        <ng-container matColumnDef="contact.dateOfLastContact">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_CONTACT_FIELD_LABEL_DATE_OF_LAST_CONTACT' | translate }}</div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByRelation('contact').byDateRange('dateOfLastContact', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.person?.dateOfLastContact | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Date of the End of Follow-up -->
        <ng-container matColumnDef="contact.followUp.endDate">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_CONTACT_FIELD_LABEL_DATE_OF_END_OF_FOLLOWUP' | translate }}</div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByRelation('contact').byDateRange('followUp.endDate', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.person?.followUp?.endDate | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Day of Follow-up -->
        <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_CONTACT_FIELD_LABEL_DAY_OF_FOLLOWUP' | translate }}</div>
                    <div class="column-filter">
                        <app-form-range
                            name="indexFilter"
                            ngModel
                            (changed)="filterByRangeField('index', $event)"
                            app-reset-input-on-side-filter
                            [min]="0">
                        </app-form-range>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.index }}
            </mat-cell>
        </ng-container>

        <!--Phone number-->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_PHONE_NUMBER' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="phoneNumberFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByPhoneNumber('address.phoneNumber', $event, '$regex')"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{item.address?.phoneNumber}}
            </mat-cell>
        </ng-container>

        <!-- Area -->
        <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_AREA' | translate }}</div>
                    <div class="column-filter location-drop-down-column-header-container">
                        <app-form-location-dropdown
                            name="locationFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (itemChanged)="filterBySelectField('address.parentLocationIdFilter', $event, 'id')"
                            multiple="true"
                            app-reset-input-on-side-filter
                            [fixedDropPanel]="true">
                        </app-form-location-dropdown>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.address?.location?.name }}
            </mat-cell>
        </ng-container>

        <!-- Full Address -->
        <ng-container matColumnDef="fullAddress">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_ADDRESS' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                {{ item.address?.fullAddress }}
            </mat-cell>
        </ng-container>

        <!-- Team -->
        <ng-container matColumnDef="team">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_TEAM' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="teamIdFilter"
                            [ngModel]="selectedTeamIdFilterValue"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="teamsListLoadedForHeaderSearch"
                            (optionChanged)="filterByTeam($event)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayInvisibleItems]="true"
                            [displayFilterIcon]="true"
                            [multiple]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                <app-form-select
                    *ngIf="FollowUpModel.canModify(authUser) && !item.deleted && selectedOutbreak?.id === authUser.activeOutbreakId else elseTeamLabel"
                    name="teamId"
                    [ngModel]="item.teamId"
                    [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_TEAM' | translate"
                    [options]="teamsListLoaded"
                    optionLabelKey="name"
                    optionValueKey="id"
                    (optionChanged)="changeFollowUpTeam(item, $event)">
                </app-form-select>
                <ng-template
                    #elseTeamLabel>
                    {{ teamsListLoadedMap[item.teamId] ? teamsListLoadedMap[item.teamId].name : '' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="statusId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="statusIdFilter"
                            [ngModel]="selectedStatusFilterValue"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="dailyStatusTypeOptions$ | async"
                            (optionChanged)="filterBySelectField('statusId', $event)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayInvisibleItems]="true"
                            [displayFilterIcon]="true"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CONTACT_DAILY_FOLLOW_UP_STATUS"
                    [value]="item.statusId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Targeted -->
        <ng-container matColumnDef="targeted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_TARGETED' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="targetedFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByBooleanField('targeted', $event.value)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            [clearable]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-form-slide-toggle
                    *ngIf="FollowUpModel.canModify(authUser) && !item.deleted && selectedOutbreak?.id === authUser.activeOutbreakId else elseTargetedLabel"
                    name="targeted"
                    [(ngModel)]="item.targeted"
                    [label]="item.targeted ? ('LNG_FOLLOW_UP_FIELD_LABEL_TARGETED' | translate) : ('LNG_FOLLOW_UP_FIELD_LABEL_NOT_TARGETED' | translate)"
                    [tooltip]="item.targeted ? ('LNG_FOLLOW_UP_FIELD_LABEL_TARGETED_DESCRIPTION' | translate ): ('LNG_FOLLOW_UP_FIELD_LABEL_NOT_TARGETED_DESCRIPTION' | translate)"
                    (optionChanged)="setTargetedItem(item, $event)">
                </app-form-slide-toggle>
                <ng-template
                    #elseTargetedLabel>
                    <app-yes-no-label
                        [value]="item.targeted">
                    </app-yes-no-label>
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Deleted -->
        <ng-container matColumnDef="deleted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_DELETED' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="deletedFilter"
                            [ngModel]="false"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByDeletedField($event.value)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            [clearable]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item" [class.record-alert]="item.alerted">
                <app-yes-no-label [value]="item.deleted"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Created By -->
        <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_FOLLOW_UP_FIELD_LABEL_CREATED_BY' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="createdByFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="userList$ | async"
                            (optionChanged)="filterBySelectField('createdBy', $event, 'id')"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            optionLabelKey="name"
                            optionValueKey="id"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.createdByUser?.name }}
            </mat-cell>
        </ng-container>

        <!-- Created At -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{ 'LNG_FOLLOW_UP_FIELD_LABEL_CREATED_AT' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="createdAtFilter"
                            ngModel
                            (changed)="filterByDateRangeField('createdAt', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.createdAt | dateTimeDefault }}
            </mat-cell>
        </ng-container>

        <!-- Modified By -->
        <ng-container matColumnDef="updatedBy">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_FOLLOW_UP_FIELD_LABEL_UPDATED_BY' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="updatedByFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="userList$ | async"
                            (optionChanged)="filterBySelectField('updatedBy', $event, 'id')"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            optionLabelKey="name"
                            optionValueKey="id"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.updatedByUser?.name }}
            </mat-cell>
        </ng-container>

        <!-- Updated At -->
        <ng-container matColumnDef="updatedAt">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{ 'LNG_FOLLOW_UP_FIELD_LABEL_UPDATED_AT' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="updatedAtFilter"
                            ngModel
                            (changed)="filterByDateRangeField('updatedAt', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.updatedAt | dateTimeDefault }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleTableColumns"></mat-header-row>
        <mat-row
            *matRowDef="let item; columns: visibleTableColumns"
            app-hover-row-actions
            [hoverRowActionsComponent]="hoverRow"
            [hoverRowActions]="recordActions"
            [hoverRowActionData]="item"
        ></mat-row>
    </mat-table>

    <div
        *ngIf="refreshingList"
        class="mat-table-loading-data">
        <mat-spinner></mat-spinner>
    </div>

    <div
        *ngIf="!refreshingList && isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="(followUpsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>
</mat-card>
