app-daily-follow-ups-list {
    .record-alert {
        font-weight: bold;
    }

    .select-and-toggle-for-lists {
        max-height: 40px !important;

        .mat-form-field-infix {
            border-top: 0px !important;
        }

        .form-slide-toggle-container {
            height: 33.5px;
        }
    }
}
