<app-topnav [activeOutbreakEditable]="!caseId && !contactId">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button mat-raised-button color="accent" [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container *app-selected-outbreak-is-active>
                        <button
                            *ngIf="hasFollowUpsWriteAccess()"
                            mat-menu-item
                            (click)="generateFollowUps()">
                            {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GENERATE_BUTTON' | translate }}
                        </button>
                    </ng-container>

                    <app-export-button
                        *ngIf="printDailyFollowUpsUrl"
                        [menuItem]="true"
                        [label]="'LNG_PAGE_LIST_FOLLOW_UPS_PRINT_DAILY_BUTTON' | translate"
                        [message]="'LNG_PAGE_LIST_FOLLOW_UPS_PRINT_DAILY_TITLE' | translate"
                        [url]="printDailyFollowUpsUrl"
                        [fileName]="followUpsPrintDailyFileName"
                        [fileType]="printDailyFollowUpsFileType"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>

                    <button
                        mat-menu-item
                        (click)="downloadDailyFollowUpsForm()">
                        {{'LNG_PAGE_LIST_FOLLOW_UPS_PRINT_DAILY_FORM_BUTTON' | translate}}
                    </button>

                    <app-export-button
                        *ngIf="exportFollowUpsUrl"
                        [menuItem]="true"
                        [label]="'LNG_PAGE_LIST_FOLLOW_UPS_EXPORT_BUTTON' | translate"
                        [message]="'LNG_PAGE_LIST_FOLLOW_UPS_EXPORT_TITLE' | translate"
                        [url]="exportFollowUpsUrl"
                        [fileName]="followUpsDataExportFileName"
                        [allowedExportTypes]="allowedExportTypes"
                        [displayEncrypt]="true"
                        [displayAnonymize]="true"
                        [anonymizeFields]="anonymizeFields"
                        [queryBuilder]="queryBuilder"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<!-- Side columns -->
<app-side-columns
    [tableColumnsUserSettingsKey]="UserSettings.CONTACT_DAILY_FOLLOW_UP_FIELDS"
    [tableColumns]="tableColumns"
    (visibleColumnsChanged)="applySideColumnsChanged($event)">
</app-side-columns>

<!-- Side filters -->
<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersApplied)="applySideFilters($event)">
</app-side-filters>

<!--Total number of records from the list-->
<app-total-number-of-records
    [value]="(followUpsListCount$ | async)?.count">
</app-total-number-of-records>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button type="button" mat-raised-button (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button type="button" mat-raised-button (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <span>{{'LNG_PAGE_LIST_FOLLOW_UPS_LABEL_SHOW_FOLLOW_UPS_FOR_DATE' | translate}}</span>
        <div fxLayout="column">
            <app-form-datepicker
                #followUpDate
                name="dateFilter"
                [ngModel]="dateFilterDefaultValue"
                [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                (optionChanged)="filterByDateField('date', $event)"
                app-reset-input-on-side-filter
                [resetToPristineValue]="false">
            </app-form-datepicker>
        </div>
    </div>

    <mat-table #table [dataSource]="followUpsList$ | async" matSort (matSortChange)="sortBy($event)">
        <!-- Checkbox -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="60px">
                <div class="table-header-cell">
                    <div>
                        <button
                            type="button"
                            class="bulk-actions-button"
                            mat-icon-button
                            [disableRipple]="true"
                            [matMenuTriggerFor]="actionsMenuMultipleRecords"
                            color="accent"
                            [matTooltip]="'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_TOOLTIP' | translate"
                            [disabled]="isEmptyList"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #actionsMenuMultipleRecords="matMenu">
                            <button
                                *ngIf="!checkedAllRecords"
                                mat-menu-item
                                (click)="checkAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_CHECK_ALL' | translate }}
                            </button>
                            <button
                                *ngIf="checkedRecords.length > 0"
                                mat-menu-item
                                (click)="uncheckAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_UNCHECK_ALL' | translate }}
                            </button>

                            <mat-divider></mat-divider>

                            <button
                                *ngIf="hasFollowUpsWriteAccess()"
                                mat-menu-item
                                (click)="modifySelectedFollowUps(table)">
                                {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_MODIFY_SELECTED_FOLLOW_UPS' | translate }}
                            </button>

                            <button
                                *ngIf="exportFollowUpsUrl"
                                mat-menu-item
                                (click)="exportSelectedFollowUps()">
                                {{ 'LNG_PAGE_LIST_FOLLOW_UPS_GROUP_ACTION_EXPORT_SELECTED_FOLLOW_UPS' | translate }}
                            </button>
                        </mat-menu>
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item;" fxFlex="60px">
                <app-form-checkbox
                    #listCheckedIndividual
                    [name]="'listCheckedIndividual[' + item.id + ']'"
                    class="table-checkbox"
                    ngModel
                    (optionChanged)="checkedRecord(item.id, $event)"
                    (afterInitialize)="checkedRecord(item.id, false)">
                </app-form-checkbox>
            </mat-cell>
        </ng-container>

        <!-- Contact Last Name -->
        <ng-container matColumnDef="contact.lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_LAST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstContactFirstName"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByRelation('contact').byText('lastName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.contact?.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Contact First Name -->
        <ng-container matColumnDef="contact.firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_FIRST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="firstContactFirstName"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByRelation('contact').byText('firstName', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.contact?.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Date of Last Contact -->
        <ng-container matColumnDef="contact.dateOfLastContact">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_CONTACT_FIELD_LABEL_DATE_OF_LAST_CONTACT' | translate }}</div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByRelation('contact').byDateRange('dateOfLastContact', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.contact?.dateOfLastContact | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Area -->
        <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_AREA' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address?.location?.name }}
            </mat-cell>
        </ng-container>

        <!-- Full Address -->
        <ng-container matColumnDef="fullAddress">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_ADDRESS' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address?.fullAddress }}
            </mat-cell>
        </ng-container>

        <!-- Team -->
        <ng-container matColumnDef="team">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_TEAM' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="teamIdFilter"
                            [ngModel]="teamIdFilterValue"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="teamsListLoadedForHeaderSearch"
                            (optionChanged)="filterByTeam($event)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayInvisibleItems]="true"
                            [displayFilterIcon]="true"
                            [multiple]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-form-select
                    name="teamId"
                    [ngModel]="item.teamId"
                    [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_TEAM' | translate"
                    [options]="teamsListLoaded"
                    optionLabelKey="name"
                    optionValueKey="id"
                    (optionChanged)="changeFollowUpTeam(item, $event)">
                </app-form-select>
            </mat-cell>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="statusId">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_STATUS_ID' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="statusIdFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="dailyStatusTypeOptions$ | async"
                            (optionChanged)="filterBySelectField('statusId', $event)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayInvisibleItems]="true"
                            [displayFilterIcon]="true"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-reference-data-label
                    [category]="ReferenceDataCategory.CONTACT_DAILY_FOLLOW_UP_STATUS"
                    [value]="item.statusId">
                </app-reference-data-label>
            </mat-cell>
        </ng-container>

        <!-- Deleted -->
        <ng-container matColumnDef="deleted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_FOLLOW_UP_FIELD_LABEL_DELETED' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="deletedFilter"
                            [ngModel]="false"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByDeletedField($event.value)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            [clearable]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.deleted"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">
                        <button mat-menu-item [routerLink]="['/contacts', item.personId, 'follow-ups', item.id, 'view' ]">
                            {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                        </button>

                        <ng-container *app-selected-outbreak-is-active>
                            <ng-container
                                *ngIf="hasFollowUpsWriteAccess()">
                                <ng-container
                                    *ngIf="!item.deleted">
                                    <ng-container
                                        *ngIf="item.personId && !dateInTheFuture(item.date)">
                                        <button
                                            mat-menu-item
                                            [routerLink]="['/contacts', item.personId, 'follow-ups', item.id, 'modify']">
                                            {{ 'LNG_PAGE_ACTION_MODIFY' | translate }}
                                        </button>

                                        <button
                                            mat-menu-item
                                            (click)="modifyQuestionnaire(item)">
                                            {{ 'LNG_PAGE_LIST_FOLLOW_UPS_ACTION_MODIFY_QUESTIONNAIRE' | translate }}
                                        </button>
                                    </ng-container>

                                    <button
                                        mat-menu-item
                                        class="mat-menu-item-delete"
                                        (click)="deleteFollowUp(item)">
                                        {{ 'LNG_PAGE_ACTION_DELETE' | translate }}
                                    </button>
                                </ng-container>

                                <button
                                    *ngIf="item.deleted"
                                    mat-menu-item
                                    class="mat-menu-item-restore"
                                    (click)="restoreFollowUp(item)">
                                    {{ 'LNG_PAGE_ACTION_RESTORE' | translate }}
                                </button>
                            </ng-container>
                        </ng-container>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleTableColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: visibleTableColumns"></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="(followUpsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>
</mat-card>
