@import 'font';

/* List table actions */
.gd-list-table-actions {
  .gd-list-table-actions-action {
    button.mat-icon-button,
    a.mat-icon-button {
      font-size: 1.6rem;
      height: 2.4rem;
      min-width: 2.4rem;
      padding: 0.4rem;
      width: 2.4rem;

      .mat-icon {
        font-size: 1.6rem;
      }

      &.gd-list-table-actions-action-icon-active {
        background: var(--gd-primary),;
        color: var(--gd-background);

        mat-progress-spinner {
          circle {
            stroke: var(--gd-background);
          }
        }
      }
    }
  }
}
