<!-- Actions -->
<div
  class="gd-list-table-actions">

  <!-- Render each action -->
  <span
    class="gd-list-table-actions-action"
    *ngFor="let action of actions">

    <!-- Visible ? -->
    <ng-container
      *ngIf="!action.visible || action.visible(data)">

      <!-- Icon Type -->
      <a
        *ngIf="action.type === V2RowActionType.ICON; else notIcon"
        class="gd-list-table-actions-action-icon"
        [routerLink]="action.link && (!action.disable || !action.disable(data)) ? action.link(data) : undefined"
        [queryParams]="action.linkQueryParams ? action.linkQueryParams(data) : undefined">
        <button
          type="button"
          mat-icon-button
          [matTooltip]="action.iconTooltip | translate"
          [disabled]="action.disable && action.disable(data)"
          (click)="action.click ? action.click(data) : undefined">
          <mat-icon>{{action.icon}}</mat-icon>
        </button>
      </a>

      <!-- Not icon - Menu -->
      <ng-template
        #notIcon>

        <!-- Menu -->
        <button
          type="button"
          mat-icon-button
          [matTooltip]="action.iconTooltip | translate"
          [disabled]="action.disable && action.disable(data)"
          [matMenuTriggerFor]="menu">
          <mat-icon>{{action.icon}}</mat-icon>
        </button>

        <!-- Floating menu -->
        <mat-menu
          #menu="matMenu"
          class="gd-list-table-actions-action-menu">
          <ng-container
            *ngFor="let menuOption of action.menuOptions">
            <ng-container
              *ngIf="!menuOption.visible || menuOption.visible(data)">

              <!-- Child Menu link -->
              <a
                *ngIf="menuOption.label; else divider"
                mat-menu-item
                class="gd-list-table-actions-action-menu-button {{menuOption.cssClasses}}"
                [routerLink]="menuOption.link && (!menuOption.disable || !menuOption.disable(data)) ? menuOption.link(data) : undefined"
                [queryParams]="action.linkQueryParams ? action.linkQueryParams(data) : undefined">
                <button
                  type="button"
                  mat-icon-button
                  [disabled]="menuOption.disable && menuOption.disable(data)"
                  (click)="menuOption.click ? menuOption.click(data) : undefined">
                  {{menuOption.label | translate}}
                </button>
              </a>

              <!-- Divider -->
              <ng-template
                #divider>
                <mat-divider></mat-divider>
              </ng-template>

            </ng-container>
          </ng-container>
        </mat-menu>

      </ng-template>

    </ng-container>

  </span>

</div>
