<div class="form-datepicker-container form-element {{ (tooltip !== null ? 'form-datepicker-tooltip' : '' ) }}"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <mat-form-field>
        <input
            matInput
            [(ngModel)]="value"
            [attr.name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [matDatepicker]="pickerStartDate"
            [disabled]="disabled"
            (blur)="onBlur()"
            (input)="onChange()"
            (focus)="pickerStartDate.open()"
            [max]="maxDate"
            [min]="minDate"/>

        <span [fxShow]="tooltip !== null" [matTooltip]="tooltip | translate" class="xt-icon form-icon">help</span>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate (selectedChanged)="onChange()"></mat-datepicker>
    </mat-form-field>

    <app-form-validation
        *ngIf="invalid"
        [controlContainer]="controlContainer"
        [controlName]="name"
        [messages]="failures">
    </app-form-validation>
</div>
