<div
    class="dialog-main">
    <div
        class="dialog-main-msg" [innerHTML]="confirmData?.message | translate:confirmData?.translateData">
    </div>

    <!-- section for showDataDialog: display a list of label: value objects -->
    <div *ngIf="confirmData?.data">
        <mat-card>
            <mat-list>
                <mat-list-item *ngFor="let dataItem of confirmData?.data">
                    <!-- if the label is not LINK display the label and the value-->
                    <div *ngIf="dataItem.label !== 'LINK'">
                        <span class="dialog-data-label">
                            {{ dataItem.label | translate }}:
                        </span>
                        {{dataItem.value | translate}}
                    </div>

                    <!-- custom case for displaying link so the user can navigate to the full resource page -->
                    <div *ngIf="dataItem.label === 'LINK'">
                        <a href="{{dataItem.value}}"
                           target="_blank">
                            {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_ACTION_VIEW_FULL_RESOURCE' | translate}}
                        </a>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
aaaa
    <div *ngIf="confirmData?.customInput">
        <ng-container *ngIf="confirmData?.customInputOptions">
            <app-form-select
                name="labName"
                [(ngModel)]="dialogAnswerInputValue.value"
                [placeholder]="confirmData.placeholder | translate:confirmData?.translateData"
                [options]="confirmData.customInputOptions"
                optionLabelKey="label"
                optionValueKey="value"
                [multiple]="confirmData.customInputOptionsMultiple">
            </app-form-select>
        </ng-container>
        <ng-container *ngIf="!confirmData?.customInputOptions">
            <app-form-input
                [(ngModel)]="dialogAnswerInputValue.value"
                [placeholder]="confirmData.placeholder | translate:confirmData?.translateData"
                [required]="confirmData.required"
                type="number">
            </app-form-input>
        </ng-container>
    </div>

    <div *ngIf="!confirmData?.data"
         fxFlex fxLayout="row" fxLayoutAlign="end">
        <button class="dialog-button" mat-button (click)="cancel()">
            {{ confirmData?.cancelLabel | translate:confirmData?.translateData }}
        </button>
        <button class="dialog-button" mat-button
                [disabled]="confirmData?.customInput && confirmData.required && !dialogAnswerInputValue.value"
                (click)="yes()">
            {{ confirmData?.yesLabel | translate:confirmData?.translateData }}
        </button>
    </div>

    <!-- only display cancel button for data dialogs -->
    <div *ngIf="confirmData?.data"
         fxFlex fxLayout="row" fxLayoutAlign="end">
        <button class="dialog-button" mat-button
                (click)="cancel()">
            {{ confirmData?.cancelLabel | translate }}
        </button>

    </div>

</div>
