.mat-dialog-container {
    padding: 24px 9px 9px 24px;
}

.dialog-main {
    font-family: "Roboto","Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    .dialog-main-msg {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        line-height: 1.2;
    }
    .ng-star-inserted {
        margin-top: 40px;
    }
    .dialog-button {
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }
    .ng-star-inserted .mat-button, .ng-star-inserted .mat-flat-button, .ng-star-inserted .mat-icon-button, .ng-star-inserted .mat-stroked-button {
        line-height: normal;
        padding: 9px 16px;
    }
    .dialog-data-label {
        font-weight: 400;
        margin-right: 10px;
        color: #8e8e8e;
    }
}
