.dialog-main {
    .dialog-main-msg {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .dialog-button {
        font-weight: 600;
        text-transform: uppercase;
    }

    .dialog-data-label {
        font-weight: bold;
        margin-right: 10px;
    }
}
