<app-create-view-modify-v2
  [action]="action"
  allowEdit="true"
  [loadingPage]="loadingPage"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [breadcrumbInfos]="breadcrumbInfos"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [itemID]="itemData?.id"
  [tabData]="tabData"
  listTitle="LNG_PAGE_LIST_SYSTEM_CLIENT_APPLICATIONS_TITLE"
  [expandListRecords$]="expandListRecords$"
  [expandListColumnRenderer]="expandListColumnRenderer"
  [expandListAdvancedFilterType]="undefined"
  [expandListAdvancedFilters]="expandListAdvancedFilters"
  [expandListQueryFields]="expandListQueryFields"
  expandListAdvancedFiltersCacheKey="/system-config/client-applications"
  (expandListRefreshData)="refreshExpandList($event)"
  (expandListChangeRecord)="expandListChangeRecord($event)">
</app-create-view-modify-v2>
