<form
  class="gd-form-tree-editor-v2">

  <!-- Filter -->
  <app-form-input-v2
    ngModel
    name="filterValue"
    placeholder="LNG_COMMON_LABEL_SEARCH"
    (ngModelChange)="filter($event)"></app-form-input-v2>

  <!-- Records -->
  <div
    class="gd-form-tree-editor-v2-list">
    <cdk-virtual-scroll-viewport
      #cdkViewport
      [minBufferPx]="1024"
      [maxBufferPx]="1024"
      [itemSize]="26">
      <!-- Item -->
      <div
        *cdkVirtualFor="let item of flattenedCategories; templateCacheSize: 0"
        class="gd-form-tree-editor-v2-list-item"
        [class.gd-form-tree-editor-v2-list-item-child]="item.type !== FlattenType.CATEGORY"
        [ngSwitch]="item.type">

        <!-- Category -->
        <div
          *ngSwitchCase="FlattenType.CATEGORY"
          class="gd-form-tree-editor-v2-list-category"
          fxLayout="row" fxLayoutAlign="none center">

          <!-- Collapse / Expand -->
          <mat-icon
            *ngIf="viewOnly && item.data.children.checked > 0 || !viewOnly && item.data.children.options.length > 0"
            (click)="expandCollapse(item)">{{item.data.collapsed ? 'expand_more' : 'expand_less'}}</mat-icon>

          <!-- Label -->
          <div
            class="gd-form-tree-editor-v2-list-category-content"
            fxFlex
            [innerHTML]="item.text | highlight:searchValue"></div>

          <!-- Total checked -->
          <div
            class="gd-form-tree-editor-v2-list-category-checked-no"
            fxGrow="0">
            {{item.data.checked}}/{{item.data.children.options.length}}
          </div>

          <!-- Buttons -->
          <div
            *ngIf="!viewOnly"
            class="gd-form-tree-editor-v2-list-category-buttons"
            fxGrow="0">

            <!-- Add item -->
            <button
              type="button"
              mat-icon-button
              [matTooltip]="'LNG_COMMON_BUTTON_ADD' | translate"
              (click)="add(item)">
              <mat-icon>playlist_add</mat-icon>
            </button>

          </div>

        </div>

        <!-- Category item -->
        <div
          *ngSwitchCase="FlattenType.CATEGORY_ITEM"
          class="gd-form-tree-editor-v2-list-category-item"
          fxLayout="row" fxLayoutAlign="none center">

          <!-- Color -->
          <div
            class="gd-form-tree-editor-v2-list-category-item-color"
            [style.backgroundColor]="item.data.colorCode"></div>

          <!-- Checkbox + label -->
          <app-form-checkbox-v2
            [(ngModel)]="item.parent.data.children.selected[item.data.id]"
            [name]="item.data.id"
            [placeholder]="item.data.label"
            [disabled]="item.data.disabled"
            [highlightPlaceholder]="searchValue"
            (ngModelChange)="selectedChanged(item)"></app-form-checkbox-v2>

        </div>

        <!-- Info -->
        <div
          *ngSwitchCase="FlattenType.INFO"
          class="gd-form-tree-editor-v2-list-category-info"
          fxLayout="row" fxLayoutAlign="none center"
          [innerHTML]="item.text | highlight:searchValue"></div>

      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <!-- Legend -->
  <div
    class="gd-form-tree-editor-v2-legend"
    fxLayout="row" fxLayoutAlign="start center">

    <!-- Header -->
    <div
      class="gd-form-tree-editor-v2-legend-title">
      {{'LNG_COMMON_LABEL_LEGEND' | translate}}
    </div>

    <!-- Items -->
    <div
      class="gd-form-tree-editor-v2-legend-items"
      fxLayout="row wrap" fxLayoutAlign="start center">
      <!-- bla bla -->
      <div
        class="gd-form-tree-editor-v2-legend-items-item">
        <mat-icon>playlist_add</mat-icon>
        <span>{{'LNG_COMMON_BUTTON_ADD' | translate}}</span>
      </div>

    </div>

  </div>

</form>
