<app-list-table-v2
  pageTitle="LNG_PAGE_LIST_TRANSMISSION_CHAINS_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.COT_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount()"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!-- <mat-card class="page-section page-content">
    <mat-table #table [dataSource]="transmissionChains">

        <!~~ Root Case ~~>
        <ng-container matColumnDef="rootCase">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_ROOT_CASE' | translate}}
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <ng-container
                    *ngIf="item.rootPerson">
                    <a
                        *ngIf="TransmissionChainModel.canViewAnyGraph(authUser) else noPersonLinkToGraph"
                        [routerLink]="['/transmission-chains']"
                        [queryParams]="{ personId: item.rootPerson.id, selectedEntityType: item.rootPerson.type }">
                        {{ item.rootPerson.name }}
                    </a>
                    <ng-template
                        #noPersonLinkToGraph>
                        {{ item.rootPerson.name }}
                    </ng-template>
                </ng-container>
            </mat-cell>
        </ng-container>

    </mat-table>
</mat-card>
 -->
