<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="transmissionChains$ | async">

        <!-- First Contact Date -->
        <ng-container matColumnDef="firstContactDate">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_FIRST_CONTACT_DATE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.firstRelationship?.contactDate | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Root Case -->
        <ng-container matColumnDef="rootCase">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_ROOT_CASE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <a *ngIf="item.firstCase" [routerLink]="['/cases', item.firstCase.id, 'modify']">
                    {{ item.firstCase.name }}
                </a>
            </mat-cell>
        </ng-container>

        <!-- Number of Cases -->
        <ng-container matColumnDef="noCases">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_NO_CASES' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.noCases }}
            </mat-cell>
        </ng-container>

        <!-- Number of Alive Cases -->
        <ng-container matColumnDef="noAliveCases">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_NO_CASES_ALIVE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.noAliveCases }}
            </mat-cell>
        </ng-container>

        <!-- Active -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_ACTIVE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.active"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
