<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">

                <button mat-raised-button color="accent"
                        [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container>

                        <button
                            mat-menu-item
                            [routerLink]="['/transmission-chains']">
                            {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_GRAPH_BUTTON' | translate}}
                        </button>

                        <ng-container
                            *ngIf="hasCaseReadAccess()">
                            <button
                                mat-menu-item
                                [routerLink]="['/transmission-chains', 'map']">
                                {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_GEO_MAP_BUTTON' | translate}}
                            </button>

                            <button
                                mat-menu-item
                                [routerLink]="['/transmission-chains', 'case-count-map']">
                                {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_ACTION_CASE_COUNT_MAP_BUTTON' | translate}}
                            </button>
                        </ng-container>

                    </ng-container>
                </mat-menu>

            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button type="button" mat-raised-button (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="transmissionChains$ | async">

        <!-- First Contact Date -->
        <ng-container matColumnDef="firstContactDate">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_EARLIEST_DATE_OF_ONSET' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.earliestDateOfOnset | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Root Case -->
        <ng-container matColumnDef="rootCase">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_ROOT_CASE' | translate}}</div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <a *ngIf="item.firstCase" [routerLink]="['/transmission-chains']" [queryParams]="{ personId: item.firstCase.id, selectedEntityType: EntityType.CASE }">
                    {{ item.firstCase.name }}
                </a>
            </mat-cell>
        </ng-container>

        <!-- Number of Cases -->
        <ng-container matColumnDef="noCases">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_NO_CASES' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.size }}
            </mat-cell>
        </ng-container>

        <!-- Number of Alive Cases -->
        <ng-container matColumnDef="noAliveCases">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_NO_CASES_ALIVE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.noAliveCases }}
            </mat-cell>
        </ng-container>

        <!-- Duration -->
        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_DURATION' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.duration }} {{'LNG_PAGE_LIST_TRANSMISSION_CHAINS_LABEL_DURATION_DAYS' | translate}}
            </mat-cell>
        </ng-container>

        <!-- Active -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{'LNG_TRANSMISSION_CHAIN_FIELD_LABEL_ACTIVE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.active"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

</mat-card>

