@import '~styles/common';

app-number-of-active-chains-of-transmission-dashlet {
    .dashboard-box-header {
        background-color: @color-contact-dashlet-chains-of-transmission-header;
        cursor: pointer;
    }
    .dashboard-box-content {
        background-color: @color-contact-dashlet-chains-of-transmission-content;
    }
}
