<app-dashboard-custom-metric-dashlet
    [link]="TransmissionChainModel.canList(authUser) ? '/transmission-chains/list' : ''"
    [params]="getDashletParamsIncludingGlobalFilters({applyListFilter: Constants.APPLY_LIST_FILTER.NO_OF_ACTIVE_TRANSMISSION_CHAINS})"
    [value]="numberOfActiveChains"
    (hide)="onHide()"
    (moveBefore)="onMoveBefore()"
    (moveAfter)="onMoveAfter()"
    [displayLoading]="displayLoading">
    {{ 'LNG_PAGE_DASHBOARD_KPI_ACTIVE_CHAINS' | translate}}
</app-dashboard-custom-metric-dashlet>
