<div class="chain-settings">
    <div
        fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <!-- settings toggle -->
        <button
            mat-raised-button
            (click)="toggleSettings()">
            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CONFIGURE_SETTINGS' | translate }}
        </button>

        <!-- Date - moment in time -->
        <div
            fxFlex="150px">
            <app-form-datepicker
                class="global-date-filter"
                [(ngModel)]="dateGlobalFilter"
                [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTER_DATE' | translate"
                [tooltip]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTER_DESCRIPTION' | translate"
                (optionChanged)="onChangeGlobalDate()">
            </app-form-datepicker>
        </div>
    </div>

    <!-- settings panel -->
    <div
        *ngIf="showSettings"
        fxFlex fxLayout="column"
        class="settings-container">

        <div
            fxFlex fxLayout="row" fxLayoutGap="10px">
            <!-- entity type filter - events -->
            <app-form-checkbox
                fxFlex="150px"
                name="showEvents"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_EVENTS_LABEL' | translate"
                [(ngModel)]="filters.showEvents">
            </app-form-checkbox>

            <!-- entity type filter - contacts -->
            <app-form-checkbox
                fxFlex="150px"
                name="showContacts"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_CONTACTS_LABEL' | translate"
                [(ngModel)]="filters.showContacts">
            </app-form-checkbox>
        </div>

        <div
            fxFlex fxLayout="row wrap" fxLayoutGap="20px">
            <!-- Filters -->
            <app-transmission-chain-filters
                title="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTERS_TITLE"
                [filters]="filters">
            </app-transmission-chain-filters>

            <!-- Right Side => Node Settings & Edge Settings -->
            <div
                *ngIf="selectedViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value"
                fxFlex fxLayout="column" fxLayoutGap="20px">
                <!-- Node Settings -->
                <mat-card
                    fxFlex fxLayout="column" fxLayoutGap="10px">
                    <div
                        fxFlex
                        class="settings-container-title">
                        {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SETTINGS_TITLE' | translate }}
                    </div>

                    <!-- Node Label -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_LABEL_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="nodeLabelCriteria"
                            [(ngModel)]="colorCriteria.nodeLabelCriteria"
                            [options]="nodeLabelCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                    <!-- Node Label Color -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="nodeNameColorCriteria"
                            [(ngModel)]="colorCriteria.nodeNameColorCriteria"
                            [options]="nodeColorCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                    <!-- Node Color -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="nodeColorCriteria"
                            [(ngModel)]="colorCriteria.nodeColorCriteria"
                            [options]="nodeColorCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                    <!-- Node Icon -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="nodeIconCriteria"
                            [(ngModel)]="colorCriteria.nodeIconCriteria"
                            [options]="nodeIconCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                    <!-- Node Shape -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SHAPE_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="nodeShapeCriteria"
                            [(ngModel)]="colorCriteria.nodeShapeCriteria"
                            [options]="nodeShapeCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                </mat-card>

                <!-- Edge Settings -->
                <mat-card
                    fxFlex fxLayout="column" fxLayoutGap="10px">
                    <div
                        fxFlex
                        class="settings-container-title">
                        {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_SETTINGS_TITLE' | translate }}
                    </div>

                    <!-- Edge Label -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_LABEL_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="edgeLabelCriteria"
                            [(ngModel)]="colorCriteria.edgeLabelCriteria"
                            [options]="edgeLabelCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>

                    <!-- Edge Color -->
                    <div
                        fxFlex fxLayout="column">
                        <div
                            fxFlex>
                            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate }}
                        </div>

                        <app-form-radio
                            name="edgeColorCriteria"
                            [(ngModel)]="colorCriteria.edgeColorCriteria"
                            [options]="edgeColorCriteriaOptions$ | async">
                        </app-form-radio>
                    </div>
                </mat-card>
            </div>
        </div>

        <div
            fxFlex fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px">
            <!-- Reset filters -->
            <button
                fxFlex="150px"
                mat-raised-button
                (click)="resetFilters()">
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_RESET_SETTINGS' | translate }}
            </button>

            <!-- Apply filters -->
            <button
                fxFlex="150px"
                mat-raised-button
                color="accent"
                (click)="refreshChain()">
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_APPLY_SETTINGS' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- cytoscape element -->
<app-cytoscape-graph
    [elements]="graphElements"
    [chainElements]="chainElements"
    [transmissionChainViewType]="selectedViewType"
    [legend]="legend"
    (nodeTapped)="onNodeTap($event)"
    (edgeTapped)="onEdgeTap($event)"
    (viewTypeChanged)="viewTypeChanged($event)"
    (changeEditMode)="onEditModeChange($event)"
></app-cytoscape-graph>
<div *ngIf="sizeOfChainsFilter">
    <div>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_SIZE' | translate}} {{sizeOfChainsFilter}}
    </div>
    <button mat-raised-button (click)="resetChain()">
        {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_RESET_CHAINS' | translate }}
    </button>
</div>
<div *ngIf="personId">
    <div>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_PERSON' | translate}} {{personName}}
    </div>
    <button mat-raised-button (click)="resetChain()">
        {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_RESET_CHAINS' | translate }}
    </button>
</div>
