<!-- Top -->
<div
  class="gd-basic-top">

  <!-- Breadcrumbs -->
  <app-breadcrumb-v2
    *ngIf="breadcrumbs"
    [breadcrumbs]="breadcrumbs"
    (detectChanges)="resizeTable()"></app-breadcrumb-v2>

  <!-- Title & buttons -->
  <div
    fxLayout="row" fxLayout.lt-md="column"
    class="gd-basic-top-title-buttons">

    <!-- Title -->
    <div
      fxFlex
      class="gd-basic-top-title-buttons-title">
      {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TITLE' | translate}}
    </div>

    <!-- Buttons -->
    <div
      fxFlex fxLayoutAlign="end" fxLayoutGap="0.8rem"
      class="gd-basic-top-title-buttons-buttons">

      <!-- Snapshots -->
      <app-form-select-single-v2
        *ngIf="showSnapshots"
        name="snapshotsList"
        [(ngModel)]="selectedSnapshot"
        [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_SNAPSHOTS' | translate"
        [options]="snapshotOptions"
        sortDisabled="true"
        optionsPopupScrollToTop="true"
        (ngModelChange)="mustLoadChain = true; showEvents = true; showContacts = false; showContactsOfContacts = false; showSnapshotFilters = false; snapshotFilters = {}; advancedFiltersApplied = undefined; chainGroupId = undefined;">
      </app-form-select-single-v2>

      <!-- Create / Load snapshot -->
      <button
        *ngIf="showSnapshots"
        type="button"
        mat-flat-button
        color="primary"
        [disabled]="selectedSnapshot !== selectedSnapshotCreateKey && !(mustLoadChain && selectedSnapshot && transmissionChainViewType && pageSize > 0 && snapshotOptionsMap[selectedSnapshot] && !snapshotOptionsMap[selectedSnapshot].option.disabled)"
        (click)="selectedSnapshot === selectedSnapshotCreateKey ? createNewSnapshot() : loadChainsOfTransmission(undefined, 0)">
        {{(selectedSnapshot === selectedSnapshotCreateKey ? 'LNG_COMMON_BUTTON_CREATE' : 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_LOAD') | translate}}
      </button>

      <!-- Refresh chain -->
      <button
        *ngIf="showSnapshots"
        type="button"
        mat-flat-button
        color="primary"
        [disabled]="selectedSnapshot === selectedSnapshotCreateKey || !selectedSnapshot || !snapshotOptionsMap[selectedSnapshot] || snapshotOptionsMap[selectedSnapshot].option.disabled"
        (click)="createNewSnapshot(selectedSnapshot)">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_REFRESH' | translate}}
      </button>

      <!-- Filter -->
      <button
        type="button"
        mat-flat-button
        color="secondary"
        [disabled]="!selectedSnapshot || selectedSnapshot === selectedSnapshotCreateKey"
        (click)="showAdvancedFilters()">
        <mat-icon>filter_alt</mat-icon>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_FILTER' | translate}}
      </button>

      <!-- Export -->
      <button
        *ngIf="TransmissionChainModel.canExportGraphs(authUser)"
        type="button"
        mat-flat-button
        color="secondary"
        [disabled]="!selectedSnapshot || selectedSnapshot === selectedSnapshotCreateKey"
        (click)="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value ? exportGeospatialMap() : exportChainsOfTransmission()">
        <mat-icon>auto_awesome_motion</mat-icon>
        {{'LNG_COMMON_LABEL_EXPORT' | translate}}
      </button>

      <!-- Snapshot list -->
      <button
        *ngIf="TransmissionChainModel.canList(authUser)"
        type="button"
        mat-flat-button
        color="secondary"
        [routerLink]="['/transmission-chains', 'snapshots']">
        <mat-icon>auto_awesome_motion</mat-icon>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_SNAPSHOTS' | translate}}
      </button>

    </div>
  </div>

</div>

<!-- Content -->
<mat-card
  class="gd-basic-content"
  [class.gd-geospatial-map]="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value">

  <!-- Configure snapshot -->
  <div
    *ngIf="chainGroup &&
      !mustLoadChain &&
      selectedChainPageIndex !== null"
    class="gd-cot-options {{ fullScreen ? 'gd-cot-options-fullscreen' : '' }}"
    fxLayout="column">

    <!-- Title & Collapse / Expand -->
    <div
      class="gd-cot-options-title-bar"
      fxLayout="row" fxLayoutAlign="start center">
      <!-- Title -->
      <div
        class="gd-cot-options-title-bar-title"
        fxFlex>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_CHAIN_OPTIONS' | translate}}
      </div>

      <!-- Collapse / Expand -->
      <button
        fxGrow="0"
        class="gd-cot-options-title-bar-button"
        [class.gd-cot-options-expanded]="!chainOptionsCollapsed"
        type="button"
        mat-icon-button
        (click)="chainOptionsCollapsed = !chainOptionsCollapsed">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

    <!-- Content -->
    <div
      *ngIf="!chainOptionsCollapsed"
      class="gd-cot-options-content">
      <!-- dropdown with view types -->
      <app-form-select-single-v2
        name="chainView"
        [(ngModel)]="transmissionChainViewType"
        [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_CHART' | translate"
        [options]="transmissionChainViewTypes"
        [clearable]="false"
        (ngModelChange)="mustLoadChain = true; loadChainsOfTransmission(undefined, 0)">
      </app-form-select-single-v2>

      <!-- Page size -->
      <div
        fxLayout="row" fxLayoutGap="0.8rem" fxFlexAlign="center">
        <!-- Change page size -->
        <app-form-number-v2
          fxFlex
          [disabled]="!showSnapshots"
          name="pageSize"
          [(ngModel)]="pageSize"
          [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_PAGE_SIZE' | translate">
        </app-form-number-v2>

        <!-- Refresh -->
        <button
          fxGrow="0"
          type="button"
          mat-icon-button
          (click)="mustLoadChain = true; loadChainsOfTransmission(undefined, 0)">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <!-- Fast / Slow render -->
      <app-form-toggle-v2
        *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.BUBBLE_NETWORK.value"
        name="chainColaRenderMethod"
        [(ngModel)]="renderMethod"
        [options]="renderMethodOptions"
        (ngModelChange)="mustLoadChain = true; loadChainsOfTransmission(undefined, 0)">
      </app-form-toggle-v2>

      <!-- Pages -->
      <app-form-select-single-v2
        *ngIf="showSnapshots && !mustLoadChain && chainGroupId && chainGroupId === selectedSnapshot && chainPages && chainPages.length > 0"
        name="chainPagesList"
        [(ngModel)]="selectedChainPageIndex"
        [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_PAGE' | translate"
        [options]="chainPagesOptions"
        (ngModelChange)="changedPage()">
      </app-form-select-single-v2>

      <!-- Configure snapshot -->
      <button
        *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.BUBBLE_NETWORK.value"
        type="button"
        mat-flat-button
        [disabled]="!selectedSnapshot || chainGroupId !== selectedSnapshot"
        (click)="configureGraph()">
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CONFIGURE_GRAPH' | translate}}
      </button>

      <!-- Toggles -->
      <div
        *ngIf="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value || markers.length > 0"
        class="graph-actions {{ fullScreen ? 'graph-actions-full-screen' : '' }} {{ transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value ? 'graph-actions-geo-map' : '' }}"
        fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.8rem" fxLayoutAlign="space-between center">

        <!-- Toggle Edit mode -->
        <app-form-toggle-checkbox-v2
          *ngIf="isEditModeAvailable() && !fullScreen"
          name="toggleEditMode"
          [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_EDIT_MODE_LABEL' | translate"
          [(ngModel)]="editMode"
          (ngModelChange)="toggleEditMode()">
        </app-form-toggle-checkbox-v2>

        <!-- Display Labels -->
        <app-form-toggle-checkbox-v2
          *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value"
          name="displayLabels"
          [(ngModel)]="displayLabels"
          [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_DISPLAY_MARKER_LABELS_LABEL' | translate">
        </app-form-toggle-checkbox-v2>

        <!-- Toggle full screen -->
        <app-form-toggle-checkbox-v2
          *ngIf="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value"
          [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_FULL_SCREEN_LABEL' | translate"
          [ngModel]="fullScreen"
          (ngModelChange)="onFullScreenToggle($event)">
        </app-form-toggle-checkbox-v2>
      </div>
    </div>
  </div>

  <!-- legend -->
  <ng-container
    *ngIf="chainGroup && !mustLoadChain && selectedChainPageIndex !== null">
    <div
      *ngIf="legend && (transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value || markers.length > 0)"
      class="gd-cot-legend"
      [class.gd-cot-legend-fullscreen]="fullScreen"
      [class.gd-cot-legend-expanded]="!legendCollapsed">

      <!-- Title & Collapse / Expand -->
      <div
        class="gd-cot-legend-title-bar"
        fxLayout="row" fxLayoutAlign="start center">
        <!-- Title -->
        <div
          class="gd-cot-legend-title-bar-title"
          fxFlex>
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_LEGEND' | translate}}
        </div>

        <!-- Collapse / Expand -->
        <button
          fxGrow="0"
          class="gd-cot-legend-title-bar-button"
          [class.gd-cot-legend-title-bar-button-expanded]="!legendCollapsed"
          type="button"
          mat-icon-button
          (click)="legendCollapsed = !legendCollapsed">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>

      <!-- Legend content -->
      <div
        *ngIf="!legendCollapsed"
        class="gd-cot-legend-content">
        <!-- Filter Match -->
        <div
          class="legend-name"
          fxLayout="row" fxLayoutAlign="start center">

          <!-- Circle -->
          <div
            fxGrow="0"
            class="matches-filter"
            [style.borderColor]="Constants.DEFAULT_GRAPH_NODE_MATCH_FILTER_COLOR">
            <!-- Placeholder -->
          </div>

          <!-- details -->
          <div
            fxFlex>
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_MATCH_FILTER_TITLE' | translate}}
          </div>

          <!-- help -->
          <app-fancy-tooltip
            fxGrow="0"
            tooltip="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_MATCH_FILTER_TITLE_DESCRIPTION"></app-fancy-tooltip>
        </div>

        <!-- node color -->
        <div *ngIf="legend.nodeColorKeys && legend.nodeColorKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate}}
          <div class="legend-field-name">{{legend.nodeColorLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let nodeColorItem of legend.nodeColorKeys" class="legend-item">
          <div
            class="legend-color"
            [style.background-color]="legend.nodeColor[nodeColorItem]">
          </div>
          <div>
            {{nodeColorItem | translate}}
          </div>
        </div>

        <!-- node name color -->
        <div *ngIf="legend.nodeNameColorKeys && legend.nodeNameColorKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate}}
          <div class="legend-field-name">{{legend.nodeNameColorLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let nodeNameColorItem of legend.nodeNameColorKeys" class="legend-item">
          <div
            class="legend-color"
            [style.background-color]="legend.nodeNameColor[nodeNameColorItem]">
          </div>
          <div>
            {{nodeNameColorItem | translate}}
          </div>
          <div *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
                      || transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
                      || transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value">
            - {{legend.nodeNameColorAdditionalInfo[nodeNameColorItem] | translate}}
          </div>
        </div>

        <!-- edge color -->
        <div *ngIf="legend.edgeColorKeys && legend.edgeColorKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate}}
          <div class="legend-field-name">{{legend.edgeColorLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let edgeColorItem of legend.edgeColorKeys" class="legend-item">
          <div
            class="legend-color"
            [style.background-color]="legend.edgeColor[edgeColorItem]">
          </div>
          <div>
            {{legend.clustersList && legend.clustersList[edgeColorItem] ? legend.clustersList[edgeColorItem] : (edgeColorItem | translate)}}
          </div>
        </div>

        <!-- node icon -->
        <div *ngIf="legend.nodeIconKeys && legend.nodeIconKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate}}
          <div class="legend-field-name">{{legend.nodeIconLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let nodeIconItem of legend.nodeIconKeys" class="legend-item">
          <div
            class="legend-icon"
            [style.background-image]="'url(' + legend.nodeIcon[nodeIconItem] + ')'">
          </div>
          <div>
            {{nodeIconItem | translate}}
          </div>
        </div>

        <!-- node shape -->
        <div *ngIf="legend.nodeShapeKeys && legend.nodeShapeKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SHAPE_TITLE' | translate}}
          <div class="legend-field-name">{{legend.nodeShapeLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let nodeShapeItem of legend.nodeShapeKeys" class="legend-item">
          <span><mat-icon>{{legend.nodeShape[nodeShapeItem]}}</mat-icon></span>
          <div>
            {{nodeShapeItem | translate}}
          </div>
        </div>

        <!-- edge icon -->
        <div *ngIf="legend.edgeIconKeys && legend.edgeIconKeys.length"
            class="legend-name">
          {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_ICON_TITLE' | translate}}
          <div class="legend-field-name">{{legend.edgeIconLabel | translate}}:</div>
        </div>
        <div
          *ngFor="let edgeIconItem of legend.edgeIconKeys" class="legend-item">
          <span><mat-icon>{{legend.edgeIcon[edgeIconItem].icon}}</mat-icon></span>
          <div>
            {{legend.clustersList && legend.clustersList[edgeIconItem] ? legend.clustersList[edgeIconItem] : (edgeIconItem | translate)}}
          </div>
        </div>

        <!-- lab result sequence color -->
        <ng-container
          *ngIf="showLabResultsSeqData">
          <div *ngIf="legend.labSequenceColorKeys && legend.labSequenceColorKeys.length"
              class="legend-name">
            {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_LAB_SEQ_COLOR_TITLE' | translate}}
          </div>
          <div
            class="legend-item"
            fxLayout="row" fxLayoutAlign="start center">
            <div
              fxGrow="0"
              class="legend-color"
              [style.background-color]="Constants.DEFAULT_GRAPH_NODE_HAS_MORE_LAB_SEQ_COLOR">
            </div>
            <div
              fxFlex>
              {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_LAB_SEQ_HAS_MORE_COLOR_TITLE' | translate}}
            </div>

            <!-- help -->
            <app-fancy-tooltip
              fxGrow="0"
              tooltip="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_LAB_SEQ_HAS_MORE_COLOR_TITLE_DESCRIPTION"></app-fancy-tooltip>
          </div>
          <hr />
          <div
            *ngFor="let labSequenceColorItem of legend.labSequenceColorKeys" class="legend-item">
            <div
              class="legend-color"
              [style.background-color]="legend.labSequenceColor[labSequenceColorItem]">
            </div>
            <div>
              {{labSequenceColorItem | translate}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- Nothing to display ? -->
  <div
    *ngIf="mustLoadChain || !chainPages || chainPages.length < 1"
    fxLayout="column" fxLayoutAlign="center center"
    class="gd-cot-no-data">

    <!-- Image -->
    <div
      class="gd-cot-no-data-image"></div>

    <!-- Message -->
    <div
      class="gd-cot-no-data-text">{{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NOTHING_TO_DISPLAY' | translate }}</div>
  </div>

  <!-- Graph -->
  <div
    *ngIf="chainGroup &&
      !mustLoadChain &&
      selectedChainPageIndex !== null"
    class="gd-cot-graph">
    <div class="cytoscape-graph-container">
      <div
        class="graph-inner-container"
        [fxShow]="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value">
        <!-- zoom in / out buttons -->
        <div
          class="cy-zoom-buttons {{ fullScreen ? 'cy-zoom-buttons-full-screen' : '' }}">
          <button
            mat-flat-button
            class="cy-zoom-button"
            color="secondary"
            [disableRipple]="true"
            (click)="zoomInGraph()">
            +
          </button>
          <button
            mat-flat-button
            class="cy-zoom-button"
            color="secondary"
            [disableRipple]="true"
            (click)="zoomOutGraph()">
            -
          </button>
        </div>

        <!-- cytoscape element -->
        <div
          #cyItem
          class="cy {{ fullScreen ? 'cy-full-screen' : ''}}">
        </div>
      </div>

      <!-- Geospatial map -->
      <div
        class="geospatial-map-container"
        *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value">
        <!-- Geospatial map -->
        <app-world-map
          *ngIf="markers.length > 0"
          #worldMap
          width="100%"
          height="500px"
          [markers]="markers"
          [lines]="lines"
          [displayLabels]="displayLabels"
          [fitMapOnMarkersChange]="false"
          [centerLocation]="markers[0]?.point"
          [fitLayer]="WorldMapMarkerLayer.CLUSTER"
          [clusterDistance]="30"
          (fullScreenToggle)="onFullScreenToggle($event)"
          groupMarkerTitle="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_GROUP_DIALOG_MARKER_SECTION_TITLE"
          groupPathTitle="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_GROUP_DIALOG_PATHS_SECTION_TITLE">
        </app-world-map>

        <!-- No data -->
        <div
          *ngIf="markers.length < 1"
          class="geo-map-no-data">
              <span>
                  {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NO_DATA' | translate }}
              </span>
        </div>
      </div>
    </div>

    <div
      class="timeline-info-buttons"
      fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="1.6rem">
      <button *ngIf="( transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
            || transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
            || transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value)"
              mat-flat-button
              color="secondary"
              [ngClass]="{'full-screen-bottomed-item': fullScreen}"
              (click)="switchTimelineView(timelineViewType === 'horizontal' ? 'vertical' : 'horizontal')">
        {{ ( timelineViewType === 'horizontal' ? 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_VERTICAL' : 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_HORIZONTAL' )| translate }}
      </button>
      <div *ngIf="showCaseNodesWithoutDates()"
           class="entities-no-dates">
        <a target="_blank"
           routerLink="/cases"
           [queryParams]="{applyListFilter: getCasesListFilter(), caseIds: graphElements.caseNodesWithoutDates}">
          {{graphElements.caseNodesWithoutDates.length}}
          {{ getCasesWithoutDatesTitle() | translate}}
        </a>
      </div>
      <div *ngIf="showContactNodesWithoutDates()"
           class="entities-no-dates">
        <a target="_blank"
           routerLink="/contacts"
           [queryParams]="{applyListFilter: getContactsListFilter(), contactIds: graphElements.caseNodesWithoutDates}">
          {{graphElements.contactNodesWithoutDates.length}}
          {{ getContactsWithoutDatesTitle() | translate}}
        </a>
      </div>
      <div *ngIf="showEventNodesWithoutDates()"
           class="entities-no-dates">
        <a target="_blank"
           routerLink="/events"
           [queryParams]="{applyListFilter: getEventsListFilter(), eventIds: graphElements.eventNodesWithoutDates}">
          {{graphElements.eventNodesWithoutDates.length}}
          {{ getEventsWithoutDatesTitle() | translate}}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="sizeOfChainsFilter && !chainGroup &&
          mustLoadChain &&
          selectedChainPageIndex === null">
    <div>
      {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_SIZE' | translate}} {{sizeOfChainsFilter}}
    </div>
  </div>
  <div *ngIf="personId && !chainGroup &&
          mustLoadChain &&
          selectedChainPageIndex === null">
    <div>
      {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_PERSON' | translate}} {{personName}}
    </div>
  </div>

</mat-card>
