app-transmission-chains-dashlet {
    .chain-settings {
        .settings-container {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #EEE;

            .mat-card {
                margin-bottom: 20px;

                .settings-container-title {
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
}
