app-transmission-chains-dashlet {
    .chain-settings {
        .settings-container {
            padding: 10px;
            .settings-heading{
                font-weight: bold;
                margin-top: 10px;
            }
            .settings-sub-heading{
                font-weight: bold;
                margin: 10px;
            }
        }
    }

    .global-date-filter {
        width: 150px;
        float: right;
    }

}
