<div class="chain-settings">
    <div
        class="chain-settings-buttons">
        <!-- See snapshot -->
        <button
            *ngIf="!showGraphConfiguration && selectedSnapshot && chainGroup && chainGroupId === selectedSnapshot"
            mat-raised-button
            (click)="showGraphConfigurationHideFilters()">
            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CONFIGURE_GRAPH' | translate }}
        </button>

        <!-- Generate new graph -->
        <button
            *ngIf="!showFilters && selectedOutbreak?.id === authUser?.activeOutbreakId"
            mat-raised-button
            (click)="showFiltersHideGraphConf()">
            {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CONFIGURE_SETTINGS' | translate }}
        </button>
    </div>

    <!-- Generate new graph -->
    <div
        *ngIf="showFilters && selectedOutbreak?.id === authUser?.activeOutbreakId"
        fxLayout="column"
        class="settings-container">

        <div
            fxLayout="row" fxLayoutAlign="space-between end">
            <div
                fxLayout="row" fxLayoutGap="10px">
                <!-- entity type filter - events -->
                <app-form-checkbox
                    fxFlex="150px"
                    name="showEvents"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_EVENTS_LABEL' | translate"
                    [(ngModel)]="filters.showEvents">
                </app-form-checkbox>

                <!-- entity type filter - contacts -->
                <app-form-checkbox
                    fxFlex="150px"
                    name="showContacts"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_CONTACTS_LABEL' | translate"
                    [(ngModel)]="filters.showContacts"
                    (optionChanged)="updateShowContactsOfContactValue($event)">
                </app-form-checkbox>

                <!--  This checkbox is valid only if 'showContacts' is already enabled -->
                <app-form-checkbox
                    name="includeContactsOfContacts"
                    [disabled]="!filters.showContacts"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_CONTACTS_OF_CONTACTS' | translate"
                    [(ngModel)]="filters.includeContactsOfContacts"
                    fxFlex="150px">
                </app-form-checkbox>
            </div>

            <!-- Date - moment in time -->
            <div
                fxFlex="150px">
                <app-form-datepicker
                    class="global-date-filter"
                    [(ngModel)]="dateGlobalFilter"
                    [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTER_DATE' | translate"
                    [tooltip]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTER_DESCRIPTION' | translate">
                </app-form-datepicker>
            </div>
        </div>

        <!-- Filters -->
        <app-transmission-chain-filters
            fxFlex
            titleName="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_FILTERS_TITLE"
            [filters]="filters"
            [clusterOptions]="clusterOptions">
        </app-transmission-chain-filters>

        <div fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px">
            <!-- Cancel -->
            <button
                fxFlex="150px"
                mat-raised-button
                (click)="showFilters = false">
                {{ 'LNG_COMMON_BUTTON_CANCEL' | translate }}
            </button>

            <!-- Apply filters -->
            <button
                fxFlex="150px"
                mat-raised-button
                color="accent"
                (click)="generateChainsOfTransmission()">
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_APPLY_SETTINGS' | translate }}
            </button>
        </div>
    </div>

    <!-- Graph configuration -->
    <div
        *ngIf="showGraphConfiguration && selectedSnapshot && chainGroup && chainGroupId === selectedSnapshot"
        class="settings-container">

        <div
            fxLayout="row" fxLayoutGap="10px">
            <!-- entity type filter - events -->
            <app-form-checkbox
                fxFlex="150px"
                name="showEvents"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_EVENTS_LABEL' | translate"
                [(ngModel)]="showEvents">
            </app-form-checkbox>

            <!-- entity type filter - contacts -->
            <app-form-checkbox
                *ngIf="!snapshotOptionsMap || !selectedSnapshot || !snapshotOptionsMap[selectedSnapshot] || snapshotOptionsMap[selectedSnapshot].snapshot.showContacts"
                fxFlex="150px"
                name="showContacts"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_CONTACTS_LABEL' | translate"
                [(ngModel)]="showContacts"
                (optionChanged)="updateShowContactsOfContactValue($event)">
            </app-form-checkbox>

            <!--  This checkbox is valid only if 'showContacts' is already enabled -->
            <app-form-checkbox
                *ngIf="!snapshotOptionsMap || !selectedSnapshot || !snapshotOptionsMap[selectedSnapshot] || snapshotOptionsMap[selectedSnapshot].snapshot.showContactsOfContacts"
                name="includeContactsOfContacts"
                [disabled]="!showContacts"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_CONTACTS_OF_CONTACTS' | translate"
                [(ngModel)]="showContactsOfContacts"
                fxFlex="150px">
            </app-form-checkbox>
        </div>

        <!-- Node Settings -->
        <mat-card fxLayout="column" fxLayoutGap="10px">
            <div class="settings-container-title">
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SETTINGS_TITLE' | translate }}
            </div>

            <!-- Node Label -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_LABEL_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="nodeLabelCriteria"
                        [(ngModel)]="colorCriteria.nodeLabelCriteria"
                        [options]="nodeLabelCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>

            <!-- Node Label Color -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="nodeNameColorCriteria"
                        [(ngModel)]="colorCriteria.nodeNameColorCriteria"
                        [options]="nodeColorCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>

            <!-- Node Color -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="nodeColorCriteria"
                        [(ngModel)]="colorCriteria.nodeColorCriteria"
                        [options]="nodeColorCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>

            <!-- Node Icon -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="nodeIconCriteria"
                        [(ngModel)]="colorCriteria.nodeIconCriteria"
                        [options]="nodeIconCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>

            <!-- Node Shape -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SHAPE_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="nodeShapeCriteria"
                        [(ngModel)]="colorCriteria.nodeShapeCriteria"
                        [options]="nodeShapeCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>

        </mat-card>

        <!-- Edge Settings -->
        <mat-card fxLayout="column" fxLayoutGap="10px">
            <div class="settings-container-title">
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_SETTINGS_TITLE' | translate }}
            </div>

            <!-- Edge Label -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_LABEL_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="edgeLabelCriteria"
                        [(ngModel)]="colorCriteria.edgeLabelCriteria"
                        [options]="edgeLabelCriteriaOptions$ | async"
                        (optionChanged)="changeEdgeLabelIconSelection('label',$event)">
                    </app-form-radio>
                </div>
            </div>

            <!-- Edge Icon -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_ICON_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="edgeIconCriteria"
                        [(ngModel)]="colorCriteria.edgeIconCriteria"
                        [options]="edgeIconCriteriaOptions$ | async"
                        (optionChanged)="changeEdgeLabelIconSelection('icon',$event)">
                    </app-form-radio>
                </div>
            </div>

            <!-- Edge Color -->
            <div fxLayout="column">
                <div>
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate }}
                </div>

                <div fxLayout="row">
                    <app-form-radio
                        name="edgeColorCriteria"
                        [(ngModel)]="colorCriteria.edgeColorCriteria"
                        [options]="edgeColorCriteriaOptions$ | async">
                    </app-form-radio>
                </div>
            </div>
        </mat-card>
    </div>

    <!-- Load snapshot -->
    <div
        *ngIf="!showFilters"
        class="settings-container">
        <mat-card fxLayout="column">
            <div
                fxLayout="row" fxLayoutGap="20px">

                <!-- Snapshots -->
                <app-form-select
                    name="snapshotsList"
                    [(ngModel)]="selectedSnapshot"
                    [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_SNAPSHOTS' | translate"
                    required="true"
                    [options]="snapshotOptions"
                    [clearable]="false"
                    (ngModelChange)="mustLoadChain = true; showEvents = true; showContacts = false; showContactsOfContacts = false;">
                </app-form-select>

                <!-- dropdown with view types -->
                <app-form-select
                    name="chainView"
                    [(ngModel)]="transmissionChainViewType"
                    [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_CHART' | translate"
                    required="true"
                    [options]="transmissionChainViewTypes"
                    [clearable]="false"
                    (ngModelChange)="mustLoadChain = true">
                </app-form-select>

                <!-- Page size -->
                <app-form-input
                    name="chainView"
                    [(ngModel)]="pageSize"
                    [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_PAGE_SIZE' | translate"
                    required="true"
                    type="number"
                    (ngModelChange)="pageSizeChanged($event)">
                </app-form-input>

            </div>

            <!-- Bubble chart specific configuration -->
            <div
                *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.BUBBLE_NETWORK.value"
                fxLayout="row" fxLayoutGap="20px">

                <!-- Avoid overlap -->
                <app-form-checkbox
                    name="chainAvoidOverlap"
                    [(ngModel)]="layoutCola.avoidOverlap"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_AVOID_OVERLAP' | translate"
                    (ngModelChange)="mustLoadChain = true">
                </app-form-checkbox>

                <!-- Randomize -->
                <app-form-checkbox
                    name="chainRandomize"
                    [(ngModel)]="layoutCola.randomize"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_RANDOMIZE' | translate"
                    (ngModelChange)="mustLoadChain = true">
                </app-form-checkbox>

                <!-- Node names include labels -->
                <app-form-checkbox
                    name="chainNodeDimensionsIncludeLabels"
                    [(ngModel)]="layoutCola.nodeDimensionsIncludeLabels"
                    [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_NODE_SIZE_INCLUDE_LABELS' | translate"
                    (ngModelChange)="mustLoadChain = true">
                </app-form-checkbox>

            </div>

            <div
                *ngIf="mustLoadChain && selectedSnapshot && transmissionChainViewType && pageSize > 0 && snapshotOptionsMap[selectedSnapshot] && !snapshotOptionsMap[selectedSnapshot].option.disabled"
                fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px">
                <!-- Apply filters -->
                <button
                    fxFlex="150px"
                    mat-raised-button
                    color="accent"
                    (click)="loadChainsOfTransmission()">
                    {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_LOAD_SNAPSHOT' | translate }}
                </button>
            </div>

            <div
                fxLayout="row" fxLayoutGap="20px">

                <!-- Pages -->
                <app-form-select-vscroll
                    *ngIf="!mustLoadChain && chainGroupId && chainGroupId === selectedSnapshot && chainPages && chainPages.length > 0"
                    name="chainPagesList"
                    [(ngModel)]="selectedChainPageIndex"
                    [placeholder]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_LABEL_PAGE' | translate"
                    required="true"
                    [options]="chainPages"
                    [clearable]="false"
                    optionLabelKey="pageLabel"
                    optionValueKey="pageIndex"
                    (ngModelChange)="changedPage()">
                </app-form-select-vscroll>

            </div>
        </mat-card>

    </div>
</div>

<!-- cytoscape element -->
<div
    *ngIf="chainGroup && !mustLoadChain"
    class="cytoscape-graph-element">
    <div class="cytoscape-graph-container">
        <!-- legend -->
        <div
            *ngIf="legend && showLegend && (transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value || markers.length > 0)"
            class="graph-legend {{ fullScreen ? 'full-screen-graph-legend' : '' }}">
            <!-- node color -->
            <div *ngIf="legend.nodeColorKeys && legend.nodeColorKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_COLOR_TITLE' | translate}}
                <div class="legend-field-name">{{legend.nodeColorLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let nodeColorItem of legend.nodeColorKeys" class="legend-item">
                <div
                    class="legend-color"
                    [style.background-color]="legend.nodeColor[nodeColorItem]">
                </div>
                <div>
                    {{nodeColorItem | translate}}
                </div>
            </div>

            <!-- node name color -->
            <div *ngIf="legend.nodeNameColorKeys && legend.nodeNameColorKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_NAME_COLOR_TITLE' | translate}}
                <div class="legend-field-name">{{legend.nodeNameColorLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let nodeNameColorItem of legend.nodeNameColorKeys" class="legend-item">
                <div
                    class="legend-color"
                    [style.background-color]="legend.nodeNameColor[nodeNameColorItem]">
                </div>
                <div>
                    {{nodeNameColorItem | translate}}
                </div>
                <div *ngIf="transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
                    || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
                    || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value">
                    - {{legend.nodeNameColorAdditionalInfo[nodeNameColorItem] | translate}}
                </div>
            </div>

            <!-- edge color -->
            <div *ngIf="legend.edgeColorKeys && legend.edgeColorKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_COLOR_TITLE' | translate}}
                <div class="legend-field-name">{{legend.edgeColorLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let edgeColorItem of legend.edgeColorKeys" class="legend-item">
                <div
                    class="legend-color"
                    [style.background-color]="legend.edgeColor[edgeColorItem]">
                </div>
                <div>
                    {{legend.clustersList && legend.clustersList[edgeColorItem] ? legend.clustersList[edgeColorItem] : (edgeColorItem | translate)}}
                </div>
            </div>

            <!-- node icon -->
            <div *ngIf="legend.nodeIconKeys && legend.nodeIconKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_ICON_TITLE' | translate}}
                <div class="legend-field-name">{{legend.nodeIconLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let nodeIconItem of legend.nodeIconKeys" class="legend-item">
                <div
                    class="legend-icon"
                    [style.background-image]="'url(' + legend.nodeIcon[nodeIconItem] + ')'">
                </div>
                <div>
                    {{nodeIconItem | translate}}
                </div>
            </div>

            <!-- node shape -->
            <div *ngIf="legend.nodeShapeKeys && legend.nodeShapeKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NODE_SHAPE_TITLE' | translate}}
                <div class="legend-field-name">{{legend.nodeShapeLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let nodeShapeItem of legend.nodeShapeKeys" class="legend-item">
                <span class="xt-icon">{{legend.nodeShape[nodeShapeItem]}}</span>
                <div>
                    {{nodeShapeItem | translate}}
                </div>
            </div>

            <!-- edge icon -->
            <div *ngIf="legend.edgeIconKeys && legend.edgeIconKeys.length"
                 class="legend-name">
                {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_EDGE_ICON_TITLE' | translate}}
                <div class="legend-field-name">{{legend.edgeIconLabel | translate}}:</div>
            </div>
            <div
                *ngFor="let edgeIconItem of legend.edgeIconKeys" class="legend-item">
                <span
                    *ngIf="!legend.edgeIcon[edgeIconItem].isUrl; else notIcon"
                    class="xt-icon">
                    {{ legend.edgeIcon[edgeIconItem].icon }}
                </span>
                <ng-template
                    #notIcon>
                    <img
                        *ngIf="legend.edgeIcon[edgeIconItem].url"
                        [src]="legend.edgeIcon[edgeIconItem].url" />
                </ng-template>
                <div>
                    {{legend.clustersList && legend.clustersList[edgeIconItem] ? legend.clustersList[edgeIconItem] : (edgeIconItem | translate)}}
                </div>
            </div>
        </div>

        <!-- Toggles -->
        <div
            *ngIf="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value || markers.length > 0"
            class="graph-actions {{ fullScreen ? 'graph-actions-full-screen' : '' }} {{ transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value ? 'graph-actions-geo-map' : '' }}" fxLayout="row" fxLayoutGap="30px">

            <!-- Toggle Edit mode -->
            <app-form-slide-toggle
                *ngIf="isEditModeAvailable() && !fullScreen"
                name="toggleEditMode"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_EDIT_MODE_LABEL' | translate"
                [(ngModel)]="editMode"
                (optionChanged)="toggleEditMode()">
            </app-form-slide-toggle>

            <!-- Display Labels -->
            <app-form-slide-toggle
                *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value"
                name="displayLabels"
                [(ngModel)]="displayLabels"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_DISPLAY_MARKER_LABELS_LABEL' | translate">
            </app-form-slide-toggle>

            <!-- Show / hide legend -->
            <app-form-slide-toggle
                name="showLegend"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_SHOW_LEGEND_LABEL' | translate"
                [(ngModel)]="showLegend">
            </app-form-slide-toggle>

            <!-- Toggle full screen -->
            <app-form-slide-toggle
                *ngIf="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value"
                [label]="'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_TOGGLE_FULL_SCREEN_LABEL' | translate"
                [ngModel]="fullScreen"
                (optionChanged)="onFullScreenToggle($event)">
            </app-form-slide-toggle>
        </div>

        <div
            [fxShow]="transmissionChainViewType !== Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value">
            <!-- zoom in / out buttons -->
            <div
                class="cy-zoom-buttons {{ fullScreen ? 'cy-zoom-buttons-full-screen' : '' }}">
                <button
                    mat-raised-button
                    class="cy-zoom-button"
                    [disableRipple]="true"
                    (click)="zoomInGraph()">
                    +
                </button>
                <br />
                <button
                    mat-raised-button
                    class="cy-zoom-button"
                    [disableRipple]="true"
                    (click)="zoomOutGraph()">
                    -
                </button>
            </div>

            <!-- cytoscape element -->
            <div
                #cyItem
                class="cy xt-icon {{ fullScreen ? 'cy-full-screen' : ''}}">
            </div>
        </div>

        <!-- Geospatial map -->
        <div
            *ngIf="transmissionChainViewType === Constants.TRANSMISSION_CHAIN_VIEW_TYPES.GEOSPATIAL_MAP.value">
            <!-- Geospatial map -->
            <app-world-map
                *ngIf="markers.length > 0"
                width="100%"
                height="500px"
                [markers]="markers"
                [lines]="lines"
                [displayLabels]="displayLabels"
                [fitMapOnMarkersChange]="false"
                [centerLocation]="markers[0]?.point"
                [fitLayer]="WorldMapMarkerLayer.CLUSTER"
                [clusterDistance]="30"
                (fullScreenToggle)="onFullScreenToggle($event)"
                groupMarkerTitle="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_GROUP_DIALOG_MARKER_SECTION_TITLE"
                groupPathTitle="LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_GROUP_DIALOG_PATHS_SECTION_TITLE">
            </app-world-map>

            <!-- No data -->
            <div
                *ngIf="markers.length < 1"
                class="geo-map-no-data">
            <span>
                {{ 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_NO_DATA' | translate }}
            </span>
            </div>
        </div>
    </div>

    <div *ngIf="showCaseNodesWithoutDates()"
         class="entities-no-dates">
        <a target="_blank"
           routerLink="/cases"
           [queryParams]="{applyListFilter: getCasesListFilter(), caseIds: graphElements.caseNodesWithoutDates}">
            {{graphElements.caseNodesWithoutDates.length}}
            {{ getCasesWithoutDatesTitle() | translate}}
        </a>
    </div>
    <div *ngIf="showContactNodesWithoutDates()"
         class="entities-no-dates">
        <a target="_blank"
           routerLink="/contacts"
           [queryParams]="{applyListFilter: getContactsListFilter(), contactIds: graphElements.caseNodesWithoutDates}">
            {{graphElements.contactNodesWithoutDates.length}}
            {{ getContactsWithoutDatesTitle() | translate}}
        </a>
    </div>
    <div *ngIf="showEventNodesWithoutDates()"
         class="entities-no-dates">
        <a target="_blank"
           routerLink="/events"
           [queryParams]="{applyListFilter: getEventsListFilter(), eventIds: graphElements.eventNodesWithoutDates}">
            {{graphElements.eventNodesWithoutDates.length}}
            {{ getEventsWithoutDatesTitle() | translate}}
        </a>
    </div>

    <button *ngIf="( transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK.value
        || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_LAST_CONTACT.value
        || transmissionChainViewType == Constants.TRANSMISSION_CHAIN_VIEW_TYPES.TIMELINE_NETWORK_REPORTING.value)"
        mat-raised-button
        [ngClass]="{'full-screen-bottomed-item': fullScreen}"
        (click)="switchTimelineView(timelineViewType === 'horizontal' ? 'vertical' : 'horizontal')">
        {{ ( timelineViewType === 'horizontal' ? 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_VERTICAL' : 'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_BUTTON_CHANGE_TIMELINE_VIEW_HORIZONTAL' )| translate }}
    </button>
</div>

<div *ngIf="sizeOfChainsFilter">
    <div>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_SIZE' | translate}} {{sizeOfChainsFilter}}
    </div>
</div>
<div *ngIf="personId">
    <div>
        {{'LNG_PAGE_GRAPH_CHAINS_OF_TRANSMISSION_CHAINS_FILTERED_BY_PERSON' | translate}} {{personName}}
    </div>
</div>
