<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <div class="top-section-wrapper">
        <div class="reset-filters">
            <button mat-raised-button (click)="needsRefreshList(true)">
                {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
            </button>
        </div>
    </div>

    <!-- Loading data data -->
    <div
        *ngIf="!duplicatesList"
        class="duplicate-records-loading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container
        *ngIf="duplicatesList">
        <div
            *ngFor="let group of duplicatesList.groups"
            class="duplicate-records-tables">
            <form
                #tableForm="ngForm">
                <div
                    fxFlex fxLayout="row" fxLayoutGap="20px">
                    <div
                        fxFlex>
                        <mat-table [dataSource]="group.peopleIds">
                            <!-- Checkbox -->
                            <ng-container matColumnDef="checkbox">
                                <mat-header-cell *matHeaderCellDef fxFlex="60px">
                                    <div class="table-header-cell">
                                        <div>
                                            <app-form-checkbox
                                                class="table-checkbox"
                                                name="checkAll"
                                                ngModel
                                                (optionChanged)="checkAllToggle(tableForm)">
                                            </app-form-checkbox>
                                        </div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item;" fxFlex="60px">
                                    <app-form-checkbox
                                        *ngIf="hasWritePermissions(item)"
                                        #listCheckedIndividual
                                        [name]="'recordCheck[' + item + ']'"
                                        class="table-checkbox"
                                        ngModel
                                        (optionChanged)="checkOneToggle(tableForm)">
                                    </app-form-checkbox>
                                </mat-cell>
                            </ng-container>

                            <!-- Type -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_TYPE' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ duplicatesList.peopleMap[item]?.type | translate }}
                                </mat-cell>
                            </ng-container>

                            <!-- First Name -->
                            <ng-container matColumnDef="firstName">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_FIRST_NAME' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ duplicatesList.peopleMap[item]?.firstName }}
                                </mat-cell>
                            </ng-container>

                            <!-- Last Name -->
                            <ng-container matColumnDef="lastName">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_LAST_NAME' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ duplicatesList.peopleMap[item]?.type === EntityType.EVENT ? duplicatesList.peopleMap[item]?.name : duplicatesList.peopleMap[item]?.lastName }}
                                </mat-cell>
                            </ng-container>

                            <!-- Documents -->
                            <ng-container matColumnDef="documents">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_DOCUMENT_NUMBER' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    <span
                                        *ngIf="duplicatesList.peopleMap[item]?.type === EntityType.EVENT"
                                        class="duplicate-records-label-not-applicable">
                                        {{ 'LNG_PAGE_LIST_DUPLICATE_RECORDS_LABEL_NOT_APPLICABLE' | translate }}
                                    </span>
                                    <ng-container
                                        *ngIf="duplicatesList.peopleMap[item]?.type !== EntityType.EVENT">
                                        <span
                                            *ngIf="!duplicatesList.peopleMap[item]?.documents || duplicatesList.peopleMap[item]?.documents.length < 1"
                                            class="duplicate-records-label-none">
                                            {{ 'LNG_PAGE_LIST_DUPLICATE_RECORDS_LABEL_NONE' | translate }}
                                        </span>
                                        <ng-container
                                            *ngIf="duplicatesList.peopleMap[item]?.documents && duplicatesList.peopleMap[item]?.documents.length > 0">
                                            <span
                                                *ngFor="let document of duplicatesList.peopleMap[item]?.documents; let first = first">
                                                {{ document.number ? ( first ? '' : ' / ' ) + document.number : ('LNG_PAGE_LIST_DUPLICATE_RECORDS_LABEL_MISSING' | translate) }}
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </mat-cell>
                            </ng-container>

                            <!-- Age -->
                            <ng-container matColumnDef="age">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_AGE' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    <span
                                        *ngIf="duplicatesList.peopleMap[item]?.type === EntityType.EVENT"
                                        class="duplicate-records-label-not-applicable">
                                        {{ 'LNG_PAGE_LIST_DUPLICATE_RECORDS_LABEL_NOT_APPLICABLE' | translate }}
                                    </span>
                                    <ng-container
                                        *ngIf="duplicatesList.peopleMap[item]?.type !== EntityType.EVENT">
                                        <app-age-label [age]="duplicatesList.peopleMap[item]?.age"></app-age-label>
                                    </ng-container>
                                </mat-cell>
                            </ng-container>

                            <!-- Address -->
                            <ng-container matColumnDef="address">
                                <mat-header-cell *matHeaderCellDef>
                                    <div class="table-header-cell">
                                        <div class="column-header">{{'LNG_ENTITY_FIELD_LABEL_ADDRESS' | translate}}</div>
                                    </div>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ duplicatesList.peopleMap[item]?.type === EntityType.EVENT ?
                                        duplicatesList.peopleMap[item]?.address.fullAddress :
                                        AddressModel.getCurrentAddress(duplicatesList.peopleMap[item]?.addresses)?.fullAddress }}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="tableVisibleHeaderColumns"></mat-header-row>
                            <mat-row *matRowDef="let item; columns: tableVisibleHeaderColumns"></mat-row>
                        </mat-table>
                    </div>

                    <div
                        fxFlex="100px">
                        <button
                            mat-raised-button color="primary" class="button-primary"
                            type="button"
                            [disabled]="!hasAtLeastOneCheckboxChecked(tableForm)">
                            {{'LNG_COMMON_BUTTON_MERGE' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>

    <mat-paginator
        [length]="(duplicatesListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>
</mat-card>
