<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <div class="top-section-wrapper">
        <div class="reset-filters">
            <!-- Reset Filters -->
            <button mat-raised-button (click)="resetFiltersToSideFilters()">
                {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
            </button>
            <button mat-raised-button (click)="needsRefreshList(true)">
                {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
            </button>
        </div>
    </div>

    TODO
</mat-card>
