app-duplicate-records-list {
    .duplicate-records-loading {
        height: 128px;
        text-align: center;

        @mat-spinner-width: 64px;
        @mat-spinner-height: 64px;
        mat-spinner {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            vertical-align: middle;
            width: @mat-spinner-width !important;
            height: @mat-spinner-height !important;

            svg {
                width: @mat-spinner-width !important;
                height: @mat-spinner-height !important;
            }
        }
    }

    .duplicate-records-tables:not(:last-child) {
        margin-bottom: 50px;
    }

    .page-section {
        .mat-table {
            .mat-row {
                padding: 0px !important;
            }
        }
    }

    .duplicate-records-label-none,
    .duplicate-records-label-not-applicable {
        color: #DDD;
    }
}
