<app-topnav [activeOutbreakEditable]="true">
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">

                <button mat-raised-button color="accent"
                        [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_PAGE_DASHBOARD_REPORTS_BUTTON_LABEL' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <ng-container>

                        <button
                            mat-menu-item
                            [disabled]="x32Architecture"
                            (click)="generateGanttChartReport()">
                            {{'LNG_PAGE_DASHBOARD_GANTT_CHART_REPORT_LABEL' | translate}}
                        </button>

                    </ng-container>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<!-- Side filters -->
<app-side-filters
    [filterOptions]="availableSideFilters"
    (filtersCollected)="applySideFilters($event)"
    [fixedFilters]="true">
</app-side-filters>

<div class="page-content">

    <mat-card class="page-section">

        <!-- dropdown with view types -->
        <app-form-select
            name="ganttChartType"
            [(ngModel)]="ganttChartType"
            required="true"
            [options]="ganttChartTypes | async"
            (optionChanged)="updateChartType($event)"
            [clearable]="false">
        </app-form-select>

        <!-- gantt chart - lab test -->
        <app-gantt-chart-delay-onset-dashlet
            *ngIf="ganttChartType == Constants.GANTT_CHART_TYPES.GANTT_CHART_LAB_TEST.value"
            #ganttChart
            [globalFilterDate]="globalFilterDate"
            [globalFilterLocationId]="globalFilterLocationId">
        </app-gantt-chart-delay-onset-dashlet>

        <!-- gantt chart - hospitalization -->
        <app-gantt-chart-delay-onset-hospitalization-dashlet
            *ngIf="ganttChartType == Constants.GANTT_CHART_TYPES.GANTT_CHART_HOSPITALIZATION_ISOLATION.value"
            #ganttChart
            [globalFilterDate]="globalFilterDate"
            [globalFilterLocationId]="globalFilterLocationId">
        </app-gantt-chart-delay-onset-hospitalization-dashlet>
    </mat-card>

</div>

<canvas id="tempCanvas"></canvas>
