@import 'mixins';
@import 'font';

/* Form Radio Toggle */
.gd-form-toggle-v2 {
  .mat-button-toggle-group {
    border: 0.1rem solid var(--gd-secondary);
    @include border-radius(0.4rem);
    @include flex(flex);
    @include flex_align_items(center);
    @include flex_justify(space-between);

    .mat-button-toggle {
      color: var(--gd-text);
      font-family: $gd-font-family;
      @include transition(all 0.24s ease-in-out 0s);
      width: 100%;

      + .mat-button-toggle {
        border-left: 0.1rem solid var(--gd-secondary);
      }

      &.mat-button-toggle-appearance-standard {
        background: var(--gd-background);
        color: var(--gd-text);
      }

      .mat-button-toggle-button {
        .mat-button-toggle-label-content {
          @include flex(flex);
          @include flex_align_items(center);
          line-height: 4rem;
          padding: 0 1.6rem;

          /* Radio button */
          .mat-radio-button {
            font-family: $gd-font-family;
        
            /* Radio button label */
            .mat-radio-label {
              .mat-radio-container {
                .mat-radio-outer-circle {
                  border-color: var(--gd-secondary);
                }
        
                .mat-ripple {
                  display: none;
                }
              }
        
              .mat-radio-label-content {
                line-height: 2rem;
              }
            }
        
            /* Radio button types */
            &.mat-primary,
            &.mat-accent,
            &.mat-warn {
              .mat-radio-label {
                .mat-radio-container {
                  .mat-radio-inner-circle {
                    background-color: var(--gd-primary);
                  }
                }
              }
        
              &.mat-radio-checked {
                .mat-radio-label {
                  .mat-radio-container {
                    .mat-radio-outer-circle {
                      border-color: var(--gd-primary);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .mat-button-toggle-focus-overlay {
        background-color: rgba(var(--gd-primary-rgb), 0.15);
        @include opacity(0);
        @include transition(all 0.24s ease-in-out 0s);
      }

      &.mat-button-toggle-checked {
        background-color: var(--gd-primary);
        color: var(--gd-background);

        .mat-button-toggle-button {
          .mat-button-toggle-label-content {
            .mat-radio-button {
              &.mat-primary,
              &.mat-accent,
              &.mat-warn {
                .mat-radio-label {
                  .mat-radio-container {
                    .mat-radio-inner-circle {
                      background-color: var(--gd-background);
                    }
                  }
                }
          
                &.mat-radio-checked {
                  .mat-radio-label {
                    .mat-radio-container {
                      .mat-radio-outer-circle {
                        border-color: var(--gd-background);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          .mat-button-toggle-focus-overlay {
            @include opacity(0);
          }
        }
      }

      &:hover {
        .mat-button-toggle-focus-overlay {
          @include opacity(1);
        }
      }

      .mat-ripple {
        display: none;
      }
    }
  }
}
