app-independent-transmission-chains-dashlet{
    .dashboard-box-header{
        background-color: #65007d;
        cursor: pointer;
    }
    .dashboard-box-content{
        background-color: #9000b3;
    }
}
