<div class="document-list-container form-element "
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <!-- Edit Mode -->
    <form *ngIf="!viewOnly" #groupForm="ngForm">
        <div *ngFor="let document of values; let i = index" fxFlex fxLayout="row"
             fxLayoutAlign="start center">
            <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <app-form-document
                    [name]="name + '[' + i + ']'"
                    [ngModel]="values[i]"
                    (changed)="onChange(false)"
                    (groupValidated)="validateGroup()">
                </app-form-document>
            </mat-card>

            <button type="button" mat-icon-button (click)="delete(i)">
                <span class="xt-icon">delete</span>
            </button>
        </div>

        <button type="button" mat-button color="primary" (click)="add()">Add another document</button>
    </form>
    <!-- End of Edit Mode -->

    <!-- View Only Mode -->
    <ng-container *ngIf="viewOnly">
        <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngFor="let document of values; let i = index" fxFlex fxLayout="row"
                 fxLayoutAlign="start center">
                <app-form-document
                    [name]="name + '[' + i + ']'"
                    [ngModel]="values[i]"
                    (changed)="onChange(false)"
                    (groupValidated)="validateGroup()"
                    <!-- @TODO add readonly property -->>
                </app-form-document>
            </div>
        </mat-card>
    </ng-container>
    <!-- End of View Only Mode -->
</div>
