<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <button
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <app-export-button
                        *ngIf="exportRangeFollowUpsUrl && exportRangeExtraAPIData"
                        [menuItem]="true"
                        [label]="'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_EXPORT_BUTTON' | translate"
                        [message]="'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_EXPORT_TITLE' | translate"
                        [url]="exportRangeFollowUpsUrl"
                        [fileName]="exportRangeFollowUpsFileName"
                        [fileType]="ExportDataExtension.PDF"
                        [isPOST]="true"
                        [extraAPIData]="exportRangeExtraAPIData"
                        [extraDialogFields]="exportRangeExtraDialogFields"
                        (exportStart)="showLoadingDialog()"
                        (exportFinished)="closeLoadingDialog()">
                    </app-export-button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <div
        fxFlex fxLayout="column" fxLayoutGap="5px">
        <div
            fxFlex>
            {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_NO_DATA_LABEL' | translate }}
        </div>
        <div
            fxFlex>
            {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_CLICK_TO_VIEW_FOLLOW_UP_LABEL' | translate }}
        </div>
        <div
            fxFlex>
            {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_QUESTIONNAIRE_ALERT_LABEL' | translate }}
        </div>
    </div>

    <!-- Filters -->
    <div>
        <!-- Date range filter -->
        <app-form-date-range-slider
            *ngIf="selectedOutbreak"
            name="dateRangeFilter"
            [ngModel]="sliderDateFilterValue"
            [minDate]="slideFilterData.minDate"
            [maxDate]="slideFilterData.maxDate"
            [maxRange]="slideFilterData.maxRange"
            [label]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
            tooltip="LNG_FOLLOW_UP_FIELD_LABEL_DATE_DESCRIPTION"
            (optionChanged)="filterByDateRange($event)">
        </app-form-date-range-slider>
    </div>

    <!-- Loading data -->
    <div
        *ngIf="displayLoading"
        class="follow-up-range-loading">
        <mat-spinner></mat-spinner>
    </div>

    <div
        *ngIf="!displayLoading">
        <!-- Reset Filters -->
        <div class="top-section-wrapper">
            <!--List Color Legend-->
            <div>
                <app-color-list-legend
                    [referenceDataCategory]="ReferenceDataCategory.CONTACT_DAILY_FOLLOW_UP_STATUS">
                </app-color-list-legend>
            </div>

            <div class="reset-filters">
                <button
                    type="button"
                    mat-raised-button
                    color="accent"
                    (click)="needsRefreshList(true)">
                    {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
                </button>
            </div>
        </div>

        <div>
            <!-- panel toggle -->
            <div
                fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <!-- filters toggle -->
                <button
                    mat-raised-button
                    (click)="showFilters = !showFilters">
                    {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_DISPLAY_FILTERS_BUTTON' | translate }}
                </button>
            </div>

            <!-- filter panel -->
            <div
                *ngIf="showFilters"
                fxFlex fxLayout="column" fxLayoutGap="20px"
                class="filters-container">
                <!-- Filters -->

                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex fxLayout="column" fxLayoutGap="20px">
                        <div fxFlex>
                        {{ 'LNG_CONTACT_FIELD_LABEL_NAME' | translate }}
                        </div>
                        <app-form-input
                            name="contactFullNameAndVisualId"
                            [(ngModel)]="contactFullNameAndVisualId"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByChildQueryBuilder('contact').byTextMultipleProperties([ 'firstName', 'lastName', 'visualId' ], $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>

                    <div fxFlex fxLayout="column" fxLayoutGap="20px">
                        <div fxFlex>
                        {{ 'LNG_CONTACT_FIELD_LABEL_DATE_OF_LAST_CONTACT' | translate }}
                        </div>
                        <app-form-daterange
                            name="dateOfLastContact"
                            [(ngModel)]="dateOfLastContact"
                            (changed)="filterByChildQueryBuilder('contact').byDateRange('dateOfLastContact', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>

                    <div fxFlex fxLayout="column" fxLayoutGap="20px">
                        <div fxFlex>
                            {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_FIELD_LABEL_DATE_END_FOLLOW_UP' | translate }}
                        </div>
                        <app-form-daterange
                            name="dateOfTheEndOfTheFollowUp"
                            [(ngModel)]="dateOfTheEndOfTheFollowUp"
                            (changed)="filterByChildQueryBuilder('contact').byDateRange('followUp.endDate', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>

                </div>

                <div
                    fxFlex fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px">
                    <!-- Reset filters -->
                    <button
                        fxFlex="150px"
                        mat-raised-button
                        (click)="resetFilters()">
                        {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_RESET_FILTERS_BUTTON' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <div
            class="follow-up-range-table-content">
            <!-- Table headers -->
            <div
                fxFlex fxLayout="row">

                <!-- Contact Name -->
                <div
                    fxFlex="270px"
                    class="follow-up-range-date-header">
                    {{ 'LNG_CONTACT_FIELD_LABEL_NAME' | translate }}
                </div>

                <!--Date of last contact-->
                <div fxFlex="100px"
                     class="follow-up-range-date-header">
                    {{ 'LNG_CONTACT_FIELD_LABEL_DATE_OF_LAST_CONTACT' | translate }}
                </div>

                <!--Date of the end of the follow-up-->
                <div fxFlex="100px"
                     class="follow-up-range-date-header">
                    {{ 'LNG_PAGE_LIST_RANGE_FOLLOW_UPS_FIELD_LABEL_DATE_END_FOLLOW_UP' | translate}}
                </div>

                <!-- Statuses -->
                <div
                    *ngFor="let date of daysToDisplay"
                    fxFlex="64px" fxLayoutAlign="center end"
                    class="follow-up-range-date-header">
                    <div
                        class="follow-up-range-date-column-header">
                        {{ date | dateDefault }}
                    </div>
                </div>

                <!-- Fill empty space -->
                <div
                    fxFlex
                    class="follow-up-range-date-header">
                    <!-- placeholder -->
                </div>
            </div>

            <!-- Table Rows -->
            <div
                fxFlex fxLayout="column" fxLayoutGap="2px"
                class="follow-up-range-records">
                <div
                    *ngFor="let contactFollowUpData of followUpsGroupedByContact"
                    fxFlex fxLayout="row"
                    class="follow-up-range-records-row">

                    <!-- Contact Name -->
                    <div
                        fxFlex="270px"
                        class="follow-up-range-column-data follow-up-range-name-column-data follow-up-range-name-column-data-no-wrap">
                        <a
                            [routerLink]="['/contacts', contactFollowUpData.contact.id, 'view' ]">
                            {{ contactFollowUpData.contact.name + ( contactFollowUpData.contact.visualId ? ' ( ' + contactFollowUpData.contact.visualId + ' )' : '' ) }}
                        </a>
                    </div>

                    <!--Date of last contact-->
                    <div
                        fxFlex="100px"
                        class="follow-up-range-column-data follow-up-range-name-column-data">
                        {{contactFollowUpData.contact.dateOfLastContact | dateDefault}}
                    </div>

                    <!--Date of the end of the follow-up-->
                    <div
                        fxFlex="100px"
                        class="follow-up-range-column-data follow-up-range-name-column-data">
                         {{contactFollowUpData.contact.followUp.endDate | dateDefault}}
                    </div>

                    <!-- Statuses -->
                    <div
                        *ngFor="let date of daysToDisplay"
                        fxFlex="64px" fxLayout="row" fxLayoutGap="1px"
                        class="follow-up-range-column-data follow-up-range-date-column-data">
                        <ng-container
                            *ngIf="contactFollowUpData.followUps[date]">
                            <ng-container
                                *ngFor="let followUp of contactFollowUpData.followUps[date]">
                                <div
                                    fxFlex fxLayout="column"
                                    class="follow-up-range-date-column-data-info"
                                    [matTooltip]="'Contact: ' + contactFollowUpData.contact.name + ' / ' + 'Date: ' + date + ' / ' + (dailyStatuses[followUp.statusId]?.value | translate)"
                                    [routerLink]="['/contacts', followUp.personId, 'follow-ups', followUp.id, 'view' ]"
                                    [queryParams]="{rootPage: rootPage}"
                                >

                                    <!-- FollowUp alerted icon -->
                                    <img
                                        *ngIf="followUp.alerted"
                                        fxFlex
                                        class="follow-up-range-date-column-data-bell"
                                        src="/assets/images/bell.png"/>

                                    <!-- FollowUp status -->
                                    <div
                                        fxFlex
                                        [style.background-color]="dailyStatuses[followUp.statusId]?.colorCode">
                                        <!-- placeholder -->
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- Fill empty space -->
                    <div
                        fxFlex
                        class="follow-up-range-column-data">
                        <!-- placeholder -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="(followUpsGroupedByContactCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>
</mat-card>
