<app-list-table-v2
  pageTitle="LNG_LAYOUT_MENU_ITEM_CONTACTS_RANGE_FOLLOW_UPS_LABEL"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columnActions]="tableColumnActions"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.FOLLOW_UP_DASHBOARD_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [canHideTableHeaderFilters]="false"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="Constants.APP_PAGE.FOLLOW_UP_DASHBOARD.value"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount()"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>
