<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Personal step -->
        <mat-step [stepControl]="personalForm">
            <form #personalForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_CONTACT_TAB_PERSONAL_TITLE'| translate}}</ng-template>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="contactData.firstName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_FIRST_NAME' | translate"
                                required="true"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="contactData.middleName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_MIDDLE_NAME' | translate"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="contactData.lastName"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_LAST_NAME' | translate"
                                maxlength="200">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="contactData.gender"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_GENDER' | translate"
                                required="true"
                                [options]="genderList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px">
                                <app-form-input
                                    fxFlex="25%"
                                    name="phoneNumber"
                                    [(ngModel)]="contactData.phoneNumber"
                                    [placeholder]="'LNG_CONTACT_FIELD_LABEL_PHONE_NUMBER' | translate"
                                    maxlength="50">
                                </app-form-input>

                                <app-form-select
                                    fxFlex="25%"
                                    name="occupation"
                                    [(ngModel)]="contactData.occupation"
                                    [placeholder]="'LNG_CONTACT_FIELD_LABEL_OCCUPATION' | translate"
                                    [options]="occupationsList$ | async">
                                </app-form-select>
                            </div>

                            <app-form-age-dob
                                fxFlex
                                name="ageDob"
                                [(ngModel)]="contactData"
                                [required]="false"
                                ageButtonLabel="LNG_CONTACT_FIELD_LABEL_AGE_BUTTON"
                                dobButtonLabel="LNG_CONTACT_FIELD_LABEL_DATE_OF_BIRTH_BUTTON"
                                dobPlaceholder="LNG_CONTACT_FIELD_LABEL_DOB"
                                dobTooltip="LNG_CONTACT_FIELD_LABEL_DOB_DESCRIPTION"
                                ageTooltip="LNG_CONTACT_FIELD_LABEL_AGE_DESCRIPTION">
                            </app-form-age-dob>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-datepicker
                                fxFlex
                                name="dateOfReporting"
                                [(ngModel)]="contactData.dateOfReporting"
                                [placeholder]="'LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                required="true"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                fxFlex
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="contactData.isDateOfReportingApproximate"
                                [label]="'LNG_CONTACT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate">
                            </app-form-slide-toggle>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">
                    {{'LNG_CONTACT_FIELD_LABEL_DOCUMENTS' | translate}}
                </div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="contactData.documents"
                    [required]="true">
                </app-form-document-list>

                <div>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Address step -->
        <mat-step [stepControl]="addressForm">
            <form #addressForm="ngForm">
                <ng-template matStepLabel>
                    {{ 'LNG_PAGE_CREATE_CONTACT_TAB_ADDRESS_TITLE' | translate }}
                </ng-template>

                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="contactData.addresses"
                    [required]="true">
                </app-form-address-list>

                <div>
                    <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Relationship step -->
        <mat-step [stepControl]="relationshipForm">
            <form #relationshipForm="ngForm">
                <ng-template matStepLabel>
                    {{ 'LNG_PAGE_CREATE_CONTACT_TAB_RELATIONSHIP_TITLE' | translate }}
                </ng-template>

                <mat-card class="page-section">
                    <app-form-relationship
                        name="relationship"
                        [(ngModel)]="relationship"
                        [relatedObject]="relatedEntityData"
                        required="true">
                    </app-form-relationship>
                </mat-card>

                <div>
                    <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>
                {{'LNG_STEPPER_FINAL_STEP_LABEL' | translate}}
            </ng-template>

            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}

            <div>
                <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button *app-selected-outbreak-is-active type="button" mat-button
                        (click)="createNewContact([personalForm, addressForm, relationshipForm])">
                    {{'LNG_PAGE_CREATE_CONTACT_ACTION_CREATE_CONTACT_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
