<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Personal step -->
        <mat-step [stepControl]="personalForm">
            <form #personalForm="ngForm">
                <ng-template matStepLabel>Personal</ng-template>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="contactData.firstName"
                                placeholder="First name"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="contactData.middleName"
                                placeholder="Middle name">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="contactData.lastName"
                                placeholder="Last name">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="contactData.gender"
                                placeholder="Gender"
                                required="true"
                                [options]="gendersList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="phoneNumber"
                                [(ngModel)]="contactData.phoneNumber"
                                placeholder="Phone number">
                            </app-form-input>

                            <app-form-input
                                name="occupation"
                                [(ngModel)]="contactData.occupation"
                                placeholder="Occupation">
                            </app-form-input>

                            <div fxFlex fxLayout="row">
                                <button fxFlex type="button" mat-raised-button [color]="ageSelected ? 'primary' : ''" (click)="switchAgeDob(true)">
                                    Age
                                </button>
                                <button fxFlex type="button" mat-raised-button [color]="!ageSelected ? 'primary' : ''"  (click)="switchAgeDob(false)">
                                    Date of birth
                                </button>
                            </div>

                            <div fxFlex>
                                <app-form-input [fxHide]="!ageSelected"
                                                name="age"
                                                [(ngModel)]="contactData.age"
                                                placeholder="Age">
                                </app-form-input>

                                <app-form-datepicker [fxHide]="ageSelected"
                                                name="dob"
                                                [(ngModel)]="contactData.dob"
                                                placeholder="Date of birth">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">Documents</div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="contactData.documents">
                </app-form-document-list>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- Address step -->
        <mat-step [stepControl]="addressForm">
            <form #addressForm="ngForm">
                <ng-template matStepLabel>Address</ng-template>

                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="contactData.addresses">
                </app-form-address-list>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button type="button" mat-button (click)="createNewContact([personalForm, addressForm])">Create Contact</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
