@import '~styles/common';

app-relationship-summary {
    .xt-icon {
        cursor: pointer;
    }

    .relationship-type {
        font-weight: bold;
    }

    .relationship-summary-wrapper {
        height: 195px;
        overflow-y: auto;

        .label {
            color: @color-dark-2nd;
        }
    }
}
