.form-icon-picker-container {
    width: 100%;
    display: flex;
    align-items: center;

    .form-icon-picker-label {
        margin-right: 10px;
    }

    .form-icon-picker-icon {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        padding: 0 10px;
    }

    button {
        padding: 0;
        margin-right: 10px;
    }
}
