@import 'mixins';
@import 'font';

app-basic-page-v2 {
  /* Page top section */
  .gd-basic-top {
    padding-bottom: 2.4rem;
  
    @include breakpoint('lt-lg') {
      padding-bottom: 0.8rem;
    }
  
    .gd-basic-top-title-buttons {
      /* Page title */
      .gd-basic-top-title-buttons-title {
        color: var(--gd-primary);
        font-family: $gd-font-family;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: $gd-line-height;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    
      /* Page top buttons */
      .gd-basic-top-title-buttons-buttons {
        &:empty {
          display: none !important;
        }

        .gd-basic-top-title-buttons-buttons-quick {
          .mat-icon {
            @include transition(all 0.24s ease-in-out 0s);
          }
    
          &.gd-basic-top-title-buttons-buttons-quick-expanded {
            .mat-icon {
              @include rotate(180deg);
            }
          }
        }
      }
    }
  }
  
  /* Page content section */
  .gd-basic-content.mat-card {
    min-height: 0;
    overflow: auto;
    padding: 1.6rem;

    @media screen and (max-height: 480px) {
      min-height: 50rem;
    }

    app-import-case-data & {
      min-height: 45rem;
    }

    app-view-movement-case &,
    app-case-count-map &,
    app-duplicate-records-list & {
      padding: 0;
    }

    app-contact-range-follow-ups-list &,
    app-transmission-chain-bars & {
      overflow: hidden;
      padding: 0;
    }
  }
}
