<form #groupForm="ngForm" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.8rem" fxLayoutGap.xs="0">
  <app-form-input-v2
    name="firstName"
    [(ngModel)]="contactOfContact.firstName"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_FIRST_NAME' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_FIRST_NAME_DESCRIPTION"
    required="true"
    (ngModelChange)="onChange()"
    maxlength="200">
  </app-form-input-v2>

  <app-form-input-v2
    name="lastName"
    [(ngModel)]="contactOfContact.lastName"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_LAST_NAME' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_LAST_NAME_DESCRIPTION"
    (ngModelChange)="onChange()"
    maxlength="200">
  </app-form-input-v2>

  <app-form-date-v2
    name="dateOfReporting"
    [(ngModel)]="contactOfContact.dateOfReporting"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
    required="true"
    (ngModelChange)="onChange()"
    [maxDate]="currentDate"
    app-date-validator
    [dateSameOrBefore]="currentDate">
  </app-form-date-v2>

  <app-form-select-single-v2
    name="gender"
    [(ngModel)]="contactOfContact.gender"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_GENDER' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_GENDER_DESCRIPTION"
    (ngModelChange)="onChange()"
    [options]="genderOptions">
  </app-form-select-single-v2>

  <app-form-select-single-v2
    name="occupation"
    [(ngModel)]="contactOfContact.occupation"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_OCCUPATION' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_OCCUPATION_DESCRIPTION"
    (ngModelChange)="onChange()"
    [options]="occupationsOptions">
  </app-form-select-single-v2>

  <!-- Age / Dob -->
  <div class="dob" fxFlex fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="0.8rem" fxLayoutGap.lt-lg="1.6rem">
    <!-- Age / Dob option -->
    <div
      fxFlex>
      <app-form-toggle-v2
        [(ngModel)]="ageChecked"
        [name]="FormHelperService.IGNORE_FIELD_PREFIX + 'ageDob'"
        [options]="ageDOBOptions"
        (ngModelChange)="onChange()"></app-form-toggle-v2>
    </div>

    <!-- Age -->
    <div
      *ngIf="ageChecked; else dob"
      fxFlex fxLayout="row" fxLayoutGap="0.8rem">

      <!-- Years -->
      <app-form-number-v2
        *ngIf="ageTypeYears; else months"
        fxFlex="calc(50% - 0.8rem)"
        [(ngModel)]="contactOfContact.age.years"
        name="age[years]"
        placeholder="LNG_AGE_FIELD_LABEL_YEARS"
        app-min-max-validator
        [minNumber]="0"
        [min]="0"
        [maxNumber]="Constants.DEFAULT_AGE_MAX_YEARS"
        [max]="Constants.DEFAULT_AGE_MAX_YEARS"
        (ngModelChange)="onChange()">
      </app-form-number-v2>

      <!-- Months -->
      <ng-template
        #months>
        <app-form-number-v2
          fxFlex="calc(50% - 0.8rem)" fxFlex.xs="calc(100% - 0.8rem)"
          [(ngModel)]="contactOfContact.age.months"
          name="age[months]"
          placeholder="LNG_AGE_FIELD_LABEL_MONTHS"
          app-min-max-validator
          [minNumber]="0"
          [min]="0"
          [maxNumber]="11"
          [max]="11"
          (ngModelChange)="onChange()">
        </app-form-number-v2>
      </ng-template>

      <!-- Type -->
      <app-form-select-single-v2
        fxFlex="calc(50% - 0.8rem)"
        [(ngModel)]="ageTypeYears"
        [name]="FormHelperService.IGNORE_FIELD_PREFIX + 'ageDobType'"
        placeholder="LNG_AGE_FIELD_LABEL_TYPE"
        [options]="ageTypeOptions"
        (ngModelChange)="ageTypeYears ? (contactOfContact.age.months = 0) : (contactOfContact.age.years = 0); onChange()"></app-form-select-single-v2>

    </div>

    <!-- Dob -->
    <ng-template
      #dob>
      <app-form-date-v2
        fxFlex="calc(50% - 0.8rem)" fxFlex.xs="calc(100% - 0.8rem)"
        [(ngModel)]="contactOfContact.dob"
        name="dob"
        placeholder="LNG_ENTITY_FIELD_LABEL_DOB"
        (ngModelChange)="onChange()"></app-form-date-v2>
    </ng-template>
  </div>

  <app-form-input-v2
    name="visualId"
    [(ngModel)]="contactOfContact.visualId"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_VISUAL_ID' | translate"
    [tooltip]="visualIDTooltip"
    [suffixIconButtons]="visualIdSuffixIconButtons"
    (ngModelChange)="onChange()">
  </app-form-input-v2>

  <app-form-select-single-v2
    name="riskLevel"
    [(ngModel)]="contactOfContact.riskLevel"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_RISK_LEVEL' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_RISK_LEVEL_DESCRIPTION"
    (ngModelChange)="onChange()"
    [options]="riskOptions">
  </app-form-select-single-v2>

  <app-form-textarea-v2
    name="riskReason"
    [(ngModel)]="contactOfContact.riskReason"
    [placeholder]="'LNG_CONTACT_OF_CONTACT_FIELD_LABEL_RISK_REASON' | translate"
    tooltip="LNG_CONTACT_OF_CONTACT_FIELD_LABEL_RISK_REASON_DESCRIPTION"
    (ngModelChange)="onChange()">
  </app-form-textarea-v2>
</form>
