app-locations-list {
    .no-records {
        text-align: center;
    }

    .location-search-filter {
        padding-right: 20px;

        .ng-select {
            padding-bottom: 0;

            .ng-dropdown-panel {
                // previous padding that was set to 0 above
                margin-top: 1.25em;
            }
        }
    }
}
