<app-list-table-v2
  pageTitle="LNG_PAGE_LIST_LOCATIONS_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.LOCATION_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!--
<app-topnav>
    <ng-container dynamic-section>

        <div class="topnav-actions">
            <button
                *ngIf="LocationModel.canCreate(authUser)"
                mat-raised-button
                color="accent"
                [routerLink]="parentId ? ['/locations', parentId, 'create'] : ['/locations', 'create']">
                <!~~ TODO: Should we change Add button label depending on parentId in new design too? ~~>
                {{( parentId ? 'LNG_PAGE_LIST_LOCATIONS_ADD_SUBLOCATION_BUTTON' : 'LNG_PAGE_LIST_LOCATIONS_ADD_LOCATION_BUTTON') | translate}} <span class="xt-icon">addCircle</span>
            </button>
        </div>
    </ng-container>
</app-topnav>
-->

<!--  TODO: Location filter needs to be implemented
    <div
        fxFlex
        class="location-search-filter"
        [ngClass]="{ 'form-section': !!parentId }">
<!~~        <app-form-location-dropdown~~>
<!~~            #locationFilter~~>
<!~~            fxFlex~~>
<!~~            name="locationIds"~~>
<!~~            [ngModel]="undefined"~~>
<!~~            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"~~>
<!~~            [useOutbreakLocations]="false"~~>
<!~~            (itemChanged)="searchLocationChanged($event)">~~>
<!~~        </app-form-location-dropdown>~~>

        <div
            *ngIf="parentId"
            class="form-actions">
            <!~~ placeholder ~~>
        </div>
    </div>
</div>

TODO: Needs redirect buttons for parrent location
<div [ngClass]="{ 'form-section': !!parentId }">
    <div class="form-content">
        <mat-card class="page-section page-content">

          OLD PAGE CONTENT

        </mat-card>
    </div>

    <div
        *ngIf="parentId"
        class="form-actions">
        <button
            *ngIf="LocationModel.canView(authUser)"
            mat-raised-button
            color="accent"
            [routerLink]="['/locations', parentId, 'view']"
            [queryParams]="{ backToCurrent: true }">
            {{'LNG_COMMON_BUTTON_VIEW' | translate}}
        </button>

        <button
            *ngIf="LocationModel.canModify(authUser)"
            mat-raised-button
            color="accent"
            [routerLink]="['/locations', parentId, 'modify']"
            [queryParams]="{ backToCurrent: true }">
            {{'LNG_COMMON_BUTTON_MODIFY' | translate}}
        </button>
    </div>
</div>
 -->