<app-list-table-v2
  [pageTitle]="pageTitle"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.LOCATION_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!--  TODO: Location filter needs to be implemented
    <div
        fxFlex
        class="location-search-filter"
        [ngClass]="{ 'form-section': !!parentId }">
<!~~        <app-form-location-dropdown~~>
<!~~            #locationFilter~~>
<!~~            fxFlex~~>
<!~~            name="locationIds"~~>
<!~~            [ngModel]="undefined"~~>
<!~~            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"~~>
<!~~            [useOutbreakLocations]="false"~~>
<!~~            (itemChanged)="searchLocationChanged($event)">~~>
<!~~        </app-form-location-dropdown>~~>

        <div
            *ngIf="parentId"
            class="form-actions">
            <!~~ placeholder ~~>
        </div>
    </div>
</div>
-->
