<div class="dashboard-box">
    <!-- Header with link -->
    <div *ngIf="link"
         class="dashboard-box-header">

        <!-- Header - first part - before input -->
        <div [routerLink]="link"
             [queryParams]="queryParams">
            {{metricTitle[0] | translate}}
        </div>
        <!-- Header - input -->
        <app-form-input fxFlex="40px"
                        fxFlexOffset="5px"
                        class="setting-input"
                        [name]="metricTitle[0] + '-value'"
                        [(ngModel)]="settingValue"
                        [placeholder]="''"
                        type="number"
                        (input)="onChangeSetting()">
        </app-form-input>
        <!-- Header - first part - after input -->
        <div fxFlexOffset="5px"
             [routerLink]="link"
             [queryParams]="queryParams">
            {{metricTitle[1] | translate}}
        </div>

    </div>

    <!-- Header without link -->
    <div *ngIf="!link"
         class="dashboard-box-header">

        <!-- Header - first part - before input -->
        <div>
            {{metricTitle[0] | translate}}
        </div>
        <!-- Header - input -->
        <app-form-input fxFlex="40px"
                        fxFlexOffset="5px"
                        class="setting-input"
                        [name]="metricTitle[0] + '-value'"
                        [(ngModel)]="settingValue"
                        [placeholder]="''"
                        type="number"
                        (input)="onChangeSetting()">
        </app-form-input>
        <!-- Header - first part - after input -->
        <div fxFlexOffset="5px">
            {{metricTitle[1] | translate}}
        </div>

    </div>

    <!-- Content -->
    <div class="dashboard-box-content">
        {{value}}
    </div>
</div>
