app-form-debug {
    z-index: 10000;
    pointer-events: none;
    display: inline-block;
    width: 500px;
    opacity: 0.5;
    background-color: black;
    padding: 7px;

    .debug-line {
        white-space: nowrap;
        color: white;
        font-size: 17px;

        .debug-line-title {
            font-weight: bold;
        }

        .debug-line-info {
            padding-left: 5px;
        }
    }
}
