<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div *ngIf="hasReferenceDataWriteAccess()" class="topnav-actions">
                <button
                    *ngIf="hasReferenceDataWriteAccess()"
                    class="button-primary"
                    mat-raised-button
                    color="primary"
                    [routerLink]="['/reference-data', 'manage-icons', 'list']"
                    [queryParams]="{ categoryId: categoryId }">
                    {{'LNG_PAGE_REFERENCE_DATA_CATEGORY_ENTRIES_LIST_MANAGE_ICONS_BUTTON' | translate}}
                </button>

                <button class="button-primary" mat-raised-button color="primary" [routerLink]="'./create'">
                    {{'LNG_COMMON_BUTTON_ADD' | translate}} <span class="xt-icon">addCircle</span>
                </button>
            </div>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">

    <mat-table #table [dataSource]="categoryEntries$ | async">

        <!-- Label -->
        <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_VALUE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.value | translate }}
            </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_DESCRIPTION' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.description | translate }}
            </mat-cell>
        </ng-container>

        <!-- Icon -->
        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_ICON' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <img
                    *ngIf="item.iconId"
                    [src]="item.iconUrl" />
                <div
                    *ngIf="!item.iconId">
                    {{ 'LNG_PAGE_REFERENCE_DATA_CATEGORY_ENTRIES_LIST_LABEL_NO_ICON' | translate }}
                </div>
            </mat-cell>
        </ng-container>

        <!-- Color -->
        <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_COLOR' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <div
                    *ngIf="item.colorCode"
                    class="ref-data-color-picker"
                    [style.background]="item.colorCode">
                    {{ item.colorCode }}
                </div>

                <div
                    *ngIf="!item.colorCode">
                    {{ 'LNG_PAGE_REFERENCE_DATA_CATEGORY_ENTRIES_LIST_LABEL_NO_COLOR' | translate }}
                </div>
            </mat-cell>
        </ng-container>

        <!-- Active -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_ACTIVE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ (item.active ? 'LNG_COMMON_LABEL_YES' : 'LNG_COMMON_LABEL_NO') | translate }}
            </mat-cell>
        </ng-container>

        <!-- Readonly-->
        <ng-container matColumnDef="readonly">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_REFERENCE_DATA_ENTRY_FIELD_LABEL_SYSTEM_VALUE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.readonly"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">

                <button
                    mat-icon-button
                    [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">
                    <button
                        mat-menu-item
                        [routerLink]="['.', item.id, 'view']">
                        {{'LNG_PAGE_ACTION_VIEW' | translate}}
                    </button>

                    <button
                        mat-menu-item
                        [routerLink]="['.', item.id, 'modify']">
                        {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                    </button>

                    <button
                        *ngIf="!item.readonly"
                        mat-menu-item
                        (click)="deleteEntry(item)">
                        {{'LNG_PAGE_ACTION_DELETE' | translate}}
                    </button>
                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

</mat-card>
