<!-- Fancy tooltip -->
<span
    *ngIf="tooltip"
    class="form-icon-fancy">

    <!-- Content -->
    <popper-content
      #popperContent>
      <div
        [innerHtml]="tooltip">
      </div>
    </popper-content>

    <!-- help button -->
    <span
        class="xt-icon {{tooltipIconClasses}}"
        [popper]="popperContent"
        popperTrigger="hover"
        popperPlacement="bottom"
        popperApplyClass="form-icon-fancy-content"
        [popperPreventOverflow]="true"
        [popperPositionFixed]="true"
        popperAppendTo="body">{{tooltipIcon}}</span>
</span>
