<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyEvent(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_EVENT_TAB_DETAILS_TITLE' | translate">

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="name"
                                [(ngModel)]="eventData.name"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_NAME' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_NAME_DESCRIPTION"
                                required="true"
                                maxlength="100"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-datepicker
                                name="date"
                                [(ngModel)]="eventData.date"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfReporting"
                                [(ngModel)]="eventData.dateOfReporting"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
                                required="true"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="eventData.isDateOfReportingApproximate"
                                [label]="'LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE_DESCRIPTION"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-textarea
                                name="description"
                                [(ngModel)]="eventData.description"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_DESCRIPTION' | translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                                maxlength="500"
                                [disabled]="viewOnly">
                            </app-form-textarea>
                        </div>
                    </div>
                </mat-card>

                <!-- Create / update by user information section -->
                <div class="section-title">
                    {{ 'LNG_PAGE_MODIFY_CONTACT_TAB_PERSONAL_SECTION_RECORD_DETAILS_TITLE' | translate }}
                </div>
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="createdByUser"
                                [ngModel]="eventData.createdByUser?.name"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_CREATED_BY'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_CREATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="createdAt"
                                [ngModel]="eventData.createdAt | dateTimeDefault"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_CREATED_AT'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_CREATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedByUser"
                                [ngModel]="eventData.updatedByUser?.name"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_UPDATED_BY'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_UPDATED_BY_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>

                            <app-form-input
                                name="updatedAt"
                                [ngModel]="eventData.updatedAt | dateTimeDefault"
                                [placeholder]="'LNG_EVENT_FIELD_LABEL_UPDATED_AT'| translate"
                                tooltip="LNG_EVENT_FIELD_LABEL_UPDATED_AT_DESCRIPTION"
                                [disabled]="true">
                            </app-form-input>
                        </div>
                    </div>
                </mat-card>

            </mat-tab>

            <mat-tab [label]="'LNG_PAGE_MODIFY_EVENT_TAB_ADDRESS_TITLE' | translate">
                <div class="address-min-height">
                    <mat-card class="page-section">
                        <app-form-address
                            name="address"
                            [(ngModel)]="eventData.address"
                            [disabled]="viewOnly">
                        </app-form-address>
                    </mat-card>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="hasEventWriteAccess() && viewOnly"
                mat-raised-button type="button" color="accent"
                [routerLink]="['/events', eventId, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT'| translate}}
        </button>

        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button type="button" [routerLink]="'/events'" mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>

        <div class="page-tabs-navbar-placeholder"></div>

        <ng-container *ngIf="hasContactWriteAccess()">
            <button
                type="button"
                mat-raised-button color="accent"
                routerLink="/contacts/create"
                [queryParams]="{ entityType: EntityType.EVENT, entityId: eventId }">
                {{'LNG_PAGE_ACTION_ADD_CONTACT' | translate}}
            </button>

            <div class="page-tabs-navbar-placeholder"></div>
        </ng-container>

        <button mat-raised-button type="button" [routerLink]="['/relationships', EntityType.EVENT, eventId, 'contacts']">
            {{ 'LNG_COMMON_BUTTON_EXPOSURES_FROM' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/relationships', EntityType.EVENT, eventId, 'exposures']">
            {{ 'LNG_COMMON_BUTTON_EXPOSURES_TO' | translate }}
        </button>
    </div>
</form>
