@import '~styles/common';

.formColumn{
    padding: 20px;
}
.outbreakTabs .mat-tab-body{
    min-height: 500px;
    padding: 20px;
}
.datePicker .mat-input-wrapper{
    display: inline-block;
    max-width: 180px;
}
