<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="form-content">

    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>Details</ng-template>

                <mat-card class="page-section">

                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="name"
                                        [(ngModel)]="newOutbreak.name"
                                        placeholder="Outbreak name"
                                        required="true">
                        </app-form-input>
                        <app-form-input fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                        name="disease"
                                        [(ngModel)]="newOutbreak.disease"
                                        placeholder="Disease"
                                        required="true">
                        </app-form-input>

                    </div>
                    <div fxLayout.xs="column">
                        <app-form-textarea fxFlex="42%"
                                           name="description"
                                           [(ngModel)]="newOutbreak.description"
                                           placeholder="Description"
                                           required="true">
                        </app-form-textarea>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="country"
                                        [(ngModel)]="newOutbreak.country"
                                        placeholder="Country"
                                        required="true">
                        </app-form-input>
                        <app-form-slide-toggle fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                               name="active"
                                               [(ngModel)]="newOutbreak.active"
                                               label="Active?">
                        </app-form-slide-toggle>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-datepicker fxFlex="20%"
                                             name="startDate"
                                             [(ngModel)]="newOutbreak.startDate"
                                             placeholder="Start Date"
                                             required="true">
                        </app-form-datepicker>
                        <app-form-datepicker fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                             name="endDate"
                                             [(ngModel)]="newOutbreak.endDate"
                                             placeholder="End Date">
                        </app-form-datepicker>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="periodOfFollowup"
                                        [(ngModel)]="newOutbreak.periodOfFollowup"
                                        placeholder="Duration for the follow-up ( days) "
                                        required="true">
                        </app-form-input>
                        <app-form-input fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                        name="frequencyOfFollowUp"
                                        [(ngModel)]="newOutbreak.frequencyOfFollowUp"
                                        placeholder="Follow-up frecquency"
                                        required="true">
                        </app-form-input>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="noDaysAmongContacts"
                                        [(ngModel)]="newOutbreak.noDaysAmongContacts"
                                        placeholder="KPI - days among known contacts"
                                        required="true">
                        </app-form-input>
                        <app-form-input fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                        name="noDaysDaysInChains"
                                        [(ngModel)]="newOutbreak.noDaysDaysInChains"
                                        placeholder="KPI - days in known transmission chains"
                                        required="true">
                        </app-form-input>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="noDaysNotSeen"
                                        [(ngModel)]="newOutbreak.noDaysNotSeen"
                                        placeholder="KPI - days not seen"
                                        required="true">
                        </app-form-input>
                        <app-form-input fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                        name="noLessContacts"
                                        [(ngModel)]="newOutbreak.noLessContacts"
                                        placeholder="KPI - less than X contacts"
                                        required="true">
                        </app-form-input>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="caseIdMask"
                                        [(ngModel)]="newOutbreak.caseIdMask"
                                        placeholder="Case Id Mask"
                                        required="true">
                        </app-form-input>
                        <app-form-input fxFlex="20%" fxFlex.sm="30%" fxFlexOffset="20px" fxFlexOffset.sm="0px"
                                        name="locationId"
                                        [(ngModel)]="newOutbreak.locationId"
                                        placeholder="Location"
                                        required="true">
                        </app-form-input>
                    </div>
                    <div fxLayout.xs="column">
                        <app-form-input fxFlex="20%"
                                        name="longPeriodsBetweenCaseOnset"
                                        [(ngModel)]="newOutbreak.longPeriodsBetweenCaseOnset"
                                        placeholder="Long Periods ( days )"
                                        required="true">
                        </app-form-input>
                    </div>
                </mat-card>

                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="caseInvestigationForm">
            <form #caseInvestigationForm="ngForm">
                <ng-template matStepLabel>Case Investigation</ng-template>

                <question *ngFor="let question of caseInvestigationTemplateQuestions" [question]="question"
                          [viewOnly]="viewOnlyCaseInvestigation"></question>

                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="contactFollowUpForm">
            <form #contactFollowUpForm="ngForm">
                <ng-template matStepLabel>Contact Follow-up</ng-template>

                <question *ngFor="let question of contactFollowupTemplateQuestions" [question]="question"
                          [viewOnly]="viewOnlyContactFollowup"></question>

                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="labResultsForm">
            <form #labResultsForm="ngForm">
                <ng-template matStepLabel>Lab Results</ng-template>

                <question *ngFor="let question of labResultsTemplateQuestions" [question]="question"
                          [viewOnly]="viewOnlyLabResults"></question>

                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button matStepperPrevious mat-raised-button>Back</button>
                <button type="button" mat-raised-button color="primary"
                        (click)="createOutbreak([detailsForm, caseInvestigationForm, contactFollowUpForm, labResultsForm ])">
                    Create Outbreak
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
