<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- step Details -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>Details</ng-template>

                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="name"
                                [(ngModel)]="newOutbreak.name"
                                placeholder="Outbreak name"
                                required="true">
                            </app-form-input>
                            <app-form-select
                                name="disease"
                                [(ngModel)]="newOutbreak.disease"
                                placeholder="Disease"
                                [options]="diseasesList$ | async"
                                required="true">
                            </app-form-select>
                            <app-form-select
                                name="countries"
                                [(ngModel)]="newOutbreak.countries"
                                placeholder="Countries"
                                [options]="countriesList$ | async"
                                optionLabelKey="label"
                                optionValueKey="value"
                                required="true"
                                multiple="true"
                            >
                            </app-form-select>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                        <app-form-textarea
                            name="description"
                            [(ngModel)]="newOutbreak.description"
                            placeholder="Description"
                            required="true">
                        </app-form-textarea>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-datepicker
                                name="startDate"
                                [(ngModel)]="newOutbreak.startDate"
                                placeholder="Start Date"
                                required="true">
                            </app-form-datepicker>
                            <app-form-datepicker
                                name="endDate"
                                [(ngModel)]="newOutbreak.endDate"
                                placeholder="End Date">
                            </app-form-datepicker>
                            <app-form-input
                                name="periodOfFollowup"
                                [(ngModel)]="newOutbreak.periodOfFollowup"
                                placeholder="Duration for the follow-up ( days) "
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="frequencyOfFollowUp"
                                [(ngModel)]="newOutbreak.frequencyOfFollowUp"
                                placeholder="Follow-up frecquency"
                                required="true">
                            </app-form-input>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="noDaysAmongContacts"
                                [(ngModel)]="newOutbreak.noDaysAmongContacts"
                                placeholder="KPI - days among known contacts"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="noDaysDaysInChains"
                                [(ngModel)]="newOutbreak.noDaysDaysInChains"
                                placeholder="KPI - days in known transmission chains"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="noDaysNotSeen"
                                [(ngModel)]="newOutbreak.noDaysNotSeen"
                                placeholder="KPI - days not seen"
                                required="true">
                            </app-form-input>
                            <app-form-input
                                name="noLessContacts"
                                [(ngModel)]="newOutbreak.noLessContacts"
                                placeholder="KPI - less than X contacts"
                                required="true">
                            </app-form-input>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="caseIdMask"
                                [(ngModel)]="newOutbreak.caseIdMask"
                                placeholder="Case Id Mask"
                                required="true"
                                tooltip="Example of mask: RX-0000. It will generate Ids in the range: RX-0001 and RX-9999.">
                            </app-form-input>
                            <app-form-input
                                name="longPeriodsBetweenCaseOnset"
                                [(ngModel)]="newOutbreak.longPeriodsBetweenCaseOnset"
                                placeholder="KPI - long periods ( days )"
                                required="true">
                            </app-form-input>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>
                    </div>
                </mat-card>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- step Case Investigation - questionnaire -->
        <mat-step [stepControl]="caseInvestigationForm">
            <form #caseInvestigationForm="ngForm">
                <ng-template matStepLabel>Case Investigation</ng-template>
                <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                    <button fxFlexOffset="15px" type="button" mat-button
                            color="primary" (click)="addNewQuestion('case-investigation')">Add Question
                    </button>
                </div>
                <div class="questions-wrapper">
                    <question *ngFor="let question of caseInvestigationTemplateQuestions" [question]="question"
                              [viewOnly]="viewOnlyCaseInvestigation"
                              (deleteQuestion)="deleteQuestion('case-investigation',question)"
                              (deleteAnswer)="deleteAnswer('case-investigation',$event)"
                              (linkAnswer)="linkAnswer('case-investigation',$event)"
                              (duplicateQuestion)="duplicateQuestion('case-investigation',question)"></question>
                </div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>

        <!-- step Contact Follow-up - questionnaire -->
        <mat-step [stepControl]="contactFollowUpForm">
            <form #contactFollowUpForm="ngForm">
                <ng-template matStepLabel>Contact Follow-up</ng-template>
                <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                    <button fxFlexOffset="15px" type="button" mat-button
                            color="primary" (click)="addNewQuestion('contact-followup')">Add Question
                    </button>
                </div>
                <div class="questions-wrapper">
                    <question *ngFor="let question of contactFollowupTemplateQuestions" [question]="question"
                              [viewOnly]="viewOnlyContactFollowup"
                              (deleteQuestion)="deleteQuestion('contact-followup',question)"
                              (deleteAnswer)="deleteAnswer('contact-followup',$event)"
                              (linkAnswer)="linkAnswer('contact-followup',$event)"
                              (duplicateQuestion)="duplicateQuestion('contact-followup',question)"></question>
                </div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>

        <!-- step Lab Results - questionnaire -->
        <mat-step [stepControl]="labResultsForm">
            <form #labResultsForm="ngForm">
                <ng-template matStepLabel>Lab Results</ng-template>
                <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                    <button fxFlexOffset="15px" type="button" mat-button
                            color="primary" (click)="addNewQuestion('lab-results')">Add Question
                    </button>
                </div>
                <div class="questions-wrapper">
                    <question *ngFor="let question of labResultsTemplateQuestions" [question]="question"
                              [viewOnly]="viewOnlyLabResults"
                              (deleteQuestion)="deleteQuestion('lab-results',question)"
                              (deleteAnswer)="deleteAnswer('lab-results',$event)"
                              (linkAnswer)="linkAnswer('lab-results',$event)"
                              (duplicateQuestion)="duplicateQuestion('lab-results',question)"></question>
                </div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>

        <!-- Final step - submit -->
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <br><br><br>
            <div fxLayout="row" fxLayoutGap="50px" fxFlex fxFlexAlign="center">
                You are now done.
            </div>
            <br><br><br>
            <div>
                <button matStepperPrevious mat-raised-button>Back</button>
                <button type="button" mat-raised-button color="primary"
                        (click)="createOutbreak([detailsForm, caseInvestigationForm, contactFollowUpForm, labResultsForm ])">
                    Create Outbreak
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
