@import '~styles/common';

.authenticated {

    .sidenav-toggle {
        position: fixed;
        z-index: 2;
        margin-top: 58px;
    }

    .sidenav-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        mat-sidenav {
            z-index: 10;
        }
    }
}
