<div class="authenticated app-theme" fxLayout="column" *ngIf="authUser">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #snav mode="over" fixedInViewport>
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>

            <button class="sidenav-toggle" mat-raised-button color="accent" (click)="snav.toggle()">
                {{ 'LNG_LAYOUT_MENU_BUTTON_LABEL' | translate }}
            </button>

            <app-global-entity-search>

            </app-global-entity-search>

            <a *ngIf="contextSearchHelpItems"
                class="context-help-trigger"
                target="_blank"
                [routerLink]="['/help']"
                [queryParams]="{ applyListFilter: Constants.APPLY_LIST_FILTER.CONTEXT_SENSITIVE_HELP_ITEMS, helpItemsIds: contextSearchHelpItems }">
                <span class="xt-icon">help</span>
            </a>

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
