<mat-sidenav-container
  class="gd-body-content">

  <!-- Left Side - Logo & Main Menu -->
  <mat-sidenav
    class="gd-body-content-left"
    [class.gd-body-content-left-expanded]="expandMenu"
    opened="true"
    mode="side"
    fixedInViewport="true">

    <!-- Content -->
    <div
      class="gd-body-content-left-content">

      <!-- Logo -->
      <div
        class="gd-body-content-left-content-logo"
        [routerLink]="['/']"
        tabindex="-1"></div>

      <!-- Main Menu -->
      <div
      class="gd-body-content-left-content-menu">
        Menu
      </div>

    </div>

    <!-- Expand / Collapse button -->
    <button
      type="button"
      mat-icon-button
      (click)="expandMenu = !expandMenu"
      class="gd-expand-collapse-button">
      <span class="material-icons">chevron_left</span>
    </button>

  </mat-sidenav>

  <!-- Right side - top bar & page content -->
  <mat-sidenav-content
    class="gd-body-content-right"
    [class.gd-body-content-right-expanded]="expandMenu">

    <!-- top bar -->
    <div
      class="gd-body-content-right-top">
      top
    </div>

    <!-- Bottom part - page content -->
    <div
      class="gd-body-content-right-bottom">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>



<!--
#TODO - old html code - must remove once not needed anymore
<div class="authenticated app-theme" fxLayout="column" *ngIf="authUser">
    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #snav mode="over" fixedInViewport>
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>

            <button class="sidenav-toggle" mat-raised-button color="accent" (click)="snav.toggle()">
                {{ 'LNG_LAYOUT_MENU_BUTTON_LABEL' | translate }}
            </button>

            <app-global-entity-search>
            </app-global-entity-search>

            <div *ngIf="contextSearchHelpItems"
                class="context-help-trigger"
                (click)="displayHelpDialog()">
                <span class="xt-icon">help</span>
            </div>

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
-->
