app-transmission-chain-filters {
    .mat-card {
        margin-bottom: 20px;

        .app-transmission-chain-filters-title {
            font-weight: 600;
            font-size: 20px;
        }
    }
}
