<div>
    <app-topnav>
        <ng-container dynamic-section>
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </ng-container>
    </app-topnav>

    <div class="page-content">

        <mat-card>
            <!-- other KPI section header -->
            <div class="other-kpi-header"> {{'LNG_PAGE_DASHBOARD_KPI_TITLE' | translate}}</div>

            <!-- other KPI section content -->
            <div class="other-kpi-content">

                <!-- Contacts per case mean -->
                <app-contacts-per-case-mean-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-mean-dashlet>

                <!-- Contacts per case median -->
                <app-contacts-per-case-median-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-median-dashlet>

                <!-- Contacts on the follow-up list -->
                <app-contacts-on-followup-list-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-on-followup-list-dashlet>

                <!-- Cases who have died -->
                <app-cases-deceased-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-deceased-dashlet>

                <!-- Cases hospitalised -->
                <app-cases-hospitalised-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-hospitalised-dashlet>

                <!-- Contacts Not Seen -->
                <app-contacts-not-seen-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-not-seen-dashlet>

                <!-- Cases with Less than x Contacts -->
                <app-cases-less-contacts-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-less-contacts-dashlet>

                <!-- New cases detected in the previous x days among contacts -->
                <app-new-cases-previous-days-contacts-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-new-cases-previous-days-contacts-dashlet>

                <!-- Contacts Lost to follow-up -->
                <app-contacts-lost-to-follow-up-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-lost-to-follow-up-dashlet>

                <!-- New cases in previous x days in known transmission chains -->
                <app-new-cases-previous-days-transmission-chains-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-new-cases-previous-days-transmission-chains-dashlet>

                <!-- number of independent chains of transmission -->
                <app-independent-transmission-chains-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-independent-transmission-chains-dashlet>

                <div class="other-kpi-content-bottom"></div>

            </div>

        </mat-card>

    </div>
</div>
