<div>
    <app-topnav>
        <ng-container dynamic-section>
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </ng-container>
    </app-topnav>

    <div class="page-content">

        <mat-card>
            <!-- other KPI section header -->
            <div class="other-kpi-header"> {{'LNG_PAGE_DASHBOARD_KPI_TITLE' | translate}}</div>

            <!-- other KPI section content -->
            <div class="other-kpi-content">

                <!-- Contacts per case mean -->
                <app-contacts-per-case-mean-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-mean-dashlet>

                <!-- Contacts per case median -->
                <app-contacts-per-case-median-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-median-dashlet>

                <!-- Contacts on the follow-up list -->
                <app-contacts-on-followup-list-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-on-followup-list-dashlet>

                <!-- Cases who have died -->
                <app-cases-deceased-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-deceased-dashlet>

                <!-- Cases hospitalised -->
                <app-cases-hospitalised-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-hospitalised-dashlet>

                <div class="other-kpi-content-bottom"></div>

            </div>

        </mat-card>

    </div>
</div>
