@import 'mixins';
@import 'font';

/* Dashboard */
.gd-dashboard {
  min-height: 100%;
  position: relative;

  > .mat-progress-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    @include translate(-50%, -50%);
  }

  /* Page top section */
  .gd-dashboard-top {
    @include breakpoint('md') {
      margin: -1.2rem -2rem 2.4rem;
    }

    @include breakpoint('sm') {
      margin: -1.2rem -2rem 2.4rem;
    }

    @include breakpoint('gt-xs') {
      background: #F5F5F6;
      @include box-shadow(0.2rem 0.2rem 0.2rem rgba(var(--gd-text-rgb), 0.1));
      margin: -1.2rem -4rem 2.4rem;
      padding: 1.6rem 4rem;
      position: sticky;
      top: -1.2rem;
      z-index: 999;
    }

    @include breakpoint('xs') {
      margin-bottom: 2.4rem;
    }

    .gd-dashboard-top-title-buttons {
      /* Page title */
      .gd-basic-top-title-buttons-title {
        color: var(--gd-primary);
        font-family: $gd-font-family;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: $gd-line-height;
      }

      /* Page top buttons */
      .gd-basic-top-title-buttons-buttons {
        &:empty {
          display: none !important;
        }

        @include breakpoint('xxs') {
          margin-top: 1.6rem;
        }

        .gd-basic-top-title-buttons-buttons-quick {
          .mat-icon {
            @include transition(all 0.24s ease-in-out 0s);
          }

          &.gd-basic-top-title-buttons-buttons-quick-expanded {
            .mat-icon {
              @include rotate(180deg);
            }
          }
        }
      }
    }
  }

  .gd-dashboard-bottom {
    .gd-dashboard-bottom-row {
      margin-right: -1.6rem;

      @include breakpoint('lt-lg') {
        margin-right: 0;
      }

      /* Fix for angular flex-layout */
      @media screen and (min-width: 1280px) and (max-width: 1599px) {
        @include flex_align_items(flex-start !important);
        @include flex_direction(column !important);
        @include flex_justify(start !important);
        margin-bottom: 0 !important;
      }

      > * {
        max-width: calc(33.3333% - 1.6rem);
        width: 100%;

        @include breakpoint('lt-lg') {
          max-width: 100%;
        }

        /* Fix for angular flex-layout */
        @media screen and (min-width: 1280px) and (max-width: 1599px) {
          margin-bottom: 1.6rem;
        }
      }
    }
  }

  .gd-dashboard-no-data {
   left: 50%;
   position: absolute;
   top: 50%;
   @include translate(-50%, -50%);
  
   .gd-dashboard-no-data-image {
     background-image: url(../../../../../assets/images/nothing-found.svg);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     height: 15rem;
     width: 15rem;
   }
  
   .gd-dashboard-no-data-text {
     color: var(--gd-secondary);
     display: block;
     font-size: 1.4rem;
     padding: 1.6rem 0.8rem;
     text-align: center;
   }
  }
}
