<div>
    <app-topnav>
        <ng-container dynamic-section>
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </ng-container>
    </app-topnav>

    <div class="page-content">

        <mat-card class="dashboard-section">

            <div class="other-kpi-header"> {{'LNG_PAGE_DASHBOARD_CHAINS_OF_TRANSMISSION_TITLE' | translate}}</div>

            <!-- Chains of transmission -->
            <app-transmission-chains-dashlet
                *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
            </app-transmission-chains-dashlet>

        </mat-card>

        <mat-card class="dashboard-section">
            <!-- other KPI section header -->
            <div class="other-kpi-header">
                {{'LNG_PAGE_DASHBOARD_KPI_TITLE' | translate}}
            </div>

            <!-- other KPI section content -->
            <div class="other-kpi-content" fxLayout="row wrap">

                <!-- Contacts per case mean -->
                <app-contacts-per-case-mean-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-mean-dashlet>

                <!-- Contacts per case median -->
                <app-contacts-per-case-median-dashlet
                    *ngIf="hasReadContactPermissions()">
                </app-contacts-per-case-median-dashlet>

                <!-- Contacts on the follow-up list -->
                <app-contacts-on-followup-list-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-on-followup-list-dashlet>

                <!-- Cases who have died -->
                <app-cases-deceased-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-deceased-dashlet>

                <!-- Cases hospitalised -->
                <app-cases-hospitalised-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-hospitalised-dashlet>

                <!-- Contacts Not Seen -->
                <app-contacts-not-seen-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-not-seen-dashlet>

                <!-- Cases with Less than x Contacts -->
                <app-cases-less-contacts-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-less-contacts-dashlet>

                <!-- New cases detected in the previous x days among contacts -->
                <app-new-cases-previous-days-contacts-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-new-cases-previous-days-contacts-dashlet>

                <!-- Contacts Lost to follow-up -->
                <app-contacts-lost-to-follow-up-dashlet
                    *ngIf="hasReadContactPermissions() && hasReadReportPermissions()">
                </app-contacts-lost-to-follow-up-dashlet>

                <!-- New cases in previous x days in known transmission chains -->
                <app-new-cases-previous-days-transmission-chains-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-new-cases-previous-days-transmission-chains-dashlet>

                <!-- number of independent chains of transmission -->
                <app-independent-transmission-chains-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-independent-transmission-chains-dashlet>

                <!-- Suspect Cases where the lab result is pending -->
                <app-cases-pending-lab-results-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-pending-lab-results-dashlet>

                <!-- Cases refusing to be transferred to a treatment unit -->
                <app-cases-refusing-treatment-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-cases-refusing-treatment-dashlet>

                <!-- Number of active chains of transmission -->
                <app-number-of-active-chains-of-transmission-dashlet
                    *ngIf="hasReadReportPermissions()">
                </app-number-of-active-chains-of-transmission-dashlet>

                <!-- Number of contacts becoming cases in period & location -->
                <app-contacts-become-cases-dashlet
                    *ngIf="hasReadCasePermissions() && hasReadReportPermissions()">
                </app-contacts-become-cases-dashlet>

                <!-- Number of new chains of transmission from registered contacts who have became cases-->
                <app-new-chains-of-transmission-from-registered-contacts-dashlet
                    *ngIf="hasReadReportPermissions()">
                </app-new-chains-of-transmission-from-registered-contacts-dashlet>

                <!-- Contacts seen each day -->
                <app-contacts-seen-each-day-dashlet
                *ngIf="hasReadContactPermissions() && hasReadUserPermissions()">
                </app-contacts-seen-each-day-dashlet>
            </div>

        </mat-card>


    </div>
</div>
