app-dashboard {

    .other-kpi-header {
        margin: 20px 0;
        font-weight: bold;
        font-size: 23px;
    }

    .other-kpi-content {
        clear: both;
        padding-bottom: 20px;
    }

    .dashboard-section {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dashlet-kpi-content {
        clear: both;
        padding-bottom: 20px;
    }

}
