<app-list-table-v2
  pageTitle="LNG_PAGE_LIST_SYSTEM_CLIENT_APPLICATIONS_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.SYNC_CLIENT_APPLICATIONS_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount()"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!-- TODO: To be deleted after show/hide feature is implemented -->
<!-- <mat-card class="page-section page-content">
    <mat-table #table [dataSource]="clientApplicationsServerList">
        
        <!~~ Credentials ~~>
        <ng-container matColumnDef="credentials">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{'LNG_SYSTEM_CLIENT_APPLICATION_FIELD_LABEL_CREDENTIALS' | translate}}

                        <button
                            type="button"
                            mat-icon-button
                            class="column-actions-button"
                            [disableRipple]="true"
                            [matMenuTriggerFor]="columnActions"
                            color="accent"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #columnActions="matMenu">
<!~~                            <button~~>
<!~~                                mat-menu-item~~>
<!~~                                (click)="toggleColumn('credentials', true)">~~>
<!~~                                {{ 'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_SHOW_ALL' | translate }}~~>
<!~~                            </button>~~>
<!~~                            <button~~>
<!~~                                mat-menu-item~~>
<!~~                                (click)="toggleColumn('credentials', false)">~~>
<!~~                                {{ 'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_HIDE_ALL' | translate }}~~>
<!~~                            </button>~~>
                        </mat-menu>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
<!~~                &lt;!&ndash; Hidden Credentials &ndash;&gt;~~>
<!~~                <ng-container *ngIf="!isCellExpanded('credentials', item.id); else displayCredentialsDiv">~~>
<!~~                    <button~~>
<!~~                        type="button"~~>
<!~~                        mat-button~~>
<!~~                        color="accent"~~>
<!~~                        (click)="toggleCell('credentials', item.id, true)"~~>
<!~~                    >~~>
<!~~                        {{'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_SHOW' | translate}}~~>
<!~~                    </button>~~>
<!~~                </ng-container>~~>

<!~~                &lt;!&ndash; Visible Credentials &ndash;&gt;~~>
<!~~                <ng-template~~>
<!~~                    #displayCredentialsDiv>~~>
<!~~                    {{ item.credentials?.clientId + ' / ' + item.credentials?.clientSecret }}~~>

<!~~                    <button~~>
<!~~                        type="button"~~>
<!~~                        mat-button~~>
<!~~                        color="accent"~~>
<!~~                        (click)="toggleCell('credentials', item.id, false)"~~>
<!~~                    >~~>
<!~~                        {{'LNG_LIST_PAGES_BUTTON_COLUMN_ACTIONS_HIDE' | translate}}~~>
<!~~                    </button>~~>
<!~~                </ng-template>~~>
            </mat-cell>
        </ng-container>

    </mat-table>
</mat-card> -->
