app-bb-combination-stacked-bar-chart {
    .bb path, .bb line {
        fill: none;
    }

    .bb-legend-item {
        cursor: default !important;
    }

    .tick {
        font-size: 12px;
    }

    .bb-axis {
        fill: #000000;
    }
    .bb-axis line, .bb-axis path {
        stroke: #ccc;
        fill: none !important
    }
    .bb-axis-y .tick line {
        stroke: #fff;
        fill: #fff
    }

    /* manipulate the number of ticks displayed */
    .bb-axis-x-10n .tick text {
        display: none !important;
    }
    .bb-axis-x-10n .tick:nth-child(10n) text {
        display: block !important;
    }

    .bb-axis-x-8n .tick text {
        display: none !important;
    }
    .bb-axis-x-8n .tick:nth-child(8n) text {
        display: block !important;
    }

    .bb-axis-x-5n .tick text {
        display: none !important;
    }
    .bb-axis-x-5n .tick:nth-child(5n) text {
        display: block !important;
    }

    .bb-axis-x-3n .tick text {
        display: none !important;
    }
    .bb-axis-x-3n .tick:nth-child(3n) text {
        display: block !important;
    }

    .bb-axis-x-2n .tick text {
        display: none !important;
    }
    .bb-axis-x-2n .tick:nth-child(2n) text {
        display: block !important;
    }

    .bb-axis-x-n .tick text {
        display: none !important;
    }
    .bb-axis-x-n .tick:nth-child(n) text {
        display: block !important;
    }

    .bb-chart-texts {
        .bb-chart-text {
            .bb-texts {
                .bb-text {
                    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, 1px 1px 0 #FFF, -1px 1px 0 #FFF;
                }
            }
        }
    }
}
