.gd-app-side-dialog-v2 {
  .mat-drawer-backdrop {
    position: fixed;
  }

  .mat-sidenav {
    .gd-app-side-dialog-v2-content {
      width: 300px;
      height: 100%;

      .gd-app-side-dialog-v2-content-top {
      }

      .gd-app-side-dialog-v2-content-middle {
        overflow-x: hidden;
        overflow-y: overlay;

        .gd-app-side-dialog-v2-content-middle-item {
          .gd-app-side-dialog-v2-content-middle-item-input {

            &.gd-app-side-dialog-v2-content-middle-item-input-divider {
              border-bottom: 1px solid black;

              &.gd-app-side-dialog-v2-content-middle-item-input-divider-has-title {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .gd-app-side-dialog-v2-content-bottom {
      }
    }
  }
}
