<mat-sidenav-container
  class="gd-app-side-dialog-v2"
  hasBackdrop="true"
  (backdropClick)="loading || config?.dontCloseOnBackdrop ? undefined : hide(true)">
  <mat-sidenav
    #sideNav
    mode="over"
    fixedInViewport
    position="end"
    disableClose="true">

    <!-- Sidenav content -->
    <div
      class="gd-app-side-dialog-v2-content"
      [style.width]="config?.width"
      fxLayout="column">

      <!-- Top Bar -->
      <div
        fxGrow="0" fxLayout="column"
        class="gd-app-side-dialog-v2-content-top">

        <!-- Title & Close button -->
        <div
          fxLayout="row" fxLayoutAlign="space-between center"
          class="gd-app-side-dialog-v2-content-tb">

          <!-- Title -->
          <div
            class="gd-app-side-dialog-v2-content-top-title"
            fxFlex>
            {{config?.title.get() | translate:(config?.title.data ? config?.title.data() : undefined)}}
          </div>

          <!-- Close button -->
          <button
            class="gd-app-side-dialog-v2-content-top-close"
            type="button"
            mat-icon-button
            (click)="hide(true)"
            [disabled]="!!loading">
            <mat-icon>close</mat-icon>
          </button>

        </div>

        <!-- Filter -->
        <div
          *ngIf="!loading && !config?.hideInputFilter"
          class="gd-app-side-dialog-v2-content-filter">

          <!-- Search -->
          <app-form-input-v2
            placeholder="LNG_COMMON_LABEL_SEARCH"
            [(ngModel)]="filterByValue"
            neverFloatLabel="true"
            (ngModelChange)="filterInputs()"
            autocomplete="off"
            [suffixIconButtons]="filterByValue ? filterSuffixIconButtons : undefined">
          </app-form-input-v2>

        </div>

      </div>

      <!-- Inputs -->
      <form
        #form="ngForm"
        [hidden]="!!loading"
        fxFlex
        class="gd-app-side-dialog-v2-content-middle">

        <!-- Common -->
        <ng-template
          #commonPart
          let-input="input">
          <div
            *ngIf="!input.visible || input.visible(dialogData, dialogHandler, input)"
            [ngSwitch]="input.type">

            <!-- Divider -->
            <div
              *ngSwitchCase="V2SideDialogConfigInputType.DIVIDER"
              class="gd-app-side-dialog-v2-content-middle-item-input gd-app-side-dialog-v2-content-middle-item-input-divider"
              [class.gd-app-side-dialog-v2-content-middle-item-input-divider-has-title]="!!input.placeholder">{{input.placeholder | translate}}</div>

            <!-- Checkbox -->
            <app-form-checkbox-v2
              *ngSwitchCase="V2SideDialogConfigInputType.CHECKBOX"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              [(ngModel)]="input.checked"
              [name]="input.name"
              [placeholder]="input.placeholder"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              [tooltip]="input.tooltip"
              (ngModelChange)="input.change ? input.change(dialogData, dialogHandler, input) : undefined"></app-form-checkbox-v2>

            <!-- Text -->
            <app-form-input-v2
              *ngSwitchCase="V2SideDialogConfigInputType.TEXT"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              [(ngModel)]="input.value"
              [name]="input.name"
              [placeholder]="input.placeholder"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              [required]="input.validators?.required && input.validators?.required(dialogData, dialogHandler, input)"
              (ngModelChange)="input.change ? input.change(dialogData, dialogHandler, input) : undefined"></app-form-input-v2>

            <!-- Number -->
            <app-form-number-v2
              *ngSwitchCase="V2SideDialogConfigInputType.NUMBER"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              [(ngModel)]="input.value"
              [name]="input.name"
              [placeholder]="input.placeholder"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              [required]="input.validators?.required && input.validators?.required(dialogData, dialogHandler, input)"
              (ngModelChange)="input.change ? input.change(dialogData, dialogHandler, input) : undefined"></app-form-number-v2>

            <!-- Dropdown - single -->
            <app-form-select-v2
              *ngSwitchCase="V2SideDialogConfigInputType.DROPDOWN_SINGLE"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              [(ngModel)]="input.value"
              [name]="input.name"
              [placeholder]="input.placeholder"
              [options]="input.options"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              [required]="input.validators?.required && input.validators?.required(dialogData, dialogHandler, input)"
              (ngModelChange)="input.change ? input.change(dialogData, dialogHandler, input) : undefined"></app-form-select-v2>

            <!-- Dropdown - multiple -->
            <app-form-select-v2
              *ngSwitchCase="V2SideDialogConfigInputType.DROPDOWN_MULTI"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              [(ngModel)]="input.values"
              [name]="input.name"
              [placeholder]="input.placeholder"
              [options]="input.options"
              [multiple]="true"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              [required]="input.validators?.required && input.validators?.required(dialogData, dialogHandler, input)"
              (ngModelChange)="input.change ? input.change(dialogData, dialogHandler, input) : undefined"></app-form-select-v2>

            <!-- Key-Value -->
            <div
              *ngSwitchCase="V2SideDialogConfigInputType.KEY_VALUE"
              class="gd-app-side-dialog-v2-content-middle-item-input"
              fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.6rem">

              <!-- Key -->
              <div
                class="gd-app-side-dialog-v2-content-middle-item-input-key">{{input.placeholder | translate}}</div>

              <!-- Value -->
              <div
                class="gd-app-side-dialog-v2-content-middle-item-input-value">{{input.value | translate}}</div>

            </div>

            <!-- Link -->
            <a
              *ngSwitchCase="V2SideDialogConfigInputType.LINK"
              mat-flat-button
              color="text"
              class="gd-app-side-dialog-v2-content-middle-item-input gd-app-side-dialog-v2-content-middle-item-input-link"
              [routerLink]="input.link(dialogData, dialogHandler, input)"
              [queryParams]="input.linkQueryParams ? input.linkQueryParams(dialogData, dialogHandler, input) : undefined"
              [disabled]="input.disabled && input.disabled(dialogData, dialogHandler, input)"
              (click)="hide(true)">
              {{input.placeholder | translate}}
            </a>

            <!-- Accordion -->
            <div
              *ngSwitchCase="V2SideDialogConfigInputType.ACCORDION"
              fxLayout="column"
              class="gd-app-side-dialog-v2-content-middle-item-input gd-app-side-dialog-v2-content-middle-item-input-accordion">

              <!-- Title -->
              <div
                class="gd-app-side-dialog-v2-content-middle-item-input-accordion-title">{{input.placeholder | translate}}</div>

              <!-- Accordion -->
              <mat-accordion>
                <ng-container
                  *ngFor="let panel of input.panels">
                  <mat-expansion-panel
                    *ngIf="!panel.visible || panel.visible(dialogData, dialogHandler, panel)"
                    [style.height]="filteredInputs === false || (filteredInputs && !filteredInputs[input.name] && !filteredInputs[panel.name] && !filteredForceParent[panel.name]) ? 0 : 'auto'"
                    [disabled]="panel.disabled && panel.disabled(dialogData, dialogHandler, panel)">

                    <!-- Panel header -->
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{panel.placeholder | translate}}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- Inputs -->
                    <div
                      *ngFor="let panelInput of panel.inputs"
                      [hidden]="filteredInputs === false || (filteredInputs && !filteredInputs[input.name] && !filteredInputs[panel.name] && !filteredInputs[panelInput.name])">
                      <ng-template
                        [ngTemplateOutlet]="commonPart"
                        [ngTemplateOutletContext]="{ input: panelInput }"></ng-template>
                    </div>

                  </mat-expansion-panel>
                </ng-container>
              </mat-accordion>

            </div>

          </div>
        </ng-template>

        <!-- Render root inputs -->
        <div
          *ngFor="let input of config?.inputs"
          class="gd-app-side-dialog-v2-content-middle-item"
          [hidden]="filteredInputs === false || (filteredInputs && !filteredInputs[input.name] && !filteredForceParent[input.name])">
          <ng-template
            [ngTemplateOutlet]="commonPart"
            [ngTemplateOutletContext]="{ input }"></ng-template>
        </div>

        <!-- No matches after search -->
        <div
          *ngIf="filteredInputs === false"
          class="gd-app-side-dialog-v2-content-middle-not-found">
          <mat-icon>search_off</mat-icon>
          {{'LNG_COMMON_LABEL_NOTHING_FOUND' | translate}}
        </div>
      </form>

      <!-- Bottom Bar -->
      <div
        [style.visibility]="loading ? 'hidden': 'visible'"
        fxGrow="0" fxLayout="row" [fxLayoutAlign]="config?.bottomButtons.length > 1 ? 'space-between' : 'end'" fxLayoutGap="1.6rem"
        class="gd-app-side-dialog-v2-content-bottom">

        <!-- Buttons -->
        <button
          *ngFor="let button of config?.bottomButtons"
          type="button"
          mat-flat-button [color]="button.color"
          class="gd-app-side-dialog-v2-content-bottom-button"
          [disabled]="button.disabled && button.disabled(dialogData, dialogHandler, button)"
          (click)="clickedButton(button)">
          {{button.label | translate}}
        </button>

      </div>

      <!-- Loading data -->
      <div
        *ngIf="loading"
        class="gd-app-side-dialog-v2-content-loading"
        [style.max-width]="config?.width"
        fxLayout="column" fxLayoutAlign="start center">

        <!-- Spinner -->
        <mat-progress-spinner
          class="gd-app-side-dialog-v2-content-loading-spinner"
          mode="indeterminate"
          diameter="32"></mat-progress-spinner>

        <!-- Message -->
        <div
          *ngIf="loading.message"
          class="gd-app-side-dialog-v2-content-loading-message">
          {{loading.message | translate:loading.messageData}}
        </div>
      </div>
    </div>

  </mat-sidenav>
</mat-sidenav-container>
