<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form #form="ngForm" (submit)="modifyRole(form)" class="page-content form-section">

    <div class="form-content">

        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_USER_ROLES_DETAILS_TITLE'| translate">

                <mat-card class="page-section">

                    <div fxLayout="column">

                        <app-form-input
                            name="name"
                            [(ngModel)]="userRole.name"
                            [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_NAME' | translate"
                            tooltip="LNG_USER_ROLE_FIELD_LABEL_NAME_DESCRIPTION"
                            required="true"
                            [disabled]="viewOnly">
                        </app-form-input>

                        <app-form-textarea
                            name="description"
                            [(ngModel)]="userRole.description"
                            [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_DESCRIPTION' | translate"
                            tooltip="LNG_USER_ROLE_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
                            [disabled]="viewOnly">
                        </app-form-textarea>

                        <app-form-select
                            name="permissionIds"
                            [(ngModel)]="userRole.permissionIds"
                            [placeholder]="'LNG_USER_ROLE_FIELD_LABEL_PERMISSIONS' | translate"
                            tooltip="LNG_USER_ROLE_FIELD_LABEL_PERMISSIONS_DESCRIPTION"
                            required="true"
                            [options]="availablePermissions$ | async"
                            optionLabelKey="label"
                            optionValueKey="id"
                            optionTooltipKey="description"
                            multiple="true"
                            [disabled]="viewOnly">
                        </app-form-select>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button *ngIf="viewOnly && hasUserRoleWriteAccess()" mat-raised-button type="button" color="accent"
                [routerLink]="['/user-roles', userRoleId, 'modify']">{{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>

        <ng-container *ngIf="!viewOnly">
            <button *ngIf="!viewOnly" mat-raised-button color="accent">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>
            <button type="button"
                    [routerLink]="'/user-roles'"
                    mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL' | translate}}
            </button>
        </ng-container>
    </div>
</form>
