@import '~styles/common';

app-cases-refusing-treatment-dashlet {
    .dashboard-box-header {
        background-color: @color-case-dashlet-header;
        cursor: pointer;
    }
    .dashboard-box-content {
        background-color: @color-case-dashlet-content;
    }
}
