app-cases-refusing-treatment-dashlet {
    .dashboard-box-header {
        background-color: #50409A;
        cursor: pointer;
    }
    .dashboard-box-content {
        background-color: #735CDD;
    }
}
