<app-not-auth-template>

        <div class="not-auth-title">
            {{ 'LNG_PAGE_FORGOT_PASSWORD_TITLE' | translate }}
        </div>

        <form #form="ngForm" (submit)="forgotPassword(form)">

            <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
                <div fxLayout="column">

                    <div class="not-auth-description">
                        {{ 'LNG_PAGE_FORGOT_PASSWORD_DESCRIPTION' | translate }}
                    </div>

                    <app-form-input
                        name="email"
                        [(ngModel)]="dataModel.email"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                        required="true"
                        app-email-validator>
                    </app-form-input>

                    <div class="app-theme" fxLayout="row" fxLayoutAlign="space-between center">
                        <button
                            type="button"
                            fxFlex="45"
                            mat-raised-button color="primary"
                            [routerLink]="'/auth/reset-password-questions'">
                            {{ 'LNG_PAGE_FORGOT_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate }}
                        </button>
                        <button
                            fxFlex="45"
                            mat-raised-button color="accent">
                            {{ 'LNG_PAGE_FORGOT_PASSWORD_BUTTON' | translate }}
                        </button>
                    </div>

                </div>
            </div>

        </form>

</app-not-auth-template>
