<app-not-auth-template>

        <div class="not-auth-title">
            {{ 'LNG_PAGE_FORGOT_PASSWORD_TITLE' | translate }}
        </div>

        <form #form="ngForm" (submit)="forgotPassword(form)">

            <div fxLayout="row" fxLayoutAlign="center" class="not-auth-content-limited">
                <div fxLayout="column">

                    <div class="not-auth-description">
                        {{ 'LNG_PAGE_FORGOT_PASSWORD_DESCRIPTION' | translate }}
                    </div>

                    <app-form-input
                        name="email"
                        [(ngModel)]="dataModel.email"
                        [placeholder]="'LNG_COMMON_FIELD_LABEL_EMAIL_ADDRESS' | translate"
                        required="true"
                        app-emailValidator>
                    </app-form-input>

                    <div fxLayout="row">
                        <button fxFlex="45" mat-raised-button color="basic" type="button"
                                [routerLink]="'/auth/reset-password-questions'">
                            {{ 'LNG_PAGE_FORGOT_PASSWORD_SECURITY_QUESTIONS_BUTTON' | translate }}
                        </button>
                        <button fxFlexOffset="10" fxFlex="45" mat-raised-button class="not-auth-main-button">
                            {{ 'LNG_PAGE_FORGOT_PASSWORD_BUTTON' | translate }}
                        </button>
                    </div>

                </div>
            </div>

        </form>

</app-not-auth-template>
