<mat-card class="page-section" style="width: 600px; margin: 100px auto;">

    <div style="text-align:center">
        <h1>
            Reset Password
        </h1>
    </div>


    <form #form="ngForm" (submit)="forgotPassword(form)">

        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column">

                <h3>
                    In order to reset your password, please input the email address associated with your account
                    and press Reset Password button.
                </h3>

                <app-form-input
                    name="email"
                    [(ngModel)]="dataModel.email"
                    placeholder="Email"
                    required="true"
                    app-emailValidator>
                </app-form-input>

                <button mat-raised-button color="primary">Reset Password</button>

            </div>
        </div>

    </form>

</mat-card>
