<div
  [class.gd-create-view-modify-view]="isView"
  [class.gd-create-view-modify-create]="isCreate"
  [class.gd-create-view-modify-modify]="isModify">

  <!-- Loading data -->
  <div
    *ngIf="loadingItemData; else dataLoaded"
    class="gd-create-view-modify-loading-data">

    <!-- Spinner -->
    <mat-progress-spinner
      class="gd-create-view-modify-loading-data-spinner"
      diameter="48"
      mode="indeterminate"></mat-progress-spinner>
  </div>

  <!-- Loaded data -->
  <ng-template
    #dataLoaded>

    <!-- Top -->
    <div
      class="gd-create-view-modify-top">

      <!-- Breadcrumbs -->
      <app-breadcrumb-v2
        [breadcrumbs]="breadcrumbs"
        (detectChanges)="resizeTable()"></app-breadcrumb-v2>

      <!-- Title & buttons -->
      <div
        fxLayout="row"
        class="gd-create-view-modify-top-title-buttons">

        <!-- Title -->
        <div
          fxFlex
          class="gd-create-view-modify-top-title-buttons-title">
          {{pageTitle | translate:pageTitleData}}
        </div>

        <!-- Buttons -->
        <div
          *ngIf="!isCreate"
          fxFlex fxLayoutAlign="end" fxLayoutGap="0.8rem"
          class="gd-create-view-modify-top-title-buttons-buttons">

          buttons...

        </div>
      </div>

    </div>

    <!-- Bottom -->
    <div
      class="gd-create-view-modify-bottom">

      <!-- Section render -->
      <ng-template
        #sectionsRender
        let-tab="tab">
        <form
          #form="ngForm">
          <!-- Hack to set form :) -->
          {{ updateForm(tab, form) }}

          <!-- Input Template -->
          <ng-template
            #inputRender
            let-input="input"
            let-parentName="parentName"
            let-parentItemIndex="parentItemIndex">

            <!-- Input -->
            <div
              *ngIf="!input.replace || !input.replace.condition(input); else replaceHtml"
              class="gd-create-view-modify-bottom-section-content-input"
              [ngSwitch]="input.type">

              <!-- Text -->
              <app-form-input-v2
                *ngSwitchCase="CreateViewModifyV2TabInputType.TEXT"
                fxFlex
                [ngModel]="input.value.get(parentItemIndex)"
                [name]="parentName ? parentName + '[' + input.name + ']' : input.name"
                [placeholder]="input.placeholder"
                [tooltip]="input.description"
                [viewOnly]="isView"
                [disabled]="!isView && input.disabled ? input.disabled(input) : undefined"
                autocomplete="off"
                [required]="!isView && input.validators?.required ? input.validators?.required() : undefined"
                (ngModelChange)="input.value.set($event, parentItemIndex)"></app-form-input-v2>

              <!-- Dropdown - single -->
              <app-form-select-single-v2
                *ngSwitchCase="CreateViewModifyV2TabInputType.SELECT_SINGLE"
                fxFlex
                [ngModel]="input.value.get(parentItemIndex)"
                [name]="parentName ? parentName + '[' + input.name + ']' : input.name"
                [placeholder]="input.placeholder"
                [tooltip]="input.description"
                [viewOnly]="isView"
                [options]="input.options"
                [clearable]="true"
                [disabled]="!isView && input.disabled ? input.disabled(input) : undefined"
                [required]="!isView && input.validators?.required ? input.validators?.required() : undefined"
                (ngModelChange)="input.value.set($event, parentItemIndex)"></app-form-select-single-v2>

              <!-- Age - Dob -->
              <div
                *ngSwitchCase="CreateViewModifyV2TabInputType.AGE_DATE_OF_BIRTH"
                fxFlex fxLayout="row" fxLayoutGap="1.6rem">

                <!-- Age / Dob option -->
                <app-form-toggle-v2
                  [(ngModel)]="input.ageChecked"
                  [name]="parentName ? parentName + '[ageDob]' : 'ageDob'"
                  [options]="ageDOBOptions"></app-form-toggle-v2>

                <!-- Age -->
                <div
                  *ngIf="input.ageChecked; else dob"
                  fxFlex fxLayout="row" fxLayoutGap="1.6rem">

                  <!-- Years -->
                  <app-form-number-v2
                    *ngIf="input.ageTypeYears; else months"
                    fxFlex
                    [ngModel]="input.value.age.years.get()"
                    [name]="parentName ? parentName + '[' + input.name.age + '][years]' : (input.name.age + '[years]')"
                    placeholder="LNG_AGE_FIELD_LABEL_YEARS"
                    [tooltip]="input.description?.age"
                    app-min-max-validator
                    [minNumber]="0"
                    [min]="0"
                    [maxNumber]="Constants.DEFAULT_AGE_MAX_YEARS"
                    [max]="Constants.DEFAULT_AGE_MAX_YEARS"
                    (ngModelChange)="input.value.age.years.set($event)"></app-form-number-v2>

                  <!-- Months -->
                  <ng-template
                    #months>
                    <app-form-number-v2
                      fxFlex
                      [ngModel]="input.value.age.months.get()"
                      [name]="parentName ? parentName + '[' + input.name.age + '][months]' : (input.name.age + '[months]')"
                      placeholder="LNG_AGE_FIELD_LABEL_MONTHS"
                      [tooltip]="input.description?.age"
                      app-min-max-validator
                      [minNumber]="0"
                      [min]="0"
                      [maxNumber]="11"
                      [max]="11"
                      (ngModelChange)="input.value.age.months.set($event)"></app-form-number-v2>
                  </ng-template>

                  <!-- Type -->
                  <app-form-select-single-v2
                    fxFlex
                    [(ngModel)]="input.ageTypeYears"
                    [name]="parentName ? parentName + '[ageDobType]' : 'ageDobType'"
                    placeholder="LNG_AGE_FIELD_LABEL_TYPE"
                    [options]="ageTypeOptions"></app-form-select-single-v2>

                </div>

                <!-- Dob -->
                <ng-template
                  #dob>
                  <app-form-date-v2
                    fxFlex
                    [ngModel]="input.value.dob.get()"
                    [name]="parentName ? parentName + '[' + input.name.dob + ']' : input.name.dob"
                    placeholder="LNG_ENTITY_FIELD_LABEL_DOB"
                    [tooltip]="input.description?.dob"
                    (ngModelChange)="input.value.dob.set($event)"></app-form-date-v2>
                </ng-template>
              </div>

              <!-- Visual ID -->
              <app-form-input-v2
                *ngSwitchCase="CreateViewModifyV2TabInputType.VISUAL_ID"
                fxFlex
                [ngModel]="input.value.get(parentItemIndex)"
                [name]="parentName ? parentName + '[' + input.name + ']' : input.name"
                [placeholder]="input.placeholder"
                [tooltip]="input.description"
                [viewOnly]="isView"
                [disabled]="!isView && input.disabled ? input.disabled(input) : undefined"
                autocomplete="off"
                app-general-async-validator
                [asyncValidatorObservable]="!isView ? input.validator : undefined"
                [validateOnlyWhenDirty]="true"
                [maxlength]="255"
                (ngModelChange)="input.value.set($event, parentItemIndex)"></app-form-input-v2>

              <!-- Date -->
              <app-form-date-v2
                *ngSwitchCase="CreateViewModifyV2TabInputType.DATE"
                fxFlex
                [ngModel]="input.value.get(parentItemIndex)"
                [name]="parentName ? parentName + '[' + input.name + ']' : input.name"
                [placeholder]="input.placeholder"
                [tooltip]="input.description"
                [disabled]="!isView && input.disabled ? input.disabled(input) : undefined"
                autocomplete="off"
                [required]="!isView && input.validators?.required ? input.validators?.required() : undefined"
                [minDate]="input.minDate"
                [maxDate]="input.maxDate"
                app-date-validator
                [dateSameOrBefore]="!isView && input.validators?.dateSameOrBefore ? input.validators?.dateSameOrBefore() : undefined"
                [dateSameOrAfter]="!isView && input.validators?.dateSameOrAfter ? input.validators?.dateSameOrAfter() : undefined"
                (ngModelChange)="input.value.set($event, parentItemIndex)"></app-form-date-v2>

              <!-- Document -->
              <div
                *ngSwitchCase="CreateViewModifyV2TabInputType.DOCUMENT"
                fxFlex fxLayout="row wrap" fxLayoutGap="1.6rem">

                <!-- Type -->
                <app-form-select-single-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).type"
                  [name]="parentName ? parentName + '[type]' : 'type'"
                  placeholder="LNG_DOCUMENT_FIELD_LABEL_DOCUMENT_TYPE"
                  tooltip="LNG_DOCUMENT_FIELD_LABEL_DOCUMENT_TYPE_DESCRIPTION"
                  [viewOnly]="isView"
                  [options]="input.typeOptions"
                  required="true"></app-form-select-single-v2>

                <!-- Date -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).number"
                  [name]="parentName ? parentName + '[number]' : 'number'"
                  placeholder="LNG_DOCUMENT_FIELD_LABEL_DOCUMENT_NUMBER"
                  tooltip="LNG_DOCUMENT_FIELD_LABEL_DOCUMENT_NUMBER_DESCRIPTION"
                  required="true"></app-form-input-v2>

              </div>

              <!-- Address -->
              <div
                *ngSwitchCase="CreateViewModifyV2TabInputType.ADDRESS"
                fxFlex fxLayout="row wrap" fxLayoutGap="1.6rem">

                <!-- Type -->
                <app-form-select-single-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).typeId"
                  [name]="parentName ? parentName + '[typeId]' : (input.name + '[typeId]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_TYPE"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_TYPE_DESCRIPTION"
                  [viewOnly]="isView"
                  [options]="input.typeOptions"
                  required="true"></app-form-select-single-v2>

                <!-- Date -->
                <app-form-date-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).date"
                  [name]="parentName ? parentName + '[date]' : (input.name + '[date]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_DATE"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_DATE_DESCRIPTION"></app-form-date-v2>

                <!-- Email address -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).emailAddress"
                  [name]="parentName ? parentName + '[emailAddress]' : (input.name + '[emailAddress]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_EMAIL_ADDRESS"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_EMAIL_ADDRESS_DESCRIPTION"
                  app-email-validator></app-form-input-v2>

                <!-- Phone number -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).phoneNumber"
                  [name]="parentName ? parentName + '[phoneNumber]' : (input.name + '[phoneNumber]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_PHONE_NUMBER"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_PHONE_NUMBER_DESCRIPTION"></app-form-input-v2>

                <!-- Location -->
                <app-form-select-location-single-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).locationId"
                  [name]="parentName ? parentName + '[locationId]' : (input.name + '[locationId]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_LOCATION"
                  useOutbreakLocations="true"
                  required="true"
                  (selectedLocationChanged)="addressLocationChanged(input.value.get(parentItemIndex), $event)"></app-form-select-location-single-v2>

                <!-- City -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).city"
                  [name]="parentName ? parentName + '[city]' : (input.name + '[city]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_CITY"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_CITY_DESCRIPTION"></app-form-input-v2>

                <!-- Postal code -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).postalCode"
                  [name]="parentName ? parentName + '[postalCode]' : (input.name + '[postalCode]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_POSTAL_CODE"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_POSTAL_CODE_DESCRIPTION"></app-form-input-v2>

                <!-- Address line 1 -->
                <app-form-input-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).addressLine1"
                  [name]="parentName ? parentName + '[addressLine1]' : (input.name + '[addressLine1]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_ADDRESS_LINE_1"
                  tooltip="LNG_ADDRESS_FIELD_LABEL_ADDRESS_LINE_1_DESCRIPTION"></app-form-input-v2>

                <!-- Lat & Lng -->
                <div
                  fxFlex fxLayout="row wrap" fxLayoutGap="1.6rem">

                  <!-- Lat -->
                  <app-form-number-v2
                    fxFlex
                    [(ngModel)]="input.value.get(parentItemIndex).geoLocation.lat"
                    [name]="parentName ? parentName + '[geoLocation][lat]' : (input.name + '[geoLocation][lat]')"
                    placeholder="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LAT"
                    tooltip="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LAT_DESCRIPTION"
                    [required]="!isView && input.value.get(parentItemIndex).geoLocation.lng"
                    app-min-max-validator
                    [min]="-90"
                    [minNumber]="-90"
                    [max]="90"
                    [maxNumber]="90"></app-form-number-v2>

                  <!-- Lng -->
                  <app-form-number-v2
                    fxFlex
                    [(ngModel)]="input.value.get(parentItemIndex).geoLocation.lng"
                    [name]="parentName ? parentName + '[geoLocation][lng]' : (input.name + '[geoLocation][lng]')"
                    placeholder="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LNG"
                    tooltip="LNG_ADDRESS_FIELD_LABEL_GEOLOCATION_LNG_DESCRIPTION"
                    [required]="!isView && input.value.get(parentItemIndex).geoLocation.lat"
                    app-min-max-validator
                    [min]="-180"
                    [minNumber]="-180"
                    [max]="180"
                    [maxNumber]="180"></app-form-number-v2>

                </div>

                <!-- Geo location accurate -->
                <app-form-toggle-checkbox-v2
                  fxFlex
                  [(ngModel)]="input.value.get(parentItemIndex).geoLocationAccurate"
                  [name]="parentName ? parentName + '[geoLocationAccurate]' : (input.name + '[geoLocationAccurate]')"
                  placeholder="LNG_ADDRESS_FIELD_LABEL_MANUAL_COORDINATES"></app-form-toggle-checkbox-v2>

              </div>

              <!-- List -->
              <div
                *ngSwitchCase="CreateViewModifyV2TabInputType.LIST">

                <!-- List Items -->
                <div>
                  <div
                    *ngFor="let item of input.items; let itemIndex = index">

                    <!-- Remove button -->
                    <div
                      fxLayoutAlign="end">
                      <button
                        type="button"
                        mat-icon-button
                        color="warn"
                        [matTooltip]="input.definition.remove.label | translate"
                        (click)="removeListItem(input, itemIndex)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                    <!-- Inputs -->
                    <div
                      fxLayout="row wrap" fxLayoutGap="1.6rem">
                      <div
                        fxFlex>
                        <ng-container
                          *ngTemplateOutlet="inputRender; context: { input: input.definition.input, parentName: input.name + '[' + itemIndex + ']', parentItemIndex: itemIndex }"></ng-container>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Add -->
                <div>
                  <button
                    type="button"
                    mat-flat-button color="text"
                    (click)="addListItem(input)">

                    <!-- + Icon -->
                    <mat-icon>add</mat-icon>

                    <!-- Label -->
                    <span>
                      {{input.definition.add.label | translate}}
                    </span>
                  </button>
                </div>

              </div>

            </div>

            <!-- Input replaced with html -->
            <ng-template
              #replaceHtml>
              <div
                class="gd-create-view-modify-bottom-section-content-input-replaced"
                [innerHTML]="input.replace.html | safeHtml"></div>
            </ng-template>
          </ng-template>



          <!-- Render Section -->
          <div
            *ngFor="let section of tab.sections"
            class="gd-create-view-modify-bottom-section">
            <!-- Section title -->
            <div
              class="gd-create-view-modify-bottom-section-title">
              {{section.label | translate}}
            </div>

            <!-- Section content -->
            <div
              class="gd-create-view-modify-bottom-section-content"
              fxLayout="row wrap" fxLayoutGap="1.6rem">

              <!-- Input render -->
              <div
                *ngFor="let input of section.inputs"
                fxFlex>
                <ng-container
                  *ngTemplateOutlet="inputRender; context: { input, parentName: '', parentItemIndex: undefined }"></ng-container>
              </div>

            </div>
          </div>
        </form>
      </ng-template>



      <!-- Render tabs - Create layout -->
      <mat-horizontal-stepper
        *ngIf="isCreate; else viewModify"
        linear>
        <mat-step
          *ngFor="let tab of tabs; let tabIndex = index"
          [stepControl]="tab.form">

          <!-- Tab Label -->
          <div
            *matStepLabel>
            {{tab.label | translate}}
          </div>

          <!-- Content -->
          <div
            class="gd-create-view-modify-bottom-content">
            <ng-container
              *ngTemplateOutlet="sectionsRender; context: { tab }"></ng-container>
          </div>

          <!-- Bottom -->
          <div
            class="gd-create-view-modify-bottom-bottom"
            fxLayoutAlign="end">
            <!-- Previous -->
            <button
              *ngIf="tabIndex > 0"
              mat-flat-button color="primary"
              matStepperPrevious>
              <!-- Label -->
              <span>
                {{'LNG_STEPPER_BUTTON_BACK' | translate}}
              </span>
            </button>

            <!-- Next -->
            <button
              mat-flat-button color="primary"
              matStepperNext
              (click)="tab.form ? tab.form.ngSubmit.emit() : undefined">

              <!-- Pending validators -->
              <mat-progress-spinner
                *ngIf="tab.form?.pending"
                diameter="16"
                mode="indeterminate"
                color="primary">
              </mat-progress-spinner>

              <!-- Label -->
              <span>
                {{'LNG_STEPPER_BUTTON_NEXT' | translate}}
              </span>
            </button>
          </div>

        </mat-step>
      </mat-horizontal-stepper>

      <!-- Render tabs - View / Modify layout -->
      <ng-template
        #viewModify>
        <mat-tab-group>
          <mat-tab
            *ngFor="let tab of tabs">

            <!-- Label & valid -->
            <ng-template
              mat-tab-label>

              <!-- Label -->
              <span>{{tab.label | translate}}</span>

              <!-- Invalid -->
              <mat-icon
                *ngIf="isModify && tab.form?.touched && tab.form?.invalid"
                color="warn"
                [matTooltip]="'LNG_COMMON_LABEL_INVALID_TAB' | translate">warning</mat-icon>
            </ng-template>

            <!-- Content -->
            <ng-container
              *ngTemplateOutlet="sectionsRender; context: { tab }"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </ng-template>

    </div>

  </ng-template>
</div>
