<div
  fxLayout="column"
  class="gd-list-table-column">

  <!-- Header -->
  <div
    fxLayout="row" fxLayoutGap="1.6rem"
    class="gd-list-table-column-header"
    [class.gd-list-table-column-header-sortable]="extendedColDef.columnDefinition.sortable"
    [class.gd-list-table-column-header-sortable-active]="component.sortByColumn === extendedColDef"
    (click)="extendedColDef.columnDefinition.sortable ? sort() : undefined">

    <!-- Label -->
    <div
      fxFlex
      class="gd-list-table-column-header-title">
      {{extendedColDef.headerName}}
    </div>

    <!-- Sort Icon -->
    <div
      class="gd-list-table-column-header-sort">
      <mat-icon
        *ngIf="extendedColDef.columnDefinition.sortable && component.sortByColumn === extendedColDef"
        [class.gd-list-table-column-header-sort-desc]="component.sortByDirection === RequestSortDirection.DESC">south</mat-icon>
    </div>

  </div>

  <!-- Filter -->
  <div
    *ngIf="component.showHeaderFilters && extendedColDef.columnDefinition.filter"
    [ngSwitch]="extendedColDef.columnDefinition.filter.type"
    class="gd-list-table-column-filter"
    (mousedown)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()">

    <!-- Text -->
    <app-form-input-v2
      *ngSwitchCase="V2FilterType.TEXT"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.value"
      [name]="'filterBy' + extendedColDef.field"
      placeholder="LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER"
      neverFloatLabel="true"
      autocomplete="off"
      (ngModelChange)="component.columnFilterBy(extendedColDef)"></app-form-input-v2>

    <!-- Multiple select -->
    <app-form-select-multiple-v2
      *ngSwitchCase="V2FilterType.MULTIPLE_SELECT"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.value"
      [name]="'filterBy' + extendedColDef.field"
      placeholder="LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER"
      neverFloatLabel="true"
      [options]="extendedColDef.columnDefinition.filter.options"
      (ngModelChange)="component.columnFilterBy(extendedColDef)"></app-form-select-multiple-v2>

    <!-- Date range -->
    <app-form-date-range-v2
      *ngSwitchCase="V2FilterType.DATE_RANGE"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.value"
      [name]="'filterBy' + extendedColDef.field"
      (ngModelChange)="component.columnFilterBy(extendedColDef)"></app-form-date-range-v2>

    <!-- Age range -->
    <app-form-number-range-v2
      *ngSwitchCase="V2FilterType.AGE_RANGE"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.value"
      [name]="'filterBy' + extendedColDef.field"
      [min]="extendedColDef.columnDefinition.filter.min"
      [max]="extendedColDef.columnDefinition.filter.max"
      (ngModelChange)="component.columnFilterBy(extendedColDef)"></app-form-number-range-v2>

    <!-- Phone number -->
    <app-form-input-v2
      *ngSwitchCase="V2FilterType.ADDRESS_PHONE_NUMBER"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.address.phoneNumber"
      [name]="'filterBy' + extendedColDef.field"
      placeholder="LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER"
      neverFloatLabel="true"
      autocomplete="off"
      (ngModelChange)="component.columnFilterBy(extendedColDef)"></app-form-input-v2>

    <!-- Location -->
    <app-form-select-location-multiple-v2
      *ngSwitchCase="V2FilterType.ADDRESS_MULTIPLE_LOCATION"
      class="gd-list-table-column-filter-input"
      [(ngModel)]="extendedColDef.columnDefinition.filter.address.filterLocationIds"
      [name]="'filterBy' + extendedColDef.field"
      placeholder="LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER"
      neverFloatLabel="true"
      useOutbreakLocations="true"
      (ngModelChange)="component.columnFilterBy(extendedColDef)">
    </app-form-select-location-multiple-v2>

  </div>

</div>

