.dialog-confirm {
    .dialog-confirm-msg {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .dialog-button {
        font-weight: 600;
        text-transform: uppercase;
    }
}
