<div
    class="dialog-confirm">
    <div
        class="dialog-confirm-msg" [innerHTML]="confirmData?.message | translate:confirmData?.translateData">
    </div>

    <div
        fxFlex fxLayout="row" fxLayoutAlign="end">
        <button class="dialog-button" mat-button (click)="cancel()">
            {{ confirmData?.cancelLabel | translate:confirmData?.translateData }}
        </button>
        <button class="dialog-button" mat-button (click)="yes()">
            {{ confirmData?.yesLabel | translate:confirmData?.translateData }}
        </button>

    </div>
</div>
