<mat-card class="page-section question-card">
    <div fxLayout.xs="column" class="question-wrapper">
        <div class="question-badge align-center" fxFlex="40px">
            Q{{question.order}}
        </div>
        <div class="question-box" fxFlex="40">
            <app-form-input
                name="question.value"
                [(ngModel)]="question.value"
                placeholder="Question value"
                required="true"
                disabled="{{viewOnly}}"
            >
            </app-form-input>
        </div>
        <div class="question-box" fxFlex="20">
            <app-form-select
                name="question.category"
                [(ngModel)]="question.category"
                placeholder="Category"
                required="true"
                [options]="[{'value':'Physical Examination','label':'Physical Examination'},{'value':'Clinical','label':'Clinical'}]"
                multiple="false"
                disabled="{{viewOnly}}">
            </app-form-select>
        </div>
        <div class="question-box" fxFlex="15">
        </div>
        <div class="question-box  align-right" fxFlex="25" fxHide="{{viewOnly}}">
            <app-form-slide-toggle
                name="question.required"
                [(ngModel)]="question.required"
                label="Required?">
            </app-form-slide-toggle>
            <button class="iconBtn" mat-button type="button" color="primary" (click)="duplicate()"><span
                class="xt-icon">duplicate</span></button>
            <button class="iconBtn" mat-button type="button" color="warn" (click)="delete()"><span
                class="xt-icon">delete</span></button>
        </div>
        <div class="question-box align-center" fxFlex="20" fxHide="{{!viewOnly}}">
            <div class="alert-label">{{ question.required ? "REQUIRED" : ""}}</div>
        </div>
    </div>
    <answer class="answer-wrapper" *ngFor="let answer of question.answers; let i=index"
            [answer]="answer"
            [index]="i"
            [viewOnly]="viewOnly"
            (deleteAnswer)="deleteAnswerFromQuestion(answer)"
            (linkAnswer)="linkAnswerQuestion(answer)"
            fxLayout="column"></answer>
</mat-card>
