    <div fxLayout.xs="column">
        <div class="question-box align-center" fxFlex="5%">
           Q{{question.order}}
        </div>
        <div class="question-box" fxFlex="55%">
            <app-form-input
                            name="question.value"
                            [(ngModel)]="question.value"
                            placeholder="Question value"
                            required="true">
            </app-form-input>
        </div>
        <div class="question-box" fxFlex="20%">
            <app-form-select
                name="question.category"
                [(ngModel)]="question.category"
                placeholder="Category"
                required="true"
                [options]= "[{'value':'Physical Examination','label':'Physical Examination'},{'value':'Clinical','label':'Clinical'}]"
                multiple="false">
            </app-form-select>
        </div>
        <div class="question-box align-center" fxFlex="20%">
            <mat-slide-toggle
                              name="question.required"
                              [(ngModel)]="question.required"
                              [checked]="checked"
                              [labelPosition]="before"   >
                Required?
            </mat-slide-toggle>
            <br>
            <button mat-button type="button" color="primary" (click)="duplicate(question)">Duplicate</button>
            <button mat-button type="button" color="warn" (click)="delete(question)">Delete</button>
        </div>
    </div>
    <answer *ngFor="let answer of question.answers; let i=index" [answer]="answer" [index]="i" fxLayout="column"></answer>

