.question-card {
    padding: 0px;

    .question-box {
        padding: 5px;
        margin: 5px;
    }

    .question-badge {
        border-radius: 20px;
        background: #999999;
        color: #FDFDFD;
        padding: 10px;
        height: 40px;
        width: 40px;
        margin: auto;
    }

    .answer-badge {
        border-radius: 20px;
        background: #EBEBEB;
        color: #131313;
        padding: 10px;
        height: 40px;
        width: 40px;
        margin: auto 5px;
    }

    .question-wrapper {
        border-bottom: 1px solid #F2F2F2;
        background-color: #F0F0F0;
        padding: 15px;
    }

    .answer-wrapper {
        padding: 15px;
    }

    .answer-box {
        padding: 5px;
        margin: 5px;
    }

}


