app-world-map-movement {
    .location-map {
        height: 100%;

        .movement-timeline-title {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #CCC;
        }

        .location-timeline {
            overflow-y: auto;

            .movement-timeline-locations {
                margin-top: 7px;
                font-size: 15px;

                .movement-timeline-locations-item {
                    cursor: pointer;
                    padding: 7px;

                    &:hover {
                        background-color: #DDD;
                    }
                }

                .movement-timeline-view-all {
                    text-align: center;
                }
            }
        }

        .movement-map-no-data {
            text-align: center;
            height: 100%;
        }
    }
}
