<div class="form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form
        #groupForm="ngForm"
        fxLayout="column"
    >
        <div *ngFor="let inputValue of inputValues; let i = index; trackBy: trackByIndex" fxFlex fxLayout="row"
             fxLayoutAlign="start center">
            <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <app-form-input
                    *ngIf="!unique"
                    [name]="name + '[' + i + ']'"
                    [(ngModel)]="inputValues[i].value"
                    [placeholder]="placeholder"
                    [tooltip]="tooltip"
                    [type]="type"
                    [disabled]="disabled"
                    (optionChanged)="onChangeItem(i)"
                    [required]="required">
                </app-form-input>

                <app-form-input
                    *ngIf="unique"
                    [name]="name + '[' + i + ']'"
                    [(ngModel)]="inputValues[i].value"
                    [placeholder]="placeholder"
                    [tooltip]="tooltip"
                    [type]="type"
                    [disabled]="disabled"
                    (optionChanged)="onChangeItem(i)"
                    [required]="required"
                    app-unique-validator="\[\d+\]$">
                </app-form-input>
            </mat-card>

            <button type="button" mat-icon-button (click)="delete(i)">
                <span class="xt-icon">delete</span>
            </button>
        </div>

        <div fxLayout="row">
            <button type="button" mat-button color="primary" (click)="add()">{{ 'LNG_INPUT_LABEL_ADD_INPUT' | translate }}</button>
        </div>
    </form>
</div>
