<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyCase(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab [label]="'LNG_PAGE_MODIFY_CASE_TAB_PERSONAL_TITLE' | translate">

                <!-- Flagged section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-select
                                name="riskLevel"
                                [(ngModel)]="caseData.riskLevel"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_RISK_LEVEL' | translate"
                                required="true"
                                [options]="caseRiskLevelsList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateOfReporting"
                                [(ngModel)]="caseData.dateOfReporting"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                required="true"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="[
                                    serverToday,
                                    [caseData.dateDeceased, 'LNG_CASE_FIELD_LABEL_DATE_DECEASED' | translate]
                                ]">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="caseData.isDateOfReportingApproximate"
                                [label]="'LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="transferRefused"
                                [(ngModel)]="caseData.transferRefused"
                                [label]="'LNG_CASE_FIELD_LABEL_TRANSFER_REFUSED' | translate"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>
                        </div>

                        <app-form-textarea
                            name="riskReason"
                            [(ngModel)]="caseData.riskReason"
                            [placeholder]="'LNG_CASE_FIELD_LABEL_RISK_REASON' | translate"
                            [disabled]="viewOnly">
                        </app-form-textarea>

                    </div>
                </mat-card>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="caseData.firstName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate"
                                required="true"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="caseData.middleName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_MIDDLE_NAME' | translate"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="caseData.lastName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate"
                                maxlength="200"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="caseData.gender"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_GENDER' | translate"
                                required="true"
                                [options]="genderList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                fxFlex="25%"
                                name="phoneNumber"
                                [(ngModel)]="caseData.phoneNumber"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_PHONE_NUMBER' | translate"
                                maxlength="50"
                                [disabled]="viewOnly">
                            </app-form-input>

                            <app-form-select
                                fxFlex="25%"
                                name="occupation"
                                [(ngModel)]="caseData.occupation"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_OCCUPATION' | translate"
                                [options]="occupationsList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <div
                                fxFlex="25%" fxLayout="row"
                                class="switch-buttons">
                                <button
                                    fxFlex
                                    mat-raised-button
                                    type="button"
                                    [color]="ageSelected ? 'primary' : ''"
                                    (click)="switchAgeDob(true)">
                                    {{'LNG_CASE_FIELD_LABEL_AGE_BUTTON' | translate}}
                                </button>
                                <button
                                    fxFlex
                                    mat-raised-button
                                    type="button"
                                    [color]="!ageSelected ? 'primary' : ''"
                                    (click)="switchAgeDob(false)">
                                    {{'LNG_CASE_FIELD_LABEL_DATE_OF_BIRTH_BUTTON' | translate}}
                                </button>
                            </div>

                            <div fxFlex="25%">
                                <app-form-age
                                    *ngIf="ageSelected"
                                    #age
                                    name="age"
                                    [(ngModel)]="caseData.age"
                                    [disabled]="viewOnly"
                                    (changed)="ageChanged()">
                                </app-form-age>

                                <app-form-datepicker
                                    *ngIf="!ageSelected"
                                    #dob
                                    name="dob"
                                    [(ngModel)]="caseData.dob"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_DOB' | translate"
                                    [disabled]="viewOnly"
                                    [maxDate]="serverToday"
                                    app-date-validator
                                    [dateSameOrBefore]="serverToday"
                                    (optionChanged)="dobChanged(dob, $event)">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">{{'LNG_CASE_FIELD_LABEL_DOCUMENTS' | translate}}</div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="caseData.documents"
                    [required]="true"
                    [disabled]="viewOnly">
                </app-form-document-list>


            </mat-tab>

            <mat-tab [label]="'LNG_PAGE_MODIFY_CASE_TAB_ADDRESS_TITLE' | translate">
                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="caseData.addresses"
                    [required]="true"
                    [disabled]="viewOnly">
                </app-form-address-list>
            </mat-tab>

            <mat-tab label="Infection">

                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-select
                                name="classification"
                                [(ngModel)]="caseData.classification"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_CLASSIFICATION' | translate"
                                required="true"
                                [options]="caseClassificationsList$ | async"
                                [disabled]="viewOnly">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateBecomeCase"
                                [(ngModel)]="caseData.dateBecomeCase"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_BECOME_CASE' | translate"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfInfection"
                                [(ngModel)]="caseData.dateOfInfection"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_INFECTION' | translate"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="[
                                    serverToday,
                                    [caseData.dateDeceased, 'LNG_CASE_FIELD_LABEL_DATE_DECEASED' | translate]
                                ]">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfOutcome"
                                [(ngModel)]="caseData.dateOfOutcome"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_OUTCOME' | translate"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">

                            <app-form-datepicker
                                name="dateOfOnset"
                                [(ngModel)]="caseData.dateOfOnset"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate"
                                [disabled]="viewOnly"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="dateOnsetSameOrBeforeDates()">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfOnsetApproximate"
                                [(ngModel)]="caseData.isDateOfOnsetApproximate"
                                [label]="'LNG_CASE_FIELD_LABEL_IS_DATE_OF_ONSET_APPROXIMATE' | translate"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="deceased"
                                [(ngModel)]="caseData.deceased"
                                [label]="'LNG_CASE_FIELD_LABEL_DECEASED' | translate"
                                [disabled]="viewOnly">
                            </app-form-slide-toggle>

                            <div fxFlex>
                                <app-form-datepicker
                                    name="dateDeceased"
                                    [(ngModel)]="caseData.dateDeceased"
                                    [disabled]="!caseData.deceased || viewOnly"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_DECEASED' | translate"
                                    [maxDate]="serverToday"
                                    app-date-validator
                                    [dateSameOrBefore]="serverToday"
                                    [dateSameOrAfter]="[
                                        [caseData.dateOfReporting, 'LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING' | translate],
                                        [caseData.dateOfInfection, 'LNG_CASE_FIELD_LABEL_DATE_OF_INFECTION' | translate],
                                        [caseData.dateOfOnset, 'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate]
                                    ]">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <div class="section-title">{{'LNG_CASE_FIELD_LABEL_HOSPITALIZATION_DATES' | translate}}</div>
                <!-- Hospitalization Dates section -->

                <app-form-daterange-list
                    name="hospitalizationDates"
                    [(ngModel)]="caseData.hospitalizationDates"
                    [disabled]="viewOnly"
                    [required]="true">
                </app-form-daterange-list>

                <div class="section-title">{{'LNG_CASE_FIELD_LABEL_ISOLATION_DATES'| translate}}</div>
                <!-- Isolation Dates section -->

                <app-form-daterange-list
                    name="isolationDates"
                    [(ngModel)]="caseData.isolationDates"
                    [disabled]="viewOnly"
                    [required]="true">
                </app-form-daterange-list>

            </mat-tab>

            <mat-tab [label]="'LNG_PAGE_MODIFY_CASE_TAB_QUESTIONNAIRE_TITLE' | translate">
                <app-form-fill-questionnaire
                    name="questionnaireAnswers"
                    [ngModel]="caseData.questionnaireAnswers"
                    [questions]="selectedOutbreak.caseInvestigationTemplate"
                    [disabled]="viewOnly">
                </app-form-fill-questionnaire>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>
        <ng-container *ngIf="!viewOnly">
            <button mat-raised-button color="primary" class="button-primary">
                {{'LNG_COMMON_BUTTON_SAVE' | translate}}
            </button>

            <button type="button" [routerLink]="'/cases'" mat-raised-button>
                {{'LNG_COMMON_BUTTON_CANCEL'| translate}}
            </button>

            <div class="page-tabs-navbar-placeholder"></div>
        </ng-container>

        <button *ngIf="viewOnly && hasCaseWriteAccess()"
                mat-raised-button color="primary" class="button-primary"
                [routerLink]="['/cases', caseData.id, 'modify']">
            {{'LNG_COMMON_BUTTON_EDIT' | translate}}
        </button>

        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button type="button" [routerLink]="['/relationships', EntityType.CASE, caseData.id]">
            {{ 'LNG_COMMON_BUTTON_RELATIONSHIPS' | translate }}
        </button>
        <button *ngIf="hasCaseWriteAccess()" mat-raised-button type="button" [routerLink]="['/cases', caseData.id, 'lab-results']">
            {{ 'LNG_PAGE_MODIFY_CASE_ACTION_SEE_LAB_RESULTS' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/cases', caseData.id, 'movement']">
            {{ 'LNG_PAGE_MODIFY_CASE_ACTION_VIEW_MOVEMENT' | translate }}
        </button>
        <button mat-raised-button type="button" [routerLink]="['/cases', caseData.id, 'chronology']">
            {{ 'LNG_PAGE_MODIFY_CASE_ACTION_VIEW_CHRONOLOGY' | translate }}
        </button>

    </div>


</form>
