<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<form class="page-content form-section" #form="ngForm" (submit)="modifyCase(form)">

    <div class="form-content">
        <mat-tab-group class="page-tabs-navbar">

            <mat-tab label="Personal">

                <!-- Flagged section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row">
                            <app-form-select
                                fxFlex="25"
                                name="riskLevel"
                                [(ngModel)]="caseData.riskLevel"
                                placeholder="Risk Level Flag"
                                [options]="caseRiskLevelsList$ | async">
                            </app-form-select>
                        </div>

                        <app-form-textarea
                            name="riskReason"
                            [(ngModel)]="caseData.riskReason"
                            placeholder="Reason">
                        </app-form-textarea>

                    </div>
                </mat-card>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="caseData.firstName"
                                placeholder="First name"
                                required="true">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="caseData.middleName"
                                placeholder="Middle name">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="caseData.lastName"
                                placeholder="Last name">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="caseData.gender"
                                placeholder="Sex"
                                required="true"
                                [options]="gendersList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="phoneNumber"
                                [(ngModel)]="caseData.phoneNumber"
                                placeholder="Phone number">
                            </app-form-input>

                            <app-form-input
                                name="occupation"
                                [(ngModel)]="caseData.occupation"
                                placeholder="Occupation">
                            </app-form-input>

                            <div fxFlex fxLayout="row">
                                <button fxFlex type="button" mat-raised-button [color]="ageSelected ? 'primary' : ''"
                                        (click)="switchAgeDob(true)">
                                    Age
                                </button>
                                <button fxFlex type="button" mat-raised-button [color]="!ageSelected ? 'primary' : ''"
                                        (click)="switchAgeDob(false)">
                                    Date of birth
                                </button>
                            </div>

                            <div fxFlex>
                                <app-form-input [fxHide]="!ageSelected"
                                                name="age"
                                                [(ngModel)]="caseData.age"
                                                placeholder="Age">
                                </app-form-input>

                                <app-form-input [fxHide]="ageSelected"
                                                name="dob"
                                                [(ngModel)]="caseData.dob"
                                                placeholder="Date of birth">
                                </app-form-input>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">Documents</div>

                <div *ngFor="let document of caseData.documents; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="50">
                            <app-form-select
                                [name]="'documents[' + i + '][type]'"
                                [(ngModel)]="document.type"
                                placeholder="Document type"
                                [options]="documentTypesList$ | async">
                            </app-form-select>

                            <app-form-input
                                [name]="'documents[' + i + '][number]'"
                                [(ngModel)]="document.number"
                                placeholder="Document number">
                            </app-form-input>
                        </div>

                        <button type="button" mat-icon-button (click)="deleteDocument(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addDocument()">Add another document</button>


            </mat-tab>

            <mat-tab label="Address">

                <div *ngFor="let address of caseData.addresses; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex>

                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-input
                                    [name]="'addresses[' + i + '][name]'"
                                    [(ngModel)]="address.name"
                                    placeholder="Address name">
                                </app-form-input>

                                <div fxFlex><!-- placeholder --></div>
                                <div fxFlex><!-- placeholder --></div>
                                <div fxFlex><!-- placeholder --></div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                                <app-form-select
                                    [name]="'addresses[' + i + '][locationId]'"
                                    [(ngModel)]="address.locationId"
                                    placeholder="Area"
                                    [options]="locationsList$ | async"
                                    optionLabelKey="name"
                                    optionValueKey="id">
                                </app-form-select>

                                <app-form-input
                                    [name]="'addresses[' + i + '][city]'"
                                    [(ngModel)]="address.city"
                                    placeholder="City">
                                </app-form-input>

                                <app-form-input
                                    [name]="'addresses[' + i + '][postalCode]'"
                                    [(ngModel)]="address.postalCode"
                                    placeholder="ZIP">
                                </app-form-input>

                                <app-form-input
                                    [name]="'addresses[' + i + '][addressLine1]'"
                                    [(ngModel)]="address.addressLine1"
                                    placeholder="Address">
                                </app-form-input>
                            </div>

                        </div>

                        <button type="button" mat-icon-button (click)="deleteAddress(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>

                </div>

                <button type="button" mat-button color="primary" (click)="addAddress()">Add another address</button>

            </mat-tab>

            <mat-tab label="Infection">

                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-select
                                name="classification"
                                [(ngModel)]="caseData.classification"
                                placeholder="Classification"
                                required="true"
                                [options]="caseClassificationsList$ | async">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateBecomeCase"
                                [(ngModel)]="caseData.dateBecomeCase"
                                placeholder="Date became Case">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfInfection"
                                [(ngModel)]="caseData.dateOfInfection"
                                placeholder="Date of Infection">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfOutcome"
                                [(ngModel)]="caseData.dateOfOutcome"
                                placeholder="Date of Outcome">
                            </app-form-datepicker>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">

                            <app-form-datepicker
                                name="dateOfOnset"
                                [(ngModel)]="caseData.dateOfOnset"
                                placeholder="Date of Onset">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfOnsetApproximate"
                                [(ngModel)]="caseData.isDateOfOnsetApproximate"
                                label="Is date of onset approximate?">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="deceased"
                                [(ngModel)]="caseData.deceased"
                                label="Deceased?">
                            </app-form-slide-toggle>

                            <div fxFlex>
                                <app-form-datepicker
                                    name="dateDeceased"
                                    [(ngModel)]="caseData.dateDeceased"
                                    [disabled]="!caseData.deceased"
                                    placeholder="Date of death">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Hospitalization Dates section -->
                <div *ngFor="let hospitalDate of caseData.hospitalizationDates; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="25">

                            <app-form-datepicker
                                [name]="'hospitalizationDates[' + i + ']'"
                                [ngModel]="hospitalDate"
                                placeholder="Date of hospitalization">
                            </app-form-datepicker>
                        </div>

                        <button type="button" mat-icon-button (click)="deleteHospitalizationDate(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addHospitalizationDate()">Add another
                    hospitalization date
                </button>

                <!-- Isolation Dates section -->
                <div *ngFor="let isolationDate of caseData.isolationDates; let i = index" fxFlex fxLayout="row"
                     fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="25">

                            <app-form-datepicker
                                [name]="'isolationDates[' + i + ']'"
                                [ngModel]="isolationDate"
                                placeholder="Date of isolation">
                            </app-form-datepicker>

                        </div>

                        <button type="button" mat-icon-button (click)="deleteIsolationDate(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addIsolationDate()">Add another isolation
                    date
                </button>


            </mat-tab>

            <!--<mat-tab label="Lab data"></mat-tab>-->

            <!--<mat-tab label="Exposures"></mat-tab>-->

        </mat-tab-group>
    </div>

    <div class="form-actions">
        <div class="page-tabs-navbar-placeholder"></div>

        <button mat-raised-button color="primary">Save</button>
        <button type="button" [routerLink]="'..'" mat-raised-button>Cancel</button>
    </div>


</form>
