<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <!-- Filters -->
    <div class="reset-filters">
        <button mat-raised-button (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="usageDetailsList">
        <!-- Type -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_PAGE_LIST_USAGE_LOCATIONS_TYPE_LABEL_TYPE' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.typeLabel | translate }}
            </mat-cell>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_PAGE_LIST_USAGE_LOCATIONS_TYPE_LABEL_NAME' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Outbreak -->
        <ng-container matColumnDef="outbreakName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{'LNG_PAGE_LIST_USAGE_LOCATIONS_TYPE_LABEL_OUTBREAK' | translate}}</div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.outbreakName }}
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex="70px">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu">

                    <button
                        mat-menu-item
                        [routerLink]="item.viewUrl">
                        {{ 'LNG_PAGE_ACTION_VIEW' | translate }}
                    </button>

                    <mat-divider></mat-divider>

                    <button
                        *ngIf="hasWriteAccess(item)"
                        mat-menu-item
                        [routerLink]="item.modifyUrl">
                        {{'LNG_PAGE_ACTION_MODIFY' | translate}}
                    </button>

                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>

    <div
        *ngIf="usageDetailsListMore"
        class="app-location-usage-list-too-many">
        {{ 'LNG_PAGE_LIST_USAGE_LOCATIONS_LABEL_MORE_RECORDS' | translate:usageDetailsListMore }}
    </div>

</mat-card>
