<app-list-table-v2
  [pageTitle]="i18nService.instant('LNG_PAGE_LIST_USAGE_LOCATIONS_TITLE', locationData ? { name: locationData.name } : '?')"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="'locationFields'"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount()"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">
</app-list-table-v2>


<!-- <mat-card class="page-section page-content">


    <mat-table #table [dataSource]="usageDetailsList">
    </mat-table>

    <div
        *ngIf="usageDetailsListMore"
        class="app-location-usage-list-too-many">
        {{ 'LNG_PAGE_LIST_USAGE_LOCATIONS_LABEL_MORE_RECORDS' | translate:usageDetailsListMore }}
    </div>

<!~~    <div~~>
<!~~        *ngIf="refreshingList"~~>
<!~~        class="mat-table-loading-data">~~>
<!~~        <mat-spinner></mat-spinner>~~>
<!~~    </div>~~>

<!~~    &lt;!&ndash; No data &ndash;&gt;~~>
<!~~    <div~~>
<!~~        *ngIf="!refreshingList && isEmptyList"~~>
<!~~        class="empty-table-text">~~>
<!~~        {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}~~>
<!~~    </div>~~>

</mat-card> -->
