<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
        </div>
    </ng-container>
</app-topnav>

<mat-card class="page-section page-content">
    <mat-table #table [dataSource]="followUpsList$ | async">
        <!-- Contact First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_FIRST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.contact?.firstName }}
            </mat-cell>
        </ng-container>

        <!-- Contact Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell" fxLayout="column">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_CONTACT_LAST_NAME' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.contact?.lastName }}
            </mat-cell>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.date | date: Constants.DEFAULT_DATE_DISPLAY_FORMAT }}
            </mat-cell>
        </ng-container>

        <!-- Area -->
        <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_AREA' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address?.location?.name }}
            </mat-cell>
        </ng-container>

        <!-- Full Address -->
        <ng-container matColumnDef="fullAddress">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_ADDRESS' | translate }}</div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address?.fullAddress }}
            </mat-cell>
        </ng-container>

        <!-- Deleted -->
        <ng-container matColumnDef="deleted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div>{{ 'LNG_FOLLOW_UP_FIELD_LABEL_DELETED' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="deletedFilter"
                            [ngModel]="false"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByDeletedField($event.value)">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.deleted"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="70px">
                <div *app-selected-outbreak-is-active>
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <span class="xt-icon">moreVertical</span>
                    </button>

                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item *ngIf="!item.deleted && item.personId" [routerLink]="['/contacts', item.personId, 'follow-ups', item.id, 'modify' ]" [queryParams]="{ displayOnlyMissedFollowUps: true }" >
                            {{ 'LNG_PAGE_ACTION_MODIFY' | translate }}
                        </button>
                        <button *ngIf="!item.deleted" mat-menu-item class="mat-menu-item-delete" (click)="deleteFollowUp(item)">
                            {{ 'LNG_PAGE_ACTION_DELETE' | translate }}
                        </button>

                        <button *ngIf="item.deleted" mat-menu-item class="mat-menu-item-restore" (click)="restoreFollowUp(item)">
                            {{ 'LNG_PAGE_ACTION_RESTORE' | translate }}
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getTableColumns()"></mat-header-row>
        <mat-row *matRowDef="let item; columns: getTableColumns()"></mat-row>
    </mat-table>
</mat-card>
