app-form-answer-list {
    width: 100%;

    .app-form-answer{

        .answer-badge {
            border-radius: 20px;
            padding: 10px 0;
            height: 40px;
            width: 40px;
            text-align: center;
            background: #EBEBEB;
            color: #131313;
        }

        .app-form-answer-questions {
            margin-left: 30px;
        }
    }

}
