<div class="form-element"
     [id]="identifier" [ngClass]="{invalid: (invalid)}">

    <form #groupForm="ngForm">
        <!-- list of answers -->
        <div
            *ngFor="let answer of values; let i = index"
            fxFlex fxLayout="row" fxLayoutAlign="start center"
        >
            <div fxFlex class="app-form-answer">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="answer-wrapper">
                    <!-- form-answer badge -->
                    <div class="answer-badge" fxFlex="40px">
                        {{ ('LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BADGE' | translate) + (i + 1) }}
                    </div>
                    <!-- form-answer label -->
                    <div fxFlex>
                        <app-form-input
                            [name]="name + '[' + i + '][label]'"
                            [ngModel]="answer.label | translate"
                            [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_LABEL' | translate"
                            tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_LABEL_DESCRIPTION"
                            required="true"
                            [disabled]="viewOnly"
                            (optionChanged)="onChangeBind(i, 'label', $event)"
                            (initialized)="onInitializeBind(i, 'label', $event)">
                        </app-form-input>
                    </div>

                    <!-- form-answer value -->
                    <div fxFlex>
                        <app-form-input
                            [name]="name + '[' + i + '][value]'"
                            [(ngModel)]="values[i].value"
                            [placeholder]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_VALUE' | translate"
                            tooltip="LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_VALUE_DESCRIPTION"
                            required="true"
                            [disabled]="viewOnly"
                            (optionChanged)="onChange()">
                        </app-form-input>
                    </div>

                    <!-- form-answer actions -->
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
                        <!-- Write access -->
                        <ng-container *ngIf="!viewOnly">
                            <!-- Answer additional questions -->
                            <app-form-slide-toggle
                                [name]="name + '[' + i + '][additionalQuestionsShow]'"
                                [(ngModel)]="values[i].additionalQuestionsShow"
                                [label]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_ADDITIONAL_QUESTIONS' | translate"
                                required="false"
                                (optionChanged)="onChange()">
                            </app-form-slide-toggle>

                            <!-- Alert -->
                            <app-form-slide-toggle
                                [name]="name + '[' + i + '][alert]'"
                                [(ngModel)]="values[i].alert"
                                [label]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_LABEL_ALERT' | translate"
                                required="false"
                                (optionChanged)="onChange()">
                            </app-form-slide-toggle>

                            <!-- Delete answer -->
                            <button *ngIf="values.length > minItems" mat-icon-button type="button" (click)="delete(i)" color="warn">
                                <span class="xt-icon">delete</span>
                            </button>
                        </ng-container>

                        <!-- View only  -->
                        <ng-container *ngIf="viewOnly">
                            <div>{{ (answer.alert ? 'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_ALERT_ALERT' : '') | translate}}</div>
                        </ng-container>
                    </div>
                </div>

                <div
                    *ngIf="values[i].additionalQuestionsShow"
                    class="app-form-answer-questions">
                    <app-form-sub-question-list
                        [name]="name + '[' + i + '][additionalQuestions]'"
                        [ngModel]="values[i].additionalQuestions"
                        [viewOnly]="viewOnly"
                        [minItems]="1"
                        (changed)="onChange(false)"
                        (groupValidated)="validateGroup()"
                        [parentControls]="parentControls"
                        [defaultQuestionCategory]="defaultQuestionCategory"
                        [variableReadOnly]="variableReadOnly"
                        [autoSuggestVariable]="autoSuggestVariable"
                        [componentTitle]="'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_FIELD_ADDITIONAL_QUESTIONS' | translate">
                    </app-form-sub-question-list>
                </div>
            </div>

        </div>
    </form>

    <div fxLayout="row">
        <!-- btn to add new answer -->
        <button
            *ngIf="!viewOnly"
            mat-button
            type="button"
            color="accent"
            (click)="addAnswer()">
            {{'LNG_QUESTIONNAIRE_TEMPLATE_QUESTION_ANSWER_BUTTON_ADD_NEW' | translate}}
        </button>
    </div>
</div>
