app-form-answer-list {
    width: 100%;

    .add-answer-btn{
        margin-left: 25px;
    }

    .app-form-answer{

        width: 100%;

        .answer-badge {
            border-radius: 20px;
            padding: 10px 0;
            height: 40px;
            width: 40px;
            text-align: center;
            background: #EBEBEB;
            color: #131313;
        }

        .answer-wrapper {
            padding: 15px;
            width: 100%;
        }

        .answer-box {
            padding: 5px;
            margin: 5px;
        }

        .app-form-answer-questions {
            margin: 0 30px;
        }
    }

}
