@import "~styles/common";

snack-bar-container {
    background: transparent !important;
    box-shadow: none !important;
    width: 100%;
    max-width: 600px !important;
    margin: 0 !important;
}

app-multiple-snackbar {
    .mat-snack-bar-container {
        min-width: 200px;
    }

    .message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        color: white;
        padding: 15px;
        border-radius: 5px;
    }

    .success {
        background-color: @color-success;
    }

    .error {
        background-color: @color-error;
    }

    .notice{
        background-color: #f4723c;
        max-width: 100% !important;
        margin: 0px !important;
    }

    .snackbar-close-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        .snackbar-close-button {
            margin-left: 10px;
            background: #4DB0A0;
            color: white;
            border: none;
            border-radius: 5px;
            box-shadow: none;
            //outline-color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }

    //.snackbar-close-button {
    //    margin-left: 60px;
    //
    //    &:hover {
    //        cursor: pointer;
    //    }
    //}

    .close-all-button-container {
        display: flex;
        justify-content: flex-end;

        .close-all-button {

        }
    }

}
