<div class="errors-container">
    <div
         *ngFor="let msg of messages; let i = index"
         [ngClass]="msg.messageClass"
         class="message {{theme}}"
    >
        <div class="text-message">
            {{ msg.message }}
        </div>

        <div class="snackbar-close-button-container {{msg.messageClass}}">
            <p
                (click)="closeSnackbar(i)"
            >
                {{'LNG_MULTIPLE_SNACKBAR_BUTTON_CLOSE' | translate}}
            </p>
        </div>
    </div>

    <div
        *ngIf="messages.length > 1"
        class="close-all-button-container">
        <button
            (click)="closeAllSnackbars()"
            class="close-all-button"
            type="button" mat-raised-button color="primary">
            {{'LNG_MULTIPLE_SNACKBAR_BUTTON_CLOSE_ALL' | translate}}
        </button>
    </div>
</div>

<!--<div-->
<!--    *ngIf="html"-->
<!--    class="snackbar {{theme}}"-->
<!--    [innerHTML]="message">-->
<!--</div>-->
