<div class="errors-container">
    <div *ngFor="let err of errors; let i = index"
         [ngClass]="err.messageClass"
         class="message" >
        {{ err.message }} {{err.messageClass}}
        <div class="snackbar-close-button-container">
            <button
                (click)="closeSnackbar(err, i)"
                class="snackbar-close-button"
            >
                Close
            </button>
        </div>
    </div>

    <div
        *ngIf="errors.length > 1"
        class="close-all-button-container">
        <button
            (click)="closeAllSnackbars()"
            class="close-all-button">
            Close all
        </button>
    </div>

</div>
