snack-bar-container {
    background: transparent !important;
    box-shadow: none !important;
    width: 100%;
    max-width: 500px !important;
}

app-multiple-snackbar {
    .error {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        color: white;
        background-color: red;
    }

}
