@import 'mixins';

app-form-event-quick {
  height: 100%;

  form {
    padding: 1.6rem 0.8rem 0.8rem;

    > * {
      width: calc(33.3333% - 0.8rem);

      @include breakpoint('xl') {
        width: calc(50% - 0.8rem);
      }

      @include breakpoint('sm') {
        width: calc(50% - 0.8rem);
      }

      @include breakpoint('xs') {
        width: 100%;
      }
    }

    > app-form-textarea-v2 {
      width: 100%;
    }
  }
}
