<form #groupForm="ngForm">
  <div fxLayout="column" fxLayoutGap="20px" fxFlex>

    <app-form-input-v2
      name="name"
      [(ngModel)]="event.name"
      [placeholder]="'LNG_EVENT_FIELD_LABEL_NAME' | translate"
      tooltip="LNG_EVENT_FIELD_LABEL_NAME_DESCRIPTION"
      required="true"
      (ngModelChange)="onChange()"
      maxlength="100">
    </app-form-input-v2>

    <app-form-date-v2
      name="date"
      [(ngModel)]="event.date"
      [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE' | translate"
      tooltip="LNG_EVENT_FIELD_LABEL_DATE_DESCRIPTION"
      required="true"
      (ngModelChange)="onChange()"
      [maxDate]="currentDate"
      app-date-validator
      [dateSameOrBefore]="currentDate">
    </app-form-date-v2>

    <app-form-date-v2
      name="dateOfReporting"
      [(ngModel)]="event.dateOfReporting"
      [placeholder]="'LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING'| translate"
      tooltip="LNG_EVENT_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
      required="true"
      (ngModelChange)="onChange()"
      [maxDate]="currentDate"
      app-date-validator
      [dateSameOrBefore]="currentDate">
    </app-form-date-v2>

    <app-form-textarea-v2
      name="description"
      [(ngModel)]="event.description"
      [placeholder]="'LNG_EVENT_FIELD_LABEL_DESCRIPTION' | translate"
      tooltip="LNG_EVENT_FIELD_LABEL_DESCRIPTION_DESCRIPTION"
      maxlength="500"
      (ngModelChange)="onChange()">
    </app-form-textarea-v2>

  </div>
</form>
