app-dashboard-metric-dashlet {

    .dashboard-box {
        height: 170px;
        color: #ffffff;
        margin: 10px;
        width: auto;

        .dashboard-box-header {
            text-align: left;
            padding: 15px;
            font-size: 14px;
        }

        .dashboard-box-content {
            text-align: center;
            padding: 15px;
            font-size: 60px;
            font-weight: bold;
            min-height: 70px;
        }
    }
}
