<div
  *ngIf="!displayLoading && layers.length > 0 && !layersLoading"
  class="app-world-map-container"
  [class.full-screen-map]="fullScreenMode">
  <!--Full screen map-->
  <app-form-toggle-checkbox-v2
    class="world-map-full-screen"
    [(ngModel)]="fullScreenMode"
    [placeholder]="'LNG_PAGE_WORLD_MAP_FULL_SCREEN_LABEL' | translate"
    (ngModelChange)="fullScreenToggleTrigger()">
  </app-form-toggle-checkbox-v2>

  <!-- Draw map -->
  <div id="worldMap"></div>
</div>

<!-- Still loading map -->
<div
  *ngIf="displayLoading || layers.length < 1 || layersLoading"
  class="world-map-loading"
  fxFlex fxLayoutAlign="center center">
  <mat-progress-spinner
    diameter="32"
    mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Disclaimer -->
<div
  *ngIf="displayDisclaimer && !fullScreenMode && !layersLoading"
  fxLayout="column"
  class="app-world-map-disclaimer">
  <!-- Show / Hide Disclaimer -->
  <div
    class="app-world-map-disclaimer-button">
    <button
      type="button"
      mat-icon-button
      color="primary"
      [title]="'LNG_PAGE_WORLD_MAP_DISCLAIMER' | translate"
      (click)="displayDisclaimerContent = !displayDisclaimerContent">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <!-- Disclaimer -->
  <div
    *ngIf="displayDisclaimerContent"
    fxLayout="column"
    class="app-world-map-disclaimer-content">
    <!-- Text -->
    <div
      class="app-world-map-disclaimer-text">
      {{ 'LNG_PAGE_WORLD_MAP_DISCLAIMER_TEXT' | translate }}
    </div>

    <!-- WHO Organization -->
    <div
      class="app-world-map-disclaimer-header">
      {{ 'LNG_PAGE_WORLD_MAP_DISCLAIMER_WHO_LABEL' | translate }}
    </div>
  </div>
</div>
