app-world-map {
    display: flex;
    flex-direction: column;

    .full-screen-map {
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100vw !important;
        height: 100vh !important;
    }

    .toggle-full-screen {
        position: absolute;
        right: 0;
        margin-right: 20px;
        z-index: 999;
    }

    .full-screen-toggle-item {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 20px;
        z-index: 999;
    }

    .app-world-map-disclaimer {
        margin-bottom: 30px;

        .app-world-map-disclaimer-button {
            margin-bottom: 5px;
        }

        .app-world-map-disclaimer-content {
            border-top: 1px solid #CCC;
            padding-top: 5px;

            .app-world-map-disclaimer-text {
                margin-bottom: 20px;
            }

            .app-world-map-disclaimer-header {
                font-weight: bold;
            }

            .app-world-map-disclaimer-no-wrap {
                white-space: nowrap;
            }
        }
    }

    .world-map-loading {
        text-align: center;

        mat-spinner {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            vertical-align: middle;
            width: 32px !important;
            height: 32px !important;

            svg {
                width: 32px !important;
                height: 32px !important;
            }
        }
    }
}
