<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<app-import-data
    [allowedExtensions]="allowedExtensions"
    [title]="'LNG_PAGE_IMPORT_LOCATION_DATA_TITLE'"
    (finished)="finished()"
    importFileUrl="importable-files"
    importDataUrl="locations/import-importable-file-using-map"
    [model]="ImportServerModelNames.LOCATION"
    [requiredDestinationFields]="requiredDestinationFields">
</app-import-data>
