@import 'mixins';
@import 'font';

/* Header */
.gd-top {
  height: 100%;

  /* Header left */
  .gd-top-left {
    padding-left: 4rem;
    @include transition(all 0.24s ease-in-out 0s);

    @include breakpoint('lt-lg') {
      @include flex_align_items(center);
      @include flex(flex);
      @include flex_direction(row);
      padding-left: 0;
    }

    /* Mobile Header Logo */
    .gd-top-left-logo {
      padding: 1.6rem 0 1.6rem 0.8rem;

      img {
        cursor: pointer;
        display: block;
        height: 3.55rem;
        width: auto;
      }
    }

    /* Mobile Menu Trigger */
    > button.mat-icon-button {
      @include breakpoint('lg') {
        margin-right: 1.6rem;
      }

      @include breakpoint('lt-lg') {
        margin-left: 1.6rem;
      }
    }

    /* Search */
    .gd-form-input-v2 {
      .mat-form-field {
        min-width: 38rem;

        @include breakpoint('lg') {
          min-width: 25rem;
        }

        .mat-form-field-wrapper {
          background: rgba(var(--gd-secondary-rgb), 0.15);
          @include border-radius(0.4rem);

          .mat-form-field-flex {
            .mat-form-field-outline {
              color: transparent;

              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                border-width: 0;
              }
            }

            .mat-form-field-outline-thick {
              color: transparent;

              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                border-width: 0;
              }
            }
          }

          .mat-form-field-subscript-wrapper {
            min-height: 0;
            padding: 0;
          }
        }
      }
    }
  }

  /* Header middle */
  .gd-top-middle {
    .gd-top-middle-history {
      &.mat-warn {
        background-color: rgba(var(--gd-danger-rgb), 0.15);
        color: var(--gd-danger);
      }

      .mat-button-wrapper {
        @include breakpoint('xs') {
          gap: 0;
        }

        > div {
          @include breakpoint('xs') {
            display: none;
          }
        }
      }
    }
  }

  /* Header right */
  .gd-top-right {
    padding-right: 4rem;

    @include breakpoint('lt-md') {
      padding-right: 2rem;
    }

    /* Selected outbreak */
    .gd-form-select-single-v2 {
      .mat-form-field {
        min-width: 38rem;

        @include breakpoint('lg') {
          min-width: 25rem;
        }

        .mat-form-field-wrapper {
          .mat-form-field-subscript-wrapper {
            min-height: 0;
            padding: 0;
          }
        }
      }
    }

    /* Header buttons */
    button.mat-icon-button {
      background: transparent;
      @include border-radius(0);
      color: rgba(var(--gd-secondary-rgb), 0.75);
      font-size: 2.4rem;
      padding: 0;

      .mat-icon {
        font-size: 2.4rem;
      }

      /* User button */
      &.gd-top-right-user {
        background: var(--gd-primary);
        @include border-radius(50%);
        color: var(--gd-background);
        height: 3.6rem;
        padding: 0.6rem;
        width: 3.6rem;
      }
    }
  }
}

.gd-body-content-right-expanded {
  .gd-top {
    .gd-top-left {
      padding-left: 0;
    }
  }
}
