<div
  fxLayout="row" fxLayoutAlign="space-between center"
  class="gd-top">

  <!-- Left -->
  <div
    fxGrow="0"
    class="gd-top-left">

    <!-- Search -->
    <app-form-input-v2
      placeholder="LNG_COMMON_LABEL_SEARCH"
      [(ngModel)]="globalSearchValue"
      [suffixIconButtons]="globalSearchSuffixButtons"
      [neverFloatLabel]="true"
      tooltip="LNG_GLOBAL_ENTITY_SEARCH_ENTITY_ID_LABEL_VALUE_DESCRIPTION"
      (keyup.enter)="globalSearch()">
    </app-form-input-v2>

  </div>

  <!-- Middle -->
  <div
    fxFlex fxLayout="row" fxLayoutAlign="center"
    class="gd-top-middle">
    <!-- Toast history -->
    <button
      *ngIf="ToastV2Service.HISTORY.length > 0"
      fxLayout="row" fxLayoutGap="1.6rem"
      class="gd-top-middle-history"
      mat-flat-button
      color="text"
      (click)="displayHistory()">

      <!-- Icon -->
      <mat-icon>error</mat-icon>

      <!-- Message -->
      <div>{{'LNG_COMMON_LABEL_NOTIFICATION_HISTORY' | translate:ToastV2Service.HISTORY}}</div>

    </button>
  </div>

  <!-- Right -->
  <div
    fxGrow="0" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1.6rem"
    class="gd-top-right">

    <!-- Outbreaks -->
    <app-form-select-v2
      *ngIf="OutbreakModel.canView(authUser)"
      placeholder="LNG_LAYOUT_SELECTED_OUTBREAK_LABEL"
      [ngModel]="selectedOutbreak.id"
      (ngModelChange)="selectOutbreak($event)"
      [options]="outbreakListOptions"
      optionTooltipKey="details">
    </app-form-select-v2>

    <!-- Help -->
    <button
      type="button"
      mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>

    <!-- Profile -->
    <button
      class="gd-top-right-user"
      type="button"
      mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>

  </div>
</div>

<!--
<mat-toolbar class="topnav">

    <mat-list class="topnav-list" fxLayout="row" fxFlex>

        <div class="topnav-static-actions" fxLayout="row">
            <ng-container
                *ngIf="OutbreakModel.canView(authUser)">
                <mat-divider [vertical]="true"></mat-divider>

                <mat-list-item>
                    <app-form-select
                        name="activeOutbreak"
                        [(ngModel)]="selectedOutbreak.id"
                        [placeholder]="'LNG_LAYOUT_SELECTED_OUTBREAK_LABEL' | translate"
                        [disabled]="!activeOutbreakEditable"
                        [options]="outbreaksList"
                        optionLabelKey="name"
                        optionValueKey="id"
                        optionTooltipKey="details"
                        (optionChanged)="selectOutbreak($event)"
                        [clearable]="false"
                        [enableFilterOptions]="true">
                    </app-form-select>
                </mat-list-item>
            </ng-container>

            <mat-divider [vertical]="true"></mat-divider>

            <mat-list-item>
                <app-form-select
                    name="language"
                    [(ngModel)]="selectedLanguageId"
                    [placeholder]="'LNG_LAYOUT_LANGUAGE_LABEL' | translate"
                    [options]="languagesList$ | async"
                    optionLabelKey="name"
                    optionValueKey="id"
                    (optionChanged)="selectLanguage($event)"
                    [clearable]="false">
                </app-form-select>
            </mat-list-item>
        </div>

    </mat-list>

</mat-toolbar>
-->
