<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Details step -->
        <mat-step [stepControl]="detailsForm">
            <form #detailsForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_FOLLOW_UP_TAB_DETAILS_TITLE'| translate}}</ng-template>

                <!-- Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <div>{{'LNG_ENTITY_TYPE_LABEL_CONTACT' | translate}}</div>
                            <a [routerLink]="['/contacts', contactData.id, 'modify']">{{ contactData.name }}</a>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-datepicker
                                name="date"
                                [(ngModel)]="followUpData.date"
                                [placeholder]="'LNG_FOLLOW_UP_FIELD_LABEL_DATE' | translate"
                                required="true">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="performed"
                                [(ngModel)]="followUpData.performed"
                                [label]="'LNG_FOLLOW_UP_FIELD_LABEL_PERFORMED' | translate">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="lostToFollowUp"
                                [(ngModel)]="followUpData.lostToFollowUp"
                                [label]="'LNG_FOLLOW_UP_FIELD_LABEL_LOST_TO_FOLLOW_UP' | translate">
                            </app-form-slide-toggle>
                        </div>
                    </div>
                </mat-card>

                <!-- Address section -->
                <div class="section-title">{{ 'LNG_PAGE_CREATE_FOLLOW_UP_TAB_ADDRESS_TITLE' | translate }}</div>
                <mat-card class="page-section">
                    <app-form-address
                        name="address"
                        [ngModel]="followUpData.address">
                    </app-form-address>
                </mat-card>

                <div>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT'| translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Questionnaire step -->
        <mat-step [stepControl]="questionnaireForm">
            <form #questionnaireForm="ngForm">
                <ng-template matStepLabel>{{ 'LNG_PAGE_CREATE_FOLLOW_UP_TAB_QUESTIONNAIRE_TITLE' | translate }}</ng-template>

                <!-- Questionnaire section -->
                <app-form-fill-questionnaire
                    name="questionnaireAnswers"
                    [ngModel]="followUpData.questionnaireAnswers"
                    [questions]="selectedOutbreak.contactFollowUpTemplate">
                </app-form-fill-questionnaire>

                <div>
                    <button mat-button matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT'| translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL'| translate}}</ng-template>
            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            <div>
                <button mat-button matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK'| translate}}</button>
                <button *app-selected-outbreak-is-active type="button" mat-button (click)="createNewFollowUp([detailsForm, questionnaireForm])">
                    {{'LNG_PAGE_CREATE_FOLLOW_UP_ACTION_CREATE_FOLLOW_UP_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
