<app-topnav>
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Personal step -->
        <mat-step [stepControl]="personalForm">
            <form #personalForm="ngForm">
                <ng-template matStepLabel>Personal</ng-template>

                <!-- Flagged section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row">
                            <app-form-select fxFlex="25"
                                name="riskLevel"
                                [(ngModel)]="caseData.riskLevel"
                                placeholder="Risk Level Flag"
                                required="true"
                                [options]="caseRiskLevelsList$ | async">
                            </app-form-select>
                        </div>

                        <app-form-textarea
                            name="riskReason"
                            [(ngModel)]="caseData.riskReason"
                            placeholder="Reason">
                        </app-form-textarea>

                    </div>
                </mat-card>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="caseData.firstName"
                                placeholder="First name"
                                required="true"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="caseData.middleName"
                                placeholder="Middle name"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="caseData.lastName"
                                placeholder="Last name"
                                maxlength="200">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="caseData.gender"
                                placeholder="Gender"
                                required="true"
                                [options]="gendersList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="phoneNumber"
                                [(ngModel)]="caseData.phoneNumber"
                                placeholder="Phone number"
                                maxlength="50">
                            </app-form-input>

                            <app-form-input
                                name="occupation"
                                [(ngModel)]="caseData.occupation"
                                placeholder="Occupation"
                                maxlength="500">
                            </app-form-input>

                            <div fxFlex fxLayout="row" class="switch-buttons">
                                <button fxFlex type="button" mat-raised-button [color]="ageSelected ? 'primary' : ''" (click)="switchAgeDob(true)">
                                    Age
                                </button>
                                <button fxFlex type="button" mat-raised-button [color]="!ageSelected ? 'primary' : ''"  (click)="switchAgeDob(false)">
                                    Date of birth
                                </button>
                            </div>

                            <div fxFlex>
                                <app-form-input [fxHide]="!ageSelected"
                                                name="age"
                                                [(ngModel)]="caseData.age"
                                                placeholder="Age">
                                </app-form-input>

                                <app-form-datepicker [fxHide]="ageSelected"
                                                name="dob"
                                                [(ngModel)]="caseData.dob"
                                                placeholder="Date of birth">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Documents section -->
                <div class="section-title">Documents</div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="caseData.documents">
                </app-form-document-list>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- Address step -->
        <mat-step [stepControl]="addressForm">
            <form #addressForm="ngForm">
                <ng-template matStepLabel>Address</ng-template>

                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="caseData.addresses">
                </app-form-address-list>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- Infection step -->
        <mat-step [stepControl]="infectionForm">
            <form #infectionForm="ngForm">
                <ng-template matStepLabel>Infection</ng-template>

                <!-- Case Infection Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
                            <app-form-select
                                name="classification"
                                [(ngModel)]="caseData.classification"
                                placeholder="Classification"
                                required="true"
                                [options]="caseClassificationsList$ | async">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateBecomeCase"
                                [(ngModel)]="caseData.dateBecomeCase"
                                placeholder="Date became Case">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfInfection"
                                [(ngModel)]="caseData.dateOfInfection"
                                placeholder="Date of Infection">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfOutcome"
                                [(ngModel)]="caseData.dateOfOutcome"
                                placeholder="Date of Outcome">
                            </app-form-datepicker>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">

                            <app-form-datepicker
                                name="dateOfOnset"
                                [(ngModel)]="caseData.dateOfOnset"
                                placeholder="Date of Onset">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfOnsetApproximate"
                                [(ngModel)]="caseData.isDateOfOnsetApproximate"
                                label="Is date of onset approximate?">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="deceased"
                                [(ngModel)]="caseData.deceased"
                                label="Deceased?">
                            </app-form-slide-toggle>

                            <div fxFlex>
                                <app-form-datepicker
                                    name="dateDeceased"
                                    [(ngModel)]="caseData.dateDeceased"
                                    [disabled]="!caseData.deceased"
                                    placeholder="Date of death">
                                </app-form-datepicker>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <!-- Hospitalization Dates section -->
                <div *ngFor="let hospitalDate of caseData.hospitalizationDates; let i = index" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="25">

                            <app-form-datepicker
                                [name]="'hospitalizationDates[' + i + ']'"
                                [ngModel]="hospitalDate"
                                placeholder="Date of hospitalization">
                            </app-form-datepicker>

                        </div>

                        <button type="button" mat-icon-button (click)="deleteHospitalizationDate(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addHospitalizationDate()">Add another hospitalization date</button>

                <!-- Isolation Dates section -->
                <div *ngFor="let isolationDate of caseData.isolationDates; let i = index" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <mat-card class="page-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                        <div fxLayout="row" fxLayoutGap="20px" fxFlex="25">

                            <app-form-datepicker
                                [name]="'isolationDates[' + i + ']'"
                                [ngModel]="isolationDate"
                                placeholder="Date of isolation">
                            </app-form-datepicker>

                        </div>

                        <button type="button" mat-icon-button (click)="deleteIsolationDate(i)">
                            <span class="xt-icon">delete</span>
                        </button>
                    </mat-card>
                </div>

                <button type="button" mat-button color="primary" (click)="addIsolationDate()">Add another isolation date</button>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button type="button" mat-button (click)="createNewCase([personalForm, addressForm, infectionForm])">Create Case</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
