<app-topnav [activeOutbreakEditable]="false">
    <ng-container dynamic-section>
        <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
    </ng-container>
</app-topnav>

<div class="page-content">

    <mat-horizontal-stepper linear #stepper>

        <!-- Personal step -->
        <mat-step [stepControl]="personalForm">
            <form #personalForm="ngForm">
                <ng-template matStepLabel>{{'LNG_PAGE_CREATE_CASE_TAB_PERSONAL_TITLE' | translate}}</ng-template>

                <!-- Personal Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-input
                                name="firstName"
                                [(ngModel)]="caseData.firstName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_FIRST_NAME' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_FIRST_NAME_DESCRIPTION"
                                required="true"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="middleName"
                                [(ngModel)]="caseData.middleName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_MIDDLE_NAME' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_MIDDLE_NAME_DESCRIPTION"
                                maxlength="200">
                            </app-form-input>

                            <app-form-input
                                name="lastName"
                                [(ngModel)]="caseData.lastName"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_LAST_NAME' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_LAST_NAME_DESCRIPTION"
                                maxlength="200">
                            </app-form-input>

                            <app-form-select
                                name="gender"
                                [(ngModel)]="caseData.gender"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_GENDER' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_GENDER_DESCRIPTION"
                                [options]="genderList$ | async">
                            </app-form-select>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <div
                                fxFlex fxLayout="row" fxLayoutGap="20px">
                                <!-- Due to an angular bug => compose validators, we need this validator to be able to use the async general one... -->
                                <!-- [maxlength]="255" -->
                                <app-form-input
                                    name="visualId"
                                    [(ngModel)]="caseData.visualId"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_VISUAL_ID' | translate"
                                    tooltip="LNG_CASE_FIELD_LABEL_VISUAL_ID_DESCRIPTION"
                                    [tooltipTranslateData]="visualIDTranslateData"
                                    [maxlength]="255"
                                    app-general-async-validator
                                    [asyncValidatorObservable]="caseIdMaskValidator">
                                </app-form-input>

                                <app-form-select
                                    name="occupation"
                                    [(ngModel)]="caseData.occupation"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_OCCUPATION' | translate"
                                    tooltip="LNG_CASE_FIELD_LABEL_OCCUPATION_DESCRIPTION"
                                    [options]="occupationsList$ | async">
                                </app-form-select>
                            </div>

                            <app-form-age-dob
                                fxFlex
                                name="ageDob"
                                [(ngModel)]="caseData"
                                ageButtonLabel="LNG_CASE_FIELD_LABEL_AGE_BUTTON"
                                dobButtonLabel="LNG_CASE_FIELD_LABEL_DATE_OF_BIRTH_BUTTON"
                                dobPlaceholder="LNG_CASE_FIELD_LABEL_DOB"
                                dobTooltip="LNG_CASE_FIELD_LABEL_DOB_DESCRIPTION"
                                ageTooltip="LNG_CASE_FIELD_LABEL_AGE_DESCRIPTION">
                            </app-form-age-dob>
                        </div>

                    </div>
                </mat-card>

                <!-- Flagged section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="riskLevel"
                                [(ngModel)]="caseData.riskLevel"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_RISK_LEVEL' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_RISK_LEVEL_DESCRIPTION"
                                [options]="caseRiskLevelsList$ | async">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateOfReporting"
                                [(ngModel)]="caseData.dateOfReporting"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING'| translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING_DESCRIPTION"
                                required="true"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="[
                                    serverToday
                                ]">
                            </app-form-datepicker>

                            <div fxFlex><!--Placeholder--></div>
                            <div fxFlex><!--Placeholder--></div>

                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="pregnancyStatus"
                                [(ngModel)]="caseData.pregnancyStatus"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_PREGNANCY_STATUS' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_PREGNANCY_STATUS_DESCRIPTION"
                                [options]="pregnancyStatusList$ | async">
                            </app-form-select>

                            <app-form-slide-toggle
                                name="isDateOfReportingApproximate"
                                [(ngModel)]="caseData.isDateOfReportingApproximate"
                                [label]="'LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_REPORTING_APPROXIMATE_DESCRIPTION">
                            </app-form-slide-toggle>

                            <app-form-slide-toggle
                                name="transferRefused"
                                [(ngModel)]="caseData.transferRefused"
                                [label]="'LNG_CASE_FIELD_LABEL_TRANSFER_REFUSED' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_TRANSFER_REFUSED_DESCRIPTION">
                            </app-form-slide-toggle>

                            <div fxFlex><!--Placeholder--></div>
                        </div>

                        <div fxLayout="row">
                            <app-form-textarea
                                name="riskReason"
                                [(ngModel)]="caseData.riskReason"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_RISK_REASON' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_RISK_REASON_DESCRIPTION">
                            </app-form-textarea>
                        </div>
                    </div>
                </mat-card>

                <div class="section-title">{{'LNG_CASE_FIELD_LABEL_VACCINES_RECEIVED_DETAILS' | translate}}</div>

                <!--Vaccines received section-->
                <app-form-vaccines-list
                    name="vaccinesReceived"
                    [(ngModel)]="caseData.vaccinesReceived"
                    [required]="true">
                </app-form-vaccines-list>

                <!-- Documents section -->
                <div class="section-title">{{ 'LNG_CASE_FIELD_LABEL_DOCUMENTS' | translate }}</div>
                <app-form-document-list
                    name="documents"
                    [(ngModel)]="caseData.documents"
                    [required]="true">
                </app-form-document-list>

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Address step -->
        <mat-step [stepControl]="addressForm">
            <form #addressForm="ngForm">
                <ng-template matStepLabel>{{ 'LNG_PAGE_CREATE_CASE_TAB_ADDRESS_TITLE' | translate }}</ng-template>

                <app-form-address-list
                    name="addresses"
                    [(ngModel)]="caseData.addresses"
                    [required]="true">
                </app-form-address-list>

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Infection step -->
        <mat-step [stepControl]="infectionForm">
            <form #infectionForm="ngForm">
                <ng-template matStepLabel>{{ 'LNG_PAGE_CREATE_CASE_TAB_INFECTION_TITLE' | translate }}</ng-template>

                <!-- Case Infection Details section -->
                <mat-card class="page-section">
                    <div fxLayout="column">

                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="classification"
                                [(ngModel)]="caseData.classification"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_CLASSIFICATION' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_CLASSIFICATION_DESCRIPTION"
                                required="true"
                                [options]="caseClassificationsList$ | async">
                            </app-form-select>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">

                            <app-form-datepicker
                                name="dateOfOnset"
                                [(ngModel)]="caseData.dateOfOnset"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_ONSET' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_ONSET_DESCRIPTION"
                                [maxDate]="serverToday"
                                app-date-validator
                                required="true"
                                [dateSameOrBefore]="[
                                    serverToday,
                                    'dateOfOutcome'
                                ]"
                                [dateSameOrAfter]="[
                                    'dateOfInfection'
                                ]">
                            </app-form-datepicker>

                            <app-form-slide-toggle
                                name="isDateOfOnsetApproximate"
                                [(ngModel)]="caseData.isDateOfOnsetApproximate"
                                [label]="'LNG_CASE_FIELD_LABEL_IS_DATE_OF_ONSET_APPROXIMATE' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_IS_DATE_OF_ONSET_APPROXIMATE_DESCRIPTION">
                            </app-form-slide-toggle>

                            <app-form-datepicker
                                name="dateBecomeCase"
                                [(ngModel)]="caseData.dateBecomeCase"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_BECOME_CASE' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_BECOME_CASE_DESCRIPTION"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday">
                            </app-form-datepicker>

                            <app-form-datepicker
                                name="dateOfInfection"
                                [(ngModel)]="caseData.dateOfInfection"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_INFECTION' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_INFECTION_DESCRIPTION"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="[
                                    serverToday,
                                    'dateOfOutcome',
                                    'dateOfOnset'
                                ]">
                            </app-form-datepicker>
                        </div>
                    </div>
                </mat-card>

                <!--Outcome section-->
                <mat-card class="page-section">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <app-form-select
                                name="outcomeId"
                                [(ngModel)]="caseData.outcomeId"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_OUTCOME' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_OUTCOME_DESCRIPTION"
                                [options]="outcomeList$ | async">
                            </app-form-select>

                            <app-form-datepicker
                                name="dateOfOutcome"
                                [(ngModel)]="caseData.dateOfOutcome"
                                [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_OUTCOME' | translate"
                                tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_OUTCOME_DESCRIPTION"
                                [maxDate]="serverToday"
                                app-date-validator
                                [dateSameOrBefore]="serverToday"
                                [dateSameOrAfter]="[
                                'dateOfOnset'
                            ]">
                            </app-form-datepicker>

                            <div fxFlex><!-- placeholder --></div>
                            <div fxFlex><!-- placeholder --></div>
                        </div>


                        <div *ngIf="caseData.outcomeId === Constants.OUTCOME_STATUS.DECEASED" fxLayout="row" fxLayoutGap="20px">
                            <ng-container >
                                <app-form-slide-toggle
                                    name="safeBurial"
                                    [(ngModel)]="caseData.safeBurial"
                                    [label]="'LNG_CASE_FIELD_LABEL_SAFETY_BURIAL' | translate"
                                    tooltip="LNG_CASE_FIELD_LABEL_SAFETY_BURIAL_DESCRIPTION">
                                </app-form-slide-toggle>

                                <div fxFlex>
                                    <app-form-datepicker
                                        name="dateOfBurial"
                                        [(ngModel)]="caseData.dateOfBurial"
                                        [placeholder]="'LNG_CASE_FIELD_LABEL_DATE_OF_BURIAL' | translate"
                                        tooltip="LNG_CASE_FIELD_LABEL_DATE_OF_BURIAL_DESCRIPTION"
                                        [maxDate]="serverToday"
                                        app-date-validator
                                        [dateSameOrBefore]="serverToday"
                                        [dateSameOrAfter]="['dateOfOutcome']"
                                    >
                                    </app-form-datepicker>
                                </div>

                                <app-form-location-dropdown
                                    name="burialLocationId"
                                    [(ngModel)]="caseData.burialLocationId"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_PLACE_OF_BURIAL' | translate"
                                    tooltip="LNG_CASE_FIELD_LABEL_PLACE_OF_BURIAL_DESCRIPTION"
                                    [useOutbreakLocations]="true"
                                    [fixedDropPanel]="true"
                                >
                                </app-form-location-dropdown>

                                <app-form-input
                                    name="burialPlaceName"
                                    [(ngModel)]="caseData.burialPlaceName"
                                    [placeholder]="'LNG_CASE_FIELD_LABEL_BURIAL_PLACE_NAME' | translate"
                                    tooltip="LNG_CASE_FIELD_LABEL_BURIAL_PLACE_NAME_DESCRIPTION"
                                >
                                </app-form-input>
                            </ng-container>
                        </div>
                    </div>
                </mat-card>

                <div class="section-title">{{'LNG_CASE_FIELD_LABEL_HOSPITALIZATION_ISOLATION_DETAILS' | translate}}</div>
                <!-- Dates section -->
                <app-form-case-center-daterange-list
                    name="dateRanges"
                    [(ngModel)]="caseData.dateRanges"
                    [componentTitle]="'LNG_CASE_FIELD_LABEL_HOSPITALIZATION_ISOLATION_DETAILS' | translate"
                    centerNameLabel="LNG_CASE_FIELD_LABEL_DATE_RANGE_CENTER_NAME"
                    centerNameTooltip="LNG_CASE_FIELD_LABEL_DATE_RANGE_CENTER_NAME_DESCRIPTION"
                    [required]="true"
                    [dateOfOnset]="caseData.dateOfOnset"
                ></app-form-case-center-daterange-list>

                <div class="stepper-navigation-buttons">
                    <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Questionnaire step -->
        <mat-step [stepControl]="questionnaireForm">
            <form #questionnaireForm="ngForm">
                <ng-template matStepLabel>{{ 'LNG_PAGE_CREATE_CASE_TAB_QUESTIONNAIRE_TITLE' | translate }}</ng-template>

                <!-- Questionnaire section -->
                <app-form-fill-questionnaire
                    name="questionnaireAnswers"
                    [ngModel]="caseData.questionnaireAnswers"
                    [questions]="selectedOutbreak.caseInvestigationTemplate">
                </app-form-fill-questionnaire>

                <div class="stepper-navigation-buttons">
                    <button matStepperPrevious mat-raised-button type="button">{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                    <button mat-raised-button color="accent" matStepperNext>{{'LNG_STEPPER_BUTTON_NEXT'| translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- Final step -->
        <mat-step>
            <ng-template matStepLabel>{{'LNG_STEPPER_FINAL_STEP_LABEL'| translate}}</ng-template>
            {{'LNG_STEPPER_FINAL_STEP_TEXT' | translate}}
            <div class="stepper-navigation-buttons">
                <button mat-raised-button type="button" matStepperPrevious>{{'LNG_STEPPER_BUTTON_BACK' | translate}}</button>
                <button *app-selected-outbreak-is-active type="button" mat-raised-button color="accent" (click)="createNewCase([personalForm, addressForm, infectionForm, questionnaireForm])">
                    {{'LNG_PAGE_CREATE_CASE_ACTION_CREATE_CASE_BUTTON' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
