<app-create-view-modify-v2
  [action]="action"
  [allowEdit]="selectedOutbreakIsActive"
  [loadingPage]="loadingPage"
  [loadingItemData]="loadingItemData"
  [breadcrumbs]="breadcrumbs"
  [pageTitle]="pageTitle"
  [pageTitleData]="pageTitleData"
  [itemID]="itemData?.id"
  [tabData]="tabData"
  listTitle="LNG_PAGE_LIST_EVENTS_TITLE"
  [expandListRecords$]="expandListRecords$"
  [expandListColumnRenderer]="expandListColumnRenderer"
  [expandListAdvancedFilterType]="Constants.APP_PAGE.EVENTS.value"
  [expandListAdvancedFilters]="expandListAdvancedFilters"
  [expandListQueryFields]="expandListQueryFields"
  expandListAdvancedFiltersCacheKey="/events"
  (expandListRefreshData)="refreshExpandList($event)"
  (expandListChangeRecord)="expandListChangeRecord($event)">
</app-create-view-modify-v2>
