<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <ng-container *app-selected-outbreak-is-active>
                    <button *ngIf="hasEventWriteAccess()" mat-raised-button color="accent"
                            [routerLink]="'./create'">
                        {{'LNG_COMMON_BUTTON_ADD'| translate}} <span class="xt-icon">addCircle</span>
                    </button>
                </ng-container>

                <button
                    *ngIf="!appliedListFilter"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <button
                        mat-menu-item
                        [routerLink]="['/events']"
                        [queryParams]="{ applyListFilter: Constants.APPLY_LIST_FILTER.EVENTS_WITHOUT_RELATIONSHIPS }">
                        {{'LNG_PAGE_LIST_EVENTS_ACTION_NO_RELATIONSHIPS_BUTTON' | translate}}
                    </button>

                    <button
                        mat-menu-item
                        (click)="exportFilteredEventsRelationships()">
                        {{ 'LNG_PAGE_LIST_EVENTS_ACTION_EXPORT_EVENTS_RELATIONSHIPS' | translate }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<!-- Side columns -->
<app-side-columns
    [tableColumnsUserSettingsKey]="UserSettings.EVENT_FIELDS"
    [tableColumns]="tableColumns"
    (visibleColumnsChanged)="applySideColumnsChanged($event)">
</app-side-columns>

<!--Total number of records from the list-->
<app-total-number-of-records
    [value]="(eventsListCount$ | async)?.count">
</app-total-number-of-records>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <mat-table #table [dataSource]="eventsList$ | async" matSort (matSortChange)="sortBy($event)">
        <!-- Checkbox -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="60px">
                <div class="table-header-cell">
                    <div>
                        <button
                            type="button"
                            class="bulk-actions-button"
                            mat-icon-button
                            [disableRipple]="true"
                            [matMenuTriggerFor]="actionsMenuMultipleRecords"
                            color="accent"
                            [matTooltip]="'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_TOOLTIP' | translate"
                            [disabled]="isEmptyList"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #actionsMenuMultipleRecords="matMenu">
                            <button
                                *ngIf="!checkedAllRecords"
                                mat-menu-item
                                (click)="checkAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_CHECK_ALL' | translate }}
                            </button>
                            <button
                                *ngIf="checkedRecords.length > 0"
                                mat-menu-item
                                (click)="uncheckAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_UNCHECK_ALL' | translate }}
                            </button>

                            <mat-divider></mat-divider>

                            <button
                                mat-menu-item
                                (click)="exportSelectedEventsRelationship()">
                                {{ 'LNG_PAGE_LIST_EVENTS_GROUP_ACTION_EXPORT_SELECTED_EVENTS_RELATIONSHIPS' | translate }}
                            </button>
                        </mat-menu>
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item;" fxFlex="60px">
                <app-form-checkbox
                    #listCheckedIndividual
                    [name]="'listCheckedIndividual[' + item.id + ']'"
                    class="table-checkbox"
                    ngModel
                    (optionChanged)="checkedRecord(item.id, $event)"
                    (afterInitialize)="checkedRecord(item.id, false)">
                </app-form-checkbox>
            </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('name', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="date">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DATE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByDateRangeField('date', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.date | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DESCRIPTION' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="descriptionFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('description', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.description }}
            </mat-cell>
        </ng-container>

        <!-- Address -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_EVENT_FIELD_LABEL_ADDRESS' | translate }}</div>
                    <div class="column-filter"></div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address.fullAddress }}
            </mat-cell>
        </ng-container>

        <!-- Deleted -->
        <ng-container matColumnDef="deleted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DELETED' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="deletedFilter"
                            [ngModel]="false"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByDeletedField($event.value)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            [clearable]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.deleted"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Inline Actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="70px"></mat-header-cell>

            <mat-cell *matCellDef="let item" fxFlex="70px">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <span class="xt-icon">moreVertical</span>
                </button>

                <mat-menu #actionsMenu="matMenu" class="table-max-sized-menu">

                    <ng-container *ngIf="!item.deleted">
                        <button mat-menu-item [routerLink]="['.', item.id, 'view']">
                            {{ 'LNG_PAGE_LIST_EVENTS_ACTION_VIEW_EVENT' | translate }}
                        </button>

                        <ng-container *app-selected-outbreak-is-active>
                            <ng-container *ngIf="hasEventWriteAccess()">
                                <button mat-menu-item [routerLink]="['.', item.id, 'modify']">
                                    {{'LNG_PAGE_LIST_EVENTS_ACTION_MODIFY_EVENT' | translate}}
                                </button>

                                <button
                                    mat-menu-item class="mat-menu-item-delete"
                                    (click)="deleteEvent(item)">
                                    {{'LNG_PAGE_LIST_EVENTS_ACTION_DELETE_EVENT' | translate}}
                                </button>
                            </ng-container>
                        </ng-container>

                        <mat-divider></mat-divider>

                        <ng-container *app-selected-outbreak-is-active>
                            <ng-container *ngIf="hasContactWriteAccess()">
                                <button
                                    *ngIf="hasContactWriteAccess()"
                                    mat-menu-item
                                    routerLink="/contacts/create"
                                    [queryParams]="{ entityType: EntityType.EVENT, entityId: item.id }">
                                    {{'LNG_PAGE_ACTION_ADD_CONTACT' | translate}}
                                </button>

                                <button
                                    mat-menu-item
                                    routerLink="/contacts/create-bulk"
                                    [queryParams]="{ entityType: EntityType.EVENT, entityId: item.id }">
                                    {{'LNG_PAGE_ACTION_BULK_ADD_CONTACTS' | translate}}
                                </button>
                            </ng-container>

                            <mat-divider></mat-divider>
                        </ng-container>

                        <button
                            mat-menu-item
                            [routerLink]="['/relationships', EntityType.EVENT, item.id, 'contacts']">
                            {{'LNG_PAGE_ACTION_SEE_EXPOSURES_FROM' | translate}}
                        </button>

                        <button
                            mat-menu-item
                            [routerLink]="['/relationships', EntityType.EVENT, item.id, 'exposures']">
                            {{'LNG_PAGE_ACTION_SEE_EXPOSURES_TO' | translate}}
                        </button>
                    </ng-container>

                    <ng-container *app-selected-outbreak-is-active>
                        <button
                            *ngIf="item.deleted && hasEventWriteAccess()"
                            mat-menu-item class="mat-menu-item-restore"
                            (click)="restoreEvent(item)">
                            {{'LNG_PAGE_LIST_EVENTS_ACTION_RESTORE_EVENT' | translate}}
                        </button>
                    </ng-container>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleTableColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: visibleTableColumns"></mat-row>
    </mat-table>

    <div
        *ngIf="isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="(eventsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
