<app-topnav>
    <ng-container dynamic-section>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

            <div class="topnav-actions">
                <ng-container *app-selected-outbreak-is-active>
                    <button *ngIf="EventModel.canCreate(authUser)" mat-raised-button color="accent"
                            [routerLink]="'./create'">
                        {{'LNG_COMMON_BUTTON_ADD'| translate}} <span class="xt-icon">addCircle</span>
                    </button>
                </ng-container>

                <button
                    *ngIf="!appliedListFilter && (
                        (EventModel.canList(authUser) && EventModel.canListPersonsWithoutRelationships(authUser)) ||
                        (RelationshipModel.canExport(authUser) && EventModel.canExportRelationships(authUser))
                    )"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="quickActionsMenu">
                    {{'LNG_COMMON_BUTTON_QUICK_ACTIONS' | translate}} <span class="xt-icon">arrowDown</span>
                </button>

                <mat-menu #quickActionsMenu="matMenu">
                    <button
                        *ngIf="EventModel.canList(authUser) && EventModel.canListPersonsWithoutRelationships(authUser)"
                        mat-menu-item
                        (click)="navigateToEventsWithoutRelationships()">
                        {{'LNG_PAGE_LIST_EVENTS_ACTION_NO_RELATIONSHIPS_BUTTON' | translate}}
                    </button>

                    <button
                        *ngIf="RelationshipModel.canExport(authUser) && EventModel.canExportRelationships(authUser)"
                        mat-menu-item
                        (click)="exportFilteredEventsRelationships()">
                        {{ 'LNG_PAGE_LIST_EVENTS_ACTION_EXPORT_EVENTS_RELATIONSHIPS' | translate }}
                    </button>

                    <ng-container *app-selected-outbreak-is-active>
                        <button
                            *ngIf="OutbreakModel.canImportRelationship(authUser)"
                            mat-menu-item
                            (click)="goToRelationshipImportPage()">
                            {{ 'LNG_PAGE_LIST_EVENTS_ACTION_IMPORT_EVENTS_RELATIONSHIPS' | translate }}
                        </button>
                    </ng-container>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</app-topnav>

<!-- Side columns -->
<app-side-columns
    [tableColumnsUserSettingsKey]="appliedListFilter !== Constants.APPLY_LIST_FILTER.EVENTS_WITHOUT_RELATIONSHIPS ? UserSettings.EVENT_FIELDS : UserSettings.EVENT_WITHOUT_RELATIONSHIPS_FIELDS"
    [tableColumns]="tableColumns"
    (visibleColumnsChanged)="applySideColumnsChanged($event)">
</app-side-columns>

<!--Total number of records from the list-->
<app-total-number-of-records
    [value]="(eventsListCount$ | async)?.count">
</app-total-number-of-records>

<mat-card class="page-section page-content">
    <!-- Reset Filters -->
    <div class="reset-filters">
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="resetFiltersToSideFilters()">
            {{ 'LNG_COMMON_BUTTON_RESET_FILTERS' | translate }}
        </button>
        <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="needsRefreshList(true)">
            {{ 'LNG_COMMON_BUTTON_REFRESH_LIST' | translate }}
        </button>
    </div>

    <!-- Hover question effects / actions -->
    <app-hover-row-actions
        #hoverRow
        [active]="!refreshingList"
        leftSideClass="hover-row-actions-mat-table-left"
    ></app-hover-row-actions>

    <mat-table #table [dataSource]="eventsList$ | async" matSort (matSortChange)="sortBy($event)">
        <!-- Checkbox -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="60px">
                <div class="table-header-cell">
                    <div>
                        <button
                            type="button"
                            class="bulk-actions-button"
                            mat-icon-button
                            [disableRipple]="true"
                            [matMenuTriggerFor]="actionsMenuMultipleRecords"
                            color="accent"
                            [matTooltip]="'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_TOOLTIP' | translate"
                            [disabled]="isEmptyList"
                        >
                            <span class="xt-icon">arrowDropdownCircle</span>
                        </button>

                        <mat-menu #actionsMenuMultipleRecords="matMenu">
                            <button
                                *ngIf="!checkedAllRecords"
                                mat-menu-item
                                (click)="checkAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_CHECK_ALL' | translate }}
                            </button>
                            <button
                                *ngIf="checkedRecords.length > 0"
                                mat-menu-item
                                (click)="uncheckAllRecords()">
                                {{ 'LNG_LIST_PAGES_BUTTON_BULK_ACTIONS_UNCHECK_ALL' | translate }}
                            </button>

                            <ng-container
                                *ngIf="RelationshipModel.canExport(authUser) && EventModel.canExportRelationships(authUser)">
                                <mat-divider></mat-divider>

                                <button
                                    mat-menu-item
                                    (click)="exportSelectedEventsRelationship()">
                                    {{ 'LNG_PAGE_LIST_EVENTS_GROUP_ACTION_EXPORT_SELECTED_EVENTS_RELATIONSHIPS' | translate }}
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item;" fxFlex="60px">
                <app-form-checkbox
                    #listCheckedIndividual
                    [name]="'listCheckedIndividual[' + item.id + ']'"
                    class="table-checkbox"
                    ngModel
                    (optionChanged)="checkedRecord(item, $event)">
                </app-form-checkbox>
            </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_NAME' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="nameFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('name', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="date">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DATE' | translate}}</div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="dateFilter"
                            ngModel
                            (changed)="filterByDateRangeField('date', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.date | dateDefault }}
            </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DESCRIPTION' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="descriptionFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('description', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.description }}
            </mat-cell>
        </ng-container>

        <!-- Phone number -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_PHONE_NUMBER' | translate}}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="phoneNumberFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByPhoneNumber('address.phoneNumber', $event)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address.phoneNumber }}
            </mat-cell>
        </ng-container>

        <!-- Address -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">{{ 'LNG_EVENT_FIELD_LABEL_ADDRESS' | translate }}</div>
                    <div class="column-filter"></div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address.fullAddress }}
            </mat-cell>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="address.emailAddress">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{ 'LNG_EVENT_FIELD_LABEL_EMAIL' | translate }}</div>
                    <div class="column-filter">
                        <app-form-input
                            name="emailFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            (optionChanged)="filterByTextField('address.emailAddress', $event, undefined, true)"
                            app-reset-input-on-side-filter
                            [displayFilterIcon]="true">
                        </app-form-input>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address.emailAddress}}
            </mat-cell>
        </ng-container>

        <!-- Number of Contacts -->
        <ng-container matColumnDef="numberOfContacts">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_NUMBER_OF_CONTACTS' | translate }}
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let item">
                <span
                    *ngIf="EventModel.canListRelationshipContacts(authUser) else numberOfContacts"
                    (click)="displayContacts(item)"
                    class="mat-table-number-column">
                    {{ item.numberOfContacts }}
                </span>
                <ng-template
                    #numberOfContacts>
                    {{ item.numberOfContacts }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Number of Exposures -->
        <ng-container matColumnDef="numberOfExposures">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_NUMBER_OF_EXPOSURES' | translate}}
                    </div>
                    <div class="column-filter">
                        <!-- placeholder -->
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let item">
                <span
                    *ngIf="EventModel.canListRelationshipExposures(authUser) else numberOfExposures"
                    (click)="displayExposures(item)"
                    class="mat-table-number-column">
                    {{ item.numberOfExposures }}
                </span>
                <ng-template
                    #numberOfExposures>
                    {{ item.numberOfExposures }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Deleted -->
        <ng-container matColumnDef="deleted">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">{{'LNG_EVENT_FIELD_LABEL_DELETED' | translate }}</div>
                    <div class="column-filter">
                        <app-form-select
                            name="deletedFilter"
                            [ngModel]="false"
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="yesNoOptionsList$ | async"
                            (optionChanged)="filterByDeletedField($event.value)"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            [clearable]="false">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <app-yes-no-label [value]="item.deleted"></app-yes-no-label>
            </mat-cell>
        </ng-container>

        <!-- Created By -->
        <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_CREATED_BY' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="createdByFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="userList$ | async"
                            (optionChanged)="filterBySelectField('createdBy', $event, 'id')"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            optionLabelKey="name"
                            optionValueKey="id"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.createdByUser?.name }}
            </mat-cell>
        </ng-container>

        <!-- Created At -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_CREATED_AT' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="createdAtFilter"
                            ngModel
                            (changed)="filterByDateRangeField('createdAt', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.createdAt | dateTimeDefault }}
            </mat-cell>
        </ng-container>

        <!-- Modified By -->
        <ng-container matColumnDef="updatedBy">
            <mat-header-cell *matHeaderCellDef>
                <div class="table-header-cell">
                    <div class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_UPDATED_BY' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-select
                            name="updatedByFilter"
                            ngModel
                            [placeholder]="'LNG_LAYOUT_LIST_DEFAULT_FILTER_PLACEHOLDER' | translate"
                            [options]="userList$ | async"
                            (optionChanged)="filterBySelectField('updatedBy', $event, 'id')"
                            app-reset-input-on-side-filter
                            [allowSelectionOfDisabledItems]="true"
                            [displayFilterIcon]="true"
                            optionLabelKey="name"
                            optionValueKey="id"
                            [multiple]="true">
                        </app-form-select>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.updatedByUser?.name }}
            </mat-cell>
        </ng-container>

        <!-- Updated At -->
        <ng-container matColumnDef="updatedAt">
            <mat-header-cell class="has-date-range-filter" *matHeaderCellDef>
                <div class="table-header-cell">
                    <div mat-sort-header class="column-header">
                        {{ 'LNG_EVENT_FIELD_LABEL_UPDATED_AT' | translate }}
                    </div>
                    <div class="column-filter">
                        <app-form-daterange
                            name="updatedAtFilter"
                            ngModel
                            (changed)="filterByDateRangeField('updatedAt', $event)"
                            app-reset-input-on-side-filter>
                        </app-form-daterange>
                    </div>
                </div>
            </mat-header-cell>
            <mat-cell class="has-date-range-filter" *matCellDef="let item">
                {{ item.updatedAt | dateTimeDefault }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleTableColumns"></mat-header-row>
        <mat-row
            *matRowDef="let item; columns: visibleTableColumns"
            app-hover-row-actions
            [hoverRowActionsComponent]="hoverRow"
            [hoverRowActions]="recordActions"
            [hoverRowActionData]="item"
        ></mat-row>
    </mat-table>

    <div
        *ngIf="refreshingList"
        class="mat-table-loading-data">
        <mat-spinner></mat-spinner>
    </div>

    <div
        *ngIf="!refreshingList && isEmptyList"
        class="mat-table"
    >
        <div class="mat-row">
            <div class="mat-cell">
                {{'LNG_COMMON_LABEL_EMPTY_TABLE' | translate}}
            </div>
        </div>
    </div>

    <mat-paginator
        [pageIndex]="pageIndex"
        [length]="(eventsListCount$ | async)?.count"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
    </mat-paginator>

</mat-card>
